<!DOCTYPE html>
<html lang="vi_VN">

<head>
	<meta charset="UTF-8">
	<title>Anh</title>
	<meta name="description" content="">
	<meta name="author" content="Anh">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- css -->
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>

	<div class="container text-center">
		<div class="row">
			<div class="col-12">
				<h1>P-watch</h1>
				<a class="btn btn-danger" style="margin-top: 10px" href="./01.Trangchu.html" role="button">TRANG CHỦ</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./02.Sanpham-Danhsach.html" role="button">SẢN PHẢM DANH SÁCH</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./03.sanpham-chitiet.html" role="button">SẢN PHẢM CHI TIẾT</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./04.giohang.html" role="button">GIỎ HÀNG</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./05.dathangthanhcong.html" role="button">ĐẶT HÀNG THÀNH CÔNG</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./06.dichvu-danhsach.html" role="button">DỊCH VỤ DANH SÁCH</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./07.dichvu-chitiet.html" role="button">DỊCH VỤ CHI TIẾT</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./08.dichvu-tracucthongtinsanpham.html" role="button">DỊCH VỤ TRA CỨ THÔNG TIN SẢN PHẨM</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./09.dichvu-tracuuthongtinsanpham-ketqua.html" role="button">DỊCH VỤ TRA CỨ THÔNG TIN SẢN PHẨM KẾT QUẢ</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./10.tintuc-danhsach.html" role="button">TIN TỨC DANH SÁCH</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./11.tintuc-chitiet.html" role="button">Tin tức CHI TIẾT</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./12.gioithieu.html" role="button">GIỚI THIỆU</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./13.lienhe.html" role="button">LIÊN HỆ</a>
				<a class="btn btn-danger" style="margin-top: 10px" href="./14.ketquatimkiem.html" role="button">HẾT QUẢ TÌM KIẾM</a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="js/jquery.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>