@font-face {
  font-family: 'UTM Spring';
  src: url('/src/fonts/UTMSpring.eot');
  src: url('/src/fonts/UTMSpring.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/UTMSpring.woff2') format('woff2'),
      url('/src/fonts/UTMSpring.woff') format('woff'),
      url('/src/fonts/UTMSpring.ttf') format('truetype'),
      url('/src/fonts/UTMSpring.svg#UTMSpring') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/Montserrat-SemiBold.eot');
  src: url('/src/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('/src/fonts/Montserrat-SemiBold.woff') format('woff'),
      url('/src/fonts/Montserrat-SemiBold.ttf') format('truetype'),
      url('/src/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/Montserrat-Regular.eot');
  src: url('/src/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('/src/fonts/Montserrat-Regular.woff') format('woff'),
      url('/src/fonts/Montserrat-Regular.ttf') format('truetype'),
      url('/src/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Guanine';
  src: url('/src/fonts/UTMGuanine.eot');
  src: url('/src/fonts/UTMGuanine.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/UTMGuanine.woff2') format('woff2'),
      url('/src/fonts/UTMGuanine.woff') format('woff'),
      url('/src/fonts/UTMGuanine.ttf') format('truetype'),
      url('/src/fonts/UTMGuanine.svg#UTMGuanine') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Avenida';
  src: url('/src/fonts/UTMAvenida.eot');
  src: url('/src/fonts/UTMAvenida.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/UTMAvenida.woff2') format('woff2'),
      url('/src/fonts/UTMAvenida.woff') format('woff'),
      url('/src/fonts/UTMAvenida.ttf') format('truetype'),
      url('/src/fonts/UTMAvenida.svg#UTMAvenida') format('svg');
  font-weight: normal;
  font-style: normal;
}