<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="src/js/vendor/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="src/css/main.min.css">

</head>

<body>



  <div id="app">

    <noscript>
      <![if !(lte IE 9)]>
      <div class="noscript-message">
        <div class="noscript-message__content">
          <p>Trinh duyệt của bạn không hỗ trợ hoặc đã tắt JavaScript, bạn vui lòng cập nhận trình đuyệt web hoặc mở JavaScript
            trong phần cài đặt.</p>
        </div>
      </div>
      <![endif]>
    </noscript>

    <!-- header -->
    <header class="header">

      <div class="top-bar">
        <div class="container">
          <div class="top-bar__wrapper">
            <div class="top-bar__left">
              <a class="top-bar__hotline" href="tel: 0988008000">Hotline:
                <span>098 800 8000</span>
              </a>
              <ul class="top-bar__nav">
                <li class="top-bar__nav-item">
                  <a class="top-bar__nav-link" href="">Tuyển dụng</a>
                </li>
                <li class="top-bar__nav-item">
                  <a class="top-bar__nav-link" href="">Liên hệ</a>
                </li>
              </ul>
            </div>
            <div class="top-bar__right">
              <div class="top-bar__language">
                <a href="">
                  <img src="src/images/em.png" alt="em">
                </a>
                <a href="">
                  <img src="src/images/vn.png" alt="vn">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- top bar end -->

      <nav class="navbar">
        <div class="container">
          <div class="navbar__wrapper">
            <div class="navbar__left">
              <div class="navbar__brand">
                <a href="#">
                  <img src="images/logo-header.png" alt="">
                </a>
              </div>
              <ul class="nav navbar__nav">
                <li class="nav__item">
                  <a class="nav__link active-page" href=""></a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="">Về Leader's Edu</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="">Săn ưu đãi</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="">Học bổng</a>
                </li>
                <li class="nav__item nav__submenu">
                  <a class="nav__link" href="">Góc kinh nghiệm</a>
                  <ul class="nav__dropdown">
                    <li class="nav__item">
                      <a class="nav__link" href="">Giao tiếp</a>
                    </li>
                    <li class="nav__item nav__submenu">
                      <a class="nav__link" href="">Kỹ năng</a>
                      <ul class="nav__dropdown">
                        <li class="nav__item">
                          <a class="nav__link" href="">Demo</a>
                        </li>
                        <li class="nav__item">
                          <a class="nav__link" href="">Demo</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="">Tin tức</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="">Hỏi đáp</a>
                </li>
              </ul>
            </div>
            <div class="navbar__right">
              <ul class="navbar__social">
                <li class="navbar__social-item">
                  <a class="navbar__social-link facebook" href="" target="_blank"></a>
                </li>
                <li class="navbar__social-item">
                  <a class="navbar__social-link twitter" href="" target="_blank"></a>
                </li>
              </ul>
              <div class="nav-trigger js-trigger">
                <span class="nav-trigger__bar"></span>
                <span class="nav-trigger__bar"></span>
                <span class="nav-trigger__bar"></span>
              </div>
            </div>
          </div>
        </div>

      </nav>
      <!-- navbar end -->


    </header>
    <!-- header end -->

    <!-- main -->
    <main class="main">

      <!-- hero mini -->
      <section class="hero-mini" style="background-image: url(images/bg2.png)">
        <div class="container hero-mini__container">
          <h1 class="page-headline">Liên hệ</h1>
          <nav class="breadcrumb">
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="#">Trang chủ</a>
              </li>
              <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="#">Liên hệ</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
      <!-- hero mini end -->

      <!-- contact -->
      <section class="section contact-info">
        <div class="container">
          <div class="contact-info__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6361836239853!2d105.79868641543135!3d21.007215993888256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca143131561%3A0x5d47295f81445f37!2zMjVUMSBUcnVuZyBIb8OgIE5ow6JuIENow61uaA!5e0!3m2!1svi!2s!4v1535510869865"
              width="100%" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <h2 class="contact-info__headile">liên hệ với chúng tôi</h2>
          <p class="contact-info__description">Nếu bạn có thắc mắc hãy liên hệ với chúng tôi để được hỗ trợ tốt nhất!</p>
          <div class="row contact-info__info">
            <div class="col-md-3 contact-info__list">
              <div class="contact-info__item">
                <h3 class="contact-info__item-title"><span>Thông tin</span></h3>
                <div class="contact-info__item-inner">
                  <p>
                    <b>Địa chỉ: </b>Tầng 4 Trung Yên Plaza, số 1 Trung Hòa Cầu Giấy, Hà Nội</p>
                  <p>
                    <b>Điện thoại: </b>024.3226.2438</p>
                  <p>
                    <b>Email: </b>leadersedu@gmail.com</p>
                </div>
              </div>
              <div class="contact-info__item">
                <h3 class="contact-info__item-title"><span>Thời gian làm việc</span></h3>
                <div class="contact-info__item-inner">
                  <p>
                    <b>Thứ 2 - Thứ 6: </b>
                    08:00 - 17:00
                  </p>
                  <p>
                    <b>Thứ 7: </b>08:00 - 12:00
                  </p>
                  <p>
                    <b>Chủ nhật: </b>Nghỉ
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-9 contact-info__form">
              <form action="">
                <div class="form-group">
                  <label for="name">Họ tên <span>*</span></label>
                  <input type="name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Địa chỉ Email <span>*</span></label>
                  <input type="email" class="form-control">
                </div>
                <div class="form-group">
                  <label for="title">Tiêu đề</label>
                  <input type="title" class="form-control">
                </div>
                <div class="form-group">
                  <label for="content">Nội dung</label>
                  <textarea class="form-control" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-contact-info">Gửi</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- contact end -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer class="footer">
      <div class="footer__main">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 footer__about">
              <div class="footer__about-content">
                <img src="images/logo-footer.png" alt="">
                <p>Leader’s Edu là công tuy chuyên làm du học Hàn Quốc. Chúng tôi có văn phòng tư vấn du học và trung tâm dạy
                  tiếng tại Seoul, Hàn Quốc và Hà Nội, Việt Nam. Mục tiêu của chúng tôi là hướng tới việc tư vấn có hệ thống
                  cho học sinh Việt Nam muốn tham gia học đại học, học tiếng, học trường nghề, học sau đại học tại Hàn Quốc.</p>
                <p>“Bạn đang chuẩn bị du học Hàn Quốc? Leader’s Edu sẽ giúp bạn!”</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 footer__links">
              <div class="footer__links-wrapper">
                <div class="footer__nav-title">Về chúng tôi</div>
                <ul class="footer__links-nav">
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Trang chủ</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Về Leader's Edu</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Săn ưu đãi</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Học bổng</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Góc kinh nghiệm</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Tin tức</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Hỏi đáp</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Liên hệ</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 footer__links">
              <div class="footer__links-wrapper">
                <div class="footer__nav-title">Liên kết nhanh</div>
                <ul class="footer__links-nav">
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Hướng nghiệp và tư vấn lựa chọn nghề nghiệp</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Tư vấn và hoàn thiện hồ sơ du học</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Cung cấp chương trình giao lưu văn hóa quốc tế</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Luyện phỏng vấn visa</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Hỗ trợ chứng minh tài chính</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Đào tạo kỹ năng mềm cho du học sinh</a>
                  </li>
                  <li class="footer__links-item">
                    <a class="footer__links-link" href="">Hỗ trợ du học sinh tại nước ngoài</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__footer">
        <div class="container">
          <div class="footer__footer-wrapper">
            <div class="footer__footer-left">
              <ul class="social footer__social">
                <li class="social__item">
                  <a class="social__link twitter" href=""></a>
                </li>
                <li class="social__item">
                  <a class="social__link facebook" href=""></a>
                </li>
                <li class="social__item">
                  <a class="social__link google" href=""></a>
                </li>
                <li class="social__item">
                  <a class="social__link behance" href=""></a>
                </li>
                <li class="social__item">
                  <a class="social__link dribbble" href=""></a>
                </li>
              </ul>
            </div>
            <div class="footer__footer-right">
              <div class="footer__copyright">
                <p>Copyright © 2018 - Leader’s Edu . All Rights Reserved.</p>
                <p>Designed by Apuscorp.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!-- slide out -->
    <div class="slideout">
      <div class="slideout__inner">
        <div class="slideout__language">
          <a href="">
            <img src="src/images/em.png" alt="em">
          </a>
          <a href="">
            <img src="src/images/vn.png" alt="vn">
          </a>
        </div>
        <nav class="slideout__navbar js-navbar">
          <ul class="slideout__nav">
            <li class="slideout__nav-item">
              <a class="slideout__nav-link" href="">Trang chủ</a>
            </li>
            <li class="slideout__nav-item">
              <a class="slideout__nav-link" href="">Về Leader's Edu</a>
            </li>
            <li class="slideout__nav-item">
              <a class="slideout__nav-link" href="#">Săn ưu đãi</a>
              <ul>
                <li class="slideout__nav-item">
                  <a class="slideout__nav-link" href="">Kỹ năng</a>
                </li>
                <li class="slideout__nav-item">
                  <a class="slideout__nav-link" href="">Giao tiếp</a>
                  <ul>
                    <li class="slideout__nav-item">
                      <a class="slideout__nav-link" href="">Demo</a>
                    </li>
                    <li class="slideout__nav-item">
                      <a class="slideout__nav-link" href="">Demo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="slideout__nav-item">
              <a class="slideout__nav-link" href="">Học bổng</a>
            </li>
            <li class="slideout__nav-item">
              <a class="slideout__nav-link" href="#">Góc kinh nghiệm</a>
              <ul>
                <li class="slideout__nav-item">
                  <a class="slideout__nav-link" href="">Kỹ năng</a>
                </li>
                <li class="slideout__nav-item">
                  <a class="slideout__nav-link" href="#">Giao tiếp</a>
                  <ul>
                    <li class="slideout__nav-item">
                      <a class="slideout__nav-link" href="">Demo</a>
                    </li>
                    <li class="slideout__nav-item">
                      <a class="slideout__nav-link" href="">Demo</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="slideout__nav-item">
              <a class="slideout__nav-link" href="">Tin tức</a>
            </li>
            <li class="slideout__nav-item">
              <a class="slideout__nav-link" href="">Hỏi đáp</a>
            </li>
          </ul>
        </nav>
        <div class="slideout__content">
          <ul class="social slideout__social">
            <li class="social__item">
              <a class="social__link twitter" href=""></a>
            </li>
            <li class="social__item">
              <a class="social__link facebook" href=""></a>
            </li>
            <li class="social__item">
              <a class="social__link google" href=""></a>
            </li>
            <li class="social__item">
              <a class="social__link behance" href=""></a>
            </li>
            <li class="social__item">
              <a class="social__link dribbble" href=""></a>
            </li>
          </ul>
          <a class="slideout__hotline" href="tel: 0988008000">Hotline:
            <span>098 800 8000</span>
          </a>
        </div>
      </div>
    </div>
    <div class="slideout-overlay js-slideout-overlay"></div>
    <!-- slideout end -->

  </div>

  <!-- js -->
  <script src="src/js/vendor/jquery-3.3.1.min.js"></script>
  <script src="src/js/vendor/jquery.appear.js"></script>
  <script src="src/js/vendor/slick.min.js"></script>
  <script src="src/js/vendor/fancybox/jquery.fancybox.min.js"></script>
  <script src="src/js/main.js"></script>

</body>

</html>