<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hocvalamtheobac</title>
</head>
<body>
  <div class="container" style="text-align: center;">
    <br>
    <br>
    <a href="./home.html">Home</a>
    <br>
    <br>
    <a href="./about.html">About</a>
    <br>
    <br>
    <a href="./contact.html">Contact</a>
    <br>
    <br>
    <a href="./event.html">Event</a>
    <br>
    <br>
    <a href="./event-detail.html">Event detail</a>
    <br>
    <br>
    <a href="./news.html">News</a>
    <br>
    <br>
    <a href="./news-detail.html">News detail</a>
    <br>
    <br>
    <a href="./thungo-about-detail.html">Thư gỏ</a>
    <br>
    <br>
    <a href="./lichhoc.html">Lịch hoc</a>
    <br>
    <br>
    <a href="./lichhoc-detail.html">Lịch học chi tiết</a>
    <br>
    <br>
  </div>
</body>
</html>