<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YOWU Việt Nam - Yowu Headphones/Earphones - Feel Magic</title>
  <link rel=icon href=/favicon.ico> <title>YOWU</title>
  <link rel="stylesheet" href="src/main.min.css">
</head>

<body>

  <div id="app">

    <header class="header c-header">

      <button class="nav-trigger">
        <span class="line"></span>
      </button>

      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="./products.html">Sản Phẩm</a></li>
        <li class="nav-item"><a class="nav-link" href="./support.html">Hỗ Trợ</a></li>
        <li class="nav-item"><a class="nav-link" href="./about.html">Giới Thiệu</a></li>
        <li class="nav-item"><a class="nav-link" href="https://sj.qq.com/myapp/detail.htm?apkName=com.yowu.yowumobile">Download</a></li>
      </ul>

      <a class="brand" href="./index.html"><img src="./images/logo.png" alt="logo YOWU"></a>

      <a class="cart" href="https://shopee.vn/rigavistore"></a>

    </header>
    <!-- / end header -->

    <nav class="c-navbar">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="./index.html">Trang Chủ</a></li>
        <li class="nav-item"><a class="nav-link" href="./support.html">Hỗ Trợ</a></li>
        <li class="nav-item"><a class="nav-link" href="./about.html">Giới Thiệu</a></li>
        <li class="nav-item"><a class="nav-link" href="./support.html">Vận chuyển</a></li>
        <li class="nav-item"><a class="nav-link" href="./support.html">Bảo hành</a></li>
        <li class="nav-item"><a class="nav-link" href="./support.html">Hoàn tiền</a></li>
        <li class="nav-item"><a class="nav-link" href="https://sj.qq.com/myapp/detail.htm?apkName=com.yowu.yowumobile">Download</a></li>
      </ul>
    </nav>
    <!-- end navbar -->

    <main class="main">

      <section class="c-support">
        <div class="hero">
          <div class="img"><img src="./images/banner_en_01.jpg"></div>
          <h1 class="title">Trung Tâm Hỗ Trợ</h1>
        </div>

        <div class="container">

          <div class="box">
            <h2 class="title">Hỗ trợ kỹ thuật</h2>
            <div class="group-item accordion">

              <div class="item">
                <h3 class="item-title btn-accordion">Tai nghe sẽ không phát?</h3>
                <div class="info">
                  - Đảm bảo thiết bị của bạn cách tai nghe trong phạm vi 10m và được ghép nối và kết nối chính xác (tham
                  khảo hướng dẫn sử dụng). <br>
                  - Vui lòng kiểm tra mức âm lượng trên cả tai nghe và thiết bị của bạn. 
                  Để sử dụng các thiết bị khác qua kết nối cáp, tai nghe phải được sạc. <br>
                  - Khi sử dụng kết nối cáp, vui lòng kiểm tra xem đúng hướng, và cắm đúng cách.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Chất lượng âm thanh kém?</h3>
                <div class="info">
                  - Đảm bảo rằng thiết bị của bạn đang ở trong kết nối Bluetooth. <br>
                  - Vui lòng kiểm tra mức âm lượng trên cả tai nghe và thiết bị của bạn. <br>
                  - Vui lòng điều chỉnh cài đặt EQ của tai nghe. <br>
                  - Vui lòng sạc tai nghe của bạn (để sử dụng các thiết bị khác thông qua kết nối cáp, tai nghe phải <br>
                  được sạc).
                  - Khi sử dụng kết nối cáp, vui lòng kiểm tra xem đúng hướng, và cắm đúng cách.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm thế nào để ghép nối với một thiết bị mới?</h3>
                <div class="info">
                  - Tai nghe của bạn sẽ nhận ra thiết bị được kết nối cuối cùng của nó. Nếu bạn muốn kết nối với thiết
                  bị mới, vui lòng thực hiện theo cách thủ công (Khi tắt máy, nhấn và giữ nút nguồn trong 5 giây để vào
                  chế độ ghép nối). <br>
                  - Để ngăn tai nghe tự động kết nối, hãy bật Bluetooth trên thiết bị được kết nối cuối cùng.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Tại sao đèn không sáng?</h3>
                <div class="info">
                  - Tai nghe của bạn có thể cần sạc, vui lòng kết nối nó với cáp sạc. Có thể mất vài phút để đèn hoạt
                  động trở lại theo mức pin còn lại. <br>
                  - Ở chế độ ghép nối, tai nghe sẽ tự động tắt nếu không được kết nối trong 10 phút. Nếu không được kết
                  nối, tai nghe của bạn sẽ tự động tắt sau 20 phút.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Âm thanh micrô quá thấp qua kết nối Bluetooth?</h3>
                <div class="info">
                  Ngắt ghép nối tai nghe của bạn trong cài đặt Bluetooth của thiết bị, vặn âm lượng thiết bị ở mức tối
                  đa và kết nối lại tai nghe. Tăng dần âm lượng. Nếu cách đó không hiệu quả, hãy thử thiết bị khác và
                  lặp lại bước trên.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm cách nào để kết nối tai nghe với YOWU APP?</h3>
                <div class="info">
                  Tìm kiếm YOWU trong APP Store, tải xuống và cài đặt nó, kết nối tai nghe với điện thoại qua Bluetooth,
                  sau đó mở APP. Lưu ý ba điểm sau: <br>
                  1. Bạn chỉ nên kết nối tai nghe 3S / 3G với một điện thoại di động tại một thời điểm. <br>
                  2. Giữ quyền định vị và chức năng định vị mở. (Chỉ cần bật chức năng định vị trên iPhone) <br>
                  3. Giữ kết nối bluetooth giữa điện thoại di động và tai nghe.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm thế nào để ghép nối tai nghe với Bluetooth?</h3>
                <div class="info">
                  Bật bluetooth trên điện thoại. Khi YOWU-SELKIRK-3S / 3G bật lên, hãy chọn và kết nối nó. Mẹo: Thời
                  gian kết nối với Bluetooth, bạn cần nhấn nút nguồn trong 5 giây. Từ đó trở đi, nó sẽ tự động liên kết
                  với Bluetoon sau khi bạn bật công tắc.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Tai nghe có dây vào máy tính bàn không sử dụng được micro phải làm sao?</h3>
                <div class="info">
                  Trước hết, hãy đảm bảo rằng chế độ kết nối dây chính xác và kết nối dây với dây được chặt chẽ. Nếu dây
                  không có vấn đề về chất lượng, vui lòng cập nhật ổ âm thanh. Nếu sự cố vẫn không thể được giải quyết,
                  vui lòng liên hệ với bộ phận chăm sóc khách hàng tại.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Tại sao micrô của tôi không hoạt động khi kết nối với máy tính?</h3>
                <div class="info">
                  Bạn có thể sử dụng cáp bộ chia có trong hộp cáp để sử dụng micrô.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm thế nào để tắt đèn tai nghe?</h3>
                <div class="info">
                  Chỉ cần nhấn nút nguồn trên tai nghe.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm thế nào để kiểm tra nguồn của tai nghe?</h3>
                <div class="info">
                  Đầu tiên, sau khi kết nối bluetooth sẽ có biểu tượng ở góc trên bên phải màn hình điện thoại di động,
                  bạn vào Cài đặt kết nối bluetooth điện thoại di động để xem nguồn. IPhone cần thay đổi nguồn bluetooth
                  để hiển thị trước khi hiển thị.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Tại sao âm lượng tai nghe không đồng bộ với âm lượng điện thoại?</h3>
                <div class="info">
                  Vấn đề là do hệ thống điện thoại di động, cần được bật ở chế độ nhà phát triển của điện thoại và bật
                  chức năng "dừng Âm lượng tuyệt đối". Một số hệ thống điện thoại di động không có chức năng này, hoặc
                  chức năng này không thể được sử dụng bình thường.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm cách nào để sử dụng tai nghe trên máy tính cá nhân?</h3>
                <div class="info">
                  Bạn có thể cắm đầu USB trực tiếp vào máy tính và đầu type-C vào tai nghe.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Tại sao tai nghe của tôi không sạc?</h3>
                <div class="info">
                  Hãy đảm bảo sử dụng cáp và bộ chuyển đổi gốc khi sạc. Nếu vẫn còn vấn đề, vui lòng liên bộ phận hỗ trợ.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm cách nào để sử dụng kênh 7.1 ảo?</h3>
                <div class="info">
                  Bạn phải tải xuống phần mềm trước . Điều này chỉ có thể được sử dụng trên Windows 10 / 8.1 / 8/7.
                </div>
              </div> <!-- / item -->
              <div class="item">
                <h3 class="item-title btn-accordion">Làm cách nào để bật chức năng micrô giảm tiếng ồn?</h3>
                <div class="info">
                  Khởi chạy phần mềm âm thanh, Nhấp vào biểu tượng micrô trên bảng điều khiển bên trái,
                  chọn "Khử tiếng ồn xung quanh" và bật nó. Ở đây bạn đi.
                </div>
              </div> <!-- / item -->

            </div>
          </div>
          <div class="box">
            <h2 class="title">Bảo hành và Dịch vụ khách hàng</h2>
            <div class="group-item">

              <div class="item active">
                <h3 class="item-title">Dịch vụ và Bảo hành</h3>
                <div class="info">
                  Dòng YOWU Selkirk được quyền: <br>
                  - Trong vòng 3 ngày kể từ ngày nhận được sản phẩm của bạn, bạn có thể trả lại để được hoàn lại tiền
                  nếu không có lỗi cố ý / thiếu bộ phận, không cần thắc mắc. <br>
                  - Trong vòng 30 ngày kể từ ngày nhận được sản phẩm của bạn, nếu phát hiện bất kỳ lỗi nào về chức năng
                  hoặc chất lượng, YOWU sẽ đổi mặt hàng mới sản phẩm cho bạn khi có kết quả kiểm tra của chúng tôi.
                  Vui lòng giữ hóa đơn của bạn khi có yêu cầu hoàn tiền / trao đổi. Liên hệ với các dịch vụ
                  khách hàng.
                </div>
              </div> <!-- / item -->


            </div>
          </div>

        </div> <!-- / container -->
      </section>
      <!-- end support -->

    </main>
    <!-- end main -->

    <footer class="footer c-footer">
      <div class="container">
        <div class="brand"><img src="./images/mobile/footAboutTit.png"></div>
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="./support.html">Hỗ Trợ</a></li>
          <li class="nav-item"><a class="nav-link" href="./support.html">Dịch Vụ</a></li>
          <li class="nav-item"><a class="nav-link" href="https://sj.qq.com/myapp/detail.htm?apkName=com.yowu.yowumobile">Download</a></li>
          <li class="nav-item"><a class="nav-link" href="./about.html">Về YOWU</a></li>
        </ul>
        <div class="social">
          <a class="icon ic-youtube" href="#"><svg aria-hidden="true" focusable="false" data-prefix="fab"
              data-icon="youtube" class="svg-inline--fa fa-youtube fa-w-18" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path fill="currentColor"
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
              </path>
            </svg></a>
          <a class="icon ic-tiktok" href="#"><svg aria-hidden="true" focusable="false" data-prefix="fab"
              data-icon="tiktok" class="svg-inline--fa fa-tiktok fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z">
              </path>
            </svg></a>
          <a class="icon ic-instagram" href="#"><svg aria-hidden="true" focusable="false" data-prefix="fab"
              data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
              </path>
            </svg></a>
          <a class="icon ic-facebook" href="#"><svg aria-hidden="true" focusable="false" data-prefix="fab"
              data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path fill="currentColor"
                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
              </path>
            </svg></a>
        </div>
        <div class="contact">Văn Phú - Thường Tín - Hà Nội <br>
          +84 366 922 295 / yowu.vietnam@gmail.com</div>
        <div class="copyright">© 2020 YOWU Việt Nam All Rights Reserved</div>
      </div> <!-- / container -->
    </footer>
    <!-- end footer -->

  </div>



  <!-- js -->
  <script src="src/vendor/jquery-3.3.1.min.js"></script>
  <script src="src/main.js"></script>


</body>

</html>