$ffa: 'Arimo', sans-serif;
$fffa: 'FontAwesome';

$fs1: 14px;
$fs2: 16px;
$fs3: 18px;
$fs4: 24px;
$fs5: 30px;

$lh1: 24px;
$lh2: 28px;
$lh3: 40px;

$clf: #fff;
$cl3: #333;
$cl6: #666;
$cl9: #999;
$cl1a: #1a6db4;
$clf5: #f50000;
$cle9: #e90e0e;
$cla9: #a9d9ee;
$cl31: #316eae;
$cl22: #225891;
$clf1: #f1f1f1;
$clf2: #f2f2f2;
$cle7: #e7e7e7;
$cl9a: #9a9a9a;
$clf4: #f4f4f4;
$clf8: #f8f8f8;
$cle2: #e2e2e2;
$cl4: #444;
$cl8: #888;
$cl05: rgba(0, 0, 0, 0.5);

$time-a1: all 0.3s ease-in;
$time-a2: all 0.5s ease-in;

$radius: 4px;