.com-01 {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-color: #208ce2;
  background-image: url(../images/bg-02.png);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49.86666666666667vw;
    background-size: 100% 100%;
    background-image: url(../images/bg-01.png);
  }

  .com-wrappar {
    padding-top: 18.666666666666668vw;
    width: 69.33333333333334vw;
    margin-left: auto;
    margin-right: auto;

    .heading {
      @include no-spacing;
      text-align: center;
      color: $c-white;
      font-size: 6.4vw;
      text-transform: uppercase;
      font-weight: 700;
    }

    .form {
      margin-top: 8vw;

      .form-group {
        position: relative;
        margin-top: 5.333333333333334vw;

        .icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 2vw;
          color: #ff0000;
          width: 6vw;
          opacity: 0;
          pointer-events: none;
          transition: $tst;

          svg {
            display: block;
            width: 100%;
          }
        }

        &.error .icon {
          opacity: 1;
        }

        .form-control {
          display: block;
          width: 100%;
          border: 0;
          background: $c-white;
          color: $c-black;
          border-radius: 999px;
          outline: none;
          padding: 3.733333333333334vw 6.666666666666667vw;
        }
      }

      .btn {
        @include no-spacing;
        display: block;
        width: 100%;
        border: 0;
        border-radius: 999px;
        background-color: $c-yellow;
        font-size: 5.333333333333334vw;
        text-transform: uppercase;
        font-weight: 700;
        color: #1b2fa1;
        outline: none;
        padding: 2.666666666666667vw 4.666666666666667vw;
        margin-top: 8vw;
      }
    }

    .bottom {
      margin-top: 5.333333333333334vw;
      color: $c-white;
      text-align: center;

      .link-registration {
        a {
          color: $c-yellow;
          outline: none;
          font-weight: 600;
        }
      }

      .other {
        margin-top: 1vw;

        .title {
          font-weight: 700;
        }

        .group-link {
          @include flex-center;
          margin-top: 4vw;

          .item {
            position: relative;
            display: block;
            text-decoration: none;
            width: 10.666666666666668vw;
            height: 10.666666666666668vw;
            border-radius: 50%;
            color: $c-white;

            img {
              width: 100%;
              height: 100%;
            }            
          }
        }
      }
    }
  }
}