<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container" style="text-align: center;">
    <br>
    <br>
    <a href="./home.html">Trang chủ</a>
    <br>
    <br>
    <a href="./quan-ly-bang-thong-tin.html">Quản lý bảng thông tin</a>
    <br>
    <br>
    <a href="./quan-ly-binh-luan.html">Quản lý bình luận</a>
    <br>
    <br>
    <a href="./quan-ly-cau-hoi.html">Quản lý câu hỏi</a>
    <br>
    <br>
    <a href="./quan-ly-chuyen-can.html">Quản lý chuyên cần</a>
    <br>
    <br>
    <a href="./quan-ly-de-thi-chi-tiet.html">Quản lý đề thi chi tiết</a>
    <br>
    <br>
    <a href="./quan-ly-de-thi-sua.html">Quản lý đề thi sửa</a>
    <br>
    <br>
    <a href="./quan-ly-de-thi-them-moi.html">Quản lý đề thi thêm mới</a>
    <br>
    <br>
    <a href="./quan-ly-de-thi.html">Quản lý đề thi</a>
    <br>
    <br>
    <a href="./quan-ly-khoa-hoc-cua-toi.html">Quản lý khóa học của tôi</a>
    <br>
    <br>
    <a href="./quan-ly-khoi-tao-khoa-hoc.html">Quản lý khởi tạo khóa học</a>
    <br>
    <br>
    <a href="./quan-ly-mo-ta-chi-tiet.html">Quản lý mô tả chi tiết</a>
    <br>
    <br>
    <a href="./quan-ly-tai-khoa.html">Quản lý tài khoản</a>
    <br>
    <br>
    <a href="./quan-ly-tai-lieu.html">Quản lý tài liệu</a>
    <br>
    <br>
    <a href="./quan-ly-them-cau-hoi.html">Quản lý thêm câu hỏi</a>
    <br>
    <br>
    <a href="./quan-ly-vi.html">Quản lý ví</a>
    <br>
    <br>
    <a href="./quan-ly-xem-lai-khoa-hoc-sua.html">Quản lý xem lại khóa học sửa</a>
    <br>
    <br>
    <a href="./quan-ly-xem-lai-khoa-hoc.html">Quản lý xem lại khóa học</a>
    <br>
    <br>
  </div>
</body>
</html>