<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="src/js/bootstrap-datetimepicker/bootstrap-datetimepicker-standalone.css">
  <link rel="stylesheet" href="src/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
  <link rel="stylesheet" href="src/css/main.min.css">
</head>

<body>

  <div id="app">

    <header class="header">

      <div class="c-topbar">
        <div class="container topbar-container">
          <div class="banner">
            <a href="index.html">
              <img src="images/Logo HocPlus.svg" alt="">
            </a>
          </div>
          <div class="my-user">
            <div class="user-inner">
              <div class="avatar">
                <img src="images/avatar-02.png" alt="avatar">
              </div>
              <div class="name">Âu Hà My</div>
            </div>
            <div class="dropdown">
              <ul class="list">
                <li class="item"><a href="quan-ly-bang-thong-tin.html"><i class="fa fa-dashboard"></i> <span>Bảng thông
                      tin</span></a></li>
                <li class="item"><a href="quan-ly-khoa-hoc-cua-toi.html"><i class="fa fa-briefcase"></i> <span>Khóa học
                      của tôi</span></a></li>
                <li class="item"><a href="quan-ly-tai-khoa.html"><i class="fa fa-gear"></i> <span>Quản lý tài
                      khoản</span></a></li>
                <li class="item"><a href=""><i class="fa fa-log-out"></i> <span>Đăng xuất</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- / Topbar -->

      <nav class="c-navbar">
        <div class="container navbar-container">
          <ul class="nav">
            <li class="nav-item active">
              <a href="" class="nav-link"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Liên hệ</a>
            </li>
          </ul>
        </div>
      </nav> <!-- / Navbar -->

    </header> <!-- / Header -->

    <main class="main">

      <div class="container section">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="ml-info">
              <div class="inner-info">
                <div class="info">
                  <a href="" class="btn-modify">Sửa</a>
                  <div class="avatar">
                    <img src="images/avatar-02.png" alt="avatar">
                  </div>
                  <div class="content">
                    <div class="name">Âu Hà My</div>
                    <div class="work">Giảng viên ĐH Hà Nội</div>
                  </div>
                  <div class="info-class">
                    <div class="degree">
                      <div class="title">Học vị</div>
                      <div class="content">Thạc sỹ</div>
                    </div>
                    <div class="class">
                      <div class="title">Bộ môn giảng dạy</div>
                      <div class="content">Tiếng Anh, Toán</div>
                    </div>
                  </div>
                </div>
                <nav class="list">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="quan-ly-bang-thong-tin.html" class="nav-link">
                        <i class="fa fa-dashboard"></i>
                        <span>Bảng thông tin</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-khoa-hoc-cua-toi.html" class="nav-link">
                        <i class="fa fa-briefcase"></i>
                        <span>Khóa học của tôi</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-vi.html" class="nav-link">
                        <i class="fa fa-money"></i>
                        <span>Ví của tôi</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-tai-lieu.html" class="nav-link">
                        <i class="fa fa-folder-open"></i>
                        <span>Quản lý tài liệu</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-de-thi.html" class="nav-link">
                        <i class="fa fa-layers"></i>
                        <span>Quản lý bộ đề</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-cau-hoi.html" class="nav-link">
                        <i class="fa fa-question"></i>
                        <span>Quản lý câu hỏi</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-tai-khoa.html" class="nav-link">
                        <i class="fa fa-gear"></i>
                        <span>Quản lý tài khoản</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-binh-luan.html" class="nav-link">
                        <i class="fa fa-comments"></i>
                        <span>Quản lý bình luận</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div> <!-- / col-3 -->

          <div class="col-12 col-md-8 col-lg-9">
            <section class="ml-template">
              <div class="headline">
                <h2 class="title">Khởi tạo khóa học</h2>
                <div class="steps">
                  <ul class="steps-nav">
                    <li class="steps-nav__item active">
                      <a href="quan-ly-khoi-tao-khoa-hoc.html">
                        <span class="number">1</span>
                        <span class="title">Bước 1: Thông tin chung</span>
                      </a>
                    </li>
                    <li class="steps-nav__item">
                      <a href="quan-ly-mo-ta-chi-tiet.html">
                        <span class="number">2</span>
                        <span class="title">Bước 2: Mô tả chi tiết</span>
                      </a>
                    </li>
                    <li class="steps-nav__item">
                      <a href="quan-ly-xem-lai-khoa-hoc.html">
                        <span class="number">3</span>
                        <span class="title">Bước 3: Xem lại khóa học</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="setting js-setting">
                <div class="headline">
                  <h3 class="title">Lựa chọn template khóa học</h3>
                </div>
                <ul class="menu">
                  <li class="menu-active" data-choose="#template-available">Chọn template khóa học</li>
                  <li data-choose="#template-new">Tạo template mới</li>
                  <div class="question">
                    <i class="fa fa-question"></i>
                    <div class="content"><div class="inner">Template là những mẫu layout được thiết kế sẵn dựa trên thông tin khóa học
                      trước bạn nhập, khi sử dụng chỉ việc nhập lại thời gian mới và giá khóa học. Với template có sẵn
                      người thiết kế sẽ tiết kiệm được thời gian trong công việc.</div></div>
                  </div>
                </ul>
                <div class="template-available template-active" id="template-available">
                  <div class="group">
                    <div class="row">
                      <figure class="col-6 col-md-3 item">
                        <div class="inner">
                          <div class="img">
                            <div class="wrapper">
                              <span><img src="images/c1.png" alt=""></span>
                            </div>
                          </div>
                          <div class="info">
                            <h3 class="title">Khóa học bồi dưỡng học sinh giỏi lớp 10, 11, 12 - Môn Sinh</h3>
                          </div>
                        </div>
                      </figure> <!-- / item -->
                      <figure class="col-6 col-md-3 item">
                        <div class="inner">
                          <div class="img">
                            <div class="wrapper">
                              <span><img src="images/c1.png" alt=""></span>
                            </div>
                          </div>
                          <div class="info">
                            <h3 class="title">Khóa học bồi dưỡng học sinh giỏi lớp 2</h3>
                          </div>
                        </div>
                      </figure> <!-- / item -->
                      <figure class="col-6 col-md-3 item">
                        <div class="inner">
                          <div class="img">
                            <div class="wrapper">
                              <span><img src="images/c1.png" alt=""></span>
                            </div>
                          </div>
                          <div class="info">
                            <h3 class="title">Khóa học bồi dưỡng học sinh giỏi lớp 10, 11, 12 - Môn Sinh</h3>
                          </div>
                        </div>
                      </figure> <!-- / item -->
                      <figure class="col-6 col-md-3 item">
                        <div class="inner">
                          <div class="img">
                            <div class="wrapper">
                              <span><img src="images/c1.png" alt=""></span>
                            </div>
                          </div>
                          <div class="info">
                            <h3 class="title">Khóa học bồi dưỡng học sinh giỏi lớp 2</h3>
                          </div>
                        </div>
                      </figure> <!-- / item -->
                    </div>
                  </div>
                  <a href="quan-ly-mo-ta-chi-tiet.html" class="btn btn-next disable">Tiếp theo <i
                      class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="template-new" id="template-new">
                  <div class="all">
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateName">Tên khóa học *</label>
                      </div>
                      <div class="grid-right">
                        <input class="form-control" type="text" id="exampleInputTemplateName"
                          name="exampleInputTemplateName"
                          placeholder="VD: Khóa học bồi dưỡng học sinh giỏi lớp 12 - Môn Sinh">
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateCategories">Chuyên mục *</label>
                      </div>
                      <div class="grid-right">
                        <div class="grid">
                          <div class="grid-50">
                            <select class="form-control" id="exampleInputTemplateCategoriesSpecies"
                              name="exampleInputTemplateCategoriesSpecies">
                              <option selected="true" disabled="disabled">Môn học</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                          <div class="grid-50">
                            <select class="form-control" id="exampleInputTemplateCategoriesClass"
                              name="exampleInputTemplateCategoriesClass">
                              <option selected="true" disabled="disabled">Lớp học</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateSession">Số buổi học *</label>
                      </div>
                      <div class="grid-right">
                        <input class="form-control" type="text" id="exampleInputTemplateSession"
                          name="exampleInputTemplateSession" placeholder="Số buổi học trong khóa học">
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateSessionNumber">Thời lượng buổi học *</label>
                      </div>
                      <div class="grid-right">
                        <input class="form-control" type="text" id="exampleInputTemplateSessionNumber"
                          name="exampleInputTemplateSessionNumber" placeholder="Tổng số phút trong mỗi buổi học">
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateMedia">Ảnh hoặc Video đại diện</label>
                      </div>
                      <div class="grid-right">
                        <div class="form-control-input-media">
                          <div class="show-media">
                            <div class="img">
                              <img src="src/images/logo-all.png" alt="">
                            </div>
                          </div>
                          <div class="btn-input">
                            <span><i class="fa fa-camera-retro"></i>Thay ảnh đại diện</span>
                            <input id="exampleInputTemplateMediaImage" name="exampleInputTemplateMediaImage" type="file"
                              accept="image/*">
                          </div>
                        </div>
                        <span class="form-text"><i>Kích thước tối thiểu: 750 * 400</i></span>
                        <input class="form-control form-control-video" type="text" id="exampleInputTemplateMediaVideo"
                          name="exampleInputTemplateMediaVideo"
                          placeholder="Hoặc nhập URL video VD: https://www.youtube.com/watch?v=qcIfT7V0RT0">
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateDescription">Mô tả ngắn gọn</label>
                      </div>
                      <div class="grid-right">
                        <textarea class="form-control" rows="6" type="text" id="exampleInputTemplateDescription"
                          name="exampleInputTemplateDescription"
                          placeholder="Ví dụ: Mọi kiến thức căn bản về tiếng anh lớp 10 v.v... (Tối đa 100 ký tự)"></textarea>
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplatekKeyWord">Từ khóa</label>
                      </div>
                      <div class="grid-right">
                        <input class="form-control" type="text" id="exampleInputTemplatekKeyWord"
                          name="exampleInputTemplatekKeyWord" placeholder="VD: Môn anh, tiếng anh, học sinh giỏi">
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateResult">Bạn sẽ được học *</label>
                      </div>
                      <div class="grid-right">
                        <textarea class="form-control" rows="6" id="exampleInputTemplateResult"
                          name="exampleInputTemplateResult"></textarea>
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateTarget">Mục tiêu khóa học *</label>
                      </div>
                      <div class="grid-right">
                        <textarea class="form-control" rows="6" id="exampleInputTemplateTarget"
                          name="exampleInputTemplateTarget"></textarea>
                      </div>
                    </div>
                    <div class="grid form-group">
                      <div class="grid-left">
                        <label for="exampleInputTemplateRequest">Yêu cầu khóa học *</label>
                      </div>
                      <div class="grid-right">
                        <textarea class="form-control" rows="6" id="exampleInputTemplateRequest"
                          name="exampleInputTemplateRequest"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="posts js-content-show-hide">
                    <div class="posts-headline js-btn-toggle">
                      <div class="title">Nội dung buổi học</div>
                    </div>
                    <div class="posts-inner js-content">
                      <div class="posts-list"></div>
                    </div>
                  </div>
                  <a href="quan-ly-mo-ta-chi-tiet.html" class="btn btn-next">Tiếp theo <i
                      class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </section>
          </div> <!-- / col-9 -->
        </div> <!-- / row -->
      </div> <!-- / container -->

    </main> <!-- / main -->

    <footer class="footer">
      <div class="container">
        <div class="row">

          <div class="col-12 col-md-6 col-lg-3 block">
            <div class="block-headline">Hỗ trợ khách hàng</div>
            <div class="contact">
              <div class="item">
                <a class="item-wrapper" href="tel: +849006675">
                  <img src="src/images/icon-phone.png" alt="">
                  <span><b>1900 6675</b></span>
                </a>
              </div>
              <div class="item">
                <a class="item-wrapper" href="mailto: info@hocplus.vn">
                  <img src="src/images/icon-mail.png" alt="">
                  <span>info@hocplus.vn</span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 block">
            <div class="block-headline">Về HocPlus</div>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="http://">Giới thiệu</a></li>
              <li class="nav-item"><a class="nav-link" href="http://">Chính sách bảo mật</a></li>
              <li class="nav-item"><a class="nav-link" href="http://">Điều khoản sử dụng</a></li>
              <li class="nav-item"><a class="nav-link" href="http://">Hướng dẫn mua khóa học</a></li>
            </ul>
          </div>

          <div class="col-12 col-md-6 col-lg-3 block">
            <div class="block-headline">Tải về</div>
            <div class="link-app">
              <a href="http://" target="_blank" rel="noopener noreferrer"><img src="images/app-store.png" alt=""></a>
              <a href="http://" target="_blank" rel="noopener noreferrer"><img src="images/google-play.png" alt=""></a>
            </div>
            <div class="img"><img src="images/bocongthuong.png" alt=""></div>
            <div class="img"><img src="images/DMCA.jpg" alt=""></div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 block">
            <div class="block-headline">Kết nối với chúng tôi</div>
            <div class="social">
              <a class="social-item" href="http://" target="_blank" rel="noopener noreferrer">
                <img src="src/images/facebook.png" alt="">
              </a>
              <a class="social-item" href="http://" target="_blank" rel="noopener noreferrer">
                <img src="src/images/youtube.png" alt="">
              </a>
            </div>
            <div class="link-forum">
              <a href="http://" target="_blank" rel="noopener noreferrer">Forum hocplus</a>
            </div>
          </div>

        </div>
      </div>
    </footer> <!-- / footer -->

  </div> <!-- / App -->

  <!-- js -->
  <script src="src/js/jquery-3.3.1.min.js"></script>
  <script src="src/js/jquery-ui.min.js"></script>

  <script src="src/js/bootstrap-datetimepicker/moment.min.js"></script>
  <script src="src/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>

  <script src="src/js/Chart.min.js"></script>
  <script src="src/js/dropzone.js"></script>
  <script src="src/js/jquery.multiselect.js"></script>
  <script src="src/js/slick.min.js"></script>
  <script src="src/js/main.js"></script>

</body>

</html>