<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/fix.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>

<body>

    <!-- header -->
    <header class="header">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="#">
                    <img src="./pic/logo/logo.png" alt="">
                </a>
            </div>
            <!-- contact -->
            <div class="all">
                <div class="mobile">
                    <div class="inner">
                        <a href="tel: 903 41 64 65" title="903 41 64 65">(+84) 903 41 64 65</a>
                        <a href="tel: 02437. 34.35.99" title="02437. 34.35.99">(+84) 2437. 34.35.99</a>
                    </div>
                </div>
                <a class="email" href="#" title="">info@vietphuc.vn</a>
                <div class="social">
                    <a href="#">
                        <img src="./pic/icons/fb.png" alt="">
                    </a>
                    <a href="#">
                        <img src="./pic/icons/tw.png" alt="">
                    </a>
                    <a href="#">
                        <img src="./pic/icons/yt.png" alt="">
                    </a>
                    <a href="#">
                        <img src="./pic/icons/is.png" alt="">
                    </a>
                </div>
                <a href="#" class="cart">
                    <span class="text">Báo giá</span>
                    <span class="img">
                        <span>10</span>
                    </span>
                </a>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- menu main -->
    <nav class="menu-main">
        <div class="container">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <img src="./css/icons/home.png" alt="">Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GIới thiệu</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Giới thiệu chung</a>
                        </li>
                        <li>
                            <a href="#">Tầm nhìn - Sứ mệnh</a>
                        </li>
                        <li>
                            <a href="#">Triết lý kinh doanh</a>
                        </li>
                        <li>
                            <a href="#">Ngành nghề kinh doanh</a>
                        </li>
                        <li>
                            <a href="#">Văn hóa doanh nghiệp</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bộ Sưu tập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TUyển dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
            <div class="right">
                <!--search-->
                <div class="search">
                    <div class="form-search">
                        <input type="text" placeholder="Từ khóa tìm kiếm">
                        <a href="#"></a>
                    </div>
                </div>
                <!-- Language -->
                <div class="language">
                    <a href="#">
                        <img src="./css/icons/vi.png" alt="">
                    </a>
                    <a href="#">
                        <img src="./css/icons/en.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>
    <!-- end menu main -->

    <!-- slider page -->
    <section class="slider-page">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="#">
                <img src="./pic/2.png" class="tall">
            </a>
        </div>
    </section>
    <!-- slider page end -->

    <!-- link page -->
    <section class="link-page">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Trang chủ</a>
                <a class="breadcrumb-item active" href="#">Sản phẩm</a>
            </nav>
        </div>
    </section>
    <!-- link page end -->

    <!-- main -->
    <main class="main">
        <div class="container">
            <div class="row">
                <!-- left main -->
                <div class="col-12 left-main">
                    <!-- nav left -->
                    <nav class="nav-left">
                        <ul>
                            <li class="active">
                                <a href="">Đồ dùng cá nhân phòng tắm</a>
                                <ul>
                                    <li>
                                        <a href="">Sản Phẩm Phòng Tắm</a>
                                    </li>
                                    <li>
                                        <a href="">Sản Phẩm Phòng Ngủ</a>
                                    </li>
                                    <li>
                                        <a href="">Văn phòng phẩm</a>
                                    </li>
                                    <li>
                                        <a href="">Dép đi trong phòng</a>
                                    </li>
                                    <li>
                                        <a href="">Khăn giấy hộp</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Khăn bông, áo tắm</a>
                            </li>
                            <li>
                                <a href="">Đồ dùng cá nhân nhà hàng</a>
                            </li>
                            <li>
                                <a href="">Đồ vải: khăn ăn, khăn bàn, thêu</a>
                            </li>
                            <li>
                                <a href="">Sản phẩm thủ công, quà tặng</a>
                            </li>
                            <li>
                                <a href="">Sản phẩm nông nghiệp CN cao</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- product left -->
                    <div class="product-left">
                        <div class="top-left">Sản phẩm nổi bật</div>
                        <div class="inner">
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/p1.png" class="tall">
                                    </a>
                                </div>
                                <a href="#">Tube đựng hóa mỹ phẩm</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/p2.png" class="tall">
                                    </a>
                                </div>
                                <a href="#">Chai đựng dầu dạng vòi 01</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/p3.png" class="tall">
                                    </a>
                                </div>
                                <a href="#">Chai đựng dầu dạng vòi 01</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/p4.png" class="tall">
                                    </a>
                                </div>
                                <a href="#">Chai đựng dầu dạng vòi 01</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- left main -->
                <div class="col-12 right-main">
                    <!-- information produce -->
                    <div class="information-produce">
                        <div class="top">
                            <div class="images">
                                <div class="slider-big">
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/p5.png">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/p5.png">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/p5.png">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/p5.png">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/p5.png">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-small">
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" href="#">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" href="#">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" href="#">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" href="#">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                    <div class="khungAnh">
                                        <a class="khungAnhCrop" href="#">
                                            <img src="./pic/p5.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="information">
                                <h2>Đường gói vuông Hapro Bốn mùa của White sugar</h2>
                                <div class="d">
                                    <span>Mã sản phẩm</span>
                                    <span>: CD2544</span>
                                </div>
                                <div class="d">
                                    <span>Tình trạng</span>
                                    <span>: Còn hàng</span>
                                </div>
                                <div class="text">
                                    Nước xịt diệt khẩu đa năng, sử dụng với nhiều mục đích khác nhau như xịt tay, quần áo, không gian làm việc,... Chiết xuất
                                    100 % thiên nhiên, không chứa cồn, nước hoa. Có khả năng diệt 99,99% vi khuẩn.
                                </div>
                                <div class="form-sl">
                                    <span>Số lượng: </span>
                                    <input type="text" value="1">
                                    <a class="tang_sl">
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    </a>
                                    <a class="giam_sl">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="btn-04">
                                    <a href="#">Yêu cầu báo giá</a>
                                </div>
                                <div class="share">
                                        <p>Chia sẻ với bạn bè:</p>
                                        <div class="item-share">
                                            <b:if cond='data:blog.pageType == "item"'>
                                                <div style='float:right;margin-right:10px;'>
                                                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="TWITTER-USERNAME">Tweet</a>
                                                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                                                </div>
                                            </b:if>
                                        </div>
                                        <div class="item-share">
                                            <div id="fb-root"></div>
                                            <script>
                                                (function (d, s, id) {
                                                    var js, fjs = d.getElementsByTagName(s)[0];
                                                    if (d.getElementById(id)) return;
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src =
                                                        "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714";
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }(document, 'script', 'facebook-jssdk'));
                                            </script>
                                            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small"
                                                data-show-faces="true" data-share="true"></div>
                                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
                                        </div>
                                        <div class="item-share">
                                            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                                            <g:plusone size="medium"></g:plusone>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="tab-information">
                            <div class="inner" id="accordion-1" role="tablist" aria-multiselectable="true">
                                <div class="a-tab">
                                    <a class="active" data-toggle="collapse" data-parent="#accordion-1" href="#section1" aria-expanded="true" aria-controls="section1">TÍnh năng nổi bật</a>
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#section2" aria-expanded="true" aria-controls="section2">Thông số kĩ thuật</a>
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#section3" aria-expanded="true" aria-controls="section3">Catalogue</a>
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#section4" aria-expanded="true" aria-controls="section4">Hướng dẫn sử dụng</a>
                                </div>
                                <div class="a-content">
                                    <div class="card">
                                        <div id="section1" class="collapse in show" role="tabpanel">
                                            <div class="card-block">
                                                noi dung o day
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="section2" class="collapse in" role="tabpanel">
                                            <div class="card-block">
                                                noi dung o day
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="section3" class="collapse in" role="tabpanel">
                                            <div class="card-block">
                                                noi dung o day
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="section4" class="collapse in" role="tabpanel">
                                            <div class="card-block">
                                                noi dung o day
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="CommonCuoiChiTietTin">
                            <div class="fl apd dnmb">
                                <a class="prevDBT" href="javascript:history.go(-1)">Về trang trước</a>
                                <div class="fr pl20 apd dnmb">
                                    <a href="javascript:void(0)" class="email addthis_button_email">Gửi emmail</a>
                                    <a href="javascript:window.print()" class="print">In trang</a>
                                </div>
                            </div>
                            <div class="fr">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                                    <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                                    <div class="shareItem">
                                        <a class="addthis_button_facebook"></a>
                                    </div>
                                    <div class="shareItem">
                                        <a class="addthis_button_twitter"></a>
                                    </div>
                                    <div class="shareItem">
                                        <a class="addthis_button_zingme"></a>
                                    </div>
                                    <div class="shareItem">
                                        <a class="addthis_button_compact"></a>
                                    </div>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
                                </div>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                    </div>
                    <!-- commen facebook -->
                    <div class="commen-facebook">
                        <div id="fb-root"></div>
                        <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src =
                                    'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714';
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%"
                            data-numposts="2"></div>
                    </div>
                    <!-- other -->
                    <div class="other other-02">
                        <strong>Các sản phẩm liên quan</strong>
                        <div class="group-02">
                            <div class="item-01">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/4.png" class="tall">
                                    </a>
                                    <div class="btn-item">
                                        <div class="inner">
                                            <a href="#">Cần báo giá</a>
                                            <a href="#">xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <h3>
                                    <a href="#">Đồ dùng cá nhân loại 2</a>
                                </h3>
                            </div>
                            <div class="item-01">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/6.png" class="tall">
                                    </a>
                                    <div class="btn-item">
                                        <div class="inner">
                                            <a href="#">Cần báo giá</a>
                                            <a href="#">xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <h3>
                                    <a href="#">Đồ dùng cá nhân loại 2</a>
                                </h3>
                            </div>
                            <div class="item-01">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/7.png" class="tall">
                                    </a>
                                    <div class="btn-item">
                                        <div class="inner">
                                            <a href="#">Cần báo giá</a>
                                            <a href="#">xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <h3>
                                    <a href="#">Đồ dùng cá nhân loại 2</a>
                                </h3>
                            </div>
                            <div class="item-01">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/8.png" class="tall">
                                    </a>
                                    <div class="btn-item">
                                        <div class="inner">
                                            <a href="#">Cần báo giá</a>
                                            <a href="#">xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <h3>
                                    <a href="#">Đồ dùng cá nhân loại 2</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main end -->

    <!-- footer -->
    <div class="footer">
        <div class="top">
            <div class="bg bg-left">
                <div class="khungAnh">
                    <a class="khungAnhCrop" href="#">
                        <img src="./css/bg/2.png">
                    </a>
                </div>
            </div>
            <div class="bg bg-right">
                <div class="khungAnh">
                    <a class="khungAnhCrop" href="#">
                        <img src="./css/bg/1.png">
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 content">
                        <div class="inner">
                            <strong>Công ty Cổ phần Sản xuất và XNK Việt Phúc</strong>
                            <div class="c1 map">Văn phòng giao dịch: 103 B20 Khu tập thể Kim Liên, Đống Đa, Hà Nội</div>
                            <div class="c1 map">Tầng 3, Tòa nhà VVT, 59 Xã Đàn, Đống Đa, Hà Nội.</div>
                            <div class="c1 phone">844-3.734.35.99 /3 784.83.99 - Fax: 844-3.733.21.49</div>
                            <div class="c1 email">sas.vietphuc@gmail.com </div>
                            <div class="c1 web">www.vietphuc.vn</div>
                            <a href="#" data-toggle="modal" data-target="#model-01">
                                <img src="./css/icons/p8.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 form">
                        <div class="inner">
                            <strong>Thông tin liên hệ</strong>
                            <div class="c1">
                                <input type="text" placeholder="Họ tên *">
                            </div>
                            <div class="c1">
                                <input type="text" placeholder="Doanh nghiệp">
                            </div>
                            <div class="c1">
                                <input type="text" placeholder="Số điện thoại *">
                            </div>
                            <div class="c1">
                                <input type="text" placeholder="Email *">
                            </div>
                            <div class="c2">
                                <input type="text" placeholder="Địa chỉ *">
                            </div>
                            <div class="c2">
                                <textarea rows="2" placeholder="Nội dung"></textarea>
                            </div>
                            <p>Lưu ý: Các ô có dấu (*) bắt buộc phải điền đầy đủ</p>
                            <div class="btn-02">
                                <a href="#">Gửi</a>
                                <a href="#">Hủy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 nav-f">
                        <strong>Sản phẩm cung cấp</strong>
                        <ul>
                            <li>
                                <a href="">Đồ dùng cá nhân phòng tắm, phòng ngủ</a>
                            </li>
                            <li>
                                <a href="">Khăn bông, áo tắm</a>
                            </li>
                            <li>
                                <a href="">Đồ dùng cá nhân nhà hàng</a>
                            </li>
                            <li>
                                <a href="">Đồ vải: khăn ăn, khăn bàn, khăn thêu</a>
                            </li>
                            <li>
                                <a href="">Các sản phẩm thủ công, quà tặng</a>
                            </li>
                            <li>
                                <a href="">Sản phẩm nông nghiệp công nghệ cao</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 form-registration">
                        <div class="form">
                            <strong>Đăng ký bản tin</strong>
                            <p>Đăng ký nhận bản tin khuyến mại</p>
                            <input type="text" placeholder="Email của bạn">
                            <a href="#" class="btn-03">Đăng ký</a>
                        </div>
                        <div class="social">
                            <a href="#">
                                <img src="./pic/icons/fb.png" alt="">
                            </a>
                            <a href="#">
                                <img src="./pic/icons/tw.png" alt="">
                            </a>
                            <a href="#">
                                <img src="./pic/icons/yt.png" alt="">
                            </a>
                            <a href="#">
                                <img src="./pic/icons/is.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 facebook-f">
                        <div id="fb-root"></div>
                        <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src =
                                    'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714';
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="205" data-small-header="false"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/facebook">Facebook</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <span class="copyright">Copyright © 2017 Công ty cổ phần Teko Việt Nam</span>
                <a target="_bank" href="http://tatthanh.com.vn/" title="Click để xây dựng website - SEO chuyên nghiệp!" class="tatthanh">Thiết kế website và SEO - Tất Thành</a>
                <span class="number">
                    <span class="onlile">
                        <img src="./css/icons/online.png" alt=""> Online 1.236
                    </span>
                    <span class="tong-online">Tổng truy cập: 1.000</span>
                </span>
            </div>
        </div>
    </div>
    <!-- footer end -->

    <div class="hotline-fix">
        <a href="tel: 0903 41 64 65" title="0903 41 64 65"></a>
    </div>

    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

    <!-- Modal-01 -->
    <div class="modal fade modal-01" id="model-01" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div id="maps-f"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
    <script type="text/javascript" src="vendor/google-map/infobox.js"></script>
    <script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
    <script>
        // maps footer
        initialize(
            '21.00757415248039',
            '105.80296128988266',
            '',
            'maps-f',
            './pic/logo/icon-map.png'
        );
        // maps contact page
        initialize(
            '21.00757415248039',
            '105.80296128988266',
            '',
            'maps-contact',
            './pic/logo/icon-map.png'
        );
    </script>

</body>

</html>