// Font family
$ff-body: 'Roboto',
sans-serif;
$ff-title: 'Roboto Condensed',
sans-serif;

// Color
$c-black: #000;
$c-white: #fff;
$c-dark: #221f20;
$c-blue: #98b6e4;
$c-gray: #666;


$tst: all .3s ease-in-out;

// Extra large devices (large desktops, 1200px and up)
$breakpoints-xl: 1200px;