<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/fix.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
    <script type="text/javascript" src="vendor/google-map/infobox.js"></script>
    <script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/circle-progress.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.appear.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!-- header -->
    <header class="header">
        <!-- top bar -->
        <div class="top-bar">
            <div class="container">
                <!-- contact -->
                <div class="contact">
                    <div class="hotline">
                        <img src="./css/icons/1.png" alt="">Hotline:
                        <a href="tel: 047.306.9333" title="047.306.9333">047.306.9333</a>
                        <span>-</span>
                        <a href="tel: 047.309.9123" title="047.309.9123">047.309.9123</a>
                    </div>
                    <div class="email">
                        <img src="./css/icons/2.png" alt="">Email:
                        <a href="#" title="">hocviensite@gmail.com</a>
                    </div>
                </div>
                <div class="right">
                    <!-- search -->
                    <div class="search">
                        <div class="form-search">
                            <input type="text" placeholder="Tìm kiếm">
                            <a href="#" aria-hidden="true">
                                <img src="./css/icons/3.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- social -->
                    <div class="social">
                        <a href="#">
                            <img src="./css/icons/4.png" alt="">
                        </a>
                        <a href="#">
                            <img src="./css/icons/5.png" alt="">
                        </a>
                        <a href="#">
                            <img src="./css/icons/6.png" alt="">
                        </a>
                        <a href="#">
                            <img src="./css/icons/7.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu main -->
        <nav class="menu-main">
            <div class="container inner">
                <div class="logo">
                    <a href="">
                        <img src="" alt="">
                    </a>
                </div>
                <ul class="nav justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Giới thiệu</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">demo</a>
                            </li>
                            <li>
                                <a href="#">demo</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đào tạo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dự án</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tư vấn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thư viện</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tuyển dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- end header -->

    <!-- id page -->
    <section class="id-page">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="#">
                <img src="./pic/9.png">
            </a>
        </div>
        <div class="inner">
            <div class="container text-center">
                <div class="row">
                    <nav class="col-12 breadcrumb">
                        <a class="breadcrumb-item" href="#">Trang chủ</a>
                        <a class="breadcrumb-item active" href="#">Tư vấn</a>
                    </nav>
                    <div class="col-12 name-page">
                        <h1>Tư vấn</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- id page end -->

    <!-- main -->
    <main class="main">
        <div class="container">
            <div class="row">
                <!-- menu consultant -->
                <div class="col-12 text-center menu-consultant">
                    <h2>Tư vấn</h2>
                    <div class="menu-consultant">
                        <a href="#">Tất cả</a>
                        <a href="#">Bảo mật</a>
                        <a href="#">An ninh mạng</a>
                        <a href="#">Đồ họa - Thiết kế</a>
                        <a href="#">Lập trình viên</a>
                    </div>
                </div>

                <!-- form consultant -->
                <div class="col-4 form-consultant">
                    <div class="inner">
                        <div class="top">
                            <strong>Bạn đặt câu hỏi I-TECH trả lời</strong>
                            <p>
                                <span>I-TECH</span> sẵn sàng giải đáp - trợ giúp khách hàng, đối tác trong mọi tình huống. Quý
                                vị vui lòng điền thông tin theo biểu mẫu gửi cho chúng tôi.</p>
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Họ và tên *">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Điện thoại *">
                            <input type="text" placeholder="Tiêu đề câu hỏi *">
                            <textarea name="" id="" rows="5" placeholder="Nội dung câu hỏi *"></textarea>
                            <div class="btn-form">
                                <a href="#">Gửi câu hỏi</a>
                                <a href="#">Hủy</a>
                            </div>
                        </div>
                        <p>Các ô có dấu
                            <span>*</span> cần điền đầy đủ thông tin. Chúng tôi cam kết bảo mật và chỉ sử dụng thông tin vào mục
                            đích chăm sóc khách hàng</p>
                    </div>
                </div>
                <!-- group consultant -->
                <div class="col-8 group-consultant" id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-01">
                            <h3 class="mb-0">
                                <a data-toggle="collapse" href="#collapse-01" aria-expanded="true" aria-controls="collapse-01">
                                    Tôi đang lập một ứng dụng web (chưa đưa vào hoạt động) cho phép người dùng tập gõ bàn phím cho nhanh
                                </a>
                            </h3>
                        </div>

                        <div id="collapse-01" class="collapse show" role="tabpanel" aria-labelledby="heading-01" data-parent="#accordion">
                            <div class="card-body">
                                <div class="copyright-consultant">
                                    <span class="name">
                                        <img src="./css/icons/c4.png" alt="">Đăng bởi:
                                        <span>Nguyễn Ánh Ngọc</span> - Anhngoc@gmail.com </span>
                                    <span class="time-c">
                                        <img src="./css/icons/c5.png" alt=""> Ngày đăng: 15:30 - 22/12/2015</span>
                                </div>
                                <div class="question">
                                    <strong>Câu hỏi</strong>
                                    <div class="text">Kính gửi quý cơ quan. Tôi đang lập một ứng dụng web (chưa đưa vào hoạt động) cho phép
                                        người dùng tập gõ bàn phím cho nhanh, tương tự như trang web: http://10fastfingers.com/typing-test/english
                                        Tôi muốn hỏi là trang web dạng này thì thuộc loại trang thông tin điện tử gì và có
                                        cần phải được cấp phép để hoạt động không ạ?</div>
                                </div>
                                <div class="reply">
                                    <strong>
                                        <span>I-TECH </span>trả lời:</strong>
                                    <div class="text">
                                        Bản chất của ứng dụng website hướng dẫn người dùng tập gõ bàn phím là ứng dụng chuyên ngành (lĩnh vực công nghệ thông tin)
                                        nhưng do cá nhân thiết lập nên đây là trang thông tin điện tử cá nhân vì theo quy
                                        định tại Khoản 5 Điều 20 Nghị định 72/2013/NĐ-CP của Chính phủ về quản lý, cung cấp,
                                        sử dụng dịch vụ Internet và thông tin trên mạng thì "Trang thông tin điện tử ứng
                                        dụng chuyên ngành là trang TTĐT của cơ quan, tổ chức, doanh nghiệp cung cấp dịch
                                        vụ ứng dụng trong lĩnh vực viễn thông, công nghệ thông tin, phát thanh, truyền hình,
                                        thương mại, tài chính, ngân hàng, văn hóa, y tế, giáo dục và các lĩnh vực chuyên
                                        ngành khác và không cung cấp thông tin tổng hợp".
                                        <br>
                                        <br> Vì vậy, chỉ có cơ quan, tổ chức, doanh nghiệp mới được thiết lập trang thông tin
                                        điện tử chuyên ngành. 2. Điểm b Khoản 1 Điều 2 Thông tư 09/2014/TT-BTTTT ngày 19/8/2014
                                        quy định Trang thông tin điện tử cá nhân thuộc danh mục các trang thông tin điện
                                        tử không phải cấp phép. Theo đó, "cá nhân có quyền chia sẻ những thông tin không
                                        vi phạm các quy định tại Điều 5 Nghị định 72/2013/NĐ-CP trên trang thông tin điện
                                        tử cá nhân và chịu trách nhiệm trước pháp luật về nội dung các thông tin được đăng
                                        tải, chia sẻ; không đại diện cho tổ chức, cá nhân khác và không cung cấp thông tin
                                        tổng hợp".
                                        <br>
                                        <br> Trong trường hợp, trang thông tin của anh chị có sử dụng lại tin bài từ báo chí
                                        và các cơ quan khác thì vẫn phải thực hiện cấp phép như bình thường. P. TTBCXB
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-02">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-02" aria-expanded="false" aria-controls="collapse-02">
                                    Cho em hỏi em muốn mở một trang web với nội dung chia sẻ các bài viết dạng câu chuyện tâm sự tình cảm
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-02" class="collapse" role="tabpanel" aria-labelledby="heading-02" data-parent="#accordion">
                            <div class="card-body">
                                <div class="copyright-consultant">
                                    <span class="name">
                                        <img src="./css/icons/c4.png" alt="">Đăng bởi:
                                        <span>Nguyễn Ánh Ngọc</span> - Anhngoc@gmail.com </span>
                                    <span class="time-c">
                                        <img src="./css/icons/c5.png" alt=""> Ngày đăng: 15:30 - 22/12/2015</span>
                                </div>
                                <div class="question">
                                    <strong>Câu hỏi</strong>
                                    <div class="text">Kính gửi quý cơ quan. Tôi đang lập một ứng dụng web (chưa đưa vào hoạt động) cho phép
                                        người dùng tập gõ bàn phím cho nhanh, tương tự như trang web: http://10fastfingers.com/typing-test/english
                                        Tôi muốn hỏi là trang web dạng này thì thuộc loại trang thông tin điện tử gì và có
                                        cần phải được cấp phép để hoạt động không ạ?</div>
                                </div>
                                <div class="reply">
                                    <strong>
                                        <span>I-TECH </span>trả lời:</strong>
                                    <div class="text">
                                        Bản chất của ứng dụng website hướng dẫn người dùng tập gõ bàn phím là ứng dụng chuyên ngành (lĩnh vực công nghệ thông tin)
                                        nhưng do cá nhân thiết lập nên đây là trang thông tin điện tử cá nhân vì theo quy
                                        định tại Khoản 5 Điều 20 Nghị định 72/2013/NĐ-CP của Chính phủ về quản lý, cung cấp,
                                        sử dụng dịch vụ Internet và thông tin trên mạng thì "Trang thông tin điện tử ứng
                                        dụng chuyên ngành là trang TTĐT của cơ quan, tổ chức, doanh nghiệp cung cấp dịch
                                        vụ ứng dụng trong lĩnh vực viễn thông, công nghệ thông tin, phát thanh, truyền hình,
                                        thương mại, tài chính, ngân hàng, văn hóa, y tế, giáo dục và các lĩnh vực chuyên
                                        ngành khác và không cung cấp thông tin tổng hợp".
                                        <br>
                                        <br> Vì vậy, chỉ có cơ quan, tổ chức, doanh nghiệp mới được thiết lập trang thông tin
                                        điện tử chuyên ngành. 2. Điểm b Khoản 1 Điều 2 Thông tư 09/2014/TT-BTTTT ngày 19/8/2014
                                        quy định Trang thông tin điện tử cá nhân thuộc danh mục các trang thông tin điện
                                        tử không phải cấp phép. Theo đó, "cá nhân có quyền chia sẻ những thông tin không
                                        vi phạm các quy định tại Điều 5 Nghị định 72/2013/NĐ-CP trên trang thông tin điện
                                        tử cá nhân và chịu trách nhiệm trước pháp luật về nội dung các thông tin được đăng
                                        tải, chia sẻ; không đại diện cho tổ chức, cá nhân khác và không cung cấp thông tin
                                        tổng hợp".
                                        <br>
                                        <br> Trong trường hợp, trang thông tin của anh chị có sử dụng lại tin bài từ báo chí
                                        và các cơ quan khác thì vẫn phải thực hiện cấp phép như bình thường. P. TTBCXB
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-03">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-03" aria-expanded="false" aria-controls="collapse-03">
                                    Công ty tôi hiện đang kinh doanh trong lĩnh vực công nghệ thông tin
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-03" class="collapse" role="tabpanel" aria-labelledby="heading-03" data-parent="#accordion">
                            <div class="card-body">
                                <div class="copyright-consultant">
                                    <span class="name">
                                        <img src="./css/icons/c4.png" alt="">Đăng bởi:
                                        <span>Nguyễn Ánh Ngọc</span> - Anhngoc@gmail.com </span>
                                    <span class="time-c">
                                        <img src="./css/icons/c5.png" alt=""> Ngày đăng: 15:30 - 22/12/2015</span>
                                </div>
                                <div class="question">
                                    <strong>Câu hỏi</strong>
                                    <div class="text">Kính gửi quý cơ quan. Tôi đang lập một ứng dụng web (chưa đưa vào hoạt động) cho phép
                                        người dùng tập gõ bàn phím cho nhanh, tương tự như trang web: http://10fastfingers.com/typing-test/english
                                        Tôi muốn hỏi là trang web dạng này thì thuộc loại trang thông tin điện tử gì và có
                                        cần phải được cấp phép để hoạt động không ạ?</div>
                                </div>
                                <div class="reply">
                                    <strong>
                                        <span>I-TECH </span>trả lời:</strong>
                                    <div class="text">
                                        Bản chất của ứng dụng website hướng dẫn người dùng tập gõ bàn phím là ứng dụng chuyên ngành (lĩnh vực công nghệ thông tin)
                                        nhưng do cá nhân thiết lập nên đây là trang thông tin điện tử cá nhân vì theo quy
                                        định tại Khoản 5 Điều 20 Nghị định 72/2013/NĐ-CP của Chính phủ về quản lý, cung cấp,
                                        sử dụng dịch vụ Internet và thông tin trên mạng thì "Trang thông tin điện tử ứng
                                        dụng chuyên ngành là trang TTĐT của cơ quan, tổ chức, doanh nghiệp cung cấp dịch
                                        vụ ứng dụng trong lĩnh vực viễn thông, công nghệ thông tin, phát thanh, truyền hình,
                                        thương mại, tài chính, ngân hàng, văn hóa, y tế, giáo dục và các lĩnh vực chuyên
                                        ngành khác và không cung cấp thông tin tổng hợp".
                                        <br>
                                        <br> Vì vậy, chỉ có cơ quan, tổ chức, doanh nghiệp mới được thiết lập trang thông tin
                                        điện tử chuyên ngành. 2. Điểm b Khoản 1 Điều 2 Thông tư 09/2014/TT-BTTTT ngày 19/8/2014
                                        quy định Trang thông tin điện tử cá nhân thuộc danh mục các trang thông tin điện
                                        tử không phải cấp phép. Theo đó, "cá nhân có quyền chia sẻ những thông tin không
                                        vi phạm các quy định tại Điều 5 Nghị định 72/2013/NĐ-CP trên trang thông tin điện
                                        tử cá nhân và chịu trách nhiệm trước pháp luật về nội dung các thông tin được đăng
                                        tải, chia sẻ; không đại diện cho tổ chức, cá nhân khác và không cung cấp thông tin
                                        tổng hợp".
                                        <br>
                                        <br> Trong trường hợp, trang thông tin của anh chị có sử dụng lại tin bài từ báo chí
                                        và các cơ quan khác thì vẫn phải thực hiện cấp phép như bình thường. P. TTBCXB
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SplitPages-->
                    <div class="splitPages">
                        <div class="SplitPages">
                            <a class="dau" href="#">Đầu</a>
                            <a class="truoc" href="#">Trước</a>
                            <a class="hientai" href="#">1</a>
                            <a class="trangkhac" href="#">2</a>
                            <a class="trangkhac" href="#">3</a>
                            <a class="trangkhac" href="#">4</a>
                            <a class="sau" href="#">Sau</a>
                            <a class="cuoi" href="#">Cuối</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main end -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 block-f">
                    <strong>VIỆN ĐÀO TẠO CÔNG NGHỆ THÔNG TIN QUỐC TẾ I-TECH</strong>
                    <div class="contact-f">
                        <p>
                            <img src="./css/icons/13.png" alt="">302 nhà C, Số 290 Tây Sơn - Đống Đa - Hà Nội</p>
                        <p>
                            <img src="./css/icons/14.png" alt="">024.666.222.76 / 09666.222.76</p>
                        <p>
                            <img src="./css/icons/15.png" alt="">info@i-tech.edu.vn</p>
                        <p>
                            <img src="./css/icons/16.png" alt="">www.i-tech.edu.vn</p>
                    </div>
                    <div class="room">
                        <a href="tel: 0473069333" title="0473069333">
                            <span>Phòng tuyển sinh:</span>0473069333</a>
                        <a href="tel: 0473069333" title="0473069333">
                            <span>Phòng đào tạo:</span>0473069333</a>
                    </div>
                    <div class="maps-f">
                        <a href="#" data-toggle="modal" data-target="#model-02">
                            <img src="./css/icons/maps.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-4 block-f">
                    <div class="menu-f">
                        <div class="item">
                            <a href="#">Giới thiệu</a>
                            <div class="link">
                                <a href="#">Về site</a>
                                <a href="#">Triết lý giáo dục</a>
                                <a href="#">Phương pháp luận</a>
                                <a href="#">Tại sao chọn chúng tôi</a>
                                <a href="#">Cơ sở vật chất</a>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#">Chương trình đào tạo</a>
                            <div class="link">
                                <a href="#">Bảo mật - An ninh mạng</a>
                                <a href="#">Thiết kế đồ họa</a>
                                <a href="#">Lập trình viên</a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="#">Dự án</a>
                        </div>
                        <div class="item">
                            <a href="#">Tin tức</a>
                        </div>
                        <div class="item">
                            <a href="#">Tuyển sinh</a>
                            <div class="link">
                                <a href="#">Tiểu học</a>
                                <a href="#">Trung học cơ sở</a>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#">Tuyển dụng</a>
                        </div>
                        <div class="item">
                            <a href="#">Liên hệ</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 block-f">
                    <strong>Liên kết với nhà trường</strong>
                    <div class="facebook-f">
                        <div id="fb-root"></div>
                        <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src =
                                    "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="185" data-small-header="false"
                            data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/facebook">Facebook</a>
                            </blockquote>
                        </div>
                    </div>
                    <!-- social -->
                    <div class="social">
                        <a href="#">
                            <img src="./css/icons/9.png" alt="">
                        </a>
                        <a href="#">
                            <img src="./css/icons/10.png" alt="">
                        </a>
                        <a href="#">
                            <img src="./css/icons/11.png" alt="">
                        </a>
                        <a href="#">
                            <img src="./css/icons/12.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <span>Copyright 2017 Viện đào tạo công nghệ thông tin quốc tế SITE. All Rights Reserved</span>
                <a target="_bank" href="http://tatthanh.com.vn/" title="Click để xây dựng website - SEO chuyên nghiệp!">Thiết kế website & SEO - Tất Thành</a>
                <span class="online">
                    <img src="./css/icons/online.png" alt=""> Đang online: 120</span>
                <span class="t-online">
                    <img src="./css/icons/tong-onlile.png" alt=""> Tổng truy cập: 1.567.555</span>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- form registration -->
    <a href="#" class="btn-registration" data-toggle="modal" data-target="#model-01">Đăng ký tư vấn
        <img src="./css/icons/m2.png" alt="">
    </a>
    <!-- Modal -->
    <div class="modal fade modal" id="model-01" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <img src="./css/icons/18.png" alt="">
                    </a>
                    <div class="form-registration">
                        <div class="form">
                            <div class="top">
                                <h2>Đăng ký chương trình học</h2>
                                <div class="text">Quý khách gửi thông tin để chúng tôi tư vấn đăng ký học phù hợp với bạn nhất</div>
                            </div>
                            <div class="d1">
                                <input type="text" placeholder="Họ và tên">
                            </div>
                            <div class="d1">
                                <input type="text" placeholder="Nhập email">
                            </div>
                            <div class="d1">
                                <input type="text" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="d1">
                                <input type="text" placeholder="Địa chỉ">
                            </div>
                            <div class="d2">
                                <select name="" id="">
                                    <option value="">Chọn chương trình học</option>
                                </select>
                            </div>
                            <div class="d2">
                                <input type="text" placeholder="Mã bảo mật">
                                <img src="./css/icons/code.png" alt="">
                                <a href="#" class="btn-reset">
                                    <img src="./css/icons/19.png" alt="">
                                </a>
                                <a href="#" class="btn-regist">
                                    <img src="./css/icons/17.png" alt="">Đăng ký ngay</a>
                            </div>
                        </div>
                        <div class="support">
                            <div class="text">Nếu quý khách gặp khó khăn khi đặt khóa học,
                                <br> quý khách có thể gọi điện đến hotline để được hướng dẫn chi tiết</div>
                            <div class="hotline">
                                <p>Hotline</p>
                                <strong>024.666.222.76 - 09666.222.76</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form registration end -->

    <!-- modal maps -->
    <div class="modal fade" id="model-02" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <img src="./css/icons/18.png" alt="">
                    </a>
                    <div id="maps"></div>
                    <script>
                        initialize(
                            '21.00757415248039',
                            '105.80296128988266',
                            '',
                            'maps',
                            ''
                        );
                    </script>
                </div>
            </div>
        </div>
    </div>

</body>

</html>