<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="src/vendor/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="src/vendor/slick/slick.css">
  <link rel="stylesheet" href="src/vendor/slick/slick-theme.css">
  <link rel="stylesheet" href="src/main.min.css">
</head>

<body class="news" style="background-image: url(./images/bg-page-news.png)">


  <div id="app">

    <!-- header -->
    <header class="header" id="header">

      <nav class="c-navbar">
        <div class="brand"><a href="./index.html"><img src="./images/logo-header.png" alt="brand"></a></div>
        <ul class="nav">
          <li class="nav-item"><a href="./index.html" class="nav-link">Trang chủ</a></li>
          <li class="nav-item"><a href="./support.html" class="nav-link">Hỗ trợ</a></li>
          <li class="nav-item"><a href="./news.html" class="nav-link">Tin tức</a></li>
        </ul>
      </nav>

      <ul class="c-menu-fix">
        <li class="qr"><a href=""><img src="./images/qr.png" alt=""></a></li>
        <li class="store"><a href=""><img src="./src/images/app-store.png" alt=""></a></li>
        <li class="store"><a href=""><img src="./src/images/play-store.png" alt=""></a></li>
        <li class="card"><a href=""><img src="./src/images/nap-the.png" alt=""></a></li>
      </ul>


    </header>
    <!-- header end -->

    <!-- main -->
    <main class="main" id="main">

      <!-- news main -->
      <section class="c-news-main">
        <div class="container">
          <div class="row row-news-main">
            <div class="col-12 col-lg-9">
              <div class="inner">
                <h1 class="headline-page"><span>News</span></h1>
                <div class="notices">
                  <div class="item">
                    <h3 class="title"><a href="#">[Notices] Known Issues - 2 (Last Modified: 6/27 14:33)</a></h3>
                    <span class="date">19.05.22</span>
                  </div> <!-- / item -->
                  <div class="item">
                    <h3 class="title"><a href="#">[Notices] Known Issues - 2 (Last Modified: 6/27 14:33)</a></h3>
                    <span class="date">19.05.22</span>
                  </div> <!-- / item -->
                  <div class="item">
                    <h3 class="title"><a href="#">[Notices] Known Issues - 2 (Last Modified: 6/27 14:33)</a></h3>
                    <span class="date">19.05.22</span>
                  </div> <!-- / item -->
                  <div class="item">
                    <h3 class="title"><a href="#">[Notices] Known Issues - 2 (Last Modified: 6/27 14:33)</a></h3>
                    <span class="date">19.05.22</span>
                  </div> <!-- / item -->
                  <div class="item">
                    <h3 class="title"><a href="#">[Notices] Known Issues - 2 (Last Modified: 6/27 14:33)</a></h3>
                    <span class="date">19.05.22</span>
                  </div> <!-- / item -->
                </div> <!-- / notices -->
                <div class="tabs js-tabs">
                  <ul class="nav">
                    <li class="nav-item active" data-tab="#all">All</li>
                    <li class="nav-item" data-tab="#notices">Notices</li>
                    <li class="nav-item" data-tab="#updates">Updates</li>
                    <li class="nav-item" data-tab="#events">Events</li>
                    <li class="nav-item" data-tab="#gm-note">GM Note</li>
                    <li class="nav-item" data-tab="#pearl-shop">Pearl Shop</li>
                  </ul>
                  <div class="grid tab-header">
                    <span class="grid-col-1">Category</span>
                    <span class="grid-col-2">Upload Date</span>
                    <span class="grid-col-3">Title</span>
                  </div>
                  <div class="tab-body">
                    <div class="class active" id="all">
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                    </div>
                    <div class="class" id="notices">
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                    </div>
                    <div class="class" id="updates">
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                    </div>
                    <div class="class" id="events">
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                    </div>
                    <div class="class" id="gm-note">
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                    </div>
                    <div class="class" id="pearl-shop">
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                      <div class="grid item">
                        <div class="grid-col-1 updates"><span>Updates</span></div>
                        <div class="grid-col-2 date"><span>15.05.22</span></div>
                        <div class="grid-col-3 title">
                          <h2><a href="">6/26 Update Details (Last modified: 6/26 18:30)</a></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- / tab -->
                <nav class="navigation">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <img src="./src/images/arrow-page-left.png" alt="">
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <img src="./src/images/arrow-page-right.png" alt="">
                      </a>
                    </li>
                  </ul>
                </nav> <!-- / navigation -->
                <form class="search">
                  <div class="form-group form-group-select">
                    <select class="form-control" id="exampleFormControlSelect">
                      <option>Title + Details</option>
                    </select>
                  </div>
                  <div class="form-group form-group-input">
                    <input type="email" class="form-control" id="exampleInputSearch">
                    <button type="submit" class="btn"><img src="./src/images/ic-search.png" alt=""></button>
                  </div>
                </form> <!-- / search -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- news main end -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer class="footer" id="footer">
      <div class="container">
        <img src="./images/logo-footer.png" alt="">
        <div class="brattle">
          <img src="./src/images/brattle-footer.png" alt="">
        </div>
        <div class="copyright">COPYRIGHT © 2014 CHANGYOU.COM LIMITED</div>
      </div>
    </footer>
    <!-- footer end -->


  </div>



  <!-- js -->
  <script src="src/vendor/jquery-3.3.1.min.js"></script>
  <script src="src/vendor/fancybox/jquery.fancybox.min.js"></script>
  <script src="src/vendor/slick/slick.min.js"></script>
  <script src="src/main.js"></script>


</body>

</html>