<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="src/vendor/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="src/vendor/slick/slick.css">
  <link rel="stylesheet" href="src/vendor/slick/slick-theme.css">
  <link rel="stylesheet" href="src/main.min.css">
</head>

<body class="news" style="background-image: url(./images/bg-page-news.png)">


  <div id="app">

    <!-- header -->
    <header class="header" id="header">

      <nav class="c-navbar">
        <div class="brand"><a href="./index.html"><img src="./images/logo-header.png" alt="brand"></a></div>
        <ul class="nav">
          <li class="nav-item"><a href="./index.html" class="nav-link">Trang chủ</a></li>
          <li class="nav-item"><a href="./support.html" class="nav-link">Hỗ trợ</a></li>
          <li class="nav-item"><a href="./news.html" class="nav-link">Tin tức</a></li>
        </ul>
      </nav>

      <ul class="c-menu-fix">
        <li class="qr"><a href=""><img src="./images/qr.png" alt=""></a></li>
        <li class="store"><a href=""><img src="./src/images/app-store.png" alt=""></a></li>
        <li class="store"><a href=""><img src="./src/images/play-store.png" alt=""></a></li>
        <li class="card"><a href=""><img src="./src/images/nap-the.png" alt=""></a></li>
      </ul>


    </header>
    <!-- header end -->

    <!-- main -->
    <main class="main" id="main">

      <!-- news main -->
      <section class="c-news-main">
        <div class="container">
          <div class="row row-news-main">
            <div class="col-12 col-lg-9">
              <div class="inner">
                <h1 class="headline-page"><span>News</span></h1>
                <div class="detail">
                  <div class="detail-header">
                    <div class="class">Notices</div>
                    <h1 class="title">Known Issues - 2 (Last Modified: 6/27 14:33)</h1>
                    <div class="info">
                      <span class="date">2019.05.22 00:00</span>/ <span class="copyright">by <span>Black
                          Desert</span></span>
                    </div>
                  </div>
                  <div class="detail-main">


                    <p>
                      Hello, Adventurers!
                      <br>
                      This is The MMORPG, Black Desert.

                      <br>
                      <br>

                      We would like to inform you of some problems in the game currently.
                      <br>
                      <br>

                      Please take note of the following so you can avoid any inconveniences.
                      <br>
                      We are working hard to fix the issue as soon as possible and will notify you once it is fixed.

                      <br><br>

                      Last Revised: 2019/06/27 19:35 (GMT+8)
                    </p>
                    <br>
                    <strong style="color: #ff0000"> [Go to the previous Known Issues - 1 Notice]</strong>
                    <br><br>
                    <hr style="border: 1px solid #636363">
                    <br>
                    <strong>[Issues under examination]</strong>
                    <p>
                      * We are aware of the issue where the Cosmic Dawn Chandelier’s interior points are different from
                      other chandeliers.
                      <br><br>
                      - The Cosmic Dawn Chandelier’s interior points will be corrected to be the same as other
                      chandeliers as soon as possible.
                      <br><br>
                      * We are aware of the issue where [Shai] skills registered to Quick Slots 11 - 20 cannot be used.
                      <br><br>
                      * We are aware of the issue where Shai’s Cheer Up! and Get Well skill effects are not being
                      applied to allies during World Boss appearances.
                      <br><br>
                      up the registration for marketplace special item cannot be actually registered. - Weapon: +1 ~ +7
                      / +9 ~ +10 / +12 - Armor: +1 ~ +5 / +7 ~ +9 / +11 ~ +12
                      <br><br>
                      * We are aware of the issue where continuous water scooping cannot be completed by gathering
                      level.
                    </p>
                    <br><br>
                    <hr style="border: 1px solid #636363">
                    <br>
                    <strong>[Resolved Issues]</strong>
                    <p style="text-decoration: line-through;">
                      * There is an issue with Altinova Freight Wagon that it does not deliver shipment correctly.
                      <br><br>
                      * We are aware of the issue where Lahn's facial expression is awkward when certain customization
                      is applied.
                      <br><br>
                      * We are aware of the issue where certain NPCs and objects will appear abnormally after logging
                      into the game or loading.
                      <br><br>
                      * We are aware of the issue where the Bahasa Indonesia translation for the skill options to
                      decrease the Attack/Casting speed of a target is displayed as a decrease to Movement speed.
                      <br><br>
                      * We are aware of the issue where Knowledge tooltips in the Northern Calpheon Adventure Journal
                      are being displayed abnormally.
                      <br><br>
                      * We are aware of the issue where the item description for [Event] Shakatu's Seal incorrectly
                      displays Tungrad Earring instead of DUO: Tungrad Earring.
                      <br><br>
                      * We are aware of the issue where part of the quest summary for "The Suspicious Sausan Assassins"
                      quest is displayed as untranslated.
                    </p>
                    <br>
                    <hr style="border: 1px solid #636363">
                    <br>
                    <p>Please feel free to contact us through our Customer Support if you have any additional questions.

                        Thank you.</p>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- news main end -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer class="footer" id="footer">
      <div class="container">
        <img src="./images/logo-footer.png" alt="">
        <div class="brattle">
          <img src="./src/images/brattle-footer.png" alt="">
        </div>
        <div class="copyright">COPYRIGHT © 2014 CHANGYOU.COM LIMITED</div>
      </div>
    </footer>
    <!-- footer end -->


  </div>



  <!-- js -->
  <script src="src/vendor/jquery-3.3.1.min.js"></script>
  <script src="src/vendor/fancybox/jquery.fancybox.min.js"></script>
  <script src="src/vendor/slick/slick.min.js"></script>
  <script src="src/main.js"></script>


</body>

</html>