<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./loading-01.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="./loading-01.js"></script>
  <style>
    body {
      background-color: #fff;
      ] color: #222;
    }

    .container {
      max-width: 1200;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body>
  <div class="container">
    <p>Ea id cupidatat et et. Ullamco exercitation in et esse fugiat nulla deserunt pariatur. Officia non excepteur
      commodo cillum anim sunt ad duis tempor enim commodo eiusmod irure nulla. Culpa enim duis aliquip exercitation
      nulla irure eiusmod occaecat consectetur. Commodo culpa dolore non aliquip cillum exercitation nostrud laboris
      laboris. Aliquip occaecat laborum aliqua et tempor exercitation ullamco nulla id ipsum voluptate.

      Labore fugiat reprehenderit id dolore ullamco minim aute cupidatat eiusmod sit ipsum sit ex adipisicing. Magna
      velit dolore adipisicing laboris cupidatat adipisicing ea incididunt voluptate deserunt et. Sit velit et dolore ut
      irure fugiat proident ad cupidatat ipsum. Culpa nostrud nisi nulla occaecat sint reprehenderit ex ullamco esse
      fugiat commodo. Incididunt pariatur exercitation mollit aliqua nostrud reprehenderit. Eiusmod elit est culpa in
      sint eiusmod do laborum pariatur labore aute. Esse ad labore cillum Lorem voluptate proident eiusmod mollit
      voluptate veniam cupidatat irure.

      Irure reprehenderit esse tempor eu esse mollit ullamco enim consequat do enim Lorem sint occaecat. Ex esse
      exercitation velit in eu. Cillum occaecat anim ullamco commodo officia dolore ad anim consequat. Pariatur ullamco
      sint qui ullamco. Aute ut ullamco minim dolore reprehenderit amet enim tempor consectetur ut officia sunt.

      Non esse deserunt nisi voluptate dolor non ex excepteur eu non. Id culpa veniam esse non ex magna proident. Elit
      mollit dolor quis non consequat eiusmod occaecat. Aute esse cupidatat exercitation enim enim irure sint. Magna
      mollit reprehenderit Lorem tempor est eu ex.

      Esse magna qui qui consequat anim voluptate reprehenderit culpa veniam mollit. Occaecat in nisi voluptate commodo
      ad nisi nulla nostrud adipisicing. Voluptate tempor sint proident laborum enim. Adipisicing culpa esse proident
      pariatur consectetur.

      Cillum veniam minim consectetur duis consectetur elit officia. Excepteur pariatur qui id officia id dolore sunt
      consectetur cillum enim do. Non consequat cillum cupidatat ex id elit do sint duis eiusmod est sit proident eu.
      Magna ea dolor officia reprehenderit culpa eiusmod in minim nisi minim sint velit eu pariatur. Fugiat aliqua
      consectetur laborum deserunt duis aute mollit aliqua ad aliqua elit.

      Aliquip minim sit ut duis eiusmod eu quis tempor ea est. Ipsum do commodo amet aliqua labore enim laborum magna
      pariatur laboris consequat nisi aliqua. Quis ut enim velit commodo sint est magna veniam. Quis quis ullamco ea sit
      esse nostrud ipsum pariatur fugiat. Elit anim quis eiusmod consequat quis aliquip labore.

      Ad laborum et commodo incididunt irure est ut cillum in et occaecat nostrud. Ut labore nisi quis minim mollit
      proident incididunt incididunt eiusmod aliqua aute occaecat nisi. Adipisicing cupidatat incididunt mollit magna
      adipisicing mollit ullamco.

      Cupidatat sunt ipsum quis dolore fugiat qui magna cupidatat. Pariatur ad do minim pariatur consectetur qui ad
      excepteur non cupidatat ut qui. Dolor duis sunt dolor ullamco nostrud velit labore labore id commodo consequat
      deserunt dolore officia. Eu non anim in mollit occaecat ipsum ad enim commodo commodo fugiat et labore fugiat. Id
      eiusmod laboris quis culpa irure deserunt qui reprehenderit laborum officia consequat. Id ullamco duis id
      adipisicing do elit ea aliqua aliqua.

      Commodo qui nisi elit adipisicing consectetur officia elit dolore et Lorem. Aute labore minim dolor veniam
      occaecat nulla cupidatat reprehenderit sit consectetur aute in pariatur officia. Ut laborum culpa proident officia
      mollit sunt occaecat in ad tempor ullamco. Aute ad ipsum dolor commodo velit sit incididunt aliquip. Minim culpa
      cillum aute reprehenderit dolore aliqua nisi occaecat nostrud ut ex non nostrud dolore. Proident exercitation
      voluptate ea anim enim velit aliqua cupidatat fugiat. Ex elit eu nostrud nisi anim non qui culpa ut.</p>
    <p>Ea id cupidatat et et. Ullamco exercitation in et esse fugiat nulla deserunt pariatur. Officia non excepteur
      commodo cillum anim sunt ad duis tempor enim commodo eiusmod irure nulla. Culpa enim duis aliquip exercitation
      nulla irure eiusmod occaecat consectetur. Commodo culpa dolore non aliquip cillum exercitation nostrud laboris
      laboris. Aliquip occaecat laborum aliqua et tempor exercitation ullamco nulla id ipsum voluptate.

      Labore fugiat reprehenderit id dolore ullamco minim aute cupidatat eiusmod sit ipsum sit ex adipisicing. Magna
      velit dolore adipisicing laboris cupidatat adipisicing ea incididunt voluptate deserunt et. Sit velit et dolore ut
      irure fugiat proident ad cupidatat ipsum. Culpa nostrud nisi nulla occaecat sint reprehenderit ex ullamco esse
      fugiat commodo. Incididunt pariatur exercitation mollit aliqua nostrud reprehenderit. Eiusmod elit est culpa in
      sint eiusmod do laborum pariatur labore aute. Esse ad labore cillum Lorem voluptate proident eiusmod mollit
      voluptate veniam cupidatat irure.

      Irure reprehenderit esse tempor eu esse mollit ullamco enim consequat do enim Lorem sint occaecat. Ex esse
      exercitation velit in eu. Cillum occaecat anim ullamco commodo officia dolore ad anim consequat. Pariatur ullamco
      sint qui ullamco. Aute ut ullamco minim dolore reprehenderit amet enim tempor consectetur ut officia sunt.

      Non esse deserunt nisi voluptate dolor non ex excepteur eu non. Id culpa veniam esse non ex magna proident. Elit
      mollit dolor quis non consequat eiusmod occaecat. Aute esse cupidatat exercitation enim enim irure sint. Magna
      mollit reprehenderit Lorem tempor est eu ex.

      Esse magna qui qui consequat anim voluptate reprehenderit culpa veniam mollit. Occaecat in nisi voluptate commodo
      ad nisi nulla nostrud adipisicing. Voluptate tempor sint proident laborum enim. Adipisicing culpa esse proident
      pariatur consectetur.

      Cillum veniam minim consectetur duis consectetur elit officia. Excepteur pariatur qui id officia id dolore sunt
      consectetur cillum enim do. Non consequat cillum cupidatat ex id elit do sint duis eiusmod est sit proident eu.
      Magna ea dolor officia reprehenderit culpa eiusmod in minim nisi minim sint velit eu pariatur. Fugiat aliqua
      consectetur laborum deserunt duis aute mollit aliqua ad aliqua elit.

      Aliquip minim sit ut duis eiusmod eu quis tempor ea est. Ipsum do commodo amet aliqua labore enim laborum magna
      pariatur laboris consequat nisi aliqua. Quis ut enim velit commodo sint est magna veniam. Quis quis ullamco ea sit
      esse nostrud ipsum pariatur fugiat. Elit anim quis eiusmod consequat quis aliquip labore.

      Ad laborum et commodo incididunt irure est ut cillum in et occaecat nostrud. Ut labore nisi quis minim mollit
      proident incididunt incididunt eiusmod aliqua aute occaecat nisi. Adipisicing cupidatat incididunt mollit magna
      adipisicing mollit ullamco.

      Cupidatat sunt ipsum quis dolore fugiat qui magna cupidatat. Pariatur ad do minim pariatur consectetur qui ad
      excepteur non cupidatat ut qui. Dolor duis sunt dolor ullamco nostrud velit labore labore id commodo consequat
      deserunt dolore officia. Eu non anim in mollit occaecat ipsum ad enim commodo commodo fugiat et labore fugiat. Id
      eiusmod laboris quis culpa irure deserunt qui reprehenderit laborum officia consequat. Id ullamco duis id
      adipisicing do elit ea aliqua aliqua.

      Commodo qui nisi elit adipisicing consectetur officia elit dolore et Lorem. Aute labore minim dolor veniam
      occaecat nulla cupidatat reprehenderit sit consectetur aute in pariatur officia. Ut laborum culpa proident officia
      mollit sunt occaecat in ad tempor ullamco. Aute ad ipsum dolor commodo velit sit incididunt aliquip. Minim culpa
      cillum aute reprehenderit dolore aliqua nisi occaecat nostrud ut ex non nostrud dolore. Proident exercitation
      voluptate ea anim enim velit aliqua cupidatat fugiat. Ex elit eu nostrud nisi anim non qui culpa ut.</p>
    <p>Ea id cupidatat et et. Ullamco exercitation in et esse fugiat nulla deserunt pariatur. Officia non excepteur
      commodo cillum anim sunt ad duis tempor enim commodo eiusmod irure nulla. Culpa enim duis aliquip exercitation
      nulla irure eiusmod occaecat consectetur. Commodo culpa dolore non aliquip cillum exercitation nostrud laboris
      laboris. Aliquip occaecat laborum aliqua et tempor exercitation ullamco nulla id ipsum voluptate.

      Labore fugiat reprehenderit id dolore ullamco minim aute cupidatat eiusmod sit ipsum sit ex adipisicing. Magna
      velit dolore adipisicing laboris cupidatat adipisicing ea incididunt voluptate deserunt et. Sit velit et dolore ut
      irure fugiat proident ad cupidatat ipsum. Culpa nostrud nisi nulla occaecat sint reprehenderit ex ullamco esse
      fugiat commodo. Incididunt pariatur exercitation mollit aliqua nostrud reprehenderit. Eiusmod elit est culpa in
      sint eiusmod do laborum pariatur labore aute. Esse ad labore cillum Lorem voluptate proident eiusmod mollit
      voluptate veniam cupidatat irure.

      Irure reprehenderit esse tempor eu esse mollit ullamco enim consequat do enim Lorem sint occaecat. Ex esse
      exercitation velit in eu. Cillum occaecat anim ullamco commodo officia dolore ad anim consequat. Pariatur ullamco
      sint qui ullamco. Aute ut ullamco minim dolore reprehenderit amet enim tempor consectetur ut officia sunt.

      Non esse deserunt nisi voluptate dolor non ex excepteur eu non. Id culpa veniam esse non ex magna proident. Elit
      mollit dolor quis non consequat eiusmod occaecat. Aute esse cupidatat exercitation enim enim irure sint. Magna
      mollit reprehenderit Lorem tempor est eu ex.

      Esse magna qui qui consequat anim voluptate reprehenderit culpa veniam mollit. Occaecat in nisi voluptate commodo
      ad nisi nulla nostrud adipisicing. Voluptate tempor sint proident laborum enim. Adipisicing culpa esse proident
      pariatur consectetur.

      Cillum veniam minim consectetur duis consectetur elit officia. Excepteur pariatur qui id officia id dolore sunt
      consectetur cillum enim do. Non consequat cillum cupidatat ex id elit do sint duis eiusmod est sit proident eu.
      Magna ea dolor officia reprehenderit culpa eiusmod in minim nisi minim sint velit eu pariatur. Fugiat aliqua
      consectetur laborum deserunt duis aute mollit aliqua ad aliqua elit.

      Aliquip minim sit ut duis eiusmod eu quis tempor ea est. Ipsum do commodo amet aliqua labore enim laborum magna
      pariatur laboris consequat nisi aliqua. Quis ut enim velit commodo sint est magna veniam. Quis quis ullamco ea sit
      esse nostrud ipsum pariatur fugiat. Elit anim quis eiusmod consequat quis aliquip labore.

      Ad laborum et commodo incididunt irure est ut cillum in et occaecat nostrud. Ut labore nisi quis minim mollit
      proident incididunt incididunt eiusmod aliqua aute occaecat nisi. Adipisicing cupidatat incididunt mollit magna
      adipisicing mollit ullamco.

      Cupidatat sunt ipsum quis dolore fugiat qui magna cupidatat. Pariatur ad do minim pariatur consectetur qui ad
      excepteur non cupidatat ut qui. Dolor duis sunt dolor ullamco nostrud velit labore labore id commodo consequat
      deserunt dolore officia. Eu non anim in mollit occaecat ipsum ad enim commodo commodo fugiat et labore fugiat. Id
      eiusmod laboris quis culpa irure deserunt qui reprehenderit laborum officia consequat. Id ullamco duis id
      adipisicing do elit ea aliqua aliqua.

      Commodo qui nisi elit adipisicing consectetur officia elit dolore et Lorem. Aute labore minim dolor veniam
      occaecat nulla cupidatat reprehenderit sit consectetur aute in pariatur officia. Ut laborum culpa proident officia
      mollit sunt occaecat in ad tempor ullamco. Aute ad ipsum dolor commodo velit sit incididunt aliquip. Minim culpa
      cillum aute reprehenderit dolore aliqua nisi occaecat nostrud ut ex non nostrud dolore. Proident exercitation
      voluptate ea anim enim velit aliqua cupidatat fugiat. Ex elit eu nostrud nisi anim non qui culpa ut.</p>
  </div>

  <script>
    star_loading()
  </script>
</body>

</html>