.c-loading {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out
}



.c-loading .over-black {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#000;
  pointer-events: none
}

.c-loading .over-dark {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none
}

.c-loading .loading {
  position: relative;
  z-index: 2;
  height: 18.51851851851852vh;
  width: 18.51851851851852vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 0.6vh solid #fff;
  -webkit-animation: anim 2s linear infinite;
  animation: anim 2s linear infinite
}

.c-loading .loading::before,
.c-loading .loading::after {
  content: '';
  width: 18.51851851851852vh;
  height: 18.51851851851852vh;
  position: absolute;
  left: 0px;
  top: -0.6vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%
}

.c-loading .loading::before {
  border-top: 0.6vh solid #fff;
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg)
}

.c-loading .loading::after {
  border-top: 0.6vh solid #fff;
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg)
}

.c-loading .loading .wrapper {
  display: block;
  text-align: center;
  -webkit-animation: anim2 2s linear infinite;
  animation: anim2 2s linear infinite
}

.c-loading .loading .wrapper img {
  display: block;
  width: 9.25925925925926vh;
  height: auto;
}

@-webkit-keyframes anim {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes anim {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes anim2 {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}

@keyframes anim2 {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}

















.dots {
  position: absolute;

  top: 3.7vh;
  width: 100%;
  display: flex;
  justify-content: center;

}

.dot {
  width: 1vh;
  height: 1vh;
  margin: 0 0.5vh;
  background: white;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  opacity: 0;

  -webkit-box-shadow: 0 0 0.2vh black;
  -moz-box-shadow: 0 0 0.2vh black;
  -ms-box-shadow: 0 0 0.2vh black;
  -o-box-shadow: 0 0 0.2vh black;
  box-shadow: 0 0 0.2vh black;

  -webkit-animation: loadingFade 1s infinite;
  -moz-animation: loadingFade 1s infinite;
  animation: loadingFade 1s infinite;
}

.dot:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.dot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.dot:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}