<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gonewhorizontravel.com</title>
    <style>
        a {
            display: block;
            margin: 10px auto;
            color: #03a9f4;
            font-size: 18px;
            text-transform: uppercase;
            width: 200px;
            text-align: center;
            transition: all 0.4s ease-out;
        }
        a:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <a href="./01.trangchu.html">trang chu</a>
    <a href="./02.gioithieu.html">gioi thieu</a>
    <a href="./03.tour.html">tour</a>
    <a href="./04.tour-chitiet.html">tour chi tiet</a>
    <a href="./05.services.html">services</a>
    <a href="./06.services-chitiet.html">services chitiet</a>
    <a href="./07.contact.html">contact</a>
    <a href="./08.news.html">news</a>
    <a href="./09.news-chitiet.html">news chitiet</a>
    <a href="./10.faqs.html">faqs</a>
    <a href="./11.photo.html">photo</a>
    <a href="./12.photos-trangcon.html">photos trangcon</a>
</body>
</html>