<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container" style="text-align: center;">
    <br>
    <br>
    <a href="./home.html">Trang chủ</a>
    <br>
    <br>
    <a href="./list-giang-vien.html">Danh sách giảng viên</a>
    <br>
    <br>
    <a href="./list-khoa-hoc.html">Danh sách khóa học</a>
    <br>
    <br>
    <a href="./mua-khoa-hoc.html">Mua khóa học</a>
    <br>
    <br>
    <a href="./quan-ly-bang-thong-tin.html">Quản lý bảng thông tin</a>
    <br>
    <br>
    <a href="./quan-ly-binh-luan.html">Quản lý bình luận</a>
    <br>
    <br>
    <a href="./quan-ly-lich-su.html">Quản lý lịch sử</a>
    <br>
    <br>
    <a href="./quan-ly-nap-tien.html">Quản lý nạp tiển</a>
    <br>
    <br>
    <a href="./quan-ly-tai-khoa.html">Quản lý tài khoản</a>
    <br>
    <br>
    <a href="./quan-ly-vi.html">Quản lý ví</a>
    <br>
    <br>
    <a href="./quan-ly-wishlist.html">Quản lý wishlist</a>
    <br>
    <br>
    <a href="./thanh-toan.html">Thanh toán</a>
    <br>
    <br>
    <a href="./thong-tin-giang-vien.html">Thông tin giảng viên</a>
    <br>
    <br>
    <a href="./tim-kiem.html">Tìm kiếm</a>
    <br>
    <br>
    <a href="./tin-tuc-detail.html">Tin tức chi tiết</a>
    <br>
    <br>
    <a href="./tin-tuc.html">Tin tức</a>
    <br>
    <br>
    <a href="./404.html">404404</a>
    <br>
    <br>
    <a href="./chi-tiet-khoa-hoc.html">Chi tiết khóa học</a>
    <br>
    <br>
    <a href="./hoan-thanh-doan-hang.html">Hoàn thành thanh toán</a>
    <br>
    <br>
    <a href="./hoc-lai.html">Học lại</a>
    <br>
    <br>
  </div>
</body>
</html>