<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="src/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="src/css/main.min.css">
</head>

<body>

  <div id="app">

    <header class="header">

      <section class="c-topbar">
        <div class="container">
          <div class="inner">
            <div class="left">
              <div class="logo">
                <a href="index.html"><img src="images/Logo HocPlus.svg" alt=""></a>
              </div> <!-- / logo -->
              <a href="index.html" class="home"><i class="fa fa-home"></i></a>
              <nav class="navbar js-navbar-tab">
                <span class="title"><i class="fa fa-th"></i> Danh mục</span>
                <div class="inner">
                  <div class="tab">
                    <div class="tab-button">
                      <div class="item active">Môn Toán</div>
                      <div class="item">Môn Văn</div>
                      <div class="item">Môn Anh</div>
                      <div class="item">Môn Lý</div>
                      <div class="item">Môn Hóa</div>
                      <div class="item">Môn Sinh</div>
                    </div>
                    <div class="tab-body">
                      <div class="item active">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </nav> <!-- / navbar -->
            </div> <!-- / left -->
            <div class="right">
              <div class="search">
                <form class="form">
                  <input type="text" placeholder="Tìm kiếm...">
                  <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div> <!-- / search -->
              <a class="btn btn-go" href="#">Vào học</a>
              <!-- / button go -->
              <div class="my-user">
                <div class="user-inner">
                  <div class="avatar">
                    <img src="images/user.png" alt="avatar">
                  </div>
                  <div class="name">Âu Hà My</div>
                </div>
                <div class="dropdown">
                  <ul class="list">
                    <li class="item"><a href="quan-ly-bang-thong-tin.html"><i class="fa fa-dashboard"></i> <span>Bảng thông tin</span></a></li>
                    <li class="item"><a href="quan-ly-wishlist.html"><i class="fa fa-briefcase"></i> <span>Khóa học của tôi</span></a></li>
                    <li class="item"><a href="quan-ly-tai-khoa.html"><i class="fa fa-gear"></i> <span>Quản lý tài khoản</span></a></li>
                    <li class="item"><a href=""><i class="fa fa-log-out"></i> <span>Đăng xuất</span></a></li>
                  </ul>
                </div>
              </div><!-- / user -->
              <div class=" notification">
                <div class="icon">
                  <i class="fa fa-bell"></i>
                  <span class="number">6</span>
                  <div class="inner">
                    <div class="wrapper">
                      <div class="title">Thông báo</div>
                      <ol class="list">
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div> <!-- / notification -->
            </div> <!-- / right -->
          </div> <!-- / inner -->
        </div> <!-- / container -->
      </section> <!-- / Top bar -->

    </header> <!-- / Header -->

    <main class="main ms-main">

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3 ms-left">
            <div class="ms-info">
              <div class="inner-info">
                <div class="info">
                  <a href="" class="btn-modify">Sửa</a>
                  <div class="avatar">
                    <img src="images/user.png" alt="avatar">
                  </div>
                  <div class="content">
                    <div class="name">Nguyễn Thu Trang</div>
                    <div class="work">Trường THPT Hai Bà Trưng</div>
                  </div>
                </div>
                <nav class="list">
                  <ul class="nav">
                    <li class="nav-item">
                      <a href="quan-ly-bang-thong-tin.html" class="nav-link">
                        <i class="fa fa-dashboard"></i>
                        <span>Bảng thông tin</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-vi.html" class="nav-link">
                        <i class="fa fa-money"></i>
                        <span>Ví của tôi</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-wishlist.html" class="nav-link">
                        <i class="fa fa-heart"></i>
                        <span>Wishlist</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-lich-su.html" class="nav-link">
                        <i class="fa fa-document-time"></i>
                        <span>Lịch sử học</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-tai-khoa.html" class="nav-link">
                        <i class="fa fa-gear"></i>
                        <span>Quản lý tài khoản</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="quan-ly-binh-luan.html" class="nav-link">
                        <i class="fa fa-comments"></i>
                        <span>Quản lý bình luận</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div> <!-- / col-3 -->

          <div class="col-12 col-md-8 col-lg-9 ms-right">
            <div class="ms-statistics">
              <section class="row money">
                <div class="col-12 col-lg-4 item">
                  <div class="item-inner">
                    <div class="item-icon" style="background: #ea3e4e;">
                      <img src="images/icon/general-2.png" alt="">
                    </div>
                    <div class="item-info">
                      <div class="number" style="color: #ea3e4e;">1.250.000<span>đ</span></div>
                      <div class="name">Ví tiền hiện có</div>
                    </div>
                  </div>
                </div> <!-- / item -->
                <div class="col-12 col-lg-4 item">
                  <div class="item-inner">
                    <div class="item-icon" style="background: #45b949;">
                      <img src="images/icon/general-3.png" alt="">
                    </div>
                    <div class="item-info">
                      <div class="number" style="color: #45b949">125.000.000<span>đ</span></div>
                      <div class="name">Số tiền đã nạp</div>
                    </div>
                  </div>
                </div> <!-- / item -->
              </section> <!-- / money -->

              <div class="history">
                <div class="headline">
                  <h3 class="title">Lịch sử giao dịch</h3>
                  <a href="quan-ly-nap-tien.html" class="btn">Nạp tiền</a>
                </div>
                <form class="form-search">
                  <div class="form-group">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Môn học</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" id="exampleInputMSSearchDateMin" name="exampleInputMSSearchDateMin" placeholder="Từ ngày">
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" id="exampleInputMSSearchDateMax" name="exampleInputMSSearchDateMax" placeholder="Đến ngày">
                  </div>
                  <div class="form-group">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Tình trạng</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group search">
                    <input class="form-control" type="search" id="exampleInputMSSearchKeyWord" name="exampleInputMSSearchKeyWord" placeholder="Từ khóa">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                  </div>
                </form>
                <div class="list">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">STT</th>
                          <th scope="col">Này</th>
                          <th scope="col">Nội dung</th>
                          <th scope="col">Hình thức thanh toán</th>
                          <th scope="col">Số tiền</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">7</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">8</th>
                          <td>
                            <div class="date">05/01/2019</div>
                          </td>
                          <td>
                            <div class="title"><a href="chi-tiet-khoa-hoc.html">Khóa học bồi dưỡng học sinh giỏi lớp 10 - Chuyên Sinh</a></div>
                          </td>
                          <td>
                            <div class="class">Chuyển khoản</div>
                          </td>
                          <td>
                            <div class="price">1.500.000<span>đ</span></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <nav class="c-navigation">
                    <div class="container">
                      <ul class="nav">
                        <li class="nav-item"><a class="nav-link active" href="#">1</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">2</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">3</a></li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <span>»</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </nav> <!-- / navigation -->
                </div>
              </div> <!-- / history -->

            </div> <!-- / statistics -->
          </div> <!-- / col-9 -->
        </div>
      </div> <!-- / container -->
    </main> <!-- / main -->

    <footer class="footer">
        <div class="container">
          <div class="row">
            
            <div class="col-12 col-md-6 col-lg-3 block">
              <div class="block-headline">Hỗ trợ khách hàng</div>
              <div class="contact">
                <div class="item">
                  <a class="item-wrapper" href="tel: +849006675">
                    <img src="src/images/icon-phone.png" alt="">
                    <span><b>1900 6675</b></span>
                  </a>
                </div>
                <div class="item">
                  <a class="item-wrapper" href="mailto: info@hocplus.vn">
                    <img src="src/images/icon-mail.png" alt="">
                    <span>info@hocplus.vn</span>
                  </a>
                </div>
              </div>
            </div>
  
            <div class="col-12 col-md-6 col-lg-3 block">
                <div class="block-headline">Về HocPlus</div>
                <ul class="nav">
                  <li class="nav-item"><a class="nav-link" href="http://">Giới thiệu</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://">Chính sách bảo mật</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://">Điều khoản sử dụng</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://">Hướng dẫn mua khóa học</a></li>
                </ul>
            </div>
  
            <div class="col-12 col-md-6 col-lg-3 block">
                <div class="block-headline">Tải về</div>
                <div class="link-app">
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="images/app-store.png" alt=""></a>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="images/google-play.png" alt=""></a>
                </div>
                <div class="img"><img src="images/bocongthuong.png" alt=""></div>
                <div class="img"><img src="images/DMCA.jpg" alt=""></div>
            </div>
  
            <div class="col-12 col-md-6 col-lg-3 block">
                <div class="block-headline">Kết nối với chúng tôi</div>
                <div class="social">
                  <a class="social-item" href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="src/images/facebook.png" alt="">
                  </a>
                  <a class="social-item" href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="src/images/youtube.png" alt="">
                  </a>
                </div>
                <div class="link-forum">
                  <a href="http://" target="_blank" rel="noopener noreferrer">Forum hocplus</a>
                </div>
            </div>
  
          </div>
        </div>
      </footer> <!-- / footer -->

    <div class="c-user js-user">
      <div class="exit"></div>
      <div class="inner">
        <div class="left">
          <div class="bg">
            <span><img src="images/bg-user.png" alt=""></span>
          </div>
          <div class="wrapper">

            <div class="content content-log-in">
              <strong>Bạn đã có<br>tài khoản Học Plus?</strong>
              <p>Học Plus - Website hàng đầu về giáo dục<br>trực tuyến tại Việt Nam</p>
              <span class="btn">Đăng nhập</span>
            </div>

            <div class="content content-register show">
              <strong>Bạn chưa có<br>tài khoản Học Plus?</strong>
              <p>Học Plus - Website hàng đầu về giáo dục<br>trực tuyến tại Việt Nam</p>
              <span class="btn">Đăng ký</span>
            </div>

          </div>
        </div>
        <div class="right">
          <div class="right-inner">

            <div class="form form-log-in show">
              <div class="tabs">
                <div class="tabs-item tabs-parents-student tabs-active">Phụ huynh/học sinh</div>
                <div class="tabs-item tabs-teacher">Giáo viên</div>
              </div>

              <form class="parents-student show">
                <!-- <div class="form-group notification">
                    <div class="text">Mật khẩu của bạn đã được cập nhật.
                      <br>Đăng nhập để tiếp tục học.</div>
                    <button class="closed"></button>
                  </div> -->
                <div class="form-group email">
                  <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
                </div>
                <div class="form-group password">
                  <input class="form-control" type="password" placeholder="Mật khẩu">
                </div>
                <div class="form-group form-check">
                  <span>
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Ghi nhớ mật khẩu</label>
                  </span>
                  <span>
                    <span class="btn-forgot-password">Quên mật khẩu?</span>
                  </span>
                </div>
                <button class="btn" type="submit">Đăng nhập</button>
              </form>
              <form class="teacher">
                <!-- <div class="form-group notification">
                    <div class="text">Mật khẩu của bạn đã được cập nhật.
                      <br>Đăng nhập để tiếp tục học.</div>
                    <button class="closed"></button>
                  </div> -->
                <div class="form-group email">
                  <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
                </div>
                <div class="form-group password">
                  <input class="form-control" type="password" placeholder="Mật khẩu">
                </div>
                <div class="form-group form-check">
                  <span>
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Ghi nhớ mật khẩu</label>
                  </span>
                  <span>
                    <span class="btn-forgot-password">Quên mật khẩu?</span>
                  </span>
                </div>
                <button class="btn" type="submit">Đăng nhập</button>
              </form>
            </div>

            <form class="form form-register">
              <div class="title">Đăng ký</div>
              <div class="form-group email">
                <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
              </div>
              <div class="form-group password">
                <input class="form-control" type="password" placeholder="Mật khẩu">
              </div>
              <div class="form-group password">
                <input class="form-control" type="password" placeholder="Xác nhận mật khẩu">
              </div>
              <div class="form-group phone">
                <input class="form-control" type="email,phone" placeholder="Xác thực bằng Email hoặc SĐT">
              </div>
              <div class="form-group check">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="exampleRadios1">Học sinh</label>
                  <span class="checkmark"></span>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">Phụ huynh</label>
                  <span class="checkmark"></span>
                </div>
              </div>

              <button class="btn" type="submit">Đăng ký</button>
            </form>

            <form class="form form-restore-password">
              <div class="title">Lấy lại mật khẩu</div>
              <div class="content">
                Để lấy lại mật khẩu, bạn nhập email hoặc số điện thoại đăng nhập vào ô dưới đây. Sau đó Học Plus sẽ gửi
                email hướng dẫn bạn khôi phục mật khẩu
              </div>
              <div class="form-group notification">
                <div class="text">Một email/tin nhắn chứa nội dung hướng dẫn khởi tạo lại mật khẩu đã được gửi đi. Bạn
                  vui lòng kiểm tra và làm theo hướng dẫn.</div>
                <button class="closed"></button>
              </div>
              <div class="form-group check">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked="">
                  <label class="form-check-label" for="exampleRadios1">Học sinh/Phụ huynh</label>
                  <span class="checkmark"></span>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">Phụ huynh</label>
                  <span class="checkmark"></span>
                </div>
              </div>
              <div class="form-group email">
                <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
              </div>
              <button class="btn" type="submit">Tiếp tục</button>
            </form>

            <form class="form form-new-password">
              <div class="title">Phục hồi mật khẩu</div>
              <div class="content">
                Bạn vừa yêu cầu đặt mật khẩu mới đăng nhập trên Học Plus. Vui lòng nhập mật khẩu mới vào ô bên dưới
                (Nên có chữ in hoa, số hoặc dấu).
              </div>
              <div class="form-group check">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked="">
                  <label class="form-check-label" for="exampleRadios1">Học sinh/Phụ huynh</label>
                  <span class="checkmark"></span>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">Phụ huynh</label>
                  <span class="checkmark"></span>
                </div>
              </div>
              <div class="form-group password">
                <input class="form-control " type="email,phone" placeholder="Mật khẩu">
              </div>
              <button class="btn" type="submit">Hoàn thành</button>
            </form>

            <div class="other show">
              <p>- Hoặc -</p>
              <a href="" class="btn btn-facebook"><i class="fa fa-facebook"></i> <span>Đăng ký bằng facebook</span></a>
              <a href="" class="btn btn-goole"><i class="fa fa-google"></i> <span>Đăng ký bằng google</span></a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="over-body"></div> <!-- / over body -->

    <div class="c-slideout js-slideout">
      <div class="inner">
        <div class="group-btn">
          <a href="" class="btn btn-lecturers">Dành cho giáo viên</a>
          <button class="btn btn-user">Đăng nhập</button>
        </div>
        <nav class="slideout-navbar">
          <ul class="nav">
            <li class="nav-item">
              <a href="" class="nav-link">Môn Toán</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Văn</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Anh</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Lý</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Hóa</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Sinh</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div> <!-- / slideout -->

  </div> <!-- / App -->

  <!-- js -->
  <script src="src/js/jquery-3.3.1.min.js"></script>
  <script src="src/js/jquery.fancybox.min.js"></script>
  <script src="src/js/slick.min.js"></script>
  <script src="src/js/main.js"></script>


</body>

</html>