<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="src/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="src/css/main.min.css">
</head>

<body>

  <div id="app">

    <header class="header">

      <section class="c-topbar js-fixed">
        <div class="container">
          <div class="inner">
            <div class="left">
              <div class="logo">
                <a href="index.html"><img src="images/Logo HocPlus.svg" alt=""></a>
              </div> <!-- / logo -->
              <a href="index.html" class="home"><i class="fa fa-home"></i></a>
              <nav class="navbar js-navbar-tab">
                <span class="title"><i class="fa fa-th"></i> Danh mục</span>
                <div class="inner">
                  <div class="tab">
                    <div class="tab-button">
                      <div class="item active">Môn Toán</div>
                      <div class="item">Môn Văn</div>
                      <div class="item">Môn Anh</div>
                      <div class="item">Môn Lý</div>
                      <div class="item">Môn Hóa</div>
                      <div class="item">Môn Sinh</div>
                    </div>
                    <div class="tab-body">
                      <div class="item active">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                      <div class="item">
                        <ul class="list">
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 1</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 2</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 3</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 4</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-11.png" alt="">
                              Lớp 5</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              6</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              7</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">Lớp
                              8</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-12.png" alt="">
                              Lớp 9</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 10</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 11</a></li>
                          <li class="list-item"><a href="list-khoa-hoc.html"><img src="images/icon/icon-13.png" alt="">
                              Lớp 12</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </nav> <!-- / navbar -->
            </div> <!-- / left -->
            <div class="right">
              <div class="search">
                <form class="form">
                  <input type="text" placeholder="Tìm kiếm...">
                  <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div> <!-- / search -->
              <a class="btn btn-lecturers" href="dang-ky-giang-vien.html">Dành cho giáo viên</a>
              <!-- / button lecturers -->
              <button class="btn btn-user btn-log-in">Đăng nhập</button> <!-- / user -->
              <button class="btn btn-user btn-registration">Đăng ký</button> <!-- / user -->
              <div class=" notification">
                <div class="icon">
                  <i class="fa fa-bell"></i>
                  <span class="number">6</span>
                  <div class="inner">
                    <div class="wrapper">
                      <div class="title">Thông báo</div>
                      <ol class="list">
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                        <li class="item">
                          <a class="item-inner" href="">
                            <div class="img"><span><img src="images/c1.png" alt=""></span></div>
                            <div class="info">
                              <div class="info-title">Khóa học bồi dưỡng môn Sinh sẽ</div>
                              <div class="info-date">diễn ra vào 15:00 chiều nay</div>
                            </div>
                          </a>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div> <!-- / notification -->
            </div> <!-- / right -->
          </div> <!-- / inner -->
        </div> <!-- / container -->
      </section> <!-- / Top bar -->

    </header> <!-- / Header -->

    <main class="main">

      <nav class="c-breadcrumb">
        <div class="container">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tin tức</li>
          </ol>
        </div>
      </nav> <!-- / breadcrumb -->

      <section class="c-featured-news">
        <div class="container">
          <div class="row">
            <figure class="col-12 col-lg-6 item c-item-news">
              <div class="inner">
                <div class="img">
                  <a href=""><img src="images/c1.png" alt=""></a>
                </div>
                <div class="info">
                  <h2 class="title"><a href="tin-tuc-detail.html">Có những đề thi mà ..."không học thêm thầy, đố mày
                      làm được"</a></h2>
                  <div class="description">LTS: Đưa ra quan điểm về việc ra đề kiểm tra trong các nhà trường, thầy
                    giáo Sơn Quang Huyến nhấn mạnh đến việc ra đề cần cả "tâm" và "tầm", tránh gây ra những tiêu
                    cực gây bức xúc cho học sinh.</div>
                </div>
              </div>
            </figure> <!-- / item -->

            <div class="col-12 col-lg-6 group-item">
              <div class="row">

                <figure class="col-6 item c-item-news">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h3 class="title"><a href="tin-tuc-detail.html">Tình thầy trò mặn - nhạt là do phụ huynh nêm nếm</a></h3>
                    </div>
                  </div>
                </figure> <!-- / item -->
                <figure class="col-6 item c-item-news">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h3 class="title"><a href="tin-tuc-detail.html">Học sinh Hà Nội được nghỉ Tết Dương lịch 2019 mấy
                          ngày?</a></h3>
                    </div>
                  </div>
                </figure> <!-- / item -->
                <figure class="col-6 item c-item-news">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h3 class="title"><a href="tin-tuc-detail.html">Giá trị thật của Sáng kiến kinh nghiệm là gì?</a></h3>
                    </div>
                  </div>
                </figure> <!-- / item -->
                <figure class="col-6 item c-item-news">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h3 class="title"><a href="tin-tuc-detail.html">Nghiêm cấm các trường cắt chương trình học để ôn
                          thi quốc gia</a></h3>
                    </div>
                  </div>
                </figure> <!-- / item -->

              </div>
            </div>
          </div>

        </div>
      </section> <!-- / featured news -->

      <div class="container container-main">
        <div class="row row-main">

          <div class="col-12 col-lg-9 main-left">

            <div class="group-item">
              <figure class="item c-item-news-01">
                <div class="inner">
                  <div class="img">
                    <a href=""><img src="images/c1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <h3 class="title"><a href="tin-tuc-detail.html">Nghệ An thi tuyển sinh lớp 10 theo hình thức tổ hợp
                        trắc nghiệm</a></h3>
                    <div class="description">Ngành giáo dục tỉnh Nghệ An đã trình và được UBND tỉnh thông qua về mặt
                      chủ
                      trương phương án tuyển sinh vào lớp 10 THPT theo hình thức thi mới. Ông Nguyễn Trọng Hoàn - Phó
                      Chánh văn phòng Sở Giáo dục và Đào tạo tỉnh Nghệ An - cho biết ngành giáo dục tỉnh Nghệ An đã
                      trình...</div>
                    <a href="" class="btn">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </figure> <!-- / item -->
              <figure class="item c-item-news-01">
                <div class="inner">
                  <div class="img">
                    <a href=""><img src="images/c1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <h3 class="title"><a href="tin-tuc-detail.html">Nghệ An thi tuyển sinh lớp 10 theo hình thức tổ hợp
                        trắc nghiệm</a></h3>
                    <div class="description">Ngành giáo dục tỉnh Nghệ An đã trình và được UBND tỉnh thông qua về mặt
                      chủ
                      trương phương án tuyển sinh vào lớp 10 THPT theo hình thức thi mới. Ông Nguyễn Trọng Hoàn - Phó
                      Chánh văn phòng Sở Giáo dục và Đào tạo tỉnh Nghệ An - cho biết ngành giáo dục tỉnh Nghệ An đã
                      trình...</div>
                    <a href="" class="btn">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </figure> <!-- / item -->
              <figure class="item c-item-news-01">
                <div class="inner">
                  <div class="img">
                    <a href=""><img src="images/c1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <h3 class="title"><a href="tin-tuc-detail.html">Nghệ An thi tuyển sinh lớp 10 theo hình thức tổ hợp
                        trắc nghiệm</a></h3>
                    <div class="description">Ngành giáo dục tỉnh Nghệ An đã trình và được UBND tỉnh thông qua về mặt
                      chủ
                      trương phương án tuyển sinh vào lớp 10 THPT theo hình thức thi mới. Ông Nguyễn Trọng Hoàn - Phó
                      Chánh văn phòng Sở Giáo dục và Đào tạo tỉnh Nghệ An - cho biết ngành giáo dục tỉnh Nghệ An đã
                      trình...</div>
                    <a href="" class="btn">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </figure> <!-- / item -->
              <figure class="item c-item-news-01">
                <div class="inner">
                  <div class="img">
                    <a href=""><img src="images/c1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <h3 class="title"><a href="tin-tuc-detail.html">Nghệ An thi tuyển sinh lớp 10 theo hình thức tổ hợp
                        trắc nghiệm</a></h3>
                    <div class="description">Ngành giáo dục tỉnh Nghệ An đã trình và được UBND tỉnh thông qua về mặt
                      chủ
                      trương phương án tuyển sinh vào lớp 10 THPT theo hình thức thi mới. Ông Nguyễn Trọng Hoàn - Phó
                      Chánh văn phòng Sở Giáo dục và Đào tạo tỉnh Nghệ An - cho biết ngành giáo dục tỉnh Nghệ An đã
                      trình...</div>
                    <a href="" class="btn">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </figure> <!-- / item -->
              <figure class="item c-item-news-01">
                <div class="inner">
                  <div class="img">
                    <a href=""><img src="images/c1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <h3 class="title"><a href="tin-tuc-detail.html">Nghệ An thi tuyển sinh lớp 10 theo hình thức tổ hợp
                        trắc nghiệm</a></h3>
                    <div class="description">Ngành giáo dục tỉnh Nghệ An đã trình và được UBND tỉnh thông qua về mặt
                      chủ
                      trương phương án tuyển sinh vào lớp 10 THPT theo hình thức thi mới. Ông Nguyễn Trọng Hoàn - Phó
                      Chánh văn phòng Sở Giáo dục và Đào tạo tỉnh Nghệ An - cho biết ngành giáo dục tỉnh Nghệ An đã
                      trình...</div>
                    <a href="" class="btn">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </figure> <!-- / item -->
              <figure class="item c-item-news-01">
                <div class="inner">
                  <div class="img">
                    <a href=""><img src="images/c1.png" alt=""></a>
                  </div>
                  <div class="info">
                    <h3 class="title"><a href="tin-tuc-detail.html">Nghệ An thi tuyển sinh lớp 10 theo hình thức tổ hợp
                        trắc nghiệm</a></h3>
                    <div class="description">Ngành giáo dục tỉnh Nghệ An đã trình và được UBND tỉnh thông qua về mặt
                      chủ
                      trương phương án tuyển sinh vào lớp 10 THPT theo hình thức thi mới. Ông Nguyễn Trọng Hoàn - Phó
                      Chánh văn phòng Sở Giáo dục và Đào tạo tỉnh Nghệ An - cho biết ngành giáo dục tỉnh Nghệ An đã
                      trình...</div>
                    <a href="" class="btn">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </figure> <!-- / item -->
            </div>


            <nav class="section c-navigation v1">
              <div class="container">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link active">1</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">2</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">3</a></li>
                </ul>
              </div>
            </nav> <!-- / navigation -->

          </div> <!-- / main left -->

          <div class="col-12 col-lg-3 main-right">

            <div class="c-new-letter">
              <h3 class="title">Đăng ký nhận tin</h3>
              <div class="text">Đã có hơn 10.000+ học sinh đăng ký</div>
              <form class="form">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputName" placeholder="Tên của bạn">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword" placeholder="Địa chỉ email">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Nhận tin theo tháng</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck2">
                  <label class="form-check-label" for="exampleCheck2">Nhận tin theo tuần</label>
                </div>
                <button type="submit" class="btn btn-red">Đăng ký</button>
              </form>
            </div> <!-- / new letter -->

            <div class="c-follow">
              <h3 class="title">Theo dõi chúng tôi</h3>
              <div class="group-item">
                <div class="item">
                  <span class="icon mail"><i class="fa fa-envelope"></i></span>
                  <span class="text">Theo dõi</span>
                  <span class="number">146,225</span>
                </div>
                <div class="item">
                  <span class="icon facebook"><i class="fa fa-facebook"></i></span>
                  <span class="text">Fans</span>
                  <span class="number">19,7259</span>
                </div>
                <div class="item">
                  <span class="icon twitter"><i class="fa fa-twitter"></i></span>
                  <span class="text">Followers</span>
                  <span class="number">145,668</span>
                </div>
              </div>
            </div> <!-- / follow -->

            <div class="c-news-block">
              <h3 class="title">Tin xem nhiều</h3>
              <div class="group-item">
                <figure class="item">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h4 class="title"><a href="tin-tuc-detail.html">Giáo dục sớm và những lưu ý phụ huynh cần biết</a></h4>
                    </div>
                  </div>
                </figure> <!-- / item -->
                <figure class="item">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h4 class="title"><a href="tin-tuc-detail.html">Giáo dục sớm và những lưu ý phụ huynh cần biết</a></h4>
                    </div>
                  </div>
                </figure> <!-- / item -->
                <figure class="item">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h4 class="title"><a href="tin-tuc-detail.html">Giáo dục sớm và những lưu ý phụ huynh cần biết</a></h4>
                    </div>
                  </div>
                </figure> <!-- / item -->
                <figure class="item">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h4 class="title"><a href="tin-tuc-detail.html">Giáo dục sớm và những lưu ý phụ huynh cần biết</a></h4>
                    </div>
                  </div>
                </figure> <!-- / item -->
                <figure class="item">
                  <div class="inner">
                    <div class="img">
                      <a href=""><img src="images/c1.png" alt=""></a>
                    </div>
                    <div class="info">
                      <h4 class="title"><a href="tin-tuc-detail.html">Giáo dục sớm và những lưu ý phụ huynh cần biết</a></h4>
                    </div>
                  </div>
                </figure> <!-- / item -->
              </div>
            </div> <!-- / news block -->


          </div> <!-- / main right -->

        </div> <!-- / row -->
      </div> <!-- / container -->



    </main>

    <footer class="footer">
        <div class="container">
          <div class="row">
            
            <div class="col-12 col-md-6 col-lg-3 block">
              <div class="block-headline">Hỗ trợ khách hàng</div>
              <div class="contact">
                <div class="item">
                  <a class="item-wrapper" href="tel: +849006675">
                    <img src="src/images/icon-phone.png" alt="">
                    <span><b>1900 6675</b></span>
                  </a>
                </div>
                <div class="item">
                  <a class="item-wrapper" href="mailto: info@hocplus.vn">
                    <img src="src/images/icon-mail.png" alt="">
                    <span>info@hocplus.vn</span>
                  </a>
                </div>
              </div>
            </div>
  
            <div class="col-12 col-md-6 col-lg-3 block">
                <div class="block-headline">Về HocPlus</div>
                <ul class="nav">
                  <li class="nav-item"><a class="nav-link" href="http://">Giới thiệu</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://">Chính sách bảo mật</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://">Điều khoản sử dụng</a></li>
                  <li class="nav-item"><a class="nav-link" href="http://">Hướng dẫn mua khóa học</a></li>
                </ul>
            </div>
  
            <div class="col-12 col-md-6 col-lg-3 block">
                <div class="block-headline">Tải về</div>
                <div class="link-app">
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="images/app-store.png" alt=""></a>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="images/google-play.png" alt=""></a>
                </div>
                <div class="img"><img src="images/bocongthuong.png" alt=""></div>
                <div class="img"><img src="images/DMCA.jpg" alt=""></div>
            </div>
  
            <div class="col-12 col-md-6 col-lg-3 block">
                <div class="block-headline">Kết nối với chúng tôi</div>
                <div class="social">
                  <a class="social-item" href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="src/images/facebook.png" alt="">
                  </a>
                  <a class="social-item" href="http://" target="_blank" rel="noopener noreferrer">
                    <img src="src/images/youtube.png" alt="">
                  </a>
                </div>
                <div class="link-forum">
                  <a href="http://" target="_blank" rel="noopener noreferrer">Forum hocplus</a>
                </div>
            </div>
  
          </div>
        </div>
      </footer> <!-- / footer -->

    <div class="c-user js-user">
        <div class="exit"></div>
        <div class="inner">
          <div class="left">
            <div class="bg">
              <span><img src="images/bg-user.png" alt=""></span>
            </div>
            <div class="wrapper">
  
              <div class="content content-log-in">
                <strong>Bạn đã có<br>tài khoản Học Plus?</strong>
                <p>Học Plus - Website hàng đầu về giáo dục<br>trực tuyến tại Việt Nam</p>
                <span class="btn">Đăng nhập</span>
              </div>
  
              <div class="content content-register show">
                <strong>Bạn chưa có<br>tài khoản Học Plus?</strong>
                <p>Học Plus - Website hàng đầu về giáo dục<br>trực tuyến tại Việt Nam</p>
                <span class="btn">Đăng ký</span>
              </div>
  
            </div>
          </div>
          <div class="right">
            <div class="right-inner">
  
              <div class="form form-log-in show">
                <div class="tabs">
                  <div class="tabs-item tabs-parents-student tabs-active">Phụ huynh/học sinh</div>
                  <div class="tabs-item tabs-teacher">Giáo viên</div>
                </div>
  
                <form class="parents-student show">
                  <!-- <div class="form-group notification">
                    <div class="text">Mật khẩu của bạn đã được cập nhật.
                      <br>Đăng nhập để tiếp tục học.</div>
                    <button class="closed"></button>
                  </div> -->
                  <div class="form-group email">
                    <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
                  </div>
                  <div class="form-group password">
                    <input class="form-control" type="password" placeholder="Mật khẩu">
                  </div>
                  <div class="form-group form-check">
                    <span>
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">Ghi nhớ mật khẩu</label>
                    </span>
                    <span>
                      <span class="btn-forgot-password">Quên mật khẩu?</span>
                    </span>
                  </div>
                  <button class="btn" type="submit">Đăng nhập</button>
                </form>
                <form class="teacher">
                  <!-- <div class="form-group notification">
                    <div class="text">Mật khẩu của bạn đã được cập nhật.
                      <br>Đăng nhập để tiếp tục học.</div>
                    <button class="closed"></button>
                  </div> -->
                  <div class="form-group email">
                    <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
                  </div>
                  <div class="form-group password">
                    <input class="form-control" type="password" placeholder="Mật khẩu">
                  </div>
                  <div class="form-group form-check">
                    <span>
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">Ghi nhớ mật khẩu</label>
                    </span>
                    <span>
                      <span class="btn-forgot-password">Quên mật khẩu?</span>
                    </span>
                  </div>
                  <button class="btn" type="submit">Đăng nhập</button>
                </form>
              </div>
  
              <form class="form form-register">
                <div class="title">Đăng ký</div>
                <div class="form-group email">
                  <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
                </div>
                <div class="form-group password">
                  <input class="form-control" type="password" placeholder="Mật khẩu">
                </div>
                <div class="form-group password">
                  <input class="form-control" type="password" placeholder="Xác nhận mật khẩu">
                </div>
                <div class="form-group phone">
                  <input class="form-control" type="email,phone" placeholder="Xác thực bằng Email hoặc SĐT">
                </div>
                <div class="form-group check">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="exampleRadios1">Học sinh</label>
                    <span class="checkmark"></span>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">Phụ huynh</label>
                    <span class="checkmark"></span>
                  </div>
                </div>
  
                <button class="btn" type="submit">Đăng ký</button>
              </form>
  
              <form class="form form-restore-password">
                <div class="title">Lấy lại mật khẩu</div>
                <div class="content">
                  Để lấy lại mật khẩu, bạn nhập email hoặc số điện thoại đăng nhập vào ô dưới đây. Sau đó Học Plus sẽ gửi
                  email hướng dẫn bạn khôi phục mật khẩu
                </div>
                <div class="form-group notification">
                  <div class="text">Một email/tin nhắn chứa nội dung hướng dẫn khởi tạo lại mật khẩu đã được gửi đi. Bạn
                    vui lòng kiểm tra và làm theo hướng dẫn.</div>
                  <button class="closed"></button>
                </div>
                <div class="form-group check">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                      checked="">
                    <label class="form-check-label" for="exampleRadios1">Học sinh/Phụ huynh</label>
                    <span class="checkmark"></span>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">Phụ huynh</label>
                    <span class="checkmark"></span>
                  </div>
                </div>
                <div class="form-group email">
                  <input class="form-control " type="email,phone" placeholder="Email hoặc số điện thoại">
                </div>
                <button class="btn" type="submit">Tiếp tục</button>
              </form>
  
              <form class="form form-new-password">
                <div class="title">Phục hồi mật khẩu</div>
                <div class="content">
                  Bạn vừa yêu cầu đặt mật khẩu mới đăng nhập trên Học Plus. Vui lòng nhập mật khẩu mới vào ô bên dưới
                  (Nên có chữ in hoa, số hoặc dấu).
                </div>
                <div class="form-group check">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                      checked="">
                    <label class="form-check-label" for="exampleRadios1">Học sinh/Phụ huynh</label>
                    <span class="checkmark"></span>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">Phụ huynh</label>
                    <span class="checkmark"></span>
                  </div>
                </div>
                <div class="form-group password">
                  <input class="form-control " type="email,phone" placeholder="Mật khẩu">
                </div>
                <button class="btn" type="submit">Hoàn thành</button>
              </form>
  
              <div class="other show">
                <p>- Hoặc -</p>
                <a href="" class="btn btn-facebook"><i class="fa fa-facebook"></i> <span>Đăng ký bằng facebook</span></a>
                <a href="" class="btn btn-goole"><i class="fa fa-google"></i> <span>Đăng ký bằng google</span></a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    <div class="over-body"></div> <!-- / over body -->

    <div class="c-slideout js-slideout">
      <div class="inner">
        <div class="group-btn">
          <a href="" class="btn btn-lecturers">Dành cho giáo viên</a>
          <button class="btn btn-user">Đăng nhập</button>
        </div>
        <nav class="slideout-navbar">
          <ul class="nav">
            <li class="nav-item">
              <a href="" class="nav-link">Môn Toán</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Văn</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Anh</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Lý</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Hóa</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Môn Sinh</a>
              <ul>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 1</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 2</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 3</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 4</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 5</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 6</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 7</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 8</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 9</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 10</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 11</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Lớp 12</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div> <!-- / slideout -->

  </div> <!-- / App -->

  <!-- js -->
  <script src="src/js/jquery-3.3.1.min.js"></script>
  <script src="src/js/jquery.fancybox.min.js"></script>
  <script src="src/js/slick.min.js"></script>
  <script src="src/js/main.js"></script>

</body>

</html>