.c-section-1 {
  position: relative;
  height: 142.0333333vw;
  overflow: hidden;

  .class-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/mobile/bg-section.png);
    background-size: 100% 100%;

    @media (min-width: $breakpoints-xl) {
      background-image: url(../images/pc/bg-section.png);
      background-size: cover;
      background-position: center;
    }
  }

  .class-2 {
    display: none;

    @media (min-width: $breakpoints-xl) {
      display: block;
      position: absolute;
      z-index: 4;
      left: 0;
      top: 18vh;
      width: 69.167vh;
      height: 72.686vh;
      background-image: url(../images/pc/ben-trai.png);
      background-size: cover;
    }
  }

  .class-3 {
    display: none;

    @media (min-width: $breakpoints-xl) {
      display: block;
      position: absolute;
      z-index: 2;
      right: 0;
      top: 23vh;
      width: 74.26vh;
      height: 59.445vh;
      background-image: url(../images/pc/ben-phai.png);
      background-size: cover;
    }
  }

  .logo-game {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 41.564vw;
    height: 29.53333vw;
    background-image: url(../images/logo-game.png);
    background-size: cover;

    @media (min-width: $breakpoints-xl) {
      width: 24.63vh;
      height: 17.5vh;
    }
  }

  .name {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    width: 95.626vw;
    height: 42.657vw;
    background-image: url(../images/mobile/name.png);
    background-size: cover;

    @media (min-width: $breakpoints-xl) {
      width: 91.39vh;
      height: 44.353vh;
      top: 29vh;
      z-index: 3;
      background-image: url(../images/pc/name.png);
    }
  }

  .play {
    position: absolute;
    z-index: 5;
    width: 19.532vw;
    height: 19.532vw;
    top: 63%;
    left: 27%;
    background-image: url(../images/play.png);
    background-size: cover;
    animation: infinite play 1s ease-in-out;

    @media (min-width: $breakpoints-xl) {
      width: 13.519vh;
      height: 13.519vh;
      top: 49vh;
      left: 68vh;
    }
  }
}



@keyframes play {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}