<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="./src/vendor/fancyapps/jquery.fancybox.min.css">
  <link rel="stylesheet" href="./src/vendor/slick/slick.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>

  <div id="app">

    <header class="c-header">

      <section class="topbar">

        <a class="branb" href="./index.html">
          <img src="./images/logo.png" alt="logo">
        </a>

        <div class="btn-group">
          <a href="#" class="btn">
            <img src="./images/btn-01.png">
          </a>
          <a href="#" class="btn">
            <img src="./images/btn-02.png">
          </a>
          <a href="#" class="btn">
            <img class="statu-1" src="./images/pc/btn-01.png">
            <img class="statu-2" src="./images/pc/btn-hover-01.png">
          </a>
          <a href="#" class="btn">
            <img class="statu-1" src="./images/pc/btn-02.png">
            <img class="statu-2" src="./images/pc/btn-hover-02.png">
          </a>
        </div>

        <div class="nav-trigger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

      </section>
      <!-- topbar end -->

      <div class="fix-18">
        <img src="./images/pc/18.png">
      </div>
      <!-- fix 18 end -->

      <div class="link-fix-mobile">
        <a href="#"><img src="./images/fanpage.png"></a>
        <a href="#"><img src="./images/group.png"></a>
        <a href="#"><img src="./images/hotro.png"></a>
      </div>

      <div class="btn-open-fix"></div>
      <div class="link-fix active">
        <div class="btn-exit"></div>
        <div class="group-1">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
        <div class="group-2">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a class="back-top" href="#"></a>
        </div>
      </div>
      <!-- link fix end -->

    </header>
    <!-- header end -->

    <main class="main">

      <section class="section c-section-1">

        <div class="group">
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>

      </section>
      <!-- section 1 end -->

      <section class="section c-section-2">
        <div class="nhan-vat">
          <div class="item"><img class="mobile" src="./images/tuong-1.png"><img class="pc"
              src="./images/pc/tuong-1.png"></div>
          <div class="item"><img class="mobile" src="./images/tuong-2.png"><img class="pc"
              src="./images/pc/tuong-2.png"></div>
          <div class="item"><img class="mobile" src="./images/tuong-3.png"><img class="pc"
              src="./images/pc/tuong-3.png"></div>
          <div class="item"><img class="mobile" src="./images/tuong-4.png"><img class="pc"
              src="./images/pc/tuong-4.png"></div>
        </div>
      </section>
      <!-- section 2 end -->

      <div class="section c-section-3">

        <div class="tham-gia">
          <a href="#">
            <img class="mobile" src="./images/tham-gia.png">
            <img class="pc" src="./images/pc/tham-gia.png">
          </a>
        </div>

        <div class="btn-group">
          <a href="#" class="btn">
            <img class="mobile" src="./images/btn-03.png">
            <img class="pc statu-1" src="./images/pc/btn-03.png">
            <img class="pc statu-2" src="./images/pc/btn-hover-03.png">
          </a>
          <a href="#" class="btn">
            <img class="mobile" src="./images/btn-04.png">
            <img class="pc statu-1" src="./images/pc/btn-04.png">
            <img class="pc statu-2" src="./images/pc/btn-hover-04.png">
          </a>
          <a href="#" class="btn">
            <img class="mobile" src="./images/btn-05.png">
            <img class="pc statu-1" src="./images/pc/btn-05.png">
            <img class="pc statu-2" src="./images/pc/btn-hover-05.png">
          </a>
          <a href="#" class="btn">
            <img class="mobile" src="./images/btn-06.png">
            <img class="pc statu-1" src="./images/pc/btn-06.png">
            <img class="pc statu-2" src="./images/pc/btn-hover-06.png">
          </a>
        </div>

      </div>
      <!-- section 3 end -->

      <section class="section c-section-4">
        <a href="#" class="wrapper" data-modal="#popup-baodanh">
          <span class="btn">
            <img class="mobile" src="./images/btn-07.png">
            <img class="pc" src="./images/pc/btn-07.png">
          </span>
        </a>
      </section>
      <!-- section 4 end -->

      <section class="section c-section-5">
        <div class="slider">
          <div class="over"></div>
          <div class="dac-sac">
            <div class="item">
              <a href="#">
                <img src="./images/slider.png">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="./images/slider.png">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="./images/slider.png">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="./images/slider.png">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="./images/slider.png">
              </a>
            </div>
          </div>
        </div>

      </section>
      <!-- section 5 end -->

    </main>
    <!-- / main end -->

    <footer class="footer">
      <img src="./images/18.png" class="logo-18">
      <div class="info">
        Copyright © 2020 Tan Minh Chu Corporation. All Rights Reserved.
        <br>
        <br>
        Chơi quá 180 phút một ngày sẽ ảnh hưởng xấu đến sức khỏe
      </div>
    </footer>
    <!-- footer end -->


    <div class="modal popup-baodanh" id="popup-baodanh">
      <div class="modal-inner">

        <h3 class="title">Báo danh nhận quà</h3>
        <form class="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="DANH TÍNH CỦA ĐẠI HIỆP">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" placeholder="SĐT CỦA ĐẠI HIỆP">
          </div>
          <div class="btn-group">
            <button class="btn" type="button"><img src="./images/btn-09.png"></button>
            <button class="btn btn-exit"><img src="./images/btn-10.png"></button>
          </div>
        </form>

      </div>
    </div>
    <!-- popup bao danh end -->

    <div class="modal popup-baodanh" id="popup-giftcode">
      <div class="modal-inner">

        <h3 class="title">CHÚC MÙNG</h3>
        <div class="content">Cảm ơn Đại hiệp đã tham gia Báo danh</div>
        <div class="giftcode">Code: 123xyzabc</div>
        <div class="btn-group">
          <button class="btn" type="button"><img src="./images/btn-08.png"></button>
        </div>

      </div>
    </div>
    <!-- popup giftcode end -->

    <div class="modal popup-baodanh" id="popup-notification">
      <div class="modal-inner">

        <h3 class="title">Thông báo</h3>
        <div class="content">Nội dung thông báo</div>
        <div class="btn-group">
          <button class="btn" type="button"><img src="./images/btn-08.png"></button>
        </div>

      </div>
    </div>
    <!-- popup notification end -->

    <!-- Hưỡng dẫn sử dụng popup 
    - hàm mở: openModal(e)
    - hàm đóng: exitModal(e)
    - nut mở thêm: data-modal="#ID"
    - Class đóng: btn-exit
    
    * Ví Dụ mở popup-baodanh
      - hàm mở: openModal('#popup-baodanh')
      - hàm đóng: exitModal('#popup-baodanh')
      - Thêm nut mở vào: <a href="#" class="wrapper" data-modal="#popup-baodanh"></a>
      - Thêm Class đóng vào: <button class="btn btn-exit"><img src="./images/btn-10.png"></button>
    -->



  </div>


  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/fancyapps/jquery.fancybox.min.js"></script>
  <script src="./src/vendor/slick/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>