<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/./css/font-awesome.min.css" />
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="vendor/datePicker/jquery-ui.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/slick/slick.css" />
    <link rel="stylesheet" href="./css/stylesheet.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/responsive.css" />
</head>

<body>

    <!-- header -->
    <header id="header">
        <!-- top bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="email-tb">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <span>info@psvtravel.com.vn</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <div class="calendar-tb">
                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Lịch Khởi Hành</a>
                        </div>
                        <div class="social-tb">
                            <a href="#"><img src="./css/icons/tb1.png" alt=""></a>
                            <a href="#"><img src="./css/icons/tb2.png" alt=""></a>
                            <a href="#"><img src="./css/icons/tb3.png" alt=""></a>
                            <a href="#"><img src="./css/icons/tb4.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end top bar -->
        <!-- header main -->
        <div class="container header-main">
            <div class="row">
                <div class="col-12">
                    <!-- logo -->
                    <div class="logo">
                        <img src="./pic/logo.png" alt="">
                    </div>
                    <!-- end logo -->
                    <!--search-->
                    <div class="search">
                        <div class="form-search">
                            <input type="text" placeholder="Từ khóa tìm kiếm">
                            <a href="#"><img src="./css/icons/search.png" alt=""> Tìm kiếm</a>
                        </div>
                    </div>
                    <!--end search-->
                    <!-- hotline -->
                    <div class="hotline-h">
                        <div class="inner-hh">
                            <span>Hotline</span>
                            <a href="#">0977 87 87 39 / 0938 67 67 79</a>
                        </div>
                    </div>
                    <!-- end hotline -->
                </div>
            </div>
        </div>
        <!-- end header main -->
        <!-- menu main -->
        <nav class="menu-main">
            <div class="inner">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><img src="./css/icons/home.png" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GIới thiệu</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Du lịch nước ngoài</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Du lịch trong nước</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Du lịch chủ đề</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Visa du lịch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vé máy bay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">cho thuê xe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tuyển dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- menu main -->
    </header>
    <!-- end header -->

    <!-- image page -->
    <section class="images-page">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="#">
                <img src="./pic/demo.jpg">
            </a>
        </div>
    </section>
    <!-- end image page -->

    <!-- breadcrumb -->
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <nav class="col-12 breadcrumb">
                    <a class="breadcrumb-item" href="#">Trang chủ</a>
                    <a class="breadcrumb-item" href="#">Giới thiệu</a>
                </nav>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <!-- main -->
    <main id="main" class="offset25">
        <div class="container">
            <div class="row">
                <!-- left main -->
                <div class="col-12 left-main">
                    <div class="clear item-new">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                <img src="./pic/demo.jpg">
                            </a>
                        </div>
                        <div class="content">
                            <h3><a href="#">Pariatur laborum nostrud adipisicing consequat sit quis.</a></h3>
                            <div class="summary">Incididunt enim cillum eu aliqua dolore. Aliqua amet eu pariatur sit minim sit aute nulla. Qui
                                culpa incididunt velit commodo dolor pariatur nulla eu do. Ullamco aliqua aliquip occaecat
                                excepteur excepteur adipisicing enim aliquip in dolore minim magna aliqua. Non aliqua voluptate
                                non quis Lorem sit.</div>
                        </div>
                        <div class="time-new"><span>19/08</span><span>2017</span></div>
                    </div>
                    <div class="clear item-new">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo.jpg">
                                </a>
                        </div>
                        <div class="content">
                            <h3><a href="#">Pariatur laborum nostrud adipisicing consequat sit quis.</a></h3>
                            <div class="summary">Incididunt enim cillum eu aliqua dolore. Aliqua amet eu pariatur sit minim sit aute nulla. Qui
                                culpa incididunt velit commodo dolor pariatur nulla eu do. Ullamco aliqua aliquip occaecat
                                excepteur excepteur adipisicing enim aliquip in dolore minim magna aliqua. Non aliqua voluptate
                                non quis Lorem sit.</div>
                        </div>
                        <div class="time-new"><span>19/08</span><span>2017</span></div>
                    </div>
                    <div class="clear item-new">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                        <img src="./pic/demo.jpg">
                                    </a>
                        </div>
                        <div class="content">
                            <h3><a href="#">Pariatur laborum nostrud adipisicing consequat sit quis.</a></h3>
                            <div class="summary">Incididunt enim cillum eu aliqua dolore. Aliqua amet eu pariatur sit minim sit aute nulla. Qui
                                culpa incididunt velit commodo dolor pariatur nulla eu do. Ullamco aliqua aliquip occaecat
                                excepteur excepteur adipisicing enim aliquip in dolore minim magna aliqua. Non aliqua voluptate
                                non quis Lorem sit.</div>
                        </div>
                        <div class="time-new"><span>19/08</span><span>2017</span></div>
                    </div>
                    <div class="clear item-new">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                            <img src="./pic/demo.jpg">
                                        </a>
                        </div>
                        <div class="content">
                            <h3><a href="#">Pariatur laborum nostrud adipisicing consequat sit quis.</a></h3>
                            <div class="summary">Incididunt enim cillum eu aliqua dolore. Aliqua amet eu pariatur sit minim sit aute nulla. Qui
                                culpa incididunt velit commodo dolor pariatur nulla eu do. Ullamco aliqua aliquip occaecat
                                excepteur excepteur adipisicing enim aliquip in dolore minim magna aliqua. Non aliqua voluptate
                                non quis Lorem sit.</div>
                        </div>
                        <div class="time-new"><span>19/08</span><span>2017</span></div>
                    </div>
                    <div class="clear item-new">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                <img src="./pic/demo.jpg">
                                            </a>
                        </div>
                        <div class="content">
                            <h3><a href="#">Pariatur laborum nostrud adipisicing consequat sit quis.</a></h3>
                            <div class="summary">Incididunt enim cillum eu aliqua dolore. Aliqua amet eu pariatur sit minim sit aute nulla. Qui
                                culpa incididunt velit commodo dolor pariatur nulla eu do. Ullamco aliqua aliquip occaecat
                                excepteur excepteur adipisicing enim aliquip in dolore minim magna aliqua. Non aliqua voluptate
                                non quis Lorem sit.</div>
                        </div>
                        <div class="time-new"><span>19/08</span><span>2017</span></div>
                    </div>
                    <div class="clear item-new">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                    <img src="./pic/demo.jpg">
                                                </a>
                        </div>
                        <div class="content">
                            <h3><a href="#">Pariatur laborum nostrud adipisicing consequat sit quis.</a></h3>
                            <div class="summary">Incididunt enim cillum eu aliqua dolore. Aliqua amet eu pariatur sit minim sit aute nulla. Qui
                                culpa incididunt velit commodo dolor pariatur nulla eu do. Ullamco aliqua aliquip occaecat
                                excepteur excepteur adipisicing enim aliquip in dolore minim magna aliqua. Non aliqua voluptate
                                non quis Lorem sit.</div>
                        </div>
                        <div class="time-new"><span>19/08</span><span>2017</span></div>
                    </div>
                    <div class="clear item-new">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                        <img src="./pic/demo.jpg">
                                                    </a>
                        </div>
                        <div class="content">
                            <h3><a href="#">Pariatur laborum nostrud adipisicing consequat sit quis.</a></h3>
                            <div class="summary">Incididunt enim cillum eu aliqua dolore. Aliqua amet eu pariatur sit minim sit aute nulla. Qui
                                culpa incididunt velit commodo dolor pariatur nulla eu do. Ullamco aliqua aliquip occaecat
                                excepteur excepteur adipisicing enim aliquip in dolore minim magna aliqua. Non aliqua voluptate
                                non quis Lorem sit.</div>
                        </div>
                        <div class="time-new"><span>19/08</span><span>2017</span></div>
                    </div>
                    <!--SplitPages-->
                    <div class="splitPages">
                        <div class="SplitPages">
                            <a class="dau" href="#">Đầu</a>
                            <a class="truoc" href="#">Trước</a>
                            <a class="hientai" href="#">1</a>
                            <a class="trangkhac" href="#">2</a>
                            <a class="trangkhac" href="#">3</a>
                            <a class="trangkhac" href="#">4</a>
                            <a class="sau" href="#">Sau</a>
                            <a class="cuoi" href="#">Cuối</a>
                        </div>
                    </div>
                    <!--end SplitPages-->
                </div>
                <!-- end left main -->
                <!-- right main -->
                <div class="col-12 right-main">
                    <!-- search tour -->
                    <div class="search-tour02">
                        <div class="top-right">
                            <a href="#">TÌm kiếm Tour</a>
                        </div>
                        <div class="inner">
                            <div class="d1">
                                <p>Tìm tên tour:</p>
                                <select>
                                    <option>tour1</option>
                                    <option>tour2</option>
                                </select>
                            </div>
                            <div class="d1">
                                <p>Khởi hành từ:</p>
                                <select>
                                    <option>ha noi</option>
                                    <option>h c m</option>
                                </select>
                            </div>
                            <div class="d1">
                                <p>Ngày khởi hành:</p>
                                <input class="datepicker2" type="text" id="tbBirthDay" placeholder="dd/mm/yy">
                            </div>
                            <div class="d1">
                                <p>Điểm đến:</p>
                                <select>
                                    <option>h c m</option>
                                    <option>ha noi</option>
                                </select>
                            </div>
                            <a href="#">Tìm kiếm</a>
                        </div>
                    </div>
                    <!-- end search tour -->
                    <!-- why us -->
                    <div class="why-us">
                        <div class="top-right">
                            <a href="#">TẠI SAO CHỌN CHÚNG TÔI?</a>
                        </div>
                        <div class="link">
                            <a href="#">15 năm kinh nghiệm ngành du lịch</a>
                            <a href="#">Đảm bảo chất lượng và dịch vụ tốt nhất</a>
                            <a href="#">Uy tín đặt lên hàng đầu</a>
                            <a href="#">Giá cả cạnh tranh tốt nhất</a>
                            <a href="#">15 năm kinh nghiệm ngành du lịch</a>
                            <a href="#">Đảm bảo chất lượng và dịch vụ tốt nhất</a>
                            <a href="#">Uy tín đặt lên hàng đầu</a>
                            <a href="#">Giá cả cạnh tranh tốt nhất</a>
                        </div>
                    </div>
                    <!-- end why us -->
                    <!-- tours hot -->
                    <div class="tours-hot">
                        <div class="top-right">
                            <a href="#">TOURS NỔI BẬT</a>
                        </div>
                        <div class="inner">
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                        <img src="./pic/demo.jpg">
                                                    </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/demo.jpg">
                                                        </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                                <img src="./pic/demo.jpg">
                                                            </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                                    <img src="./pic/demo.jpg">
                                                                </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                                        <img src="./pic/demo.jpg">
                                                                    </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                        </div>
                    </div>
                    <!-- end tours hot -->
                    <!-- tours hot -->
                    <div class="tours-hot">
                        <div class="top-right">
                            <a href="#">Dịch vụ NỔI BẬT </a>
                        </div>
                        <div class="inner">
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/demo.jpg">
                                                        </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                                <img src="./pic/demo.jpg">
                                                            </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                                    <img src="./pic/demo.jpg">
                                                                </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                                        <img src="./pic/demo.jpg">
                                                                    </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                            <div class="item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                                            <img src="./pic/demo.jpg">
                                                                        </a>
                                </div>
                                <a href="#">Nisi dolore do cillum adipisicing sit Lorem excepteur.</a>
                            </div>
                        </div>
                    </div>
                    <!-- end tours hot -->
                    <!-- adv gender 5 -->
                    <div class="adv-gender5">
                        <a href="#">
                            <img src="./pic/qc2.png" alt="">
                        </a>
                    </div>
                    <!-- end adv gender 5 -->
                    <!-- news right -->
                    <div class="news-right">
                        <div class="top-right">
                            <a href="#">TIN TỨC NỔI BẬT</a>
                        </div>
                        <div class="inner">
                            <a href="#"><span>Ut ad pariatur quis fugiat est nisi occaecat cupidatat elit culpa officia et.</span></a>
                            <a href="#"><span>Elit culpa pariatur dolore commodo ad incididunt duis elit sint cupidatat id id.</span></a>
                            <a href="#"><span>Minim velit elit non id cillum et.</span></a>
                            <a href="#"><span>Voluptate ad commodo voluptate laboris anim adipisicing ullamco. Aliquip esse consequat ex est eu non. Voluptate adipisicing reprehenderit veniam non. Consequat magna mollit sit aliquip occaecat labore enim id sunt id in minim. Voluptate officia ut excepteur culpa do in do eu exercitation. Esse cillum qui eiusmod cupidatat adipisicing labore amet dolor. Commodo magna tempor incididunt ipsum esse reprehenderit incididunt officia adipisicing Lorem occaecat exercitation.</span></a>
                            <a href="#"><span>Culpa ipsum qui exercitation laborum reprehenderit qui commodo id.</span></a>
                        </div>
                    </div>
                    <!-- end news right -->
                </div>
                <!-- end right main -->
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 offset25">
                    <div class="block-f1">
                        <strong>Thông tin công ty</strong>
                        <div class="content">
                            <div class="d1"><b>Công Ty cổ phần du lịch P.s.v Travel</b></div>
                            <div class="d1">Địa chỉ: 529 Huỳnh Tấn Phát, P. Tân Thuận Đông, Q.7, TP HCM</div>
                            <div class="d1"><span>Điện thoại: (+84 28) 666 00008</span><span>Fax: (+84 28) 2253 7799</span></div>
                            <div class="d1">Email: info@psvltravel.com</div>
                        </div>
                        <a href="#"><img src="./css/icons/g2.png" alt=""><span> Bản đồ chỉ dẫn </span><img src="./css/icons/g1.png" alt=""></a>
                    </div>
                    <div class="block-f2">
                        <strong>Dịch vụ</strong>
                        <div class="link-f">
                            <a href="#">Giới thiệu</a>
                            <a href="#">Tour trong nước</a>
                            <a href="#">Tour ngoài nước</a>
                            <a href="#">Đặt vé</a>
                            <a href="#">Làm visa</a>
                            <a href="#">Cẩm nang du lịch</a>
                        </div>
                    </div>
                    <div class="block-f3">
                        <strong>PSV TRAVEL trên</strong>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </div>
                        <div class="register-news">
                            <strong>Đăng ký bản tin</strong>
                            <p>Bạn hãy nhập mail của mình vào đây</p>
                            <div class="form">
                                <input type="text" placeholder="Nhập email của bạn...">
                                <a href="#">gửi</a>
                            </div>
                        </div>
                    </div>
                    <div class="block-f4">
                        <div id="fb-root"></div>
                        <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src =
                                    "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
                            data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span>Copyright © 2017 psvltravel.com. All rights reserved. Thiết kế website và SEO - Google Tất Thành</span>
                        <span>Đang online: 20</span>
                        <span>Tổng truy cập: 125890</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->


</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
<script type="text/javascript" src="vendor/google-map/infobox.js"></script>
<script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
<script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script> thanh overflow: auto;
<script type="text/javascript" src="vendor/jquery.dotdotdot.min.js"></script>
<script type="text/javascript" src="vendor/datePicker/jquery-ui-1.11.4.js"></script>
<script type="text/javascript" src="vendor/datePicker/date-vi-VN.js"></script>
<script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>