<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      text-align: center;
    }
  </style>
</head>
<body>
  
  <div class="container">
    <div class="inner">
      <h1><a href="./dang-nhap.html">Đăng nhập</a></h1>
      <h1><a href="./dang-ky.html">Đăng ký</a></h1>
      <h1><a href="./chon-nhan-vat.html">Chọn nhân vật</a></h1>
      <h1><a href="./tai-khoan.html">Tài khoản</a></h1>
      <h1><a href="./quan-ly-tai-khoan.html">Quản lý tài khoản</a></h1>
      <h1><a href="./giftcode.html">Giftcode</a></h1>
      <h1><a href="./cskh.html">CSKH</a></h1>
      <h1><a href="./config-tai-khoan.html">Config tài khoản</a></h1>
      <h1><a href="./rut-knb.html">Rút KNB</a></h1>
      <h1><a href="./goi-uu-dai.html">Gói ưu đãi</a></h1>
      <h1><a href="./nap-the.html">Nạp thẻ</a></h1>
      <h1><a href="./chon-nap-the.html">Chọn nạp thẻ</a></h1>
      <h1><a href="./lich-su.html">Lịch sử</a></h1>
    </div>
  </div>

</body>
</html>