$ff1: 'Arimo', sans-serif;
$ff2: 'Source Sans Pro', sans-serif;
$fffa: 'FontAwesome';

$fs1: 15px;
$fs2: 16px;
$fs3: 18px;
$fs4: 24px;
$fs5: 30px;

$lh1: 22px;
$lh2: 28px;
$lh3: 34px;

$clfff: #fff;
$cl333: #333;
$cl666: #666;
$cl999: #999;
$cl1: #229651;
$cl2: #2aa65d;
$cl3: #36c610;
$cl4: #eb1717;
$cl5: #f7f7f7;
$cl6: #eaeaea;
$cl7: #e2e2e2;


$time-a1: all 0.3s ease-in;
$time-a2: all 0.5s ease-in;

$radius: 4px;