<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./src/vendor/fancyapps/jquery.fancybox.min.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>
 

  <div id="app">

    <header class="header">

      <section class="topbar">
        <div class="container">
          <a class="branb" href="./index.html">
            <img src="./images/logo.png" alt="logo">
            <h1>Tam Anh <br> Thủ Thành</h1>
          </a> <!-- / branb -->
          <div class="btn-group">
            <a class="btn" href="#">Tải Game</a>
          </div> <!-- / btn group -->
          <div class="nav-trigger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div> <!-- / nav trigger end -->
        </div>
      </section>
      <!-- topbar end -->

      <nav class="navbar">
        <div class="container">
          <a class="branb" href="./index.html">
            <img src="./images/pc/logo.png" alt="logo">
          </a> <!-- / branb -->
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#">Tin tức</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Sự kiện</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Cẩm nang</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Cộng đồng</a></li>
          </ul> <!-- / nav -->
        </div>
      </nav>
      <!-- navbar end -->

      <div class="fix-18"></div>

    </header>
    <!-- header end -->

    <section class="c-hero">
      <div class="class-1"></div>
      <div class="class-2"></div>
      <div class="class-3"></div>
      <div class="name"><a class="play" href="#"></a></div>
    </section>
    <!--  hero end -->

    <main class="main">

      <nav class="nav-download">
        <div class="container">
          <a class="branb" href="./index.html">
            <img src="./images/pc/logo-game.png" alt="logo">
          </a> <!-- / branb -->
          <h1 class="name-game">Tam Anh Thủ Thành</h1>
          <ul class="nav">
            <li class="nav-item">
              <a class="btn" href="#">
                <span class="icon icon-app-store"></span>
                <div class="info">
                  <div class="name">AppStore</div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn" href="#">
                <span class="icon icon-google-play"></span>
                <div class="info">
                  <div class="name">Android</div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn" href="#">
                <span class="icon icon-ipa"></span>
                <div class="info">
                  <div class="name">Tải IPA</div>
                  <div class="statu">Trực tiếp</div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn" href="#">
                <span class="icon icon-apk"></span>
                <div class="info">
                  <div class="name">Tải APK</div>
                  <div class="statu">Trực tiếp</div>
                </div>
              </a>
            </li>
          </ul> <!-- / btn group -->
        </div>
      </nav>
      <!-- nav download end -->

      <nav class="nav-page">
        <div class="container">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#"><span class="icon icon-tintuc"></span><span
                  class="text">tin
                  tức</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><span class="icon icon-napxu"></span><span
                  class="text">nạp
                  xu</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><span class="icon icon-giftcode"></span><span
                  class="text">GIFTCODE</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><span class="icon icon-fanpage"></span><span
                  class="text">Fanpage</span></a></li>
          </ul>
        </div>
      </nav>
      <!-- nav page end -->

      <section class="news">
        <div class="container">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item">Tin Tức</li>
          </ul> <!-- / breadcrumb -->

          <div class="box">
            <figure class="item">
              <h3 class="title"><a href="#">Tin 1</a></h3>
            </figure> <!-- / item -->
            <figure class="item">
              <h3 class="title"><a href="#">Tin 2</a></h3>
            </figure> <!-- / item -->
            <figure class="item">
              <h3 class="title"><a href="#">Tin 3</a></h3>
            </figure> <!-- / item -->
            <figure class="item">
              <h3 class="title"><a href="#">Tin 4</a></h3>
            </figure> <!-- / item -->
          </div>

        </div>
      </section>
      <!-- news end -->

    </main>
    <!-- / main end -->

    <footer class="footer">
      <div class="container">
        <div class="info">
          <div class="group">
            <!-- <img class="logo-cty" src="./images/logo-cty.png" alt="logo cong ty"> -->
            <img class="logo-18" src="./images/logo18-footer.png" alt="logo-18">
          </div>
          <!-- <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#">About Gzone</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Hỗ trợ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Tài Khoản</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Nạp Thẻ</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Điều Khoản*</a></li>
          </ul> -->
          <div class="contact">
            Copyright: Tamanhthuthanh.mobi <br>
            Email hỗ trợ: cskhtamanhthuthanh@gmail.com <br>
            Chơi game quá 180 phút mỗi ngày ảnh hưởng xấu đến sức khỏe
            <!-- Bản quyền © 2020 Gzone
            <br>
            Email: Hotro@Gzone.vn | HOtline: 1900 088 885
            <br>
            Thời gian: 8:00 - 22:00 tất cả các ngày (GMT + 7)
            <br>
            Giấy phép G1 số: 22/GP-BTTTT ngày 17 tháng 01 năm 2020
            <br>
            Chơi quá 180 phút một ngày sẽ ảnh hưởng xấu đến sức khỏe
            <br>
            Chịu trách nhiệm nội dung: Ông Nguyễn Công Vương -->
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

  </div>


  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/fancyapps/jquery.fancybox.min.js"></script>
  <script src="./src/vendor/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>