<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/./css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/datePicker/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="./css/csstt.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">

</head>

<body>

    <!-- header -->
    <header id="header">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-4 col-md-2 logo">
                    <a href="#">
                        <img src="./pic/logo.png" alt="">
                    </a>
                </div>
                <div class="col-8 col-md-10 text-right function">
                    <div class="text">
                        <b>SAPA TRAVEL MATE</b>
                        <span>chuyên tổ chức tour du lịch Sapa chuyên nghiệp:</span>
                        <p>
                            <b>TOUR ĐÔNG - TÂY BẮC - SAPA</b>
                        </p>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="btn-01">
                            <span class="icon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <span class="name">Đặt tour
                                <br> theo yêu cầu</span>
                        </a>
                        <a href="#" class="btn-01">
                            <span class="icon">
                                <i class="fa faone" aria-hidden="true"></i>
                            </span>
                            <span class="name">Yêu cầu
                                <br> tư vấn</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- main -->
    <main>
        <!-- breadcrumb page -->
        <section class="breadcrumb-page">
            <div class="img">
                <div class="framed-image">
                    <a class="cut" href="#">
                        <img src="./pic/slider1.png">
                    </a>
                </div>
            </div>
            <div class="link-page">
                <div class="container text-center">
                    <h1>liên hệ</h1>
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="#">Trang chu</a>
                        <a class="breadcrumb-item" href="#">liên hệ</a>
                    </nav>
                </div>
            </div>
        </section>
        <!-- img page end -->

        <!-- search tour -->
        <section class="search-tour">
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <p class="col-12 id-01">TÌM KIẾM TOUR DU LỊCH PHÙ HỢP</p>
                        <p class="col-12 col-md-4 col-lg-3 id-02">
                            <select>
                                <option value="">Điểm khởi hành</option>
                                <option value="HỒ CHÍ MINH">HỒ CHÍ MINH</option>
                                <option value="NewYork">NewYork</option>
                                <option value="TP HỒ CHÍ MINH">TP HỒ CHÍ MINH</option>
                            </select>
                        </p>
                        <p class="col-12 col-md-4 col-lg-3 id-03">
                            <select>
                                <option value="">Điểm đến</option>
                                <option value=" Los Angeles"> Los Angeles</option>
                                <option value="HÀN QUỐC">HÀN QUỐC</option>
                                <option value="NHẬT BẢN">NHẬT BẢN</option>
                            </select>
                        </p>
                        <p class="col-12 col-md-4 col-lg-3 id-04">
                            <input type="text" placeholder="Ngày khởi hành" class="datepicker2" id="tbBirthDay">
                        </p>
                        <p class="col-12 col-md-4 col-lg-3 id-05">
                            <a href="#">
                                <span>93 tour</span> đang chờ bạn</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- search tour end -->

        <!-- menu main -->
        <nav class="navbar navbar-expand-lg navbar-main">
            <div class="container">
                <!-- logo -->
                <a class="navbar-brand" href="#">
                    <img src="./pic/logo.png" alt="">
                </a>
                <!-- button responsive -->
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
                <!-- menu -->
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Khách sạn</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Khách sạn tại Sapa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Khách sạn tại Hà Giang</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Khách sạn tại Lào Cai</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Khách sạn tại Lai Châu</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Demo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Demo</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nhà hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">vé tàu hỏa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">vé bus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">vé máy bay</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- menu main end -->

        <!-- page contact -->
        <section class="page-contact">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5 left">
                        <div class="info">
                            <p><strong>SAPA TRAVEL MATE</strong></p>
                            <p>Head office: 05 Muong Hoa street - Sapa Dist - Lao Cai Province</p>
                            <p>Hotline: +84.912.346.693/986.059.929 - Tel: (+84).203.873.625/626</p>
                            <p>Fax: (+84).203.873.669</p>
                            <p>Email: daiphongsapa@yahoo.com/ info@sapatravelmate.com</p>
                        </div>
                        <div class="form-contact">
                            <p><strong>Gửi liên hệ về cho chúng tôi</strong></p>
                            <p><input type="text" placeholder="Họ tên *"></p>
                            <p><input type="text" placeholder="Điện thoại *"></p>
                            <p><input type="text" placeholder="Email *"></p>
                            <p><input type="text" placeholder="Địa chỉ"></p>
                            <textarea rows="3" placeholder="Nội dung *"></textarea>
                            <div class="row btn-07">
                                <p class="col-12 col-md-6"><a href="#">Gửi liên hệ</a></p>
                                <p class="col-12 col-md-6"><a href="#">Nhập lại</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 right">
                        <p><strong>Địa điểm công ty</strong></p>
                        <div id="maps-02"></div>
                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
                        <script type="text/javascript" src="vendor/google-map/infobox.js"></script>
                        <script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
                        <script>
                            initialize(
                                '21.00757415248039',
                                '105.80296128988266',
                                '',
                                'maps-02',
                                './css/icons/map.png'
                            );
                        </script>
                    </div>
                </div>
            </div>
        </section>
        <!-- page contact end -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 id-01">
                    <div class="info">
                        <strong class="name-block">SAPA TRAVEL MATE</strong>
                        <div class="text">
                            <p>Head office: 05 Muong Hoa street - Sapa Dist - Lao Cai Province</p>
                            <p>Hotline: +84.912.346.693/986.059.929 - Tel: (+84).203.873.625/626</p>
                            <p>Fax: (+84).203.873.669</p>
                            <p>Email: daiphongsapa@yahoo.com/ info@sapatravelmate.com</p>
                        </div>
                        <!-- để ảnh sau khách hàng tự nhũng code vào vì đây là dịch vụ mất tiền -->
                        <div class="tripadvisor">
                            <img src="./pic/ma.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 id-02">
                    <div class="link">
                        <strong class="name-block">tour</strong>
                        <ul>
                            <li>
                                <a href="">Tour Sapa</a>
                            </li>
                            <li>
                                <a href="">Tour Đông Sapa</a>
                            </li>
                            <li>
                                <a href="">Tour Tây Bắc Sapa</a>
                            </li>
                            <li>
                                <a href="">Tour Sapa Trekking</a>
                            </li>
                            <li>
                                <a href="">Tour Sapa Market</a>
                            </li>
                            <li>
                                <a href="">Tour Sapa Advanced</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link">
                        <strong class="name-block">dịch vụ</strong>
                        <ul>
                            <li>
                                <a href="">Khách sạn</a>
                            </li>
                            <li>
                                <a href="">Nhà hàng</a>
                            </li>
                            <li>
                                <a href="">Vé tàu hỏa</a>
                            </li>
                            <li>
                                <a href="">Vé bus</a>
                            </li>
                            <li>
                                <a href="">Vé máy bay</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 id-03">
                    <div class="page-facebook">
                        <div id="fb-root"></div>
                        <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src =
                                    'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=226666764204714';
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="200" data-small-header="false"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/facebook">Facebook</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 info">
                        <span>Copyright © 2017 SapaTravelMate.com.vn. </span>
                        <a target="_bank" href="http://tatthanh.com.vn/" title="Click để xây dựng website - SEO chuyên nghiệp!" class="tatthanh">Thiết kế website và SEO - Tất Thành</a>
                    </div>
                    <div class="col-12 col-md-6 statistics">
                        <span class="online">
                            <img src="./css/icons/online.png" alt=""> Đang online: 20
                        </span>
                        <span class="total-online">
                            <img src="./css/icons/tong-onlile.png" alt=""> Tổng truy cập: 125890
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/datePicker/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="vendor/datePicker/date-vi-VN.js"></script>
<script type="text/javascript" src="vendor/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>