<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./src/vendor/fancyapps/jquery.fancybox.min.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div id="app">

    <header class="header">

      <section class="c-topbar">
        <a class="branb" href="./index.html">
          <img src="./images/logo.png" alt="logo">
          <h1>Mộng<br>Hoàng Đế</h1>
        </a> <!-- / branb -->
        <div class="btn-group">
          <a href="#" class="btn btn-app-store"></a>
          <a href="#" class="btn btn-google-play hide"></a>
          <a href="#" class="btn btn-apk hide"></a>
        </div> <!-- / btn group -->
        <div class="nav-trigger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div> <!-- / nav trigger end -->
      </section>
      <!-- topbar end -->

      <div class="menu-fix">
        <a class="link-item" href="#">Trang Chủ</a>
        <a class="link-item" href="#">Hỗ Trợ</a>
        <a class="link-item" href="#">Group</a>
        <a class="link-item" href="#">Fanpage</a>
        <a class="link-item" href="#" data-modal="#popup-dang-nhap">Đăng nhập</a>
      </div>
      <!-- menu fix end -->

      <nav class="navbar">
        <ul class="nav nav-left">
          <li class="nav-item">
            <a href="#" class="nav-link">Trang Chủ</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Hỗ Trợ</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Group</a>
          </li>
        </ul> <!-- / nav -->
        <div class="branb"><img src="./images/pc/logo.png" alt="logo"></div> <!-- / branb -->
        <ul class="nav nav-right">
          <li class="nav-item">
            <a href="#" class="nav-link">Fanpage</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-modal="#popup-dang-nhap">Đăng nhập</a>
          </li>
        </ul> <!-- / nav -->
      </nav>
      <!-- navbar end -->

      <div class="download-game">
        <div class="branb"><img src="./images/logo-fix.png" alt="logo"></div> <!-- / branb -->
        <div class="btn-group">
          <a href="#" class="btn btn-app-store"></a>
          <a href="#" class="btn btn-google-play"></a>
          <a href="#" class="btn btn-apk"></a>
        </div> <!-- / btn group -->
      </div>
      <!-- download end -->

      <div class="fix-18"><img src="./images/pc/18.png"></div>
      <!-- 18+ end -->

    </header>
    <!-- header end -->

    <main class="main">

      <section class="section hero" id="section_1">
        <div class="bg"></div>
        <div class="slogan"></div>
        <a class="play" data-fancybox="trailer" href="https://www.youtube.com/watch?v=Y4NybpNaoP4"></a>
        <ul class="nav">
          <li><a href="#section_1"><span>Game Quốc Chiến<br>Tranh Đoạt Thiên Hạ</span></a></li>
          <li><a href="#section_2"><span>Đăng Ký Trước<br>Nhận Quà Ngay</span></a></li>
          <li><a href="#section_3"><span>Xây Dựng Thế Lực</span></a></li>
          <li><a href="#section_4"><span>Giới Thiệu Nhân Vật</span></a></li>
          <li><a href="#section_5"><span>Thông Báo<br>Ngày Ra Mắt</span></a></li>
        </ul>
      </section>
      <!-- hero end -->
      <section class="section c-section-1" id="section_2">
        <div class="class-1"></div>
        <div class="class-2"></div>
        <div class="moc">
          <div class="item moc-1 active" data-modal="#popup-text"></div>
          <div class="item moc-2"></div>
          <div class="item moc-3"></div>
          <div class="item moc-4"></div>
          <div class="item moc-5"></div>
        </div>
        <div class="title"></div>
        <div class="slogan"></div>
        <div class="number">123456</div>
        <a class="btn" href="#" data-modal="#popup-dang-ky"></a>
      </section>
      <!-- section 1 end -->

      <section class="section c-section-2" id="section_3">
        <div class="class-1"></div>
        <div class="class-2"></div>
        <div class="moc">
          <div class="item moc-1 active"></div>
          <div class="item moc-2"></div>
          <div class="item moc-3"></div>
          <div class="item moc-4"></div>
          <div class="item moc-5"></div>
        </div>
        <div class="title"></div>
        <div class="chu-thich"></div>
        <div class="number"><span>30.000</span></div>
        <a class="btn btn-like" href="#"></a>
        <a class="btn btn-share" href="#"></a>
      </section>
      <!-- section 2 end -->

      <div class="section c-section-3 accordion" id="section_4">
        <div class="class-1"></div>
        <div class="title"></div>
        <div class="quoc-gia"></div>
        <div class="nhan-vat">
          <div class="item item-1 active"></div>
          <div class="item item-2"></div>
          <div class="item item-3"></div>
          <div class="item item-4"></div>
        </div>

        <div class="btn-group">
          <div class="btn btn-1 active"></div>
          <div class="btn btn-2"></div>
          <div class="btn btn-3"></div>
          <div class="btn btn-4"></div>
        </div>

      </div>
      <!-- section 3 end -->

      <section class="section c-section-4" id="section_5">
        <div class="class-1"></div>
        <div class="slogan"></div>
        <div class="countdown">
          <div id="days"></div>
          <div id="hours"></div>
          <div id="minutes"></div>
        </div>
        <div class="block">
          <div class="logo"><img src="./images/logo-fix.png"></div>
          <div class="search"><img src="./images/search.png"></div>
          <div class="btn-group">
            <a href="#" class="btn"><img src="./images/btn-07.png"></a>
            <a href="#" class="btn"><img src="./images/btn-08.png"></a>
            <a href="#" class="btn"><img src="./images/btn-09.png"></a>
          </div>
        </div>
      </section>
      <!-- section 4 end -->

    </main>
    <!-- / main end -->

    <footer class="c-footer">
      <ul class="nav">
        <li><a href="#">About Gzone</a></li>
        <li><a href="#">Hỗ trợ</a></li>
        <li><a href="#">Tài Khoản</a></li>
        <li><a href="#">Nạp Thẻ</a></li>
        <li><a href="#">Điều Khoản</a></li>
      </ul>
      <div class="info">
        Bản quyền © 2020 Gzone <br>
        Email: Hotro@Gzone.vn | Hotline: 1900 088 885 <br>
        Thời gian: 8:00 - 22:00 tất cả các ngày (GMT+7)
      </div>
      <div class="info">
        Giấy phép G1 số: 22/GP-BTTTT ngày 17 tháng 01 năm 2020 <br>
        Chơi quá 180 phút một ngày sẽ ảnh hưởng xấu đến sức khỏe <br>
        Chịu trách nhiệm nội dung: Ông Nguyễn Công Vương.
      </div>
    </footer>
    <!-- end footer -->


    <div class="modal popup-dang-ky-nhan-qua" id="popup-dang-ky-nhan-qua">
      <div class="modal-inner">
        <div class="content">
          <div class="title"><img src="./images/text-01.png"></div>
        </div>
        <form>
          <div class="form-group error">
            <input type="text" class="form-control" placeholder="Gmail">
            <small class="form-text">Gmail của bạn không đúng</small>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Số điện thoại">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Mật khẩu">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nhập lại mật khẩu">
          </div>
          <button type="submit" class="btn btn-dang-ky"></button>
        </form>
      </div>
    </div>
    <!-- popup dang ky end -->

    <div class="modal popup-dang-ky" id="popup-dang-ky">
      <div class="btn-popup-exit btn-exit"></div>
      <div class="modal-inner">
        <div class="content">
          <div class="title">Đăng ký</div>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Tài khoản">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Mật khẩu">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nhập lại mật khẩu">
            </div>
            <button type="submit" class="btn btn-dang-ky"></button>
          </form>
        </div>
      </div>
    </div>
    <!-- popup dang ky end -->

    <div class="modal popup-dang-nhap" id="popup-dang-nhap">
      <div class="btn-popup-exit btn-exit"></div>
      <div class="modal-inner">
        <div class="content">
          <div class="title">Đăng nhập</div>
        </div>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Tài khoản">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Mật khẩu">
          </div>
          <button type="submit" class="btn btn-dang-nhap"></button>
          <div class="form-group">
            <div class="text">Bạn chưa có tài khoản? <a class="btn-exit" href="#" data-modal="#popup-dang-ky">Đăng ký ngay</a></div>
          </div>
        </form>
      </div>
    </div>
    <!-- popup dang ky end -->

    <div class="modal popup-text" id="popup-text">
      <div class="btn-popup-exit btn-exit"></div>
      <div class="modal-inner">
        <div class="content">
          <div class="title">Gitcode</div>
          <div class="inner">Nội dung ở đây</div>
        </div>
      </div>
    </div>
    <!-- popup text end -->




  </div>


  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/fancyapps/jquery.fancybox.min.js"></script>
  <script src="./src/main.js"></script>

  <script>
    function makeTimer() {

      //		set thời gian đếm ngược endTime = new Date("29 October 2020 9:56:00 GMT+01:00");	
      var endTime = new Date("29 October 2020 9:56:00 GMT+01:00");
      endTime = (Date.parse(endTime) / 1000);

      var now = new Date();
      now = (Date.parse(now) / 1000);

      var timeLeft = endTime - now;

      var days = Math.floor(timeLeft / 86400);
      var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
      var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);

      if (hours < "10") {
        hours = "0" + hours;
      }
      if (minutes < "10") {
        minutes = "0" + minutes;
      }

      $("#days").html(days);
      $("#hours").html(hours);
      $("#minutes").html(minutes);

    }

    setInterval(function () {
      makeTimer();
    }, 1000);
  </script>


</body>

</html>