@import '_variables.scss';
@import '_mixins.scss';

@font-face {
    font-family: 'HelveticaNeue-UltraLight';
    src: url('.././css/fonts/HelveticaNeue-UltraLight.eot');
    src: url('.././css/fonts/HelveticaNeue-UltraLight.woff') format('woff'),
    url('.././css/fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
    url('.././css/fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
    url('.././css/fonts/HelveticaNeue-UltraLight.svg#iciel') format('svg'),
    url('.././css/fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('.././css/fonts/HelveticaNeue.eot');
    src: url('.././css/fonts/HelveticaNeue.woff') format('woff'),
    url('.././css/fonts/HelveticaNeue.woff2') format('woff2'),
    url('.././css/fonts/HelveticaNeue.ttf') format('truetype'),
    url('.././css/fonts/HelveticaNeue.svg#iciel') format('svg'),
    url('.././css/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('.././css/fonts/HelveticaNeue-Medium.eot');
    src: url('.././css/fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('.././css/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
    url('.././css/fonts/HelveticaNeue-Medium.ttf') format('truetype'),
    url('.././css/fonts/HelveticaNeue-Medium.svg#iciel') format('svg'),
    url('.././css/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('.././css/fonts/HelveticaNeue-Bold.eot');
    src: url('.././css/fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('.././css/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
    url('.././css/fonts/HelveticaNeue-Bold.ttf') format('truetype'),
    url('.././css/fonts/HelveticaNeue-Bold.svg#iciel') format('svg'),
    url('.././css/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: $color-01;
    line-height: $line-01;
    color: $color-02;
    font-size: $font-s1;
    font-family: $font-f2;
}

p {
    margin: 0;
    padding: 0;
}

ol,
ul,
dl,
pre,
blockquote {
    margin: 0;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

embed,
object,
video,
iframe {
    width: 100%;
    height: auto;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

a {
    transition: $time-a1;
    &:focus,
    &:hover {
        color: $color-04;
        text-decoration: none;
    }
}

summary {
    display: block;
}

select {
    background: $color-01 url(.././css/icons/select.png) no-repeat right 10px center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    &::-ms-expand {
        display: none;
    }
}

.framed-image {
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        display: block;
        padding-bottom: 60%;
    }
    .cut,
    .no-cut {
        overflow: hidden;
        text-align: center;
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .cut img {
        max-width: 150%;
        max-height: 150%;
        &.wide {
            height: 100%;
            max-width: unset;
        }
        &.tall {
            width: 100%;
            max-height: none;
        }
    }
    .no-cut img {
        max-width: 150%;
        max-height: 150%;
    }
}