$font-f1: 'HelveticaNeue-UltraLight';
$font-f2: 'HelveticaNeue';
$font-f3: 'HelveticaNeue-Medium';
$font-f4: 'HelveticaNeue-Bold';

$font-s1: 14px;
$font-s2: 16px;
$font-s3: 18px;
$font-s4: 24px;
$font-s5: 30px;

$line-01: 22px;
$line-02: 24px;
$line-03: 28px;
$line-04: 40px;

$color-01: #fff;
$color-02: #333;
$color-03: #666;
$color-04: #999;
$color-05: #b6504c;
$color-06: #0093dd;
$color-07: #f4f4f4;
$color-08: #e83f53;
$color-09: #852320;
$color-10: #6b1310;
$color-11: #a8a8a8;
$color-12: rgba(0, 0, 0, 0.3);
$color-13: #c5c5c5;
$color-14: #f9aba9;
$color-15: #ddf0f9;
$color-16: #ccc;
$color-17: #545454;
$color-18: #c3c3c3;
$color-19: #e2e2e2;

$time-a1: all 0.3s ease-in;
$time-a2: all 0.5s ease-in;

$radius: 3px;