@import '_variables.scss';
@import '_mixins.scss';

/* Heading */
.page-headline {
  @extend .medium-text;
  line-height: 1.4;
  font-weight: 700;
}

.section-headline {
  margin: 0 0 30px 0;
  padding-bottom: 25px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1;
  color: $c-dark;
  &::before {
    font-family: $f-icon;
  }
  &::after {
    content: '';
    position: absolute;
    width: 110px;
    height: 3px;
    background: $c-blue;
    bottom: 0;
    left: 0;
  }
  >a {
    color: $c-dark;
    text-decoration: none;
    transition: $transition;
    &:hover,
    &:focus {
      color: $c-blue;
    }
  }
}

.about-headline {
  position: relative;
  margin: 0;
  padding-bottom: 15px;
  font-size: 1.5625;
  text-transform: uppercase;
  text-align: center;
  color: $c-white;
  &::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: $c-white;
  }
}

.block-headline {
  position: relative;
  font-size: 1.125;
  line-height: 1;
  text-transform: uppercase;
  color: $c-dark1;
  >span {
    position: relative;
    z-index: 2;
    padding-right: 10px;
    background: $c-white;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: $c-dark1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.sub-heading {
  @extend .medium-text;
  line-height: 1.6667;
  font-weight: 700;
}

.title-text {
  font-size: .8125rem;
  line-height: 1.3333;
  text-align: justify;
  font-weight: 700;
  @media (min-width: $breakpoints-md) {
    font-size: .9375rem;
  }
  a {
    text-decoration: none;
    color: $c-dark;
    transition: $transition;
    &:hover,
    &:focus {
      color: $c-blue;
    }
  }
}

.footer-title {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Paragraph */
// .large-text {

// }

.medium-text {
  font-size: .9375rem;
  @media (min-width: $breakpoints-md) {
    font-size: 1.125rem;
  }
}

.small-text {
  font-size: 0.8125rem;
}

.about-description {
  margin: 25px auto 0 auto;
  max-width: 83%;
  text-align: center;
}