/* Fonts */

$f-roboto: 'Roboto',sans-serif;
$f-utm: 'UTM Aptima';
$f-icon: 'icon';
/* Colors - Default */

$c-black: #000000;
$c-white: #ffffff;
/* Colors - Theme */

$c-blue: #17b7e1;
$c-yellow: #fffc00;
$c-purple: #00a1cb;
$c-green: #e79800;
$c-light: #ececec;
$c-grey: #f2f3f5;
$c-orange: #F8953F;
$c-red: #EF373E;
$c-navy: #264391;

$c-dark: #3f3f3f;
$c-dark1: #2c2c2c;
$c-divider: #E2E2E2;
/* Coler border */

$bc-light: #ccc;
$bc-grey: #d9d9d9;
/* Cover */

$c-cover-blue: rgba(19, 99, 161, 0.5);
$c-cover-black: rgba(0, 0, 0, 0.15);
/* Background */

$c-bg-black: rgba(0, 0, 0, 0.3);
$c-bg-black1: rgba(0, 0, 0, 0.6);
$c-bg-blue: rgba(0, 120, 153, 0.7);
$c-bg-white: rgba(255, 255, 255, 0.7);
/* Transitions */

$transition: all .3s ease-in-out;
$duration: 0.25s;
$speed: 200ms;
$ease: ease-in-out;
/* Round */

$round: 4px;
/* Breakpoints */

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
$breakpoints-sm: 576px;
// Medium devices (tablets, 768px and up)
$breakpoints-md: 768px;
// Large devices (desktops, 992px and up)
$breakpoints-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$breakpoints-xl: 1200px;