@import '_variables.scss';
@import '_mixins.scss';

body {
  font-family: $f-roboto;
  font-size: .75rem;
  line-height: 1.6;
  background: $c-white;
  color: $c-dark;
  @media (min-width: $breakpoints-lg) {
    font-size: .875rem;
  }
}

.img-cover {
	position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }
}

.img-cover__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: $transition;
  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    opacity: .8;
  }
}

.cover {
  pointer-events: none;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $c-cover-blue;
  }
}

.main {
  padding-top: 60px;
  @media (min-width: $breakpoints-lg) {
    padding-top: 0;
  }
}

.section {
  margin-top: 40px;
}

.block-right {
  margin-top: 30px;
}

.noscript-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $c-white;
}

.noscript-message__content {
  padding: 30px 13px;
}

.breadcrumb-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  list-style: none;
  &+.breadcrumb-item {
    &::before {
      content: '\e904';
      font-family: $f-icon;
      margin: 0 4px;
    }
  }
}


.breadcrumb-link {
  position: relative;
  color: $c-white;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background: $c-white;
    transition: $transition;
  }
  &:hover,
  &:focus {
    &::after {
      width: 100%;
    }
  }
}

.item-01 {
  @extend .block-right;
  &:nth-child(1) {
    margin-top: 0;
  }
}
.item-01__wrapper {
  @media (min-width: $breakpoints-md) {
    display: flex;
  }
  @media (min-width: $breakpoints-xl) {
    display: block;
  }
  &::after {
    @include clear;
  }
}

.item-01__image {
  @media (min-width: $breakpoints-md) {
    width: 33.3333%;
  }
  @media (min-width: $breakpoints-xl) {
    width: 360px;
    height: 235px;
    margin-right: 15px;
    float: left;
    &::after {
      padding-bottom: 0;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  @extend .block-right;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination__item {
  list-style: none;
}

.pagination__link {
  display: block;
  margin: 5px 5px 0 5px;
  padding: 0 5px;
  min-width: 30px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: $c-dark1;
  border: 1px solid $c-dark1;
  transition: $transition;
  &.active,
  &:hover,
  &:focus {
    color: $c-blue;
    border-color: $c-blue;
  }
}

.search-right {
  input {
    padding: 6px 10px;
    width: 100%;
    font-family: $f-roboto;
    line-height: 1.6;
    font-size: 11px;
    border: 1px solid $bc-grey;
  }
}

.social-share {
  @extend .block-right;
  padding-bottom: 30px;
  border-bottom: 1px solid $bc-grey;
  @media (min-width: $breakpoints-md) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.social-share__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -5px;
  @media (min-width: $breakpoints-md) {
    margin: 0 0 0 12px;
  }
}

.social-share__item {
  list-style: none;
  margin: 5px 5px 0 5px;
  >a {
    display: block;
    font-size: 0;
    transition: $transition;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0 0 0;
  &::before {
    content: '\e910';
    font-family: $f-icon;
  }
}

.tags-item {
  list-style: none;
  margin-left: 15px;
}

.tags-link {
  display: block;
  padding: 5px 10px;
  font-size: .8125rem;
  border-radius: $round;
  background: $c-light;
  text-decoration: none;
  color: $c-dark;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.comments {
  @extend .block-right;
}

.comments__form {
  >h3 {
    text-transform: uppercase;
    color: $c-blue;
    margin: 0;
  }
  >p {
    margin: 15px 0 0 0;
  }
}

.comments__form-inner {
  margin-top: 25px;
  input,
  textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: .875rem;
    border: 1px solid $bc-grey;
  }
  input {
    margin-bottom: 20px;
  }
}

.comments__list {
  margin: 50px 0 0 0;
  padding: 0;
}

.comments__item {
  margin-top: 20px;
  list-style: none;
}

.comments__item-wrapper {
  position: relative;
  @media (min-width: $breakpoints-md) {
    padding-left: 85px;
  }
}

.comments__item-info {
  padding: 10px 15px;
  border: 1px solid $bc-grey;
}

.comments__item-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: $round;
  overflow: hidden;
  @media (min-width: $breakpoints-md) {
    display: block;
  }
}

.comments__item-name {
  font-size: .8125rem;
  font-weight: 700;
  color: $c-dark1;
  &::after {
    content: '-';
    margin: 0 4px;
  }
}

.comments__item-date {
  font-size: .75rem;
  color: $bc-light;
}

.comments__item--info-center {
  margin-top: 10px;
  font-size: .875rem;
  line-height: 1.43;
}

.comments__item--info-bottom {
  margin-top: 10px;
  >span {
    font-size: .8125rem;
    text-transform: uppercase;
    &::before {
      font-family: $f-icon;
      margin-right: 5px;
    }
  }
}

.comments__item-thumbs {
  color: $c-blue;
  margin-right: 20px;
  &::before {
    content: '\e90f';
    color: $c-dark;
  }
}

.comments__item-bubbles::before {
  content: '\e911';
}

.comments__sub-list {
  margin: 0 0 0 15px;
  padding: 0;
  @media (min-width: $breakpoints-md) {
    margin-left: 125px;
  }
  .comments__item-info {
    border: none;
    background: $c-grey;
  }
}

.item-01__content {
  padding: 10px 0 0 0;
  @media (min-width: $breakpoints-md) {
    width: 66.6666%;
    padding: 0 0 0 15px;
  }
  @media (min-width: $breakpoints-xl) {
    width: auto;
    padding: 10px 0 0 0;
  }
}

.item-01__title {
  @extend .medium-text;
  margin: 0;
  font-size: 1rem;
  line-height: 1.3334;
  font-weight: 700;
  text-align: justify;
  a {
    text-decoration: none;
    color: $c-dark1;
    transition: $transition;
    &:hover,
    &:focus {
      color: $c-blue;
    }
  }
}

.item-01__description {
  margin-top: 5px;
  font-size: .875rem;
  line-height: 1.429;
  text-align: justify;
  @media (min-width: $breakpoints-md) {
    margin-top: 15px;
  }
}

.item-02 {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid $bc-grey;
  &:nth-child(1) {
    padding-top: 0;
    border-top: none;
  }
}

.item-02__wrapper {
  display: flex;
}

.item-02__image {
  width: 33.3333%;
  &::after {
    padding-bottom: 100%;
  }
}

.item-02__content {
  width: 66.6666%;
  padding-left: 15px;
}

.item-02__title {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.57;
  a {
    color: $c-dark1;
    text-decoration: none;
    transition: $transition;
    &:hover,
    &:focus {
      color: $c-blue;
    }
  }
}

.item-02__date {
  margin-top: 10px;
  font-size: 0.75rem;
  &::before {
    content: '\e903';
    font-family: $f-icon;
    margin-right: 4px;
    color: $c-blue;
  }
}

.item-03__image {
  &::after {
    padding-bottom: 65.25%;
  }
}

.item-03__title {
  margin: 15px 0 0 0;
  font-size: .9375rem;
  line-height: 1.6;
  a {
    color: $c-dark;
    text-decoration: none;
    transition: $transition;
    &:hover,
    &:focus {
      color: $c-blue;
    }
  }
}

.item-04__wrapper {
  position: relative;
}

.item-04__content {
  padding-top: 10px;
  @media (min-width: $breakpoints-md) {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    color: $c-white;
    background: $c-bg-black1;
  }
}

.item-04__image {
  &::after {
    padding-bottom: 70%;
    @media (min-width: $breakpoints-md) {
      padding-bottom: 64%;
    }
  }
}

h2.item-04__title {
  @extend .sub-heading;
  max-height: 3.222em;
  margin: 0;
  overflow: hidden;
  a {
    color: $c-dark;
    text-decoration: none;
    transition: $transition;
    @media (min-width: $breakpoints-md) {
      color: $c-white;
    }
    &:hover,
    &:focus {
      color: $c-blue;
    }
  }
}

h3.item-04__title {
  @extend .title-text;
  height: 2.6666em;
  margin: 0;
  overflow: hidden;
  a {
    color: $c-dark;
    @media (min-width: $breakpoints-md) {
      color: $c-white; 
    }
  }
}

.item-04__description {
  margin-top: 5px;
  @media (min-width: $breakpoints-lg) {
    margin-top: 10px;
  }
}