<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!-- header -->
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="./pic/logo.png" alt="">
                    <span class="text">TRANG THÔNG TIN KIẾN THỨC
                        <br>VÀ KỸ NĂNG DÀNH CHO CHA MẸ</span>
                </a>
            </div>
            <div class="right">
                <ul class="link">
                    <li>
                        <a href="#">
                            <img src="./css/img/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">#Tết Nguyên đán</a>
                    </li>
                    <li>
                        <a href="#">#Các bài khấn, lễ vật cúng Tết</a>
                    </li>
                </ul>
                <div class="search">
                    <div class="form-search">
                        <input type="text" placeholder="Từ khóa tìm kiếm">
                        <a href="#" class="fa"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- nav -->
    <nav id="nav">
        <div class="container">
            <a href="#" class="home-link">
                <span class="fa"></span>
            </a>
            <ul class="menu">
                <li>
                    <a href="#">Đời sống</a>
                </li>
                <li>
                    <a href="#">Clip</a>
                </li>
                <li>
                    <a href="#">Làm mẹ</a>
                </li>
                <li>
                    <a href="#">Giải trí</a>
                </li>
                <li>
                    <a href="#">Khỏe</a>
                </li>
                <li>
                    <a href="#">Đẹp</a>
                </li>
                <li>
                    <a href="#">Khéo</a>
                </li>
                <li>
                    <a href="#">Yêu và cưới</a>
                </li>
                <li>
                    <a href="#">Tổ Ấm</a>
                </li>
                <li>
                    <a href="#">Chi tiêu</a>
                </li>
                <li>
                    <a href="#">Ăn chơi</a>
                </li>
                <li>
                    <a href="#">Nhật ký</a>
                </li>
                <li>
                    <a href="#">Khoe ngắm</a>
                </li>
                <li>
                    <a href="#">Sống chậm</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- nav end -->

    <!-- main -->
    <main id="main" class="main-detail">
        <div class="container">
            <div class="group-block-page">
                <div class="warpper-page">
                    <div class="row block-03">
                        <h1 class="col-12 search-results">Lamchame</h1>
                        <div class="col-12 left-main">
                            <div class="group-item">
                                <article class="item-01">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper cover">
                                            <img src="./pic/img/a4.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h2 class="title">
                                            <a href="#">Những thực phẩm cung cấp nguồn năng lượng dồi dào cho bé</a>
                                        </h2>
                                        <summary>Thực phẩm họ ngũ cốc, chế phẩm từ sữa hay trái cây đều là các món phụ cung cấp nguồn
                                            năng lượng dồi dào...
                                        </summary>
                                        <div class="list">
                                            <a class="active" href="#">Đời sống</a>
                                            <a href="#">Thực phẩm</a>
                                            <a href="#">Thực phẩm</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="item-01">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper cover">
                                            <img src="./pic/img/a5.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h2 class="title">
                                            <a href="#">Mùng 7 Tết, cô gái than vãn vì vẫn không được về nhà mẹ đẻ và nỗi sợ của các
                                                nàng dâu trẻ</a>
                                        </h2>
                                        <summary>Thực phẩm họ ngũ cốc, chế phẩm từ sữa hay trái cây đều là các món phụ cung cấp nguồn
                                            năng lượng dồi dào...
                                        </summary>
                                        <div class="list">
                                            <a class="active" href="#">Đời sống</a>
                                            <a href="#">Thực phẩm</a>
                                            <a href="#">Thực phẩm</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="item-01">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper cover">
                                            <img src="./pic/img/a6.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h2 class="title">
                                            <a href="#">Những thực phẩm cung cấp nguồn năng lượng dồi dào cho bé</a>
                                        </h2>
                                        <summary>Thực phẩm họ ngũ cốc, chế phẩm từ sữa hay trái cây đều là các món phụ cung cấp nguồn
                                            năng lượng dồi dào...
                                        </summary>
                                        <div class="list">
                                            <a class="active" href="#">Đời sống</a>
                                            <a href="#">Thực phẩm</a>
                                            <a href="#">Thực phẩm</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="item-01">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper cover">
                                            <img src="./pic/img/a4.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h2 class="title">
                                            <a href="#">Những thực phẩm cung cấp nguồn năng lượng dồi dào cho bé</a>
                                        </h2>
                                        <summary>Thực phẩm họ ngũ cốc, chế phẩm từ sữa hay trái cây đều là các món phụ cung cấp nguồn
                                            năng lượng dồi dào...
                                        </summary>
                                        <div class="list">
                                            <a class="active" href="#">Đời sống</a>
                                            <a href="#">Thực phẩm</a>
                                            <a href="#">Thực phẩm</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="item-01">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper cover">
                                            <img src="./pic/img/a5.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h2 class="title">
                                            <a href="#">Mùng 7 Tết, cô gái than vãn vì vẫn không được về nhà mẹ đẻ và nỗi sợ của các
                                                nàng dâu trẻ</a>
                                        </h2>
                                        <summary>Thực phẩm họ ngũ cốc, chế phẩm từ sữa hay trái cây đều là các món phụ cung cấp nguồn
                                            năng lượng dồi dào...
                                        </summary>
                                        <div class="list">
                                            <a class="active" href="#">Đời sống</a>
                                            <a href="#">Thực phẩm</a>
                                            <a href="#">Thực phẩm</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="item-01">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper cover">
                                            <img src="./pic/img/a6.png" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h2 class="title">
                                            <a href="#">Những thực phẩm cung cấp nguồn năng lượng dồi dào cho bé</a>
                                        </h2>
                                        <summary>Thực phẩm họ ngũ cốc, chế phẩm từ sữa hay trái cây đều là các món phụ cung cấp nguồn
                                            năng lượng dồi dào...
                                        </summary>
                                        <div class="list">
                                            <a class="active" href="#">Đời sống</a>
                                            <a href="#">Thực phẩm</a>
                                            <a href="#">Thực phẩm</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="load-content">
                                <a href="#">Xem Thêm</a>
                            </div>
                        </div>
                        <div class="col-12 right-main">
                            <div class="adv v2">
                                <a href="#">
                                    <img src="./pic/adv/2.png" alt="">
                                </a>
                            </div>
                            <div class="new-right01">
                                <div class="top">
                                    <img src="./pic/2.png" alt="">
                                    <div class="title">THEO DÒNG SỰ KIỆN</div>
                                    <div class="text">Tết đến, Xuân sang, ngập tràn hạnh phúc</div>
                                </div>
                                <ul class="link">
                                    <li>
                                        <h4>
                                            <a href="#">Clip: "Xế hộp" Camry đang đi bất ngờ bốc cháy kèm tiếng nổ, tài xế đạp cửa tháo chạy tán loạn</a>
                                        </h4>
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="#">Vợ chồng ve chai ở Hà Nội trả ví cho người mất, không nhận tiền hậu tạ</a>
                                        </h4>
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="#">Những thực phẩm cung cấp nguồn năng lượng dồi dào cho bé</a>
                                        </h4>
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="#">Vợ chồng ve chai ở Hà Nội trả ví cho người mất, không nhận tiền hậu tạ</a>
                                        </h4>
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="#">Phụ nữ tiết lộ những lý do khiến họ ngoại tình</a>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="read-much">
                                <h4 class="title">ĐỌC NHIỀU</h4>
                                <div class="group-item">
                                    <div class="item">
                                        <div class="number">1</div>
                                        <div class="title">
                                            <a href="#">Khai hội Yên Tử, hàng trăm người leo trèo ra khỏi đám đông vì đứng chôn chân
                                                2 tiếng ở đường lên chùa Đồng
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="number">2</div>
                                        <div class="title">
                                            <a href="#">Loạt ảnh "biến hình" của chị em khi ở nhà với ra đường: Quan trọng nhất vẫn là
                                                thần thái!</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="number">3</div>
                                        <div class="title">
                                            <a href="#">Khai hội Yên Tử, hàng trăm người leo trèo ra khỏi đám đông vì đứng chôn chân
                                                2 tiếng ở đường lên chùa Đồng
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="number">4</div>
                                        <div class="title">
                                            <a href="#">Loạt ảnh "biến hình" của chị em khi ở nhà với ra đường: Quan trọng nhất vẫn là
                                                thần thái!</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="number">5</div>
                                        <div class="title">
                                            <a href="#">Cứ nghĩ mọc răng là bình thường, ai ngờ suýt mất con mãi mãi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main end -->

    <!-- footer -->
    <footer id="footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 left">
                        <p>
                            <strong>© BẢN QUYỀN THUỘC VỀ CÔNG TY CP TRUYỀN THÔNG DIGI ONE</strong>
                        </p>
                        <p>
                            Số ĐKKD: 0102080029 do Sở Kế hoạch và Đầu tư Hà Nội cấp ngày 22/11/2006
                            <br> Địa chỉ: 31C Lý Tự Trọng, Phường Bến Nghé, Quận 1, Tp Hồ Chí Minh
                            <br> Hotline: 028.38277997
                            <br> Email: info@digi-one.vn
                            <br> Giấy phép số 2860/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 12 tháng 07 năm 2017
                            <br> Chịu trách nhiệm nội dung: Bà Nguyễn Vương Thị Thảo
                        </p>
                    </div>
                    <div class="col-12 col-md-4 right">
                        <p>
                            LIÊN HỆ QUẢNG CÁO
                            <br> Hotline: 028 38277997
                            <br> Email: sales@digi-one.vn
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="img">
            <div class="container text-right">
                <img src="./pic/copyright.png" alt="">
            </div>
        </div>
    </footer>
    <!-- footer end -->

</body>

<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</html>