<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./src/vendor/fancyapps/jquery.fancybox.min.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div id="app">

    <header class="header">

      <section class="topbar">
        <a class="branb" href="./index.html">
          <img src="./images/logo.png" alt="logo">
        </a>
        <a href="#" class="btn-taigame"></a>
        <ul class="nav">
          <li class="nav-item"><a href="#" class="nav-link"><span class="icon icon-home"></span></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><span class="icon icon-facebook"></span></a></li>
        </ul>
        <div class="logo-18"><img src="./images/mobile/18+.png" alt="18"></div>
      </section>
      <!-- topbar end -->

      <div class="fix-link">
        <a href="#">Trang Chủ</a>
        <a href="#">Fanpage</a>
      </div>
      <!-- fix link end -->

      <div class="fix-18">
        <img src="./images/pc/18-fix.png" alt="18">
      </div>
      <!-- fix 18 end -->

      <div class="download-game">
        <div class="btn-group">
          <a href="#" class="btn app-store"></a>
          <a href="#" class="btn google-play"></a>
          <a href="#" class="btn apk"></a>
        </div> <!-- / btn group -->
        <a href="#" class="branb"><img src="./images/pc/logo-game-1.png" alt="logo"></a>
        <!-- / branb -->
        <span class="back-top"></span>
      </div>
      <!-- download end -->

    </header>
    <!-- header end -->

    <main class="main" >

      <section class="section c-section-1">
        <div class="class-1"></div>
        <div class="logo-game"></div>
        <div class="slogan"></div>
        <a class="play" data-fancybox="gallery-play" href="https://www.youtube.com/watch?v=mfbE7BPeBh4"></a>
      </section>
      <!-- section 1 end -->

      <section class="section c-section-2">
        <div class="class-1"></div>
        <div class="class-2"></div>
        <div class="class-3"></div>
        <h2 class="heading"></h2>
        <a href="#" class="btn-dangky"></a>
      </section>
      <!-- section 2 end -->

      <div class="section c-section-3">
        <div class="class-1"></div>
        <h2 class="heading"></h2>
        <div class="slider">
          <div class="slider-wrapper">
            <div class="item"><a class="img-wrapper" data-fancybox="gallery-news" href="https://www.youtube.com/watch?v=mfbE7BPeBh4"><img src="./images/slider-1.png" alt="slider"></a></div>
            <div class="item"><a class="img-wrapper" data-fancybox="gallery-news" href="https://www.youtube.com/watch?v=mfbE7BPeBh4"><img src="./images/slider-2.png" alt="slider"></a></div>
            <div class="item"><a class="img-wrapper" data-fancybox="gallery-news" href="https://www.youtube.com/watch?v=mfbE7BPeBh4"><img src="./images/slider-3.png" alt="slider"></a></div>
          </div>
        </div>
       
      </div>
      <!-- section 3 end -->
      
      <section class="section c-section-4">
        <div class="class-1"></div>
        <div class="class-2"></div>
        <div class="class-3"></div>
        <h2 class="heading"></h2>
        <div class="box">
          <a href="#" class="branb"><img src="./images/pc/logo-game-1.png" alt="logo"></a>
          <div class="search">
            <input type="text" placeholder="Thánh địa chill">
            <button class="btn" type="submit"></button>
          </div>
          <div class="btn-group">
            <a href="#" class="btn google-play"></a>
            <a href="#" class="btn app-store"></a>
          </div>
        </div>
      </section>
      <!-- section 4 end -->

    </main>
    <!-- / main end -->

    <footer class="footer">
      <div class="footer-wrapper">
        <div class="imgs">
          <div class="img logo-gzone"><img src="./images/mobile/logo-gzone.png" alt="logo-gzone"></div>
          <div class="img logo-18"><img src="./images/mobile/18-footer.png" alt="18"></div>
        </div>
        <div class="contact">
          <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link">About Gzone</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Hỗ trợ</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Tài Khoản</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Nạp Thẻ</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Điều Khoản</a></li>
          </ul>
          <p>Bản quyền © 2020 Gzone <br>
            Email:  Hotro@Gzone.vn   |  Hotline: 1900 088 885 <br>
            Thời gian: 8:00 - 22:00 tất cả các ngày (GMT+7)</p>
          <p>Giấy phép G1 số: 22/GP-BTTTT ngày 17 tháng 01 năm 2020 <br>
            Chơi quá 180 phút một ngày sẽ ảnh hưởng xấu đến sức khỏe <br>
            Chịu trách nhiệm nội dung: Ông Nguyễn Công Vương
            </p>
        </div>
      </div>
    </footer>


    <div class="modal popup-baodanh" id="popup-baodanh">
      <div class="modal-inner">
        <h3 class="title">Báo danh nhận quà</h3>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="inputBaoDanhName" placeholder="Tên của Tướng Quân">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="inputBaoDanhEmail" placeholder="Email của Tướng Quân">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="inputBaoDanhTel" placeholder="SĐT của Tướng Quân">
          </div>
          <button type="submit" class="btn">Báo Danh</button>
          <button class="btn btn-exit modal-exit">Để Sau</button>
        </form>
      </div>
    </div>
    <!-- popup bao danh end -->


  </div>


  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/fancyapps/jquery.fancybox.min.js"></script>
  <script src="./src/vendor/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>