<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>

  <div class="app" id="app">

    <div class="com-01">

      <div class="c-ratings">
        <div class="wrapper">
          <div class="heading">Bảng xếp hạng</div>
          <ul class="group-item">
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number statu-1">1</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number statu-2">2</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number statu-2">3</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number">4</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number">5</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number">6</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number">7</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number">8</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number">9</div>
              </div>
            </li>
            <li class="item">
              <div class="avatar"><img src="./images/user.png"></div>
              <div class="info">
                <div class="name">Mai Xinh</div>
                <div class="content">590 điểm - Toán Học</div>
                <div class="number">10</div>
              </div>
            </li>
          </ul>
          
        </div> <!-- / wrapper -->
      </div>
      <!-- user end -->

      <div class="c-bottom_bar">
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-04.png">
                <img class="statu-2" src="./src/img/ic-active-04.png">
              </div>
              <div class="text">Trang chủ</div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-03.png">
                <img class="statu-2" src="./src/img/ic-active-03.png">
              </div>
              <div class="text">Bài học</div>
            </a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-02.png">
                <img class="statu-2" src="./src/img/ic-active-02.png">
              </div>
              <div class="text">bảng xếp hạng</div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-01.png">
                <img class="statu-2" src="./src/img/ic-active-01.png">
              </div>
              <div class="text">Tải khoản</div>
            </a>
          </li>
        </ul>
      </div>
      <!-- bottom bar end -->

    </div>
    <!-- com 02 end -->


  </div>

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>
</body>

</html>