<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>

  <div class="app" id="app">

  <div class="com-01">

    <div class="c-game v1">
      <div class="game-top">
        <a class="btn-exit"><span>X</span> Đóng</a>
        <div class="vl">Câu 1/30</div>
      </div>
      <div class="game-main">
        <div class="heading">
          <div class="vl">Bài 2</div>
          <div class="name-game">Đọc và trả lời câu hỏi</div>
        </div>
        <div class="media">
          <img src="./images/7458f002cab2b3ca119ed31ec8664911.png">
        </div>
        <div class="question">
          <div class="title">Question:</div>
          <div class="content">What is your name?</div>
        </div>
        <div class="group-answer js-answer-v1">
          <div class="answer">Apple</div>
          <div class="answer">Apple</div>
          <div class="answer">candy</div>
          <div class="answer">candy</div>
        </div>
        <div class="group-btn">
          <a href="#" class="btn btn-prev">Câu trước</a>
          <a href="#" class="btn btn-next">Câu Tiếp</a>
        </div>
      </div>
    </div>

  </div>

  </div>

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>
</body>

</html>