<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>

  <div class="app" id="app">

  <div class="com-01">

    <div class="c-game">
      <div class="game-top">
        <a class="btn-exit"><span>X</span> Đóng</a>
        <div class="vl">Câu 1/30</div>
      </div>
      <div class="game-main">
        <div class="heading">
          <div class="vl">Bài 6</div>
          <div class="name-game"> Xem video và trả lời câu hỏi</div>
        </div>
        <div class="media">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/RnrVrf9N4IE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="question">
          <div class="title">Question:</div>
          <div class="content">What is your name?</div>
        </div>
        <div class="group-answer-v1 js-answer-v1">
          <div class="answer"><div class="img"><img src="./images/a073725a7ac7d4bc8595a8e426707f14.png"></div></div>
          <div class="answer"><div class="img"><img src="./images/a073725a7ac7d4bc8595a8e426707f14.png"></div></div>
          <div class="answer"><div class="img"><img src="./images/a073725a7ac7d4bc8595a8e426707f14.png"></div></div>
          <div class="answer"><div class="img"><img src="./images/a073725a7ac7d4bc8595a8e426707f14.png"></div></div>
        </div>
        <div class="group-btn">
          <a href="#" class="btn btn-prev">Câu trước</a>
          <a href="#" class="btn btn-next">Câu Tiếp</a>
        </div>
      </div>
    </div>

  </div>

  </div>

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>
</body>

</html>