<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>

  <div class="app" id="app">

  <div class="com-01">

    <div class="c-game">
      <div class="game-top">
        <a class="btn-exit"><span>X</span> Đóng</a>
        <div class="vl">Câu 1/30</div>
      </div>
      <div class="game-main">
        <div class="heading">
          <div class="vl">Bài 1</div>
          <div class="name-game">Nghe - Phát Âm</div>
        </div>
        <div class="media">
          <img src="./images/apple.png">
        </div>
        <div class="btn">
          <div class="icon"><svg width="31" height="17" viewBox="0 0 31 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.835101V12.1045C0 14.6401 2.07634 16.6957 4.63547 16.6957H21.0708C21.536 16.6957 21.913 16.3216 21.913 15.8606V4.59115C21.913 2.05553 19.8367 4.50386e-06 17.2776 4.50386e-06H0.842249C0.377087 4.50386e-06 0 0.374118 0 0.835101ZM22.9565 5.23185V11.4828L29.7391 16.4315C30.2191 16.7982 30.7826 16.9115 30.7826 15.9106V0.804084C30.7826 -0.0883252 30.3304 -0.2005 29.7391 0.283152L22.9565 5.23185Z" fill="white"/>
            </svg>
          </div>
          Phát
        </div>
        <div class="group-answer js-answer-v1">
          <div class="answer">Apple</div>
          <div class="answer">Apple</div>
          <div class="answer">candy</div>
          <div class="answer">candy</div>
        </div>
        <div class="group-btn">
          <a href="#" class="btn btn-prev">Câu trước</a>
          <a href="#" class="btn btn-next">Câu Tiếp</a>
        </div>
      </div>
    </div>

  </div>

  </div>

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>
</body>

</html>