<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>

  <div class="app" id="app">

    <div class="com-01">
      <div class="com-wrappar">

        <div class="back-page">
          <span class="icon">
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0862 0.96552C12.5149 0.365624 11.5654 0.342467 10.9655 0.913796L0.965514 10.4376C0.668244 10.7207 0.499997 11.1133 0.499997 11.5238C0.499997 11.9343 0.668244 12.3269 0.965514 12.61L10.9655 22.1338C11.5654 22.7052 12.5149 22.682 13.0862 22.0821C13.6575 21.4822 13.6344 20.5327 13.0345 19.9614L4.175 11.5238L13.0345 3.08621C13.6344 2.51488 13.6575 1.56542 13.0862 0.96552Z" fill="white"/>
              </svg>              
          </span>
          Quay lại
        </div>

        <div class="heading">Quên mật khẩu</div>

        <form class="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email/SĐT">
          </div>
          <button type="submit" class="btn">Tiếp theo</button>
        </form>

      </div>
    </div> <!-- / wrapper -->
    <!-- com 01 end -->


  </div>

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>
</body>

</html>