<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>

  <div class="app" id="app">

    <div class="com-01">

      <div class="c-user">
        <div class="wrapper">

          <div class="info">
            <div class="avatar"><img src="./images/user.png"></div>
            <div class="name">Mai Xinh</div>
          </div>

          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="text">Thông Tin Tài Khoản</span>
                <span class="icon"><svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.413796 0.46552C0.985125 -0.134376 1.93459 -0.157533 2.53449 0.413796L12.5345 9.93761C12.8318 10.2207 13 10.6133 13 11.0238C13 11.4343 12.8318 11.8269 12.5345 12.11L2.53449 21.6338C1.93459 22.2052 0.985125 22.182 0.413796 21.5821C-0.157533 20.9822 -0.134376 20.0327 0.46552 19.4614L9.325 11.0238L0.46552 2.58621C-0.134376 2.01488 -0.157533 1.06542 0.413796 0.46552Z" fill="#A9A9A9"/>
                  </svg>
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="text">Đặt Lịch Học</span>
                <span class="icon"><svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.413796 0.46552C0.985125 -0.134376 1.93459 -0.157533 2.53449 0.413796L12.5345 9.93761C12.8318 10.2207 13 10.6133 13 11.0238C13 11.4343 12.8318 11.8269 12.5345 12.11L2.53449 21.6338C1.93459 22.2052 0.985125 22.182 0.413796 21.5821C-0.157533 20.9822 -0.134376 20.0327 0.46552 19.4614L9.325 11.0238L0.46552 2.58621C-0.134376 2.01488 -0.157533 1.06542 0.413796 0.46552Z" fill="#A9A9A9"/>
                  </svg>
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="text">Khóa Học Đã Mua</span>
                <span class="number">5</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="text">Lịch Sử Học Bài</span>
                <span class="icon"><svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.413796 0.46552C0.985125 -0.134376 1.93459 -0.157533 2.53449 0.413796L12.5345 9.93761C12.8318 10.2207 13 10.6133 13 11.0238C13 11.4343 12.8318 11.8269 12.5345 12.11L2.53449 21.6338C1.93459 22.2052 0.985125 22.182 0.413796 21.5821C-0.157533 20.9822 -0.134376 20.0327 0.46552 19.4614L9.325 11.0238L0.46552 2.58621C-0.134376 2.01488 -0.157533 1.06542 0.413796 0.46552Z" fill="#A9A9A9"/>
                  </svg>
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="text">Quên mật khẩu</span>
                <span class="icon"><svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.413796 0.46552C0.985125 -0.134376 1.93459 -0.157533 2.53449 0.413796L12.5345 9.93761C12.8318 10.2207 13 10.6133 13 11.0238C13 11.4343 12.8318 11.8269 12.5345 12.11L2.53449 21.6338C1.93459 22.2052 0.985125 22.182 0.413796 21.5821C-0.157533 20.9822 -0.134376 20.0327 0.46552 19.4614L9.325 11.0238L0.46552 2.58621C-0.134376 2.01488 -0.157533 1.06542 0.413796 0.46552Z" fill="#A9A9A9"/>
                  </svg>
                  </span>
              </a>
            </li>
          </ul>

          <a href="#" class="link-exit">Thoát</a>
          
        </div> <!-- / wrapper -->
      </div>
      <!-- user end -->

      <div class="c-bottom_bar">
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-04.png">
                <img class="statu-2" src="./src/img/ic-active-04.png">
              </div>
              <div class="text">Trang chủ</div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-03.png">
                <img class="statu-2" src="./src/img/ic-active-03.png">
              </div>
              <div class="text">Bài học</div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-02.png">
                <img class="statu-2" src="./src/img/ic-active-02.png">
              </div>
              <div class="text">bảng xếp hạng</div>
            </a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">
              <div class="icon">
                <img class="statu-1" src="./src/img/ic-01.png">
                <img class="statu-2" src="./src/img/ic-active-01.png">
              </div>
              <div class="text">Tải khoản</div>
            </a>
          </li>
        </ul>
      </div>
      <!-- bottom bar end -->

    </div>
    <!-- com 02 end -->


  </div>

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>
</body>

</html>