$ff1: 'Roboto', sans-serif;
$ff2: 'UTM AvoBold';
$ff3: 'Roboto Condensed', sans-serif;
$ff4: 'UTM Avo';
$fffa: 'FontAwesome';

$fs1: 14px;
$fs2: 15px;
$fs3: 16px;
$fs4: 18px;
$fs5: 24px;
$fs6: 30px;

$lh1: 22px;
$lh2: 24px;
$lh3: 30px;
$lh4: 40px;

$clf: #fff;
$cl3: #333;
$cl6: #666;
$cl9: #999;
$clc: #ccc;
$cl92: #929393;
$cle9: #e97d21;
$cldf: #df7924;
$clf8: #f8f8f8;
$cl05: rgba(0, 0, 0, 0.5);

$time-a1: all 0.3s ease-in;
$time-a2: all 0.5s ease-in;

$radius: 4px;