#footer {
  padding-top: 60px;
  background: #f9f9f9 url(../css/bg/1.png) no-repeat bottom 68px right;
}

#footer .contact {
  border-bottom: 1px solid #e2e2e2;
}

#footer .contact strong {
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#footer .contact p {
  color: #666;
}

#footer .contact b {
  color: #be1e2d;
}

#footer .contact .inner-registration {
  margin-bottom: 30px;
}

#footer .contact .inner-registration .form {
  padding-top: 25px;
  position: relative;
  display: inline-block;
}

#footer .contact .inner-registration .form input {
  width: 330px;
  border: 1px solid #e2e2e2;
  height: 36px;
  border-radius: 3px;
  padding-right: 70px;
  padding-left: 10px;
}

#footer .contact .inner-registration .form a {
  position: absolute;
  width: 58px;
  line-height: 32px;
  border-radius: 3px;
  background: #be1e2d;
  text-align: center;
  color: #fff;
  font-family: "HelveticaNeue-Medium";
  right: 3px;
  top: 27px;
}

#footer .contact .inner-registration .form a:hover {
  background: #faaf3f;
}

#footer .contact .inner-brochure {
  padding-left: 70px;
  position: relative;
  padding-right: 10px;
}

#footer .contact .inner-brochure::after {
  position: absolute;
  content: "";
  width: 43px;
  height: 108px;
  left: 0;
  top: 0;
  background: url(.././pic/icons/4.png) no-repeat center;
}

#footer .contact .inner-brochure > a {
  padding-top: 15px;
  color: #faaf3f;
}

#footer .contact .inner-brochure > a:hover {
  color: #be1e2d;
}

#footer .menu-footer {
  padding-top: 25px;
  border-bottom: 1px solid #e2e2e2;
}

#footer .menu-footer::after {
  content: "";
  display: block;
  clear: both;
}

#footer .menu-footer .link-block {
  width: 22.2222%;
  float: left;
  margin-bottom: 30px;
}

#footer .menu-footer .link-block:nth-child(1) {
  width: 33.3333%;
}

#footer .menu-footer .link-block > strong {
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#footer .menu-footer .link-block > ul > li {
  padding: 4.5px 0;
}

#footer .menu-footer .link-block > ul > li > a, #footer .menu-footer .link-block > ul > li > i {
  color: #666;
}

#footer .menu-footer .link-block > ul > li:hover a,
#footer .menu-footer .link-block > ul > li:hover i {
  color: #faaf3f;
}

#footer .copyright-social {
  padding: 10px 0;
}

#footer .copyright-social .left {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

#footer .copyright-social .right {
  float: right;
}

#footer .copyright-social .right > a {
  line-height: 48px;
  margin-left: 10px;
}

#footer .copyright-social .right > a:hover {
  transform: scale(1.1);
}
