.item-01 .khungAnh {
  overflow: hidden;
}

.item-01 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-01 .content h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
  line-height: 24px;
  font-family: "HelveticaNeue-Medium";
  max-height: 72px;
  overflow: hidden;
}

.item-02 {
  margin-bottom: 30px;
}

.item-02 .khungAnh {
  overflow: hidden;
}

.item-02 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-02 .khungAnh .time-i {
  position: absolute;
  width: 100px;
  height: 70px;
  background: #be1e2d;
  z-index: 3;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 10px;
}

.item-02 .khungAnh .time-i > span {
  display: block;
  color: #fff;
}

.item-02 .khungAnh .time-i > span:nth-child(1) {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid #dc4d5a;
  padding-bottom: 6px;
}

.item-02 .khungAnh .time-i > span:nth-child() {
  font-size: 16px;
}

.item-02 .content {
  background: #f2f2f2;
  padding: 15px;
}

.item-02 .content h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 24px;
  font-family: "HelveticaNeue-Medium";
  max-height: 48px;
  overflow: hidden;
}

.item-02 .content summary {
  color: #666;
  height: 63px;
  overflow: hidden;
}

.item-03 {
  margin-bottom: 30px;
}

.item-03 .khungAnh {
  overflow: hidden;
}

.item-03 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-03 .khungAnh:before {
  padding-bottom: 66.3%;
}

.item-03 .content {
  background: #f2f2f2;
  padding: 15px;
  text-align: center;
}

.item-03 .content h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 24px;
  font-family: "HelveticaNeue-Medium";
  max-height: 48px;
}

.item-04 {
  margin-bottom: 30px;
}

.item-04 .img {
  transition: all 0.3s ease-in;
  margin-bottom: 5px;
}

.item-04 .img:hover {
  transform: scale(1.05);
}

.item-04 .content {
  padding: 15px 30px;
  text-align: center;
}

.item-04 .content h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 24px;
  font-family: "HelveticaNeue-Medium";
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
}

.item-04 .content h2:after {
  content: "";
  position: absolute;
  width: 60px;
  border-bottom: 2px solid #faaf3f;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}

.item-04 .content summary {
  color: #666;
}

.item-05 {
  position: relative;
  padding: 0 0.5px !important;
  margin: -3px 0;
}

.item-05 .khungAnh {
  overflow: hidden;
}

.item-05 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-05 .khungAnh::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.item-05 .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 0 15px;
}

.item-05 .content h3 a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "HelveticaNeue-Medium";
}

.item-05 .content h3 > i {
  color: #fff;
  font-size: 16px;
  margin-left: 3px;
}

.item-05 .content h3:hover a,
.item-05 .content h3:hover i {
  color: #faaf3f;
}

.slick-current .item-05 .khungAnh::after {
  background: rgba(0, 0, 0, 0.6);
}

.item-06 {
  padding: 30px 15px;
  text-align: center;
}

.item-06 .khungAnh {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in;
  border: 2px solid #f6b6bc;
}

.item-06 .khungAnh:hover {
  transform: translateX(-50%) scale(1.1);
}

.item-06 .content {
  margin-top: 20px;
}

.item-06 .content summary {
  line-height: 24px;
  margin-bottom: 15px;
  font-style: italic;
  color: #666;
}

.item-06 .content summary:before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 14px;
  background: url(../css/icons/text.png) no-repeat center;
  margin-right: 8px;
}

.item-06 .content .name-address {
  font-family: "HelveticaNeue-Medium";
  font-size: 16px;
}

.item-06 .content .name-address span:nth-child(2) {
  color: #666;
  font-family: "HelveticaNeue";
}

.item-07 {
  padding-left: 20px;
  padding-right: 20px;
}

.item-07 .khungAnh {
  overflow: hidden;
}

.item-07 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-07 .khungAnh::before {
  padding-bottom: 66%;
}

.item-07 .content {
  margin-bottom: 15px;
}

.item-07 .content .time {
  color: #faaf3f;
  border-bottom: 2px solid #faaf3f;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.item-07 .content .text {
  line-height: 22px;
}

.item-07 .content .text span {
  color: #faaf3f;
  font-weight: bold;
}

.group-item-08 {
  padding-top: 80px;
  padding-bottom: 50px;
  background: #f2f2f2;
}

.item-08 {
  margin-bottom: 30px;
}

.item-08 .khungAnh {
  overflow: hidden;
}

.item-08 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-08 .khungAnh::before {
  padding-bottom: 66%;
}

.item-08 .khungAnh::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../css/icons/zoom.png) rgba(0, 0, 0, 0.6) no-repeat center;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease-in;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.item-08:hover .khungAnh::after {
  transform: scale(1);
  opacity: 1;
}

.item-08 .content {
  background: #fff;
  padding: 15px;
}

.item-08 .content h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 24px;
  font-family: "HelveticaNeue-Medium";
  max-height: 48px;
  overflow: hidden;
}

.item-08 .content summary {
  color: #666;
  height: 63px;
  overflow: hidden;
}

.item-08 .inner {
  transition: all 0.5s ease-in;
}

.item-08 .inner:hover {
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.item-09 {
  margin-bottom: 1px;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.item-09 .khungAnh {
  overflow: hidden;
}

.item-09 .khungAnh .khungAnhCrop {
  transition: all 0.3s ease-in;
}

.item-09 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-09 .khungAnh::before {
  padding-bottom: 55%;
}

.item-09::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  pointer-events: none;
  transition: all 0.5s ease-in;
  transform: translateY(-100%);
  opacity: 0;
}

.item-09 .content {
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
  line-height: 22px;
  overflow: auto;
  max-height: 100%;
}

.item-09 .content > strong {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.item-09 .content > p {
  transform: translateY(100px) scale(0);
  height: 0px;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.item-09:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.item-09:hover .content > p {
  transform: translateY(0) scale(1);
  height: auto;
  opacity: 1;
}

.item-10 {
  margin-bottom: 30px;
  position: relative;
}

.item-10 .khungAnh {
  overflow: hidden;
}

.item-10 .khungAnh:hover .khungAnhCrop {
  transform: scale(1.05);
}

.item-10 .khungAnh::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../css/icons/zoom.png) rgba(0, 0, 0, 0.6) no-repeat center;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease-in;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.item-10 h2 {
  position: absolute;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: bold;
  bottom: 0;
  left: 0;
  z-index: 3;
  margin-bottom: 0;
  width: 100%;
  pointer-events: none;
}

.item-10 h2 > i {
  margin-left: 5px;
}

.item-10:hover .khungAnh::after {
  transform: scale(1);
  opacity: 1;
}

.item-11 {
  margin-bottom: 30px;
}

.item-11 .inner {
  position: relative;
}

.item-11 .inner h2 {
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  bottom: 3%;
  left: 0;
  z-index: 3;
  margin-bottom: 0;
  width: 100%;
  pointer-events: none;
}

.item-11 .inner h2 > i {
  margin-left: 5px;
}

.group-item-12 .container {
  column-count: 3;
  column-gap: 30px;
}

.item-12 {
  display: inline-block;
  width: 100%;
  display: inline-block;
}

.item-12 .khungAnh::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../css/icons/zoom.png) rgba(0, 0, 0, 0.6) no-repeat center;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease-in;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.item-12:hover .khungAnh::after {
  transform: scale(1);
  opacity: 1;
}

.item-12 .content summary,
.item-12 .content h2 {
  max-height: unset;
  height: auto;
}

.item-13 {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

.item-13:last-of-type {
  border: none;
}

.item-13::after {
  content: "";
  display: block;
  clear: both;
}

.item-13 .khungAnh {
  width: 100px;
  height: 67px;
  float: left;
  margin-right: 10px;
}

.item-13 > a {
  display: block;
  line-height: 18px;
  max-height: 72px;
}

.item-14 {
  background: #fff;
  margin-bottom: 30px;
  padding: 20px;
  color: #666;
}

.item-14 .copyright {
  margin-bottom: 25px;
}

.item-14 .copyright::after {
  content: "";
  display: block;
  clear: both;
}

.item-14 .copyright .khungAnh {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
}

.item-14 .copyright .name {
  font-size: 16px;
  font-family: "HelveticaNeue-Medium";
  padding-top: 10px;
  color: #333;
}

.item-14 .content {
  max-height: 94px;
  overflow: hidden;
}

.item-14 .content::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 24px;
  background: url(../css/icons/text2.png) no-repeat center;
  margin-right: 4px;
}

.item-14 .btn-14 {
  margin-top: 15px;
  color: #faaf3f;
}

.item-14 .btn-14 > span {
  cursor: pointer;
}

.item-14 .btn-14 > span:hover {
  color: #be1e2d;
}

.item-14 .btn-14 .closed {
  display: none;
}

.item-14.active .content {
  max-height: none;
}

.item-14.active .btn-14 .open {
  display: none;
}

.item-14.active .btn-14 .closed {
  display: inline-block;
}
