$font-f1: 'HelveticaNeue';
$font-f2: 'HelveticaNeue-Medium';
$font-f3: 'UTMAvo';
$font-f4: 'UTMAvoBold';

$font-s1: 14px;
$font-s2: 16px;
$font-s3: 20px;
$font-s4: 24px;
$font-s5: 30px;

$line-01: 21px;
$line-02: 24px;
$line-03: 40px;

$color-01: #fff;
$color-02: #333;
$color-03: #666;
$color-04: #999;
$color-05: #be1e2d;
$color-06: #faaf3f;
$color-07: #e7a1a8;
$color-08: #f2f2f2;
$color-09: #e2e2e2;

$time-a1: all 0.3s ease-in;
$time-a2: all 0.5s ease-in;

$radius: 3px;