<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .container {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
    a {
      display: block;
      text-align: center;
      margin-top: 15px;
      text-decoration: none;
      transition: all .4s ease-in-out;
      font-weight: 700;
    }
    a:hover {
      color: blueviolet;
    }
    a:nth-child(1) {
      margin-top: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <a href="./home.html">Home page</a>
      <a href="./news.html">News page</a>
      <a href="./news-detail.html"> News detail page</a>
      <a href="./ratings.html">Ratings page</a>
      <a href="./contact.html">Contact page</a>
      <a href="./search.html">Search page</a>
      <a href="./registration.html">Registration page</a>
      <a href="./linh-thi.html">Lich thi</a>
      <a href="./ket-qua.html">Kết quả</a>
      <a href="./tra-cuu-bai-viet.html">Tra cứu bài viết</a>
      <a href="./danh-sach-thi-sinh.html">Danh sách thí sinh</a>
      <a href="./danh-sach-bai-thi.html">Danh sách bài thi</a>
      <a href="./danh-sach-bai-thi-chi-tiet.html">Danh sách bài thi chi tiết</a>
    </div>
  </div>
  
</body>
</html>