<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--<script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!--breadcrumb-->
    <section class="s-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="#"><img src="./css/icons/home2.png" alt=""></a>
                        <a class="breadcrumb-item active">Giới thiệu</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <div class="col-12 col-lg-6 item-gt">
                <div class="inner-igt">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.png">
                        </a>
                    </div>
                    <div class="content">
                        <h2 class="title"><a href="#">Giới thiệu chung</a></h2>
                        <div class="text">Thầy giáo nổi tiếng, trẻ nhưng nhiều kinh nghiệm, được học sinh mệnh danh là “Vua Trắc Nghiệm Toán”</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 item-gt">
                <div class="inner-igt">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.png">
                        </a>
                    </div>
                    <div class="content">
                        <h2 class="title"><a href="#">Giới thiệu chung</a></h2>
                        <div class="text">Thầy giáo nổi tiếng, trẻ nhưng nhiều kinh nghiệm, được học sinh mệnh danh là “Vua Trắc Nghiệm Toán”</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 item-gt">
                <div class="inner-igt">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.png">
                        </a>
                    </div>
                    <div class="content">
                        <h2 class="title"><a href="#">Giới thiệu chung</a></h2>
                        <div class="text">Thầy giáo nổi tiếng, trẻ nhưng nhiều kinh nghiệm, được học sinh mệnh danh là “Vua Trắc Nghiệm Toán”</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 item-gt">
                <div class="inner-igt">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.png">
                        </a>
                    </div>
                    <div class="content">
                        <h2 class="title"><a href="#">Giới thiệu chung</a></h2>
                        <div class="text">Thầy giáo nổi tiếng, trẻ nhưng nhiều kinh nghiệm, được học sinh mệnh danh là “Vua Trắc Nghiệm Toán”</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 item-gt">
                <div class="inner-igt">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.png">
                        </a>
                    </div>
                    <div class="content">
                        <h2 class="title"><a href="#">Giới thiệu chung</a></h2>
                        <div class="text">Thầy giáo nổi tiếng, trẻ nhưng nhiều kinh nghiệm, được học sinh mệnh danh là “Vua Trắc Nghiệm Toán”</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 item-gt">
                <div class="inner-igt">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.png">
                        </a>
                    </div>
                    <div class="content">
                        <h2 class="title"><a href="#">Giới thiệu chung</a></h2>
                        <div class="text">Thầy giáo nổi tiếng, trẻ nhưng nhiều kinh nghiệm, được học sinh mệnh danh là “Vua Trắc Nghiệm Toán”</div>
                    </div>
                </div>
            </div>
            <!--SplitPages-->
            <div class="col-12 splitPages text-center">
                <div class="SplitPages">
                    <a class="dau" href="#">Đầu</a>
                    <a class="truoc" href="#">Trước</a>
                    <a class="hientai" href="#">1</a>
                    <a class="trangkhac" href="#">2</a>
                    <a class="trangkhac" href="#">3</a>
                    <a class="trangkhac" href="#">4</a>
                    <a class="sau" href="#">Sau</a>
                    <a class="cuoi" href="#">Cuối</a>
                </div>
            </div>
            <!--end SplitPages-->
        </div>
    </main>
    <!--end main-->


</body>

</html>
