<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--<script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <!-- gio hang -->
            <div class="col-xs-12 content-gh">
                <div class="giohang-product">
                    <div class="giohang-ct">
                        <ul class="danhmuc">
                            <li>Sản phẩm</li>
                            <li class="text-center">Đơn giá</li>
                            <li class="text-center">Số lượng</li>
                            <li class="text-center">Thành tiền</li>
                            <li></li>
                        </ul>
                        <ul class="sanpham-ct">
                            <li class="anh-sp">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop0" href="#">
                                        <img src="./pic/demo.png">
                                    </a>
                                </div>
                            </li>
                            <li class="ten-sp">Giải Bài Tập Tự Luận Và Trắc Nghiệm Đại Số - Giải Tích 12</li>
                            <li class="gia-sp text-center">95.000 Đ</li>
                            <li class="soluong-sp text-center">
                                <input type="text" value="1">
                            </li>
                            <li class="tien-sp text-center">95.000 Đ</li>
                            <li class="xoa-sp">
                                <img src="./css/icons/xoa.png" alt="">
                            </li>
                        </ul>
                        <ul class="sanpham-ct">
                            <li class="anh-sp">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop0" href="#">
                                        <img src="./pic/demo.png">
                                    </a>
                                </div>
                            </li>
                            <li class="ten-sp">Giải Bài Tập Tự Luận Và Trắc Nghiệm Đại Số - Giải Tích 12</li>
                            <li class="gia-sp text-center">95.000 Đ</li>
                            <li class="soluong-sp text-center">
                                <input type="text" value="1">
                            </li>
                            <li class="tien-sp text-center">95.000 Đ</li>
                            <li class="xoa-sp">
                                <img src="./css/icons/xoa.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="tongten-sp">
                        <div class="hotro">
                            <div class="image">
                                <img src="./css/icons/goi.png" alt="">
                            </div>
                            <div class="content">
                                <p>Mọi thắc mắc của Quý khách vui lòng liên hệ Hotline<a href="#"> 0988.933.452 </a>để được giải đáp. Xin trân trọng cảm ơn !</p>
                            </div>
                        </div>
                        <div class="tongtien">
                            <p>Tổng cộng:<span>19.000.000 VNĐ</span></p>
                        </div>
                    </div>
                </div>
                <div class="row tthk">
                    <div class="col-xs-12 col-sm-7">
                        <div class="tt-kh">
                            <p>Bạn hãy điền đầy đủ thông tin để chúng tôi có thể liên lạc và giao hàng cho bạn sớm nhất!</p>
                            <input type="text" placeholder="Họ tên *">
                            <input type="text" placeholder="Số điện thoại *">
                            <input type="text" placeholder="Email *">
                            <textarea cols="1" rows="1" placeholder="Đại chỉ giao hàng *"></textarea>
                            <div class="block-nut">
                                <a class="send" href="#" data-toggle="modal" data-target="#exampleModal1">gửi đơn hàng</a>
                                <a class="reset" href="#">tiếp tục mua hàng</a>
                                <span>* Cần điền đủ thông tin</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="tt-ct">
                            <p>Hoặc bạn có thể đến trực tiếp địa chỉ sau:</p>
                            <h4>Thầy Nguyễn Quốc Chí</h4>
                            <p class="diachi">Địa chỉ: <span>Số 66 Trần Đại Nghĩa, Đồng Tâm, Hai Bà Trưng, Hà Nội, Việt Nam</span></p>
                            <p class="hotline">Hotline: <a title="" href="#">0988 933 452</a></p>
                            <p class="email">Email: <span>@nguyenquocchi@thaychi.vn</span></p>
                            <p class="website">Email: <span>www.thaychi.net</span></p>
                            <p class="camon">Xin chân thành cảm ơn!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--end main-->

    <!-- Modal -->
    <div class="modal fade modal1" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="#" class="Close" data-dismiss="modal" aria-label="Close">X đóng lại</a>
                    <div class="text-center centent">
                        <img src="./css/icons/t1.png" alt="">
                        <h4>Đặt hàng thành công</h4>
                        <p>Cảm ơn đã đặt hàng tại Thaychi.net. Chúng tôi sẽ liên hệ lại với bạn trongthời gian sớm nhất. Trân trọng cám ơn</p>
                        <a href="#">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
