<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--<script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>


    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <section class="col-12 section-sp section-sp2 section-sp6">
                <div class="top-ssp">
                    <strong>Có <b>260</b> kết quả tìm kiếm với từ khóa: <b class="b1">“Giải đề thi trắc nghiệm”</b></strong>
                </div>
                <div class="main-ssp">
                    <div class="right">
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                        <div class="item-sp">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                            </div>
                            <div class="event-sp active">17%</div>
                            <div class="content-sp">
                                <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                <div class="giaban-sp">390.000 Đ</div>
                                <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                <div class="giagoc-sp">590.000 Đ</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center btuton-sp"><a href="#">Xem thêm <b>240</b> sản phẩm nữa</a></div>
            </section>
        </div>
    </main>
    <!--end main-->


</body>

</html>
