<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--<script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>

<body>

    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <!--dang nhap-->
            <div class="col-12 col-md-6 push-md-6 inner-formdn">
                <div class="top-tx">
                    <div class="p1">
                        <h4>Bạn đã có tài khoản ở thaychi.net</h4>
                    </div>
                    <div class="p2">Vui lòng đăng ký tài khoản theo biểu mẫu bên dưới.</div>
                    <div class="p3">Các ô có dấu <span>*</span> cần điền đủ thông tin</div>
                </div>
                <div class="form">
                    <label for="email">
                                       <input type="text" placeholder="Email *">
                                   </label>
                    <label for="pass">
                                        <input type="text" placeholder="Mật khẩu *">
                                    </label>
                    <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox"> Ghi nhớ mật khẩu
                                    </label>
                    <a href="#">Quên mật khẩu</a>
                </div>
                <a href="#" class="btn-modal btn-dn">Đăng nhập</a>
                <a href="#" class="btn-modal btn-dnf">Đăng nhập bằng Facebook</a>
            </div>
            <!--end dang nhap-->
            <!--dang ky-->
            <div class="col-12 col-md-6 pull-md-6 inner-formdk">
                <div class="top-tx">
                    <div class="p1">
                        <h4>bạn chưa có tài khoản tại hotlids?</h4>
                    </div>
                    <div class="p2">Vui lòng đăng ký tài khoản theo biểu mẫu bên dưới</div>
                    <div class="p3">Các ô có dấu <span>*</span> cần điền đủ thông tin</div>
                </div>
                <div class="form">
                    <label for="email">
                                       <input type="text" placeholder="Email *">
                                   </label>
                    <label for="pass">
                                        <input type="text" placeholder="Mật khẩu *">
                                    </label>
                    <label for="name">
                                        <input type="text" placeholder="Họ và tên">
                                    </label>
                    <label for="gioitinh">
                                        <select>
                                            <option>Giới tính *</option>
                                            <option>Nam</option>
                                            <option>Nữ</option>
                                        </select>
                                    </label>
                    <label for="phone">
                                        <input type="text" placeholder="Số điện thoại *">
                                    </label>
                    <label for="khuvuc">
                                        <select>
                                            <option>Khu vực *</option>
                                            <option>Con 2 *</option>
                                            <option>Con 3 *</option>
                                            <option>Con 4 *</option>
                                        </select>
                                    </label>
                    <label for="thpt">
                                        <select>
                                            <option>Trường THPT bạn đang theo học *</option>
                                            <option>Con 2 *</option>
                                            <option>Con 3 *</option>
                                            <option>Con 4 *</option>
                                        </select>
                                    </label>
                </div>
                <a href="#" class="btn-modal btn-dk">Đăng ký</a>
            </div>
            <!--end dang ky-->
        </div>
    </main>
    <!--end main-->



</body>

</html>
