<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="vendor/datePicker/jquery-ui.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--    <script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="vendor/datePicker/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="vendor/datePicker/date-vi-VN.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>


    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <!--left main-->
            <div class="col-12 col-lg-3 left-main">
                <!--quan ly tai khoan-->
                <div class="my-acc">
                    <div class="inner-myacc">
                        <div class="top">Lịch sử giao dịch</div>
                        <div class="my"><a href="#">Thông tin cá nhân</a></div>
                        <div class="my"><a href="#">Quản lý sản phẩm yêu thích</a></div>
                        <div class="my active-page"><a href="#">Quản lý đơn hàng</a></div>
                        <div class="my"><a href="#">Thay đổi mật khẩu</a></div>
                        <div class="my"><a href="#">Thoát</a></div>
                    </div>
                </div>
                <!--end quan ly tai khoa-->
            </div>
            <!--end left main-->
            <!--right main-->
            <div class="col-12 col-lg-9 right-main">
                <!--thong tin ca nhan-->
                <div class="block-ttch">
                    <div class="left">
                        <div class="ttch">
                            <div class="top">Thông tin cá nhân</div>
                            <div class="content">
                                <p>Họ và tên: Nguyễn Phương Linh</p>
                                <p>Giới tính: Nữ</p>
                                <p>Email: Jinbewon1993@gmail.com</p>
                                <p>Địa chỉ: Số 34 Láng Hạ, Hà Nội</p>
                                <p>Điện thoại: 0989.369.369</p>
                                <p>Lớp: 11</p>
                                <p>Trường: THPT Quang Trung</p>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <div class="form">
                            <input type="text" placeholder="Họ và tên *">
                            <input type="text" placeholder="Email *">
                            <select class="t gt">
                                    <option>Nam</option>
                                    <option>Nữ</option>
                                </select>
                            <input class="nlv datepicker2" type="text" id="tbBirthDay" placeholder="Năm sinh *">
                            <input type="text" placeholder="Địa chỉ *">
                            <input type="text" placeholder="Điện thoại *">
                            <input type="text" placeholder="Lớp:">
                            <select>
                                <option>Trường bạn đang theo học</option>
                            </select>
                            <a href="#" class="btn-ltt">Lưu thông tin</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="inner-avatar">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#" title="">
                                    <img src="./pic/demo.png" class="wide">
                                </a>
                                <div class="input">
                                    <p>Thay đổi ảnh đại diện</p>
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end thong tin ca nhan-->
            </div>
            <!--end block images-->
        </div>
        <!--end right main-->
        </div>
    </main>
    <!--end main-->


</body>

</html>
