<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="vendor/datePicker/jquery-ui.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--    <script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="vendor/datePicker/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="vendor/datePicker/date-vi-VN.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>


    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <!--left main-->
            <div class="col-12 col-lg-3 left-main">
                <!--quan ly tai khoan-->
                <div class="my-acc">
                    <div class="inner-myacc">
                        <div class="top">Lịch sử giao dịch</div>
                        <div class="my"><a href="#">Thông tin cá nhân</a></div>
                        <div class="my"><a href="#">Quản lý sản phẩm yêu thích</a></div>
                        <div class="my active-page"><a href="#">Quản lý đơn hàng</a></div>
                        <div class="my"><a href="#">Thay đổi mật khẩu</a></div>
                        <div class="my"><a href="#">Thoát</a></div>
                    </div>
                </div>
                <!--end quan ly tai khoa-->
            </div>
            <!--end left main-->
            <!--right main-->
            <div class="col-12 col-lg-9 right-main">
                <!--product yeu thich-->
                <div class="product-yt">
                    <h2>Sản phẩm yêu thích</h2>
                    <ul class="top-pyt">
                        <li>STT</li>
                        <li>Mã đơn hàng</li>
                        <li>Sản phẩm</li>
                        <li>Tình trạng</li>
                        <li>Giá</li>
                        <li>Xóa</li>
                    </ul>
                    <ul>
                        <li>1</li>
                        <li>MH341</li>
                        <li>Sách bộ đề thi ôn lớp 10</li>
                        <li>Còn hàng</li>
                        <li>120.000đ</li>
                        <li><img src="./css/icons/xoa2.png" alt=""></li>
                    </ul>
                    <ul>
                        <li>2</li>
                        <li>MH341</li>
                        <li>Sách bộ đề thi ôn lớp 10</li>
                        <li>Còn hàng</li>
                        <li>120.000đ</li>
                        <li><img src="./css/icons/xoa2.png" alt=""></li>
                    </ul>
                    <ul>
                        <li>3</li>
                        <li>MH341</li>
                        <li>Sách bộ đề thi ôn lớp 10</li>
                        <li>Còn hàng</li>
                        <li>120.000đ</li>
                        <li><img src="./css/icons/xoa2.png" alt=""></li>
                    </ul>
                </div>
                <!--end product yeu thich-->
            </div>
            <!--end block images-->
        </div>
        <!--end right main-->
        </div>
    </main>
    <!--end main-->


</body>

</html>
