<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="vendor/datePicker/jquery-ui.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--    <script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="vendor/datePicker/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="vendor/datePicker/date-vi-VN.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>


    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <!--left main-->
            <div class="col-12 col-lg-3 left-main">
                <!--quan ly tai khoan-->
                <div class="my-acc">
                    <div class="inner-myacc">
                        <div class="top">Lịch sử giao dịch</div>
                        <div class="my"><a href="#">Thông tin cá nhân</a></div>
                        <div class="my"><a href="#">Quản lý sản phẩm yêu thích</a></div>
                        <div class="my active-page"><a href="#">Quản lý đơn hàng</a></div>
                        <div class="my"><a href="#">Thay đổi mật khẩu</a></div>
                        <div class="my"><a href="#">Thoát</a></div>
                    </div>
                </div>
                <!--end quan ly tai khoa-->
            </div>
            <!--end left main-->
            <!--right main-->
            <div class="col-12 col-lg-9 right-main">
                <!--lich su dao dich  -->
                <div class="block-lsgd">
                    <h2>Lịch sử giao dịch</h2>
                    <ul class="item">
                        <li><span class="y1">Mã đơn hàng</span><span class="y2">: <b>MS3659241</b></span></li>
                        <li><span class="y1">Phương thức thanh toán</span><span class="y2">: Nộp tiền tại công ty</span></li>
                        <li><span class="y1">Ngày đặt hàng</span><span class="y2">: <span class="ngay">04/07.2017</span>
                            <span
                                class="gio">14:30</span>
                                </span>
                        </li>
                        <li><span class="y1">Tổng cộng</span><span class="y2">: <b class="gia">1.200.000đ</b> (Chờ thanh toán)</span></li>
                    </ul>
                    <a href="#" class="btn-ttn2">Thanh toán ngay</a>
                </div>
                <!-- end lich su dao dich -->
                <section class="section-sp df">

                    <div class="main-ssp">
                        <div class="right">
                            <div class="item-sp">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                                </div>
                                <div class="event-sp active">17%</div>
                                <div class="content-sp">
                                    <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                    <div class="giaban-sp">390.000 Đ</div>
                                    <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                    <div class="giagoc-sp">590.000 Đ</div>
                                </div>
                            </div>
                            <div class="item-sp">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                                </div>
                                <div class="event-sp active">17%</div>
                                <div class="content-sp">
                                    <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                    <div class="giaban-sp">390.000 Đ</div>
                                    <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                    <div class="giagoc-sp">590.000 Đ</div>
                                </div>
                            </div>
                            <div class="item-sp">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/demo.png">
                                </a>
                                </div>
                                <div class="event-sp active">17%</div>
                                <div class="content-sp">
                                    <div class="name-sp"><a href="#">Sách  bộ đề thi ôn lớp 10</a></div>
                                    <div class="giaban-sp">390.000 Đ</div>
                                    <div class="tietkiem-sp">Tiết kiệm: 200.000 Đ</div>
                                    <div class="giagoc-sp">590.000 Đ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--end right main-->
            </div>
        </div>
    </main>
    <!--end main-->


</body>

</html>