<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <!--<script type="text/javascript" src="vendor/js/addthis_widget.js"></script>-->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <style>
        a {
            display: block;
            font-size: 20px;
            color: #4b1cbb;
            margin: 5px;
        }

    </style>

</head>

<body>

    <!--main -->
    <main class="container" id="main">
        <div class="row inner-main">
            <div class="col-12 text-center">
                <a href="./01.trangchu.html">1 trang chu</a>
                <a href="./02.gioithieu-danhsach.html">2 gioi thieu danh sach</a>
                <a href="./03.gioithieu-chitiet.html">3 gioi thieu chi tiet</a>
                <a href="./04.sanpham-tranhchinh.html">4 san pham trang chinh</a>
                <a href="./05.sanpham-danhmuc.html">5 san pham danh muc</a>
                <a href="./07.sanpham-chitiet.html">6 san pham chi tiet</a>
                <a href="./08.giohang.html">7 gio hang</a>
                <a href="./11.khoahoc-danhsach.html">8 khoa hoc danh sach</a>
                <a href="./12.khoahoc-chitiet.html">9 khoa hoc chi tiet</a>
                <a href="./14.lienhe.html">10 lien he</a>
                <a href="./15.ketquatimkiem.html">11 kiet qua tim kiem</a>
                <a href="./16.thuvien-trangchinh.html">12 thu vien trang chinh</a>
                <a href="./17.thuvienanh-danhsach.html">13 thu vien anh danh sach</a>
                <a href="./18.thuvienanh-chitiet.html">14 thu vien anh chi tiet</a>
                <a href="./19.thuvienvideo-danhsach.html">15 thu vien videos danh sach</a>
                <a href="./20.thuvienvideo-chitiet.html">16 thu vien video chi tiet</a>
                <a href="./21.thuvientailieu-danhsach.html">17 thu vien tai lieu danh sach</a>
                <a href="./22.thuvientailieu-chitiet.html">18 thu vien tai lieu danh sach</a>
                <a href="./23.dangnhap-dangky.html">19 dang nhap dang ky</a>
                <a href="./24.quanlytaikhoa-quanlythongtin.html">20 quan ly tai khoan quan ly thong tin</a>
                <a href="./25.quanlytaikhoa-thaydoimatkhau.html">21 quan ly tai khoan thay doi mat khau</a>
                <a href="./26.quanlytaikhoan-sanphamyeuthich.html">22 quan ly tai khoan san pham yeu thich</a>
                <a href="./27.danhsachdonhangdadat.html">23 danh sach don hang da dat</a>
                <a href="./28.danhsachchitietdonhangdadat.html">24 danh sach chi tiet don hang da dat</a>
                <a href="./29.lichsugiaodich.html">lich su dao dich</a>
            </div>
        </div>
    </main>
    <!--end main-->



</body>

</html>
