// Color
$c-black: #000;
$c-white: #fff;
$c-dark: #221f20;
$c-blue: #4D73FF;
$c-primary: #4267B2;
$c-red: #ff0000;
$c-info: #F4F4F4;
$c-light: #B8B8B8;

$c-yellow: rgba(255, 212, 36, .9);
$c-orange: #ee4d2d;


$tst: all .3s ease-in-out;

// Extra large devices (large desktops, 1200px and up)
$breakpoints-xl: 1200px;