<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
    <script type="text/javascript" src="vendor/google-map/infobox.js"></script>
    <script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
    <script type="text/javascript" src="js/addthis_widget.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jsdotdotdot/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!--main-->
    <main class="main main-lienhe">
        <div class="container">
            <div class="row">
                <div class="col-6 form-lienhe">
                    <div class="text">
                        <h3>CỔNG ty cổ phần công nghiệp xây dựng toàn phát</h3>
                        <div class="inner">
                            <p class="phone"><b>Điện thoại: </b>0320.3.890.944</p>
                            <p class="fax"><b>Tel: </b>0320.3.890.486</p>
                            <p class="email"><b>Email: </b>caodangduoctwhd@moet.edu.vn</p>
                            <p class="website"><b>Website: </b>www.duoctu-hd.edu.vn</p>
                        </div>
                    </div>
                    <div class="form">
                        <h3>Gửi liên hệ về cho chúng tôi</h3>
                        <div class="inner-form">
                            <input type="text" placeholder="Họ tên *">
                            <input type="text" placeholder="Điện Thoại *">
                            <input type="text" placeholder="Email *">
                            <select>
								<option> Gửi tới bộ phận *</option>
								<option>Đông</option>
								<option>Tây</option>
								<option>Nam</option>
								<option>Bắc</option>
				            </select>
                            <textarea cols="1" rows="3" placeholder="Nội dung *"></textarea>
                        </div>
                        <div class="gui-nl">
                            <a href="#" class="btn-lh send-lh">Gửi liên hệ</a>
                            <a href="#" class="btn-lh reset-lh">nhập lại</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 map">
                    <h3>Địa điểm cơ quan</h3>
                    <div class="maps-lh" id="maps-lh">
                    </div>
                    <script type="text/javascript">
                        initialize(
                            '21.00757415248039',
                            '105.80296128988266',
                            '',
                            'maps-lh',
                            './css/icons/icon-map.png'
                        );

                    </script>
                </div>
            </div>
        </div>
    </main>
    <!--end main-->

    <!--gui lien he thanh cong-->
    <div class="overlay-lh"></div>
    <div class="block-hide_lh text-center">
        <img src="./css/icons/lhtc.png" alt="">
        <strong>Gửi liên hệ thành công</strong>
        <span>Cảm ơn bạn đã quan tâm và liên hệ đến trường</span>
        <p>Chúng tôi sẽ liên hệ với bạn trong vòng 24h. Nếu bạn có bất cứ thắc mắc hay câu hỏi nào vui lòng gọi điện để được tư vấn: <b>0320.890.944 - 0320.890.486</b></p>
        <a href="#" class="btn-vetrangchu">Trở về trang chủ</a>
    </div>
    <div class="remove-lh">ĐÓNG LẠI</div>
    <!--end gui lien he thanh cong-->

</body>

</html>
