<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
    <script type="text/javascript" src="vendor/google-map/infobox.js"></script>
    <script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
    <script type="text/javascript" src="js/addthis_widget.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/jsdotdotdot/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!--main-->
    <main class="main main-kvbm">
        <div class="container">
            <div class="row">
                <!--section khoa va bo moi-->
                <div class="section-kvbm">
                    <ul class="inner">
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                        <li><a href="#">Bộ môn Bào chế</a></li>
                    </ul>
                </div>
                <!--end section khoa va bo moi-->
            </div>
        </div>
    </main>
    <!--end main-->

</body>

</html>
