// Color
$c-black: #000;
$c-white: #fff;
$c-dark: #221f20;
$c-blue: #00b3ff;
$c-indigo: #1877f1;
$c-red: #db4437;
$c-yellow: #f7941d;
$c-cyan: #9e9e9e;
$c-info: #bcbcbc;


$tst: all .3s ease-in-out;

// Extra large devices (large desktops, 1200px and up)
$breakpoints-xl: 1200px;