<!DOCTYPE html>
<html lang="vi_VN">

<head>

    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="" type="image/png">
    <!-- css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!--header-->
    <header class="header">
        <!--top bar-->
        <div class="top-bar">
            <div class="container">
                <div class="row inner">
                    <div class="col-12">
                        <span>Terre d’Annam spécialiste des voyages sur mesure en Indochine pour les groupes et les individuels</span>
                        <a href="tel:84936316190" class="hotline">+84 936 316 190</a>
                    </div>
                </div>
            </div>
        </div>
        <!--menu logo social-->
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <!--logo-->
                    <div class="logo">
                        <div class="inner">
                            <div class="khungAnh">
                                <a class="khungAnhCrop0" href="#">
                                    <img src="./pic/logo.png">
                                </a>
                            </div>
                        </div>
                        <h1>terr-annam.com</h1>
                    </div>
                    <a href="#" class="logo-fix">
                        <img src="./pic/logo3.png" alt="">
                    </a>
                    <!--menu social-->
                    <div class="col-12">
                        <!--social-->
                        <div class="text-right social">
                            <div class="icon">
                                <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                                <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                                <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                            </div>
                        </div>
                        <!--menu-->
                        <nav class="navbar navbar-toggleable-md navbar-light menu-main">
                            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span>
                                    <b></b>
                                </span>
                            </button>
                            <div class="collapse justify-content-end navbar-collapse " id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#">Nos destinations</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#">Nos thématiques</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">blog</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#">À propos de nous</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">nous contacter</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--image and breadcrumb-->
    <div class="slide-mini">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="#">
                <img src="./pic/slide-mini.png">
            </a>
        </div>
        <div class="s-breadcrumb">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Accueil</a>
                <a class="breadcrumb-item active"> propos de nous</a>
                <a class="breadcrumb-item active">Notre agence</a>
            </nav>
            <strong>Notre agence</strong>
        </div>
    </div>

    <!--main-->
    <main class="main main-tour-danhsach">
        <div class="container block-news">
            <div class="row">
                <item class="col-12">
                    <div class="inner">
                        <div class="img">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo1.png">
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="title-item">
                                <a href="#">Ouest - Dong Thap - Chau Doc - Ca Mau - Bac Lieu - Can Tho</a>
                            </h2>
                            <a href="#" class="btn-vn">vietnam</a>
                            <span class="type">Culture et civilisation  -  Histoire contemporaine  -  Tourisme urbain</span>
                            <p class="text">
                                Terre d’Annam vous convie à un séjour inédit à la découverte de la Moldavie et de la Transnistrie. En plus de la découverte du patrimoine culturel et naturel de la Moldavie, ce séjour exceptionnel vous permettra de vivre une expérience unique : assister aux célébrations du « Jour de la Victoire » le 09 mai à Tiraspol, capitale de l’État de facto.
                            </p>
                            <div class="time-btn">
                                <time>
                                    <b>Durée</b>
                                    <p>13 jours</p>
                                </time>
                                <a href="#" class="btn-main">en savoir plus</a>
                            </div>
                        </div>
                    </div>
                </item>
                <item class="col-12">
                    <div class="inner">
                        <div class="img">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo1.png">
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="title-item">
                                <a href="#">Ouest - Dong Thap - Chau Doc - Ca Mau - Bac Lieu - Can Tho</a>
                            </h2>
                            <a href="#" class="btn-vn">vietnam</a>
                            <span class="type">Culture et civilisation  -  Histoire contemporaine  -  Tourisme urbain</span>
                            <p class="text">
                                Terre d’Annam vous convie à un séjour inédit à la découverte de la Moldavie et de la Transnistrie. En plus de la découverte du patrimoine culturel et naturel de la Moldavie, ce séjour exceptionnel vous permettra de vivre une expérience unique : assister aux célébrations du « Jour de la Victoire » le 09 mai à Tiraspol, capitale de l’État de facto.
                            </p>
                            <div class="time-btn">
                                <time>
                                    <b>Durée</b>
                                    <p>13 jours</p>
                                </time>
                                <a href="#" class="btn-main">en savoir plus</a>
                            </div>
                        </div>
                    </div>
                </item>
                <item class="col-12">
                    <div class="inner">
                        <div class="img">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo1.png">
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="title-item">
                                <a href="#">Ouest - Dong Thap - Chau Doc - Ca Mau - Bac Lieu - Can Tho</a>
                            </h2>
                            <a href="#" class="btn-vn">vietnam</a>
                            <span class="type">Culture et civilisation  -  Histoire contemporaine  -  Tourisme urbain</span>
                            <p class="text">
                                Terre d’Annam vous convie à un séjour inédit à la découverte de la Moldavie et de la Transnistrie. En plus de la découverte du patrimoine culturel et naturel de la Moldavie, ce séjour exceptionnel vous permettra de vivre une expérience unique : assister aux célébrations du « Jour de la Victoire » le 09 mai à Tiraspol, capitale de l’État de facto.
                            </p>
                            <div class="time-btn">
                                <time>
                                    <b>Durée</b>
                                    <p>13 jours</p>
                                </time>
                                <a href="#" class="btn-main">en savoir plus</a>
                            </div>
                        </div>
                    </div>
                </item>
                <item class="col-12">
                    <div class="inner">
                        <div class="img">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo1.png">
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="title-item">
                                <a href="#">Ouest - Dong Thap - Chau Doc - Ca Mau - Bac Lieu - Can Tho</a>
                            </h2>
                            <a href="#" class="btn-vn">vietnam</a>
                            <span class="type">Culture et civilisation  -  Histoire contemporaine  -  Tourisme urbain</span>
                            <p class="text">
                                Terre d’Annam vous convie à un séjour inédit à la découverte de la Moldavie et de la Transnistrie. En plus de la découverte du patrimoine culturel et naturel de la Moldavie, ce séjour exceptionnel vous permettra de vivre une expérience unique : assister aux célébrations du « Jour de la Victoire » le 09 mai à Tiraspol, capitale de l’État de facto.
                            </p>
                            <div class="time-btn">
                                <time>
                                    <b>Durée</b>
                                    <p>13 jours</p>
                                </time>
                                <a href="#" class="btn-main">en savoir plus</a>
                            </div>
                        </div>
                    </div>
                </item>
                <item class="col-12">
                    <div class="inner">
                        <div class="img">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo1.png">
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="title-item">
                                <a href="#">Ouest - Dong Thap - Chau Doc - Ca Mau - Bac Lieu - Can Tho</a>
                            </h2>
                            <a href="#" class="btn-vn">vietnam</a>
                            <span class="type">Culture et civilisation  -  Histoire contemporaine  -  Tourisme urbain</span>
                            <p class="text">
                                Terre d’Annam vous convie à un séjour inédit à la découverte de la Moldavie et de la Transnistrie. En plus de la découverte du patrimoine culturel et naturel de la Moldavie, ce séjour exceptionnel vous permettra de vivre une expérience unique : assister aux célébrations du « Jour de la Victoire » le 09 mai à Tiraspol, capitale de l’État de facto.
                            </p>
                            <div class="time-btn">
                                <time>
                                    <b>Durée</b>
                                    <p>13 jours</p>
                                </time>
                                <a href="#" class="btn-main">en savoir plus</a>
                            </div>
                        </div>
                    </div>
                </item>
                <item class="col-12">
                    <div class="inner">
                        <div class="img">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo1.png">
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="title-item">
                                <a href="#">Ouest - Dong Thap - Chau Doc - Ca Mau - Bac Lieu - Can Tho</a>
                            </h2>
                            <a href="#" class="btn-vn">vietnam</a>
                            <span class="type">Culture et civilisation  -  Histoire contemporaine  -  Tourisme urbain</span>
                            <p class="text">
                                Terre d’Annam vous convie à un séjour inédit à la découverte de la Moldavie et de la Transnistrie. En plus de la découverte du patrimoine culturel et naturel de la Moldavie, ce séjour exceptionnel vous permettra de vivre une expérience unique : assister aux célébrations du « Jour de la Victoire » le 09 mai à Tiraspol, capitale de l’État de facto.
                            </p>
                            <div class="time-btn">
                                <time>
                                    <b>Durée</b>
                                    <p>13 jours</p>
                                </time>
                                <a href="#" class="btn-main">en savoir plus</a>
                            </div>
                        </div>
                    </div>
                </item>
            </div>
        </div>
        <!--SplitPages-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="SplitPages">
                        <a class="hientai" href="#">1</a>
                        <a class="trangkhac" href="#">2</a>
                        <a class="trangkhac" href="#">3</a>
                        <a class="trangkhac" href="#">4</a>
                        <a class="trangkhac" href="#">5</a>
                        <a class="trangkhac" href="#">6</a>
                        <a class="trangkhac" href="#">7</a>
                        <a class="trangkhac" href="#">8</a>
                        <span>...</span>
                        <a class="cuoi" href="#">Dernière page</a>
                    </div>
                    <div class="sotrang">
                        <b>la page 1/200</b>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--footer-->
    <footer class="footer">
        <div class="container inner">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-4 block-1">
                    <div class="logo-footer">
                        <div class="khungAnh">
                            <a class="khungAnhCrop0" href="#">
                                <img src="./pic/logo.png">
                            </a>
                        </div>
                    </div>
                    <p class="all">All: <span>71 rue Lo Duc, Hai Ba Trung District, Hanoi</span></p>
                    <p class="tel">Tel: <span>(+84) 4-38202318</span></p>
                    <p class="email">Email: <span>contact@terre-annam.com</span></p>
                    <p class="website">Website: <span>www.terre-annam.com</span></p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 block-2">
                    <div class="link">
                        <a href="">Nos destinations</a>
                        <a href="">Nos thématiques</a>
                        <a href="">Qui sommes nous ?</a>
                        <a href="">Réservation</a>
                    </div>
                    <div class="social">
                        <p>Suivez-nous</p>
                        <div class="icon">
                            <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                            <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                            <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4 block-3">
                    <p>RENCONTREZ-NOUS</p>
                    <div class="maps" id="maps"></div>
                    <a href="#" class="btn-maps">Agrandir le plan</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>© Copyright 2017 Terre-annam.com</p>
            </div>
        </div>
    </footer>

    <div class="ve-top">
        <img src=".css/img/ve-top.png" alt="">
    </div>

    <!--maps-->
    <div class="overlay-maps"></div>
    <div class="block-maps" id="block-maps-hide"></div>
    <div class="remove-maps">fermé</div>



    <!-- js -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/tether.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
    <script type="text/javascript" src="js/infobox.js"></script>
    <script type="text/javascript" src="js/GoogleMapInit.js"></script>
    <script type="text/javascript" src="js/addthis_widget.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>

</html>
