<!DOCTYPE html>
<html lang="vi_VN">

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="Anh">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="" type="image/png">
	<!-- css -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/perfect-scrollbar.css">
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/stylesheet.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body>
	<div class="container text-center">
		<div class="row">
			<div class="col-12" style="margin-top: 50px;">
				<a href="./01.trangchu.html" class="btn btn-danger" style="margin:15px;">01 trang chu</a>
				<a href="./02.gioithieu.html" class="btn btn-danger" style="margin:15px;">02 gioi thieu</a>
				<a href="./03.tour-trangchu.html" class="btn btn-danger" style="margin:15px;">03 tour trang chu</a>
				<a href="./04.tour-danhsach.html" class="btn btn-danger" style="margin:15px;">04 tour danh sach</a>
				<a href="./05.tour-chitet.html" class="btn btn-danger" style="margin:15px;">05 tour chi tiet</a>
				<a href="./06.tour-dattour.html" class="btn btn-danger" style="margin:15px;">06 dat tor</a>
				<a href="./07.lienhe.html" class="btn btn-danger" style="margin:15px;">07 lien he</a>
				<a href="./08.loctour-trangchu.html" class="btn btn-danger" style="margin:15px;">08 loc tour trang chu</a>
				<a href="./09.loctour-danhsach.html" class="btn btn-danger" style="margin:15px;">09 loc tour danh sach</a>
				<a href="./10.tintuc-trangchinh.html" class="btn btn-danger" style="margin:15px;">10. Tin tức trang chính</a>
				<a href="./11.tintuc-danhsach.html" class="btn btn-danger" style="margin:15px;">11. Tin tức danh sách</a>
				<a href="./12.tintuc-chitiet.html" class="btn btn-danger" style="margin:15px;">12. Tin tức chi tiết</a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/tether.min.js"></script>
	<script type="text/javascript" src="js/map-api.js"></script>
	<script type="text/javascript" src="js/infobox.js"></script>
	<script type="text/javascript" src="js/GoogleMapInit.js"></script>
	<script type="text/javascript" src="js/addthis_widget.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/perfect-scrollbar.jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
	<script type="text/javascript" src="js/slide.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>

</html>