<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- css -->
	<link rel="stylesheet" href="src/css/main.min.css">

</head>

<body class="home">

	<noscript>
		<![if !(lte IE 9)]>
		<div class="noscript-message">
			<div class="noscript-message__content">
				<p>Trinh duyệt của bạn không hỗ trợ hoặc đã tắt JavaScript, bạn vui lòng cập nhận trình đuyệt web hoặc mở
					JavaScript trong
					phần cài đặt.</p>
			</div>
		</div>
		<![endif]>
	</noscript>

	<div id="app" style="background-image: url(/./images/bg-body.png);">

		<!-- header -->
		<header class="header">

			<!-- top bar -->
			<section class="top-bar">
				<div class="container">
					<div class="inner">
						<div class="contact">
							<p class="phone">Hỗ trợ: 02613 545 662</p>
							<p class="email">Email: timhieubiendao@gmail.com</p>
						</div> <!-- /top bar -->
						<ul class="nav">
							<li class="nav-item"><i class="ii ii-bachelor"></i><a href="http://">Vào thi</a></li>
							<li class="nav-item js-toggle-login"><i class="fa fa-user"></i> Đăng nhập</li>
							<li class="nav-item js-toggle-registration"><i class="fa fa-user"></i> Đăng ký</li>
						</ul> <!-- nav -->
					</div>
				</div>
			</section>
			<!-- top bar end -->

			<!-- navbar -->
			<nav class="navbar">
				<div class="container">
					<div class="wrapper">
						<div class="branb">
							<a class="logo" href="http://"><img src="./images/logo.png" alt=""></a>
							<div class="text">
								<p>CUỘC THI<br>
									TÌM HIỂU VỀ BIỂN, ĐẢO<br>
									<b>VIỆT NAM</b></p>
							</div>
						</div>
						<ul class="nav js-navbar">
							<li class="nav-item">
								<a href="" class="nav-link">Giới thiệu</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
										<ul>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Tự luận</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
										<ul>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Tra cứu</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
										<ul>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Văn bản</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
										<ul>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
											<li class="nav-item">
												<a href="" class="nav-link">Demo</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Tin tức</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Liên hệ</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- navbar end -->

		</header>
		<!-- header end -->

		<!-- main -->
		<main class="main">

			<!-- categories navbar -->
			<nav class="section categories-navbar">
				<div class="container">
					<div class="wrapper">
						<ul class="nav">
							<li class="nav-item"><a href="" class="nav-link">Tất cả</a></li>
							<li class="nav-item"><a href="" class="nav-link">Tin Tức</a></li>
							<li class="nav-item"><a href="" class="nav-link">Thể lệ cuộc thi</a></li>
							<li class="nav-item"><a href="" class="nav-link">Hướng dẫn đăng ký</a></li>
							<li class="nav-item"><a href="" class="nav-link">Hướng dẫn thi</a></li>
							<li class="nav-item"><a href="" class="nav-link">Thông báo từ BTC</a></li>
							<li class="nav-item"><a href="" class="nav-link">Giới thiệu cuộc thi</a></li>
							<li class="nav-item"><a href="" class="nav-link">Hỏi đáp</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- categories navbar end -->

			<div class="container container-main">
				<div class="row">
					<div class="col-lg-8 left-main">

						<!-- new -->
						<section class="section news">
							<div class="news-wrapper">
								<div class="news-list">
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về biển đảo Việt Nam</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new1.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Những nội dung chính của “Chiến lược biển Việt Nam đến năm 2020”;
												Luật
												biển Việt Nam
												năm 2013</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new2.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Vai trò, vị trí và tiềm năng của biển, đảo Việt Nam</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new3.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Những thành tựu xây dựng và phát triển các lĩnh vực liên quan đến
												biển, đảo Việt Nam</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new4.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Chủ quyền và quyền chủ quyền của Việt Nam trên Biển Đông</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new5.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Vai trò, vị trí và tiềm năng của biển, đảo Việt Nam</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new3.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Những thành tựu xây dựng và phát triển các lĩnh vực liên quan đến
												biển, đảo Việt Nam</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new4.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
									<figure class="news-item">
										<h2 class="title">
											<a href="">Nội dung tìm hiểu của cuộc thi: Chủ quyền và quyền chủ quyền của Việt Nam trên Biển Đông</a>
										</h2>
										<div class="content">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/new5.png" alt="">
												</a>
											</div>
											<div class="info">
												<div class="date"><span>10:37</span> <span>28/07/2018</span></div>
												<div class="description">Nội dung tìm hiểu của cuộc thi: Các chủ trương, quan điểm của Đảng, Nhà nước về
													biển
													đảo
													Việt Nam</div>
												<div class="copyright"><i class="ii ii-bachelor-blue"></i> Ban tổ chức cuộc thi</div>
											</div>
										</div>
									</figure>
								</div>
								<!-- pagination -->
								<nav class="pagination">
									<ul class="nav">
										<li class="item">
											<a class="link disabled" href="#">Đầu</a>
										</li>
										<li class="item">
											<a class="link disabled" href="#"><i class="fa fa-angle-right"></i></a>
										</li>
										<li class="item">
											<a class="link active" href="#">1</a>
										</li>
										<li class="item">
											<a class="link" href="#">2</a>
										</li>
										<li class="item">
											<a class="link" href="#">3</a>
										</li>
										<li class="item">
											<a class="link" href="#">4</a>
										</li>
										<li class="item">
											<a class="link" href="#">5</a>
										</li>
										<li class="item">
											<a class="link" href="#">6</a>
										</li>
										<li class="item">
											<a class="link" href="#">7</a>
										</li>
										<li class="item">
											<a class="link" href="#">8</a>
										</li>
										<li class="item">
											<a class="link" href="#">9</a>
										</li>
										<li class="item">
											<a class="link" href="#">10</a>
										</li>
										<li class="item">
											<a class="link" href="#"><i class="fa fa-angle-left"></i></a>
										</li>
										<li class="item">
											<a class="link" href="#">Cuối</a>
										</li>
									</ul>
								</nav>
								<!-- pagination end -->
							</div>
						</section>
						<!-- new end -->

					</div>
					<div class="col-lg-4 right-main">

						<!-- rating right -->
						<section class="section rating-right">
							<div class="info">
								<div class="icon"><img src="./src/img/cup.png" alt=""></div>
								<div class="number">1.120.726</div>
								<p>Thí sinh đăng ký</p>
							</div>
							<div class="list-user">
								<h3 class="headline">TOP Thí sinh dẫn đầu tuần</h3>
								<div class="list">
									<div class="list-item">
										<div class="number">1</div>
										<div class="img">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/user.png" alt="">
												</a>
											</div>
										</div>
										<div class="info">
											<h4 class="title">Nguyễn Thanh Tuấn</h4>
											<p class="date">200 - 00:15:016</p>
											<p class="name-school">THTT Bảo Lộc</p>
										</div>
									</div>
									<div class="list-item">
										<div class="number">2</div>
										<div class="img">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/user.png" alt="">
												</a>
											</div>
										</div>
										<div class="info">
											<h4 class="title">Nguyễn Nam Hưng</h4>
											<p class="date">200 - 00:15:016</p>
											<p class="name-school">THPT Phạm Hồng Thái</p>
										</div>
									</div>
									<div class="list-item">
										<div class="number">3</div>
										<div class="img">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/user.png" alt="">
												</a>
											</div>
										</div>
										<div class="info">
											<h4 class="title">Lê Hồng Hạnh</h4>
											<p class="date">200 - 00:15:016</p>
											<p class="name-school">Trường Đại học Sư phạm Hà Nội 2</p>
										</div>
									</div>
									<div class="list-item">
										<div class="number">4</div>
										<div class="img">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/user.png" alt="">
												</a>
											</div>
										</div>
										<div class="info">
											<h4 class="title">Phạm Ngọc Ánh</h4>
											<p class="date">200 - 00:15:016</p>
											<p class="name-school">THPT Hoài Đức A</p>
										</div>
									</div>
									<div class="list-item">
										<div class="number">5</div>
										<div class="img">
											<div class="img-cover">
												<a href="#" class="img-cover__wrapper">
													<img src="./images/user.png" alt="">
												</a>
											</div>
										</div>
										<div class="info">
											<h4 class="title">Huỳnh Thanh Thân</h4>
											<p class="date">200 - 00:15:016</p>
											<p class="name-school">Trường Đại học Ngoại Thương</p>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- rating right end -->

						<!-- video right -->
						<section class="section video-right">
							<h3 class="headline">Video nổi bật</h3>
							<div class="video-item">
								<div class="img-cover">
									<a href="#" class="img-cover__wrapper">
										<img src="./images/video.png" alt="">
									</a>
								</div>
								<h4 class="title"><a href="http://">Video phát động cuộc thi “Tìm hiểu về biển, đảo
										Việt Nam” năm 2018</a></h4>
							</div>
							<ul class="list">
								<li class="list-item">
									<h5 class="title"><a href="">Giới thiệu cuộc thi “Tìm hiểu về biển, đảo Việt
											Nam” năm 2018</a></h5>
									<p class="date">29/11/2016</p>
								</li>
								<li class="list-item">
									<h5 class="title"><a href="">VTV1 đưa tin về lễ trao giải các vòng thi trắc nghiệm cuộc thi "Tìm hiểu về
											biển, đảo
											Việt Nam" năm 2018</a></h5>
									<p class="date">29/11/2016</p>
								</li>
								<li class="list-item">
									<h5 class="title"><a href="">Biển đảo Việt Nam nguồn cội tự bao giờ</a></h5>
									<p class="date">29/11/2016</p>
								</li>
							</ul>
							<a href="" class="btn btn-light">Xem thêm</a>
						</section>
						<!-- video right end -->

						<!-- facebook right -->
						<section class="section facebook-right">
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=270&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=226666764204714"
							  width="100%" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
							  allow="encrypted-media"></iframe>
						</section>
						<!-- facebook right end -->

						<!-- advertising right -->
						<section class="section advertising-right">
							<div class="advertising-item">
								<a href=""><img src="./images/adv.png" alt=""></a>
							</div>

						</section>
						<!-- advertising right end -->

					</div>
				</div>

			</div>

		</main>
		<!-- main end -->

		<!-- footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 branb">
						<img src="./images/logo.png" alt="">
						<p>CUỘC THI TÌM HIỂU VỀ
							BIỂN, ĐẢO VIỆT NAM</p>
					</div>
					<div class="col-lg-10 info">
						<div class="headline">Ban Tổ chức Cuộc thi</div>
						<div class="info-inner">
							<div class="block">
								<h2 class="name">Ban Tuyên giáo Tỉnh ủy Đắk Nông<br>
									Phòng Tuyên truyền, Báo chí – Xuất bản</h2>
								<ul class="info-contact">
									<li><i class="fa fa-phone"></i> 02613 545 662</li>
									<li><i class="fa fa-email"></i> timhieubiendao@gmail.com</li>
								</ul>
							</div>
							<div class="block">
								<h2 class="name">Công ty cổ phần dịch vụ công nghệ giáo dục Việt Nam
									(VNEDUTECH)</h2>
								<ul class="info-contact">
									<li><i class="fa fa-address"></i> Tầng 3, Tòa Nhà 25T1, Hoàng Đạo Thúy, Trung Hòa, Cầu Giấy, Hà Nội</li>
									<li><i class="fa fa-phone"></i> Hỗ trợ kỹ thuật: 1900636444 (8h - 22h hàng ngày)</li>
									<li><i class="fa fa-email"></i> contact@vnedutech.vn</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->


		<!-- slide out -->
		<div class="nav-trigger js-trigger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
		<div class="slideout js-slideout">
			<div class="inner">
				<ul class="nav">
					<li class="nav-item js-toggle-login"><i class="fa fa-user"></i> Đăng nhập</li>
					<li class="nav-item js-toggle-registration"><i class="fa fa-user"></i> Đăng ký</li>
				</ul>
				<nav class="slideout-navbar">
					<ul class="nav">
						<li class="nav-item">
							<a href="" class="nav-link">Giới thiệu</a>
							<ul>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
								</li>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
									<ul>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="" class="nav-link">Tự luận</a>
							<ul>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
								</li>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
									<ul>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="" class="nav-link">Tra cứu</a>
							<ul>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
								</li>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
									<ul>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="" class="nav-link">Văn bản</a>
							<ul>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
								</li>
								<li class="nav-item">
									<a href="" class="nav-link">Demo</a>
									<ul>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
										<li class="nav-item">
											<a href="" class="nav-link">Demo</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="" class="nav-link">Tin tức</a>
						</li>
						<li class="nav-item">
							<a href="" class="nav-link">Liên hệ</a>
						</li>
					</ul>
				</nav>
				<div class="contact">
					<p class="phone">Hỗ trợ: 02613 545 662</p>
					<p class="email">Email: timhieubiendao@gmail.com</p>
				</div>

			</div>
		</div>
		<!-- slideout end -->

		<!-- popup -->
		<div class="form-user form-login js-login">
			<div class="logo">
				<img src="./src/img/egroup-logo.png" alt="">
			</div>
			<form action="" class="form">
				<p>Đã là thành viên?</p>
				<div class="form-group">
					<input type="username" class="form-control" placeholder="Email/Username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="password">
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input">
					<label class="form-check-label">Ghi nhớ đăng nhập</label>
				</div>
				<button type="submit" class="btn btn-success">Đăng nhập</button>
			</form>
			<div class="bottom">
				<p>Chưa có tài khoản?</p>
				<button class="btn btn-primary js-open-registration">Đăng ký mới</button>
			</div>
		</div>

		<div class="form-user from-registration js-registration">
			<div class="logo">
				<img src="./src/img/egroup-logo.png" alt="">
			</div>
			<form action="" class="form">
				<p>Thành viên mới?</p>
				<div class="form-group">
					<input type="username" class="form-control" placeholder="Email/Username">
					<small>(Tên đăng nhập viết liền không dấu, không chứa kí tự đặc biệt)</small>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Mật khẩu">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Xác nhận mật khẩu">
				</div>
				<div class="form-group">
					<input type="phone" class="form-control" placeholder="Số điện thoại">
				</div>
				<button type="submit" class="btn btn-success">Đăng ký</button>
			</form>
		</div>
		<!-- popup end -->

		<div class="body-overlay js-body-overlay"></div>


	</div>

	<!-- js -->
	<script src="src/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="src/js/vendor/jquery.appear.js"></script>
	<script src="src/js/vendor/slick.min.js"></script>
	<script src="src/js/vendor/fancybox/jquery.fancybox.min.js"></script>
	<script src="src/js/main.js"></script>

</body>

</html>