.header {

  .topbar {
    position: relative;
    z-index: 9;
    background-image: url(../images/mobile/bg-header.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    @media (min-width: $breakpoints-xl) {
      display: none;
    }

    .branb {
      width: 14.375vw;
      height: 14.375vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn-taigame {
      width: 34.845vw;
      height: 10.157vw;
      background-image: url(../images/mobile/btn-game.png);
      background-size: cover;
    }

    .nav {
      padding: 0;
      margin: 0;
      display: flex;

      .nav-item {
        list-style: none;
        margin: 0 10px;

        .nav-link {
          display: block;
          text-decoration: none;

          .icon {
            display: block;
            background-size: cover;

            &.icon-home {
              width: 9.688vw;
              height: 9.376vw;
              background-image: url(../images/mobile/ic-home.png);
            }

            &.icon-facebook {
              width: 8.907vw;
              height: 8.907vw;
              background-image: url(../images/mobile/ic-facebook.png);
            }
          }
        }
      }
    }

    .logo-18 {
      width: 12.814vw;
      height: 12.814vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .fix-link {
    display: none;
    position: absolute;
    z-index: 9;
    top: 0;
    width: 327px;
    height: 56px;
    right: 21.3545vw;
    background-image: url(../images/pc/fix-link.png);
    background-size: cover;

    @media (min-width: $breakpoints-xl) {
      display: flex;
    }

    a {
      width: 50%;
      text-decoration: none;
      font-size: 0;
    }
  }

  .fix-18 {
    display: none;
    position: absolute;
    z-index: 99;
    top: 100px;
    left: 0;

    @media (min-width: $breakpoints-xl) {
      display: block;
    }
  }

  .download-game {
    display: none;
    position: fixed;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 216.6px;
    height: 397.2px;
    padding: 144px 0 0 54.6px;
    background-image: url(../images/pc/downgame.png);
    background-size: cover;

    @media (min-width: $breakpoints-xl) {
      display: block;
    }

    .btn-group {
      .btn {
        display: block;
        width: 133.8px;
        height: 39px;
        background-size: cover;
        transition: $transition;
        margin-bottom: 9px;

        &.app-store {
          background-image: url(../images/pc/btn-1.png);

          &:hover {
            background-image: url(../images/pc/btnh-1.png);
          }
        }

        &.google-play {
          background-image: url(../images/pc/btn-2.png);

          &:hover {
            background-image: url(../images/pc/btnh-2.png);
          }
        }

        &.apk {
          background-image: url(../images/pc/btn-3.png);

          &:hover {
            background-image: url(../images/pc/btnh-3.png);
          }
        }
      }
    }

    .branb {
      position: absolute;
      display: block;
      border: 1px solid $c-white;
      border-radius: 13.2px;
      padding: 4.2px;
      bottom: 22.2px;
      right: 50.4px;

      img {
        width: 78px;
        height: 78px;
        display: block;
      }
    }

    .back-top {
      position: absolute;
      width: 43.8px;
      height: 43.8px;
      background-image: url(../images/pc/backtop.png);
      background-size: cover;
      bottom: -28.8px;
      right: 70.8px;
      cursor: pointer;
    }

  }
}