<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/vendor/slick/slick.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="wrapper-sdk">
      <div class="sdk">

        <div class="brand"><img src="./src/img/logo.png"></div>
        <div class="box">
          <div class="heading">Đăng Ký</div>
          <form class="form">
            <small class="form-error">Email đã được sử dụng</small>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Tên Đăng Nhập">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Mật Khẩu">
            </div>
            <button type="button" class="btn btn-blue">Đăng Ký</button>
          </form>
          <div class="other">Bạn đã có tài khoản?</div>
          <a href="#" class="btn btn-info">Đăng Nhập Ngay</a>
        </div>
        
      </div>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/slick/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>