<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/vendor/slick/slick.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="wrapper-sdk">
      <div class="sdk">

        <div class="brand"><img src="./src/img/logo.png"></div>
        <div class="box">
          <div class="box-wrapper">
            <div class="heading">Đăng Ký Thành Công!</div>
            <div class="info">Hệ thống sẽ tự động chuyển về trang chủ trong 5s</div>
            <button type="button" class="btn btn-blue">Về Trang Chủ</button>
          </div>
        </div>
        
      </div>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/slick/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>