<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="c-top_bar v1">
      <div class="container">
        <a href="#" class="back-page"><img src="./src/img/ic-8.png" class="icon">Đổi mật khẩu</a>
        <a class="brand"><img src="./src/img/logo-v1.png"></a>
      </div>
    </div>
    <!-- topbar end -->

    <main class="container main">

      <div class="c-support">

        <div class="support-class">
          <div class="title">các Kênh hỗ trợ</div>
          <ul class="nav">
            <li><a href="#"><img src="./src/img/ic-12.png">Kênh hỗ trợ online</a></li>
            <li><a href="#"><img src="./src/img/ic-13.png">1900 588 588</a></li>
            <li><a href="#"><img src="./src/img/ic-14.png">hotro@higamer.vn</a></li>
          </ul>
        </div>

        <div class="support-class_box accordion">

          <div class="tab">
            <div class="item accordion-btn">câu hỏi thường gặp</div>
            <div class="item accordion-btn active">yêu cầu hỗ trợ</div>
          </div>

          <div class="box">

            <div class="item eagerly accordion-item">
              <div class="attention">Vui lòng chọn loại vấn đề bạn đang thắc mắc:</div>
              <div class="eagerly-group">

                <div class="eagerly-item active">
                  <div class="eagerly-item_title"><span>1</span>TÀI KHOẢN VÀ ĐĂNG NHẬP</div>
                  <div class="eagerly-item_content">
                    <p><span style="color: #00b3ff;">Q</span> Tôi muốn xoá dữ liệu game</p>

                    <p><span style="color: #00b3ff;">A</span> Một số thiết bị Android vẫn lưu lại dữ liệu cũ mặc dù bạn
                      đã xoá ứng dụng và cài lại mới. Để
                      xoá sạch dữ liệu cũ mời bạn làm theo các bước sau:</p>

                    <p>1. Chọn Settings (Cài đặt) > Apps (Ứng dụng) > chọn ứng dụng bạn muốn xoá dữ liệu</p>

                    <p>2. Chọn Force Stop (Dừng) để dừng ứng dụng và click Clear Data (Xoá dữ liệu) và Clear Cache để
                      xoá bộ nhớ Cache</p>

                    <p><span style="color: #00b3ff;">Q</span> Không mở được game (bị văng hoặc treo khi khởi động)</p>

                    <p><span style="color: #00b3ff;">A</span> Lỗi này thường xuất phát từ một số nguyên nhân sau:</p>

                    <p>- Thời gian trên thiết bị của bạn không chính xác, hãy vào Cài đặt (Settings) > Ngày & giờ (Date
                      & Time), sau đó kiểm tra và điều chỉnh đúng ngày, giờ và múi giờ Việt Nam</p>

                    <p>- Do quá trình cập nhật phiên bản mới bị lỗi, hãy thử xóa game, xóa cache và cài đặt lại. Tham
                      khảo hướng dẫn xóa game</p>

                    <p>- Có thể do game xung đột với những ứng dụng chạy ngầm trên thiết bị, hãy thử khởi động và mở lại
                      game.</p>

                    <p>- Do game không tương thích với thiết bị của bạn, hoặc cấu hình thiết bị không đủ để chạy game.
                      Xin hãy đọc kỹ yêu cầu cấu hình thiết bị trong mô tả game trên App Store hoặc Google Play để nắm
                      rõ thiết bị của bạn có chạy được game hay không. Hoặc bạn hãy thử cài đặt trên một thiết bị khác.
                    </p>
                  </div>
                </div>

                <div class="eagerly-item">
                  <div class="eagerly-item_title"><span>2</span>NẠP TIỀN VÀ THANH TOÁN</div>
                  <div class="eagerly-item_content">
                    <p><span style="color: #00b3ff;">Q</span> Tôi muốn xoá dữ liệu game</p>

                    <p><span style="color: #00b3ff;">A</span> Một số thiết bị Android vẫn lưu lại dữ liệu cũ mặc dù bạn
                      đã xoá ứng dụng và cài lại mới. Để
                      xoá sạch dữ liệu cũ mời bạn làm theo các bước sau:</p>

                    <p>1. Chọn Settings (Cài đặt) > Apps (Ứng dụng) > chọn ứng dụng bạn muốn xoá dữ liệu</p>

                    <p>2. Chọn Force Stop (Dừng) để dừng ứng dụng và click Clear Data (Xoá dữ liệu) và Clear Cache để
                      xoá bộ nhớ Cache</p>

                    <p><span style="color: #00b3ff;">Q</span> Không mở được game (bị văng hoặc treo khi khởi động)</p>

                    <p><span style="color: #00b3ff;">A</span> Lỗi này thường xuất phát từ một số nguyên nhân sau:</p>

                    <p>- Thời gian trên thiết bị của bạn không chính xác, hãy vào Cài đặt (Settings) > Ngày & giờ (Date
                      & Time), sau đó kiểm tra và điều chỉnh đúng ngày, giờ và múi giờ Việt Nam</p>

                    <p>- Do quá trình cập nhật phiên bản mới bị lỗi, hãy thử xóa game, xóa cache và cài đặt lại. Tham
                      khảo hướng dẫn xóa game</p>

                    <p>- Có thể do game xung đột với những ứng dụng chạy ngầm trên thiết bị, hãy thử khởi động và mở lại
                      game.</p>

                    <p>- Do game không tương thích với thiết bị của bạn, hoặc cấu hình thiết bị không đủ để chạy game.
                      Xin hãy đọc kỹ yêu cầu cấu hình thiết bị trong mô tả game trên App Store hoặc Google Play để nắm
                      rõ thiết bị của bạn có chạy được game hay không. Hoặc bạn hãy thử cài đặt trên một thiết bị khác.
                    </p>
                  </div>
                </div>

                <div class="eagerly-item">
                  <div class="eagerly-item_title"><span>3</span>HƯỚNG DẪN CÀI ĐẶT</div>
                  <div class="eagerly-item_content">
                    <p><span style="color: #00b3ff;">Q</span> Tôi muốn xoá dữ liệu game</p>

                    <p><span style="color: #00b3ff;">A</span> Một số thiết bị Android vẫn lưu lại dữ liệu cũ mặc dù bạn
                      đã xoá ứng dụng và cài lại mới. Để
                      xoá sạch dữ liệu cũ mời bạn làm theo các bước sau:</p>

                    <p>1. Chọn Settings (Cài đặt) > Apps (Ứng dụng) > chọn ứng dụng bạn muốn xoá dữ liệu</p>

                    <p>2. Chọn Force Stop (Dừng) để dừng ứng dụng và click Clear Data (Xoá dữ liệu) và Clear Cache để
                      xoá bộ nhớ Cache</p>

                    <p><span style="color: #00b3ff;">Q</span> Không mở được game (bị văng hoặc treo khi khởi động)</p>

                    <p><span style="color: #00b3ff;">A</span> Lỗi này thường xuất phát từ một số nguyên nhân sau:</p>

                    <p>- Thời gian trên thiết bị của bạn không chính xác, hãy vào Cài đặt (Settings) > Ngày & giờ (Date
                      & Time), sau đó kiểm tra và điều chỉnh đúng ngày, giờ và múi giờ Việt Nam</p>

                    <p>- Do quá trình cập nhật phiên bản mới bị lỗi, hãy thử xóa game, xóa cache và cài đặt lại. Tham
                      khảo hướng dẫn xóa game</p>

                    <p>- Có thể do game xung đột với những ứng dụng chạy ngầm trên thiết bị, hãy thử khởi động và mở lại
                      game.</p>

                    <p>- Do game không tương thích với thiết bị của bạn, hoặc cấu hình thiết bị không đủ để chạy game.
                      Xin hãy đọc kỹ yêu cầu cấu hình thiết bị trong mô tả game trên App Store hoặc Google Play để nắm
                      rõ thiết bị của bạn có chạy được game hay không. Hoặc bạn hãy thử cài đặt trên một thiết bị khác.
                    </p>
                  </div>
                </div>

                <div class="eagerly-item">
                  <div class="eagerly-item_title"><span>4</span>HƯỚNG DẪN KHÁC</div>
                  <div class="eagerly-item_content">
                    <p><span style="color: #00b3ff;">Q</span> Tôi muốn xoá dữ liệu game</p>

                    <p><span style="color: #00b3ff;">A</span> Một số thiết bị Android vẫn lưu lại dữ liệu cũ mặc dù bạn
                      đã xoá ứng dụng và cài lại mới. Để
                      xoá sạch dữ liệu cũ mời bạn làm theo các bước sau:</p>

                    <p>1. Chọn Settings (Cài đặt) > Apps (Ứng dụng) > chọn ứng dụng bạn muốn xoá dữ liệu</p>

                    <p>2. Chọn Force Stop (Dừng) để dừng ứng dụng và click Clear Data (Xoá dữ liệu) và Clear Cache để
                      xoá bộ nhớ Cache</p>

                    <p><span style="color: #00b3ff;">Q</span> Không mở được game (bị văng hoặc treo khi khởi động)</p>

                    <p><span style="color: #00b3ff;">A</span> Lỗi này thường xuất phát từ một số nguyên nhân sau:</p>

                    <p>- Thời gian trên thiết bị của bạn không chính xác, hãy vào Cài đặt (Settings) > Ngày & giờ (Date
                      & Time), sau đó kiểm tra và điều chỉnh đúng ngày, giờ và múi giờ Việt Nam</p>

                    <p>- Do quá trình cập nhật phiên bản mới bị lỗi, hãy thử xóa game, xóa cache và cài đặt lại. Tham
                      khảo hướng dẫn xóa game</p>

                    <p>- Có thể do game xung đột với những ứng dụng chạy ngầm trên thiết bị, hãy thử khởi động và mở lại
                      game.</p>

                    <p>- Do game không tương thích với thiết bị của bạn, hoặc cấu hình thiết bị không đủ để chạy game.
                      Xin hãy đọc kỹ yêu cầu cấu hình thiết bị trong mô tả game trên App Store hoặc Google Play để nắm
                      rõ thiết bị của bạn có chạy được game hay không. Hoặc bạn hãy thử cài đặt trên một thiết bị khác.
                    </p>
                  </div>
                </div>

              </div>

            </div>

            <div class="item support accordion-item active">

              <div class="support-tab">
                <div class="support-tab_item accordion1-btn active">GỬI YÊU CẦU</div>
                <div class="support-tab_item accordion1-btn">YÊU CẦU ĐÃ GỬI <span class="number">3</span></div>
              </div>

              <div class="support-box">

                <div class="accordion1-item request-new active">


                  <div class="lv-1">
                    <div class="request-new_title">TẠO BÁO LỖI</div>

                    <form class="c-form">
                      <div class="form-group w-50">
                        <select class="form-control form-select">
                          <option>Tỉnh/ Thành Phố</option>
                          <option>1</option>
                          <option>2</option>
                        </select>
                      </div>
                      <div class="form-group w-50">
                        <select class="form-control form-select">
                          <option>Quận/ Huyện</option>
                          <option>1</option>
                          <option>2</option>
                        </select>
                      </div>
                      <div class="form-group w-50">
                        <select class="form-control form-select">
                          <option>Nơi cấp</option>
                          <option>1</option>
                          <option>2</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn">Tiếp theo</button>
                        <button type="button" class="btn btn-light">Quay lại</button>
                      </div>
                    </form>
                  </div>

                  <!-- <div class="lv-2">
                    <div class="request-new_title">TẠO BÁO LỖI CHI TIẾT</div>

                    <form class="c-form">
                      <div class="form-group w-50">
                        <input type="email" class="form-control" placeholder="Nhập email liên hệ của bạn nếu có">
                      </div>
                      <div class="form-group w-50">
                        <input type="tel" class="form-control" placeholder="Nhập SĐT liên hệ của bạn nếu có">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder=" Mô tả lỗi"></textarea>
                      </div>
                      <div class="form-group">
                        <input type="file" class="form-control-file">
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn">Tiếp theo</button>
                        <button type="button" class="btn btn-light">Quay lại</button>
                      </div>
                    </form>
                  </div> -->

                  <!-- <div class="lv-3">
                    <div class="request-new_title">HOÀN THÀNH & GỬI</div>



                    <form class="c-form">
                      <div class="form-group form-info">
                        <strong>Game:</strong> Tam Anh Chiến <br>
                        <strong>Server:</strong> Lữ Bố <br>
                        <strong>Tên nhân vật:</strong> hihihehe99 <br>
                        <strong>Thời gian gặp lỗi:</strong> 01/02/2020 <br>
                        <strong>Lỗi gặp phải:</strong> nạp thẻ <br>
                        <strong>Email:</strong> hihihehe99@gmail.com <br>
                        <strong>SĐT liên hệ:</strong> 0989666999 <br>
                        <div class="line"></div>
                        <strong>Mô tả:</strong> Nạp thẻ nhưng vào game chưa nhận được tiền.	
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn">Gửi</button>
                        <button type="button" class="btn btn-light">Quay lại</button>
                      </div>
                    </form>
                  </div> -->

                  <!-- <div class="lv-4">
                    <div class="c-success_notification">
                      <img src="./src/img/thanh-cong.png">
                      <div class="title">THÀNH CÔNG</div>
                      <div class="content">Chúng tôi sẽ phản hồi và hỗ trợ bạn sớm nhất ngay khi nhận được</div>
                      <a href="#" class="btn">Về trang chủ</a>
                    </div>
                  </div> -->
                  
                </div>

                <div class="accordion1-item request">
                  <div class="request-title">YÊU CẦU ĐÃ GỬI</div>
                  <div class="request-box">
                    <div class="request-item">
                      <div class="info">
                        <strong>ID :</strong> 136855 - Lỗi nạp thẻ mua xu <i style="color: #d31f21;">(Đang xử lý)</i>
                        <br>
                        <strong>Game :</strong> Tam Anh Chiến <br>
                        <strong>Thời gian :</strong> 15:55:55 28/08/2020 <br>
                        <strong>Email :</strong> hihihaha@gmail.com <br>
                        <strong>Mô tả :</strong> Không nhận được xu trong game. <br>
                      </div>
                      <div class="btn-group">
                        <a href="#" class="btn btn-light">Đóng Ticket</a>
                        <a href="#" class="btn">Xem Chi Tiết</a>
                      </div>
                    </div>
                    <div class="request-item">
                      <div class="info">
                        <strong>ID :</strong> 136855 - Lỗi nạp thẻ mua xu <i style="color: #d31f21;">(Đang xử lý)</i>
                        <br>
                        <strong>Game :</strong> Tam Anh Chiến <br>
                        <strong>Thời gian :</strong> 15:55:55 28/08/2020 <br>
                        <strong>Email :</strong> hihihaha@gmail.com <br>
                        <strong>Mô tả :</strong> Không nhận được xu trong game. <br>
                      </div>
                      <div class="btn-group">
                        <a href="#" class="btn btn-light">Đóng Ticket</a>
                        <a href="#" class="btn">Xem Chi Tiết</a>
                      </div>
                    </div>
                    <div class="request-item">
                      <div class="info">
                        <strong>ID :</strong> 136855 - Lỗi nạp thẻ mua xu <i style="color: #00c605;">(Đang xử lý)</i>
                        <br>
                        <strong>Game :</strong> Tam Anh Chiến <br>
                        <strong>Thời gian :</strong> 15:55:55 28/08/2020 <br>
                        <strong>Email :</strong> hihihaha@gmail.com <br>
                        <strong>Mô tả :</strong> Không nhận được xu trong game. <br>
                      </div>
                      <div class="btn-group">
                        <a href="#" class="btn btn-light">Đóng Ticket</a>
                        <a href="#" class="btn">Xem Chi Tiết</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- box end -->
        </div>
        <!-- support class box end -->
        <ul class="nav">
          <li class="active"><a href="#"><div class="ic ic-user"></div>Tài Khoản</a></li>
          <li><a href="#"><div class="ic ic-pay"></div>Nạp tiền</a></li>
          <li><a href="#"><div class="ic ic-setting"></div>Hướng dẫn cài đặt</a></li>
          <li><a href="#"><div class="ic ic-other"></div>Hướng dẫn khác</a></li>
        </ul>
        <!-- nav end -->

      </div>

    </main>
    <!-- main end -->

    <footer class="c-footer">
      <div class="container">
        <div class="info">
          Điều Khoản | Bảo Mật <br>
          Bản quyền © 2020 Higamer <br>
          Email: Hotro@higamenr.vn | Hotline: xxxxx <br>
          Thời gian: 8:00 - 22:00 tất cả các ngày (GMT + 7)
        </div>
        <img src="./src/img/logo-footer.png">
      </div>
    </footer>

    <div class="c-bottom_bar">
      <div class="container">

        <ul class="nav">
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-home.png"></div>
              TRANG CHỦ
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-wallet.png"></div>
              NẠP XU
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-user.png"></div>
              TÀI KHOẢN
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-headphone.png"></div>
              HỖ TRỢ
            </a>
          </li>
          <li>
            <div class="nav-trigger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!-- bottom bar end -->

    <div class="navbar-over-body"></div>
    <div class="c-navbar">
      <ul class="nav">
        <li>
          <div class="wrapper">
            <div class="icon"><img src="./src/img/ic-1.png" alt=""></div>
            <div class="content">Xin chào, <a class="red" href="#">hihihehe0000</a></div>
          </div>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-2.png" alt=""></div>
            <div class="content">Nạp Tiền</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-3.png" alt=""></div>
            <div class="content">Lịch Sử Nạp</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-4.png" alt=""></div>
            <div class="content red">Nhận & đổi Giftcode</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-5.png" alt=""></div>
            <div class="content">Log Out</div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>