<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/vendor/slick/slick.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="c-top_bar v2">
      <div class="container"><a class="brand"><img src="./src/img/logo.png"></a></div>
    </div>
    <!-- topbar end -->

    <div class="c-hero carousel carousel-hero">
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
    </div>

    <main class="container main v1">

      <nav class="c-nav-pay">
        <ul>
          <li class="yellow"><a href="#">
            <div class="icon"><img src="./images/nap.png"></div>
            <div class="text">Nạp hcoin</div>
          </a></li>
          <li><a href="#">
            <div class="icon"><img src="./images/goi.png"></div>
            <div class="text">gói tháng</div>
          </a></li>
          <li><a href="#">
            <div class="icon"><img src="./images/mua.png"></div>
            <div class="text">mua Hicard</div>
          </a></li>
          <li><a href="#">
            <div class="icon"><img src="./images/huong.png"></div>
            <div class="text">hướng dẫn</div>
          </a></li>
        </ul>
      </nav>

      <div class="c-adv">
        <div class="icon"><img src="./images/hot.png"></div>
        <div class="text">Nạp thẻ Hcoin dễ dàng, thuận tiện, chiết khấu tới 10%</div>
      </div>

      <div class="c-game">

        <div class="c-heading">
          <div class="title">
            <div class="icon"><img src="./images/arrow.png"></div>
            <div class="title">CHỌN GAME CẦN NẠP</div>
          </div>
          <form class="form-search">
            <input type="text" placeholder="Tìm game cần nạp">
            <button type="button"><img src="./images/ic-search.png"></button>
          </form>
        </div>

        <div class="group">
          <div class="item hot">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-1.png"></div>
              <h3 class="name">phong thần ký</h3>
            </a>
          </div> <!-- / item -->
          <div class="item hot">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-2.png"></div>
              <h3 class="name">kiếm vương 3d</h3>
            </a>
          </div> <!-- / item -->
          <div class="item new">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-3.png"></div>
              <h3 class="name">tuyết lan phi hồ</h3>
            </a>
          </div> <!-- / item -->
          <div class="item">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-4.png"></div>
              <h3 class="name">mỹ nhân 3d</h3>
            </a>
          </div> <!-- / item -->
          <div class="item">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-5.png"></div>
              <h3 class="name">thống soái 3q</h3>
            </a>
          </div> <!-- / item -->
          <div class="item">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-6.png"></div>
              <h3 class="name">ỷ mộng thiên kiếm</h3>
            </a>
          </div> <!-- / item -->
          <div class="item">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-7.png"></div>
              <h3 class="name">tam anh chiến</h3>
            </a>
          </div> <!-- / item -->
          <div class="item">
            <a href="#" class="wrapper">
              <div class="img"><img src="./images/game-8.png"></div>
              <h3 class="name">kiếm khách giang hồ</h3>
            </a>
          </div> <!-- / item -->
        </div>

      </div>

      <div class="c-news">

        <div class="c-heading">
          <div class="title">
            <div class="icon"><img src="./images/arrow.png"></div>
            <div class="title">TIN TỨC - KHUYẾN MẠI</div>
          </div>
          <a href="#" class="link">Xem thêm</a>
        </div>

        <div class="group carousel carousel-news">
          <div class="item"><a href="#" class="wrapper">
            <div class="img"><img src="./images/new-1.png"></div>
            <h3 class="title">Nạp thanh toán trực tiếp dễ dàng, nhận quà thả ga</h3>
          </a></div>
          <div class="item"><a href="#" class="wrapper">
            <div class="img"><img src="./images/new-2.png"></div>
            <h3 class="title">Thông báo thay đổi chính sách ưu đãi nạp xu qua Paypal</h3>
          </a></div>
          <div class="item"><a href="#" class="wrapper">
            <div class="img"><img src="./images/new-3.png"></div>
            <h3 class="title">Tuyển đại lý thẻ </h3>
          </a></div>
        </div>

      </div>

    </main>
    <!-- main end -->

    <footer class="c-footer">
      <div class="container">
        <div class="info">
          Điều Khoản | Bảo Mật <br>
          Bản quyền © 2020 Higamer <br>
          Email: Hotro@higamenr.vn | Hotline: xxxxx <br>
          Thời gian: 8:00 - 22:00 tất cả các ngày (GMT + 7)
        </div>
        <img src="./src/img/logo-footer.png">
      </div>
    </footer>

    <div class="c-bottom_bar">
      <div class="container">

        <ul class="nav">
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-home.png"></div>
              TRANG CHỦ
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-wallet.png"></div>
              NẠP XU
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-user.png"></div>
              TÀI KHOẢN
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-headphone.png"></div>
              HỖ TRỢ
            </a>
          </li>
          <li>
            <div class="nav-trigger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!-- bottom bar end -->

    <div class="navbar-over-body"></div>
    <div class="c-navbar"><a class="brand"><img src="./src/img/logo.png"></a>
      <ul class="nav">
        <li>
          <div class="wrapper">
            <div class="icon"><img src="./src/img/ic-1.png" alt=""></div>
          <div class="content">Xin chào, <a class="red" href="#">hihihehe0000</a></div>
          </div>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-2.png" alt=""></div>
            <div class="content">Nạp Tiền</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-3.png" alt=""></div>
            <div class="content">Lịch Sử Nạp</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-4.png" alt=""></div>
            <div class="content red">Nhận & đổi Giftcode</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-5.png" alt=""></div>
            <div class="content">Log Out</div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/slick/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>