<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/vendor/slick/slick.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="c-top_bar v2">
      <div class="container"><a class="brand"><img src="./src/img/logo.png"></a></div>
    </div>
    <!-- topbar end -->

    <div class="c-hero carousel carousel-hero">
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
    </div>

    <main class="container main v1">

      <ul class="c-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Hướng dẫn nạp</li>
      </ul>

      <nav class="c-nav-pay-v1">
        <ul>
          <li class="yellow"><a href="#">
              <div class="wrapper">
                <div class="icon"><img src="./images/nap.png"></div>
                <div class="text">Hướng dẫn mua và<br>
                  nạp thẻ Hcoin</div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="wrapper">
                <div class="icon"><img src="./images/atm.png"></div>
                <div class="text">Hướng dẫn nạp<br>
                  ATM / iBanking</div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="wrapper">
                <div class="icon"><img src="./images/hcoin.png"></div>
                <div class="text">Hướng dẫn đổi Hcoin<br>
                  thành KC / KNB / Vàng</div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="wrapper">
                <div class="icon"><img src="./images/visa.png"></div>
                <div class="text">Hướng dẫn nạp thẻ<br>
                  tín dụng</div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="wrapper">
                <div class="icon"><img src="./images/google-play.png"></div>
                <div class="text">Hướng dẫn nạp<br>
                  Google Play</div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="wrapper">
                <div class="icon"><img src="./images/paypal.png"></div>
                <div class="text">Hướng dẫn nạpM<br>
                  Paypal</div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="wrapper">
                <div class="icon"><img src="./images/vi.png"></div>
                <div class="text">Hướng dẫn nạp<br>
                  thanh toán trực tiếp</div>
              </div>
            </a></li>
          <li><a href="#">
              <div class="wrapper">
                <div class="dots">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
              </div>
            </a></li>
        </ul>
      </nav>

      <div class="c-content-page">
        <strong>HƯỚNG DẪN MUA THẺ HiCARD</strong>
        <br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp; Mua thẻ Hicard Online <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mua online tại Đại Lý ủy quyền Trong nước và Quốc tế.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mua online tại các trang Web/ứng dụng Thương Mại Điện Tử
        (TMĐT)<br>
        &nbsp;&nbsp;&nbsp;&nbsp; Mua thẻ Hicard Offline <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mua thẻ Hicard ship tận nhà.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tìm điểm bán thẻ Gcard trên Toàn Quốc.<br>
        &nbsp;&nbsp;&nbsp;&nbsp; Xem thêm các Khuyến mại HOT đang diễn ra tại đây.<br>
        <br>
        <strong>HƯỚNG DẪN NẠP THẺ HiCARD</strong> <br>
        Video Hướng dẫn Mua và Nạp thẻ Hicard<br>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ESaf57RCAEA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></p>
        <strong>HƯỚNG DẪN NẠP THẺ HiCARD</strong> <br>
        Nạp qua trang web Nap.higamer.vn<br>
        Bước 1. Truy cập nap.higamer.vn, đăng nhập tài khoản và chọn game cần nạp.<br>
        Bước 2. Chọn server và nhân vật cần nạp.<br>
        Bước 3. Chọn phương thức thanh toán là Thẻ Gcard.<br>
        Bước 4. Nhập số seri và mã thẻ Gcard. Chọn Nạp.<br>
        Bước 5. Nạp thẻ thành công, Kim Cương/Vàng/KNB đã được chuyển vào nhân vật trong game.<br>
        <br>
        Mọi thắc mắc cần giải đáp xin liên hệ<br>
        Hotline: 1900 888 999<br>
        Email: Hotro@higamer.vn<br>
      </div>

    </main>
    <!-- main end -->

    <footer class="c-footer">
      <div class="container">
        <div class="info">
          Điều Khoản | Bảo Mật <br>
          Bản quyền © 2020 Higamer <br>
          Email: Hotro@higamenr.vn | Hotline: xxxxx <br>
          Thời gian: 8:00 - 22:00 tất cả các ngày (GMT + 7)
        </div>
        <img src="./src/img/logo-footer.png">
      </div>
    </footer>

    <div class="c-bottom_bar">
      <div class="container">

        <ul class="nav">
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-home.png"></div>
              TRANG CHỦ
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-wallet.png"></div>
              NẠP XU
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-user.png"></div>
              TÀI KHOẢN
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-headphone.png"></div>
              HỖ TRỢ
            </a>
          </li>
          <li>
            <div class="nav-trigger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!-- bottom bar end -->

    <div class="navbar-over-body"></div>
    <div class="c-navbar"><a class="brand"><img src="./src/img/logo.png"></a>
      <ul class="nav">
        <li>
          <div class="wrapper">
            <div class="icon"><img src="./src/img/ic-1.png" alt=""></div>
            <div class="content">Xin chào, <a class="red" href="#">hihihehe0000</a></div>
          </div>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-2.png" alt=""></div>
            <div class="content">Nạp Tiền</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-3.png" alt=""></div>
            <div class="content">Lịch Sử Nạp</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-4.png" alt=""></div>
            <div class="content red">Nhận & đổi Giftcode</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-5.png" alt=""></div>
            <div class="content">Log Out</div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/slick/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>