<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .container {
      padding: 4vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .inner {
      text-align: center;
    }
  </style>
</head>
<body>
  
  <div class="container">
    <div class="inner">
      <h1><a href="./trang-chu.html">Trang chủ</a></h1>
      <h1><a href="./thong-tin-bao-mat.html">Thông Tin bảo mật</a></h1>
      <h1><a href="./thong-tin-bao-mat-thanh-cong.html">Thông Tin bảo mật thành công</a></h1>
      <h1><a href="./thong-tin-ca-nhan.html">Thông Tin cá nhân</a></h1>
      <h1><a href="./thiet-lap-sdt-moi.html">Thiết lập số điện thoại mới</a></h1>
      <h1><a href="./thiet-lap-sdt.html">Thiết lập số điện thoại</a></h1>
      <h1><a href="./thiet-lap-sdt-thanh-cong.html">Thiết lập số điện thoại thành công</a></h1>
      <h1><a href="./xac-minh-sdt.html">Xác minh số điện thoại</a></h1>
      <h1><a href="./lich-su-dang-nhap.html">lịch sử dăng nhập</a></h1>
      <h1><a href="./hoan-dong-tai-khoan.html">Hoạn động tài khoản</a></h1>
      <h1><a href="./thiet-lap-email.html">Thiết lập email</a></h1>
      <h1><a href="./xac-minh-email.html">Xác minh email</a></h1>
      <h1><a href="./thiet-lap-email-thanh-cong.html">Thiết lập email thành công</a></h1>
      <h1><a href="./doi-mat-khau.html">Đổi mật khẩu</a></h1>
      <h1><a href="./doi-mat-khau-thanh-cong.html">Đổi mật khẩu thành công</a></h1>
      <h1><a href="./ho-tro.html">Hỗ trợ</a></h1>
      
    </div>
  </div>

</body>
</html>