<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .container {
      padding: 4vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .inner {
      text-align: center;
    }
  </style>
</head>
<body>
  
  <div class="container">
    <div class="inner">
      <h1><a href="./trang-chu.html">Trang chủ</a></h1>
      <h1><a href="./thong-tin-bao-mat.html">Thông Tin bảo mật</a></h1>
      <h1><a href="./thong-tin-bao-mat-thanh-cong.html">Thông Tin bảo mật thành công</a></h1>
      <h1><a href="./thong-tin-ca-nhan.html">Thông Tin cá nhân</a></h1>
      <h1><a href="./thiet-lap-sdt-moi.html">Thiết lập số điện thoại mới</a></h1>
      <h1><a href="./thiet-lap-sdt.html">Thiết lập số điện thoại</a></h1>
      <h1><a href="./thiet-lap-sdt-thanh-cong.html">Thiết lập số điện thoại thành công</a></h1>
      <h1><a href="./xac-minh-sdt.html">Xác minh số điện thoại</a></h1>
      <h1><a href="./lich-su-dang-nhap.html">lịch sử dăng nhập</a></h1>
      <h1><a href="./hoan-dong-tai-khoan.html">Hoạn động tài khoản</a></h1>
      <h1><a href="./thiet-lap-email.html">Thiết lập email</a></h1>
      <h1><a href="./xac-minh-email.html">Xác minh email</a></h1>
      <h1><a href="./thiet-lap-email-thanh-cong.html">Thiết lập email thành công</a></h1>
      <h1><a href="./doi-mat-khau.html">Đổi mật khẩu</a></h1>
      <h1><a href="./doi-mat-khau-thanh-cong.html">Đổi mật khẩu thành công</a></h1>

      <h1 style="text-transform: uppercase;">Hỗ trợ</h1>
      <h1><a href="./cau-hoi-thuong-gap.html">Câu hỏi thường gặp</a></h1>
      <h1><a href="./yeu-cau-da-gui.html">Yêu cầu đã gửi</a></h1>
      <h1><a href="./tao-bao-loi.html">Tạo báo lỗi</a></h1>
      <h1><a href="./bao-loi-chi-tiet.html">Báo lỗi chi tiết</a></h1>
      <h1><a href="./gui-bao-loi.html">Gửi báo lỗi</a></h1>
      <h1><a href="./gui-bao-loi-thanh-cong.html">Gửi báo lỗi thành công</a></h1>

      <h1 style="text-transform: uppercase;">payment higame</h1>
      <h1><a href="./home.html">Home</a></h1>
      <h1><a href="./tin-tuc.html">Tin tức</a></h1>
      <h1><a href="./huong-dan-nap-the.html">Hưỡng dẫn nạp thẻ</a></h1>
      <h1><a href="./lich-su-nap.html">Lich sử nap</a></h1>
      <h1><a href="./chon-goi-nap.html">Chọn gói nạp</a></h1>
      <h1><a href="./phuong-thuc-thanh-toan.html">Phương thức thanh toán</a></h1>
      <h1><a href="./thanh-toan-the.html">Thanh toán thẻ</a></h1>
      <h1><a href="./thanh-toan-atm.html">Thanh toán ATM</a></h1>
      <h1><a href="./nap-thanh-cong.html">Nạp thành công</a></h1>
      <h1><a href="./chon-nhan-vat.html">Chọn nhân vật</a></h1>
      <h1><a href="./chon-goi-nap-vao-game.html">Chọn gói nạp vào game</a></h1>
      <h1><a href="./phuong-thuc-thanh-toan-vao-game.html">Phương thức thanh toán vào game</a></h1>
      <h1><a href="./thanh-toan-the-vao-game.html">Thanh toán the vào game</a></h1>
      <h1><a href="./thanh-toan-atm-vao-game.html">Thanh toán ATM vào game</a></h1>
      <h1><a href="./nap-thanh-cong-vao-game.html">Nạp thành công vào game</a></h1>
      
    </div>
  </div>

</body>
</html>