<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/vendor/slick/slick.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="c-top_bar v2">
      <div class="container"><a class="brand"><img src="./src/img/logo.png"></a></div>
    </div>
    <!-- topbar end -->

    <div class="c-hero carousel carousel-hero">
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
    </div>

    <main class="container main v1">

      <ul class="c-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Nạp thẻ</li>
      </ul>

      <div class="c-progress i3">
        <div class="item active">
          <div class="number">1</div>
          <div class="title">Chọn gói nạp</div>
        </div>
        <div class="item active">
          <div class="number">2</div>
          <div class="title">Phương thức thanh toán</div>
        </div>
        <div class="item">
          <div class="number">3</div>
          <div class="title">Thanh toán</div>
        </div>
      </div>

      <div class="c-pay-hcoin">

        <div class="info-user">
          <div class="title">Nạp vào tài khoản</div>
          <div class="info">
            <div class="name-account">Hihihehe0000</div>
            <div class="number-hcoin">Hcoin:<span>185</span><img src="./images/nap.png"></div>
          </div>
        </div>

        <div class="payment-card">
          <div class="title">Phương thức thanh toán</div>
          <div class="name"><img src="./images/atm2.png">Thẻ ATM<a href="#" class="link"><img src="./images/chuyen.png"></a></div>

          <div class="info-atm">
            <div class="content">
              <ul>
                <li><span>Gói nạp</span>Gói 10.000 coin</li>
                <li><span>Mệnh giá</span>10.000 VNĐ</li>
                <li><span>Mô tả</span>Gói 10.000 coin</li>
                <li><span>Phương thức</span>Thẻ ngân hàng</li>
              </ul>
              <div class="check">
                <input type="checkbox">
                <div class="check-title">Lưu thông tin thanh toán (số thẻ đã được mã hóa)</div>
                <div class="text">Nếu bạn lựa chọn lưu thông tin thanh toán, thông tin này sẽ được mã hóa dưới dạng token, và được
                  lưu trữ đảm bảo an toàn tuyệt đối cho những lần thanh toán sau</div>
              </div>
            </div>
            <a href="#" class="btn">Nạp</a>
          </div>
        </div>

      </div>

    </main>
    <!-- main end -->

    <footer class="c-footer">
      <div class="container">
        <div class="info">
          Điều Khoản | Bảo Mật <br>
          Bản quyền © 2020 Higamer <br>
          Email: Hotro@higamenr.vn | Hotline: xxxxx <br>
          Thời gian: 8:00 - 22:00 tất cả các ngày (GMT + 7)
        </div>
        <img src="./src/img/logo-footer.png">
      </div>
    </footer>

    <div class="c-bottom_bar">
      <div class="container">

        <ul class="nav">
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-home.png"></div>
              TRANG CHỦ
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-wallet.png"></div>
              NẠP XU
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-user.png"></div>
              TÀI KHOẢN
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-headphone.png"></div>
              HỖ TRỢ
            </a>
          </li>
          <li>
            <div class="nav-trigger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!-- bottom bar end -->

    <div class="navbar-over-body"></div>
    <div class="c-navbar"><a class="brand"><img src="./src/img/logo.png"></a>
      <ul class="nav">
        <li>
          <div class="wrapper">
            <div class="icon"><img src="./src/img/ic-1.png" alt=""></div>
            <div class="content">Xin chào, <a class="red" href="#">hihihehe0000</a></div>
          </div>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-2.png" alt=""></div>
            <div class="content">Nạp Tiền</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-3.png" alt=""></div>
            <div class="content">Lịch Sử Nạp</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-4.png" alt=""></div>
            <div class="content red">Nhận & đổi Giftcode</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-5.png" alt=""></div>
            <div class="content">Log Out</div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/slick/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>