<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="c-top_bar v1">
      <div class="container"><a href="#" class="back-page"><img src="./src/img/ic-8.png" class="icon">Thông tin bảo mật</a></div>
    </div>
    <!-- topbar end -->

    <main class="container main">

      <div class="c-success_notification">
        <img src="./src/img/thanh-cong.png">
        <div class="title">THÀNH CÔNG</div>
        <div class="content">Thay đổi thông tin cá nhân thành công</div>
        <a href="#" class="btn">Về trang chủ</a>
      </div>

    </main>
    <!-- main end -->

    <footer class="c-footer">
      <div class="container">
        <div class="info">
          Điều Khoản | Bảo Mật <br>
          Bản quyền © 2020 Higamer <br>
          Email: Hotro@higamenr.vn | Hotline: xxxxx <br>
          Thời gian: 8:00 - 22:00 tất cả các ngày (GMT + 7)
        </div>
        <img src="./src/img/logo-footer.png">
      </div>
    </footer>

    <div class="c-bottom_bar">
      <div class="container">

        <ul class="nav">
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-home.png"></div>
              TRANG CHỦ
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-wallet.png"></div>
              NẠP XU
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-user.png"></div>
              TÀI KHOẢN
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-headphone.png"></div>
              HỖ TRỢ
            </a>
          </li>
          <li>
            <div class="nav-trigger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!-- bottom bar end -->

    <div class="navbar-over-body"></div>
    <div class="c-navbar">
      <ul class="nav">
        <li>
          <div class="wrapper">
            <div class="icon"><img src="./src/img/ic-1.png" alt=""></div>
          <div class="content">Xin chào, <a class="red" href="#">hihihehe0000</a></div>
          </div>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-2.png" alt=""></div>
            <div class="content">Nạp Tiền</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-3.png" alt=""></div>
            <div class="content">Lịch Sử Nạp</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-4.png" alt=""></div>
            <div class="content red">Nhận & đổi Giftcode</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-5.png" alt=""></div>
            <div class="content">Log Out</div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>