<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel=icon href=./favicon.ico> <title>
  </title>

  <!-- style -->
  <link rel="stylesheet" href="./src/vendor/slick/slick.css">
  <link rel="stylesheet" href="./src/main.min.css">
</head>

<body>


  <div class="app" id="app">

    <div class="c-top_bar v2">
      <div class="container"><a class="brand"><img src="./src/img/logo.png"></a></div>
    </div>
    <!-- topbar end -->

    <div class="c-hero carousel carousel-hero">
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
      <div class="item"><a href="#"><img src="./images/slider.png"></a></div>
    </div>

    <main class="container main v1">

      <ul class="c-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tin tức - Khuyến mại</li>
      </ul>


      <div class="c-heading-detail">
        <div class="class"><img src="./images/news.png"> TIN TỨC - KHUYẾN MẠI</div>
        <div class="info">
          <div class="info-class">Tin tức</div>
          <h1 class="title">Thông báo thay đổi chính sách ưu đãi nạp xu qua Paypal</h1>
          <div class="date">( 12-10-2020 )</div>
        </div>
        <h2 class="description">Chỉ cần kích hoạt thành công Ví AirPay trên ứng dụng Shopee, người dùng sẽ nhận ngay gói ưu đãi hơn 300,000 đồng bao gồm: Voucher mua sắm đơn bất kỳ, mã miễn phí vận chuyển và gói hoàn xu khi thanh toán hóa đơn trên Shopee trong tháng 5 này.</h2>
      </div>
      <div class="c-content-page v1">
        <p style="text-align: center;"><img src="./images/new-4.png"></p>
        <p>Nhằm khuyến khích người dùng hạn chế tối đa tiền mặt trong giai đoạn này, Ví điện tử AirPay vừa triển khai chương trình “Ưu đãi 300K khi kích hoạt Ví AirPay trên ứng dụng Shopee” giúp khách hàng không chỉ dễ dàng mua sắm, thanh toán các dịch vụ tiện ích nhanh chóng mà còn tiết kiệm hơn bao giờ hết.</p>
        <p>Cụ thể, gói ưu đãi hơn 300K bao gồm những khuyến mãi giảm giá đặc biệt dành cho khách hàng mới của AirPay khi mua sắm, thanh toán hóa đơn hoặc nạp tiền điện thoại trên Shopee và thanh toán bằng Ví AirPay.
          Giảm giá 100%, tối đa 50K khi mua đơn hàng Shopee bất kì
          Ngay sau khi liên kết thành công Ví AirPay trên Shopee lần đầu tiên, người dùng được nhận ngay một Voucher giảm giá 100%, tối đa 50K khi mua đơn hàng Shopee bất kì. Mã này sẽ tự động tích hợp vào mục “Ví Voucher” của khách hàng trên ứng dụng Shopee với hạn sử dụng đến hết ngày 31/05/2020.</p>
      </div>

      <div class="c-other">
        <div class="title">TIN LIÊN QUAN</div>
        <div class="group">
          <div class="item">
            <a href="#" class="title">Bản tin Cuối Tuần</a>
            <div class="date">( 12-10-2020 )</div>
          </div>
          <div class="item">
            <a href="#" class="title">Ưu Đãi Nạp Qua Ví Airpay lên đến 20%</a>
            <div class="date">( 12-10-2020 )</div>
          </div>
          <div class="item">
            <a href="#" class="title">Thông Báo Bảo Trì Gộp Server</a>
            <div class="date">( 12-10-2020 )</div>
          </div>
          <div class="item">
            <a href="#" class="title">Thông Báo Sát Nhập Máy Chủ</a>
            <div class="date">( 12-10-2020 )</div>
          </div>
          <div class="item">
            <a href="#" class="title">Thông Báo Thay Đổi Chính Sách Nạp Paypal</a>
            <div class="date">( 12-10-2020 )</div>
          </div>
        </div>
      </div>

    </main>
    <!-- main end -->

    <footer class="c-footer">
      <div class="container">
        <div class="info">
          Điều Khoản | Bảo Mật <br>
          Bản quyền © 2020 Higamer <br>
          Email: Hotro@higamenr.vn | Hotline: xxxxx <br>
          Thời gian: 8:00 - 22:00 tất cả các ngày (GMT + 7)
        </div>
        <img src="./src/img/logo-footer.png">
      </div>
    </footer>

    <div class="c-bottom_bar">
      <div class="container">

        <ul class="nav">
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-home.png"></div>
              TRANG CHỦ
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-wallet.png"></div>
              NẠP XU
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-user.png"></div>
              TÀI KHOẢN
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon"><img src="./src/img/ic-headphone.png"></div>
              HỖ TRỢ
            </a>
          </li>
          <li>
            <div class="nav-trigger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!-- bottom bar end -->

    <div class="navbar-over-body"></div>
    <div class="c-navbar"><a class="brand"><img src="./src/img/logo.png"></a>
      <ul class="nav">
        <li>
          <div class="wrapper">
            <div class="icon"><img src="./src/img/ic-1.png" alt=""></div>
            <div class="content">Xin chào, <a class="red" href="#">hihihehe0000</a></div>
          </div>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-2.png" alt=""></div>
            <div class="content">Nạp Tiền</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-3.png" alt=""></div>
            <div class="content">Lịch Sử Nạp</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-4.png" alt=""></div>
            <div class="content red">Nhận & đổi Giftcode</div>
            <div class="arrow"><img src="./src/img/arrow-3.png" alt=""></div>
          </a>
        </li>
        <li>
          <a href="#" class="wrapper">
            <div class="icon"><img src="./src/img/ic-5.png" alt=""></div>
            <div class="content">Log Out</div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <!-- end app -->

  <!-- js -->
  <script src="./src/vendor/jquery-3.3.1.min.js"></script>
  <script src="./src/vendor/slick/slick.min.js"></script>
  <script src="./src/main.js"></script>


</body>

</html>