<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!-- header -->
    <header id="header">

        <div class="top-bar">
            <div class="container warpper">
                <a href="tel: 0963498868" class="fa phone">0963498868</a>
                <a href="#" class="fa mail">info@deaki.com.vn</a>
                <div class="social">
                    <a class="fa fa-facebook" href="https://www.facebook.com/"></a>
                    <a class="fa fa-youtube" href="https://www.youtube.com/"></a>
                    <a class="fa fa-twitter" href="https://twitter.com/"></a>
                    <a class="fa fa-google-plus" href="https://plus.google.com/"></a>
                </div>
            </div>

        </div>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- logo -->
                <a class="navbar-brand" href="#">
                    <img src="./pic/logo.png" alt="">
                </a>
                <!-- menu -->
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">TRANG CHỦ </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SẢN PHẨM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TIN TỨC</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Tin tức công ty</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Tin tuyển dụng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Chia sẻ kiến thức</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sự kiện nổi bật</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">HỖ TRỢ KỸ THUẬT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DỰ ÁN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DÀNH CHO ĐẠI LÝ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
                <!--search-->
                <div class="search">
                    <input type="text" placeholder="Từ khóa tìm kiếm">
                    <a href="#" class="fa fa-search"></a>
                </div>
                <!-- button responsive -->
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
            </div>
        </nav>

    </header>
    <!-- header end -->

    <!-- main -->
    <main id="main" class="main main-page">

        <!-- breadcrumb -->
        <section class="link-page">
            <div class="container">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="#">Trang chủ</a>
                    <a class="breadcrumb-item" href="#">Sản Phẩm</a>
                </nav>
            </div>
        </section>
        <!-- end breadcrumb -->

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 left-left">
                    <nav class="block-right nav-left">
                        <div class="heading-nav">DANH MỤC SẢN PHẨM</div>
                        <ul>
                            <li>
                                <a href="#">Danh mục sản phẩm 1</a>
                            </li>
                            <li>
                                <a href="#">Danh mục sản phẩm 2</a>
                            </li>
                            <li>
                                <a href="#">Danh mục sản phẩm 3</a>
                            </li>
                            <li>
                                <a href="#">Danh mục sản phẩm 4</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- left main end -->
                <div class="col-12 col-lg-9 right-main">
                    <div class="block-product-product">
                        <div class="heading-block">
                            <h1>DANH MỤC SẢN PHẨM 1</h1>
                            <div class="filter">
                                <span>Hiển thị 1– 9 của 43 sản phẩm</span>
                                <div class="input">
                                    <span>Lọc sản phẩm</span>
                                    <select name="" id="">
                                        <option value="">Mặc định</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row group-item">
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a4.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a5.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a6.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a6.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a6.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 item item-product">
                                <div class="warpper-product">
                                    <div class="img-auto">
                                        <a href="#" class="img-warpper">
                                            <img src="./pic/a1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h3 class="name">
                                            <a href="#">Máy làm mát không khí DEAKI DKA-06000A</a>
                                        </h3>
                                        <div class="price">Giá:
                                            <span>5.680.000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- split pages -->
                        <div class="split-pages">
                            <div class="SplitPages">
                                <a class="dau" href="#">Đầu</a>
                                <a class="truoc" href="#">Trước</a>
                                <a class="hientai" href="#">1</a>
                                <a class="trangkhac" href="#">2</a>
                                <a class="trangkhac" href="#">3</a>
                                <a class="trangkhac" href="#">4</a>
                                <a class="sau" href="#">Sau</a>
                                <a class="cuoi" href="#">Cuối</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right main end -->
            </div>
        </div>
        <!-- container end -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer id="footer">
        <div class="container info-footer">
            <div class="row">
                <div class="col-12 contact-info">
                    <div class="title">CÔNG TY CỔ PHẦN TEKO VIỆT NAM</div>
                    <div class="inner">
                        <p class="fa address">
                            <span>Tòa nhà B1-5 Khu Đô thị 54 Hạ Đình – Thanh Xuân - Hà Nội</span>
                        </p>
                        <p class="fa tel">
                            <span>Tel: 02432005466 - Fax: 02432005466</span>
                        </p>
                        <p class="fa mail">
                            <span>Email: info@deaki.com.vn</span>
                        </p>
                        <p class="fa website">
                            <span>www.deaki.com.vn</span>
                        </p>
                        <p class="fa map">
                            <a href="javascript://" onclick="showmap(21.00757415248039, 105.80296128988266)" data-toggle="modal" data-target="#modal-map">Bản đồ chỉ đường</a>
                        </p>
                    </div>
                    <div class="social">
                        <a class="fa fa-facebook" href="https://www.facebook.com/"></a>
                        <a class="fa fa-youtube" href="https://www.youtube.com/"></a>
                        <a class="fa fa-twitter" href="https://twitter.com/"></a>
                        <a class="fa fa-google-plus" href="https://plus.google.com/"></a>
                    </div>
                </div>
                <div class="col-12 nav-hotline">
                    <div class="title">HOTLINE</div>
                    <ul>
                        <li>
                            <a href="tel: 0963498868">0963498868 (CSKH)</a>
                        </li>
                        <li>
                            <a href="tel: 0963498868">0963498868 (Bảo hành)</a>
                        </li>
                        <li>
                            <a href="tel: 0963498868">0963498868 (Hỗ trợ kỹ thuật)</a>
                        </li>
                        <li>
                            <a href="tel: 0963498868">0963498868 (Hỗ trợ kỹ thuật)</a>
                        </li>
                        <li>
                            <a href="tel: 0963498868">0963498868 (Hỗ trợ kỹ thuật)</a>
                        </li>
                        <li>
                            <a href="tel: 0963498868">0963498868 (Hỗ trợ kỹ thuật)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 page-fb">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src =
                                'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=226666764204714&autoLogAppEvents=1';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="215" data-small-header="false"
                        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/facebook">Facebook</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <span class="name">Bản quyền thuộc về deaki.com.vn. </span>
                <a target="_bank" href="http://tatthanh.com.vn/" title="Click để xây dựng website - SEO chuyên nghiệp!" class="tatthanh">Thiết kế website và SEO Google bởi Tất Thành</a>
                <span class="statistics">
                    <span class="online">Đang online: 20</span>
                    <span class="total">Tổng truy cập: 125890</span>
                </span>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- Modal -->
    <div class="modal fade modal-map" id="modal-map" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div id="map-01"></div>
                </div>
            </div>
        </div>
    </div>

    <span class="back-top">
        <img src="./css/img/back-top.png" alt="">
    </span>

</body>

<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
<script src="js/infobox.js"></script>
<script src="js/GoogleMapInit.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>

<!-- maps -->
<script>
    function showmap(longitude, measure) {
        $('#modal-map').modal('show');
        initialize(
            longitude,
            measure,
            '',
            'map-01',
            ''
        );
    }
</script>

</html>