.c-navbar {
  background-color: $c-indigo;

  @media (min-width: $breakpoints-xl) {
    display: none;
  }

  .nav {
    @include no-spacing;
    display: flex;

    .nav-item {
      flex: 1;
      list-style: none;

      .nav-link {
        display: block;
        position: relative;
        padding: 22px 5px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: $c-primary;
        transition: $transition;

        @media (min-width: $breakpoints-sm) {
          font-size: 24px;
        }

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 3px;
          left: 50%;
          bottom: 0;
          transform: translate3d(-50%, 0, 0);
          border-radius: 99px;
          background-color: $c-white;
          transition: $transition;
        }

        &.active {
          font-weight: 500;
          color: $c-white;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}