.c-registration_list {
  .carousel {
    margin-top: 20px;
    margin-left: 10px;

    @media (min-width: $breakpoints-sm) {
      margin-left: 25px;
      margin-top: 30px;
    }

    .slick-arrow {
      position: absolute;
      z-index: 3;
      font-size: 0;
      border: 0;
      width: 45px;
      height: 45px;
      top: 50%;
      cursor: pointer;
      background: url(./img/ic-arrow-carousel.png);
      transition: $transition;

      &:hover {
        background: url(./img/ic-arrow-carousel-hover.png);
      }

      &.slick-prev {
        left: -72px;
        transform: translate3d(0, -50%, 0);
      }

      &.slick-next {
        right: -72px;
        transform: translate3d(0, -50%, 0) scale(-1);
      }
    }

    @media (min-width: $breakpoints-xl) {
      position: relative;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 5px;
      padding-right: 5px;
      width: 84.9%;

      &::after,
      &::before {
        content: '';
        z-index: 2;
        position: absolute;
        width: 15px;
        height: 100%;
        background: $c-white;
        top: 0;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: -3px;
      }
    }

    .item {
      margin-right: 15px;

      @media (min-width: $breakpoints-xl) {
        margin-left: 10px;
        margin-right: 10px;
      }

      .item-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 300px;
        border-radius: 6px;
        border: 1px solid #eae9e9;
        padding: 10px;

        @media (min-width: $breakpoints-sm) {
          width: 388px;
          padding: 21px 30px;
        }

        @media (min-width: $breakpoints-xl) {
          width: auto;
          padding: 15px;
        }

        @media (min-width: $breakpoints-xxl) {
          padding: 21px 30px;
        }

        .img {
          margin-right: 10px;

          @media (min-width: $breakpoints-sm) {
            margin-right: 15px;
          }

          img {
            width: 60px;
            height: auto;

            @media (min-width: $breakpoints-sm) {
              width: 84px;
            }

            @media (min-width: $breakpoints-xl) {
              width: 76px;
            }
          }
        }

        .info {
          margin-right: 90px;

          @media (min-width: $breakpoints-sm) {
            margin-right: 120px;
          }

          @media (min-width: $breakpoints-xl) {
            margin-right: 100px;
          }

          @media (min-width: $breakpoints-xxl) {
            margin-right: 120px;
          }
          

          .copyright {
            font-size: 9pt;
            line-height: 16pt;
            color: #878787;
            font-weight: 300;

            @media (min-width: $breakpoints-sm) {
              font-size: 11pt;
            }

            @media (min-width: $breakpoints-xl) {
              font-size: 10pt;
            }
          }

          .title {
            @include no-spacing;
            font-size: 11pt;
            color: $c-black;

            @media (min-width: $breakpoints-sm) {
              font-size: 13pt;
            }

            @media (min-width: $breakpoints-xl) {
              font-size: 12pt;
            }
          }

          .bookmark {
            position: relative;
            padding-left: 18px;
            font-weight: 300;
            color: #8c8c8c;
            font-size: 11pt;

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate3d(0, -50%, 0);
              height: 18px;
              width: 12px;
              background-image: url(./img/ic-bookmark-v1.png);
            }
          }
        }

        .btn {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          padding: 6px 19px;
          font-size: 10pt;
          border: 1px solid #8b41eb;
          font-weight: 500;

          @media (min-width: $breakpoints-sm) {
            right: 23px;
            border: 2px solid #8b41eb;
            padding: 11px 24.5px;
            font-size: 11pt;
          }

          @media (min-width: $breakpoints-xl) {
            right: 16px;
            font-size: 10pt;
            border: 1px solid #8b41eb;
            top: 27px;
            transform: translate3d(0, 0, 0);
            padding: 6.5px 12px;

            &::before {
              content: '';
              display: inline-block;
              width: 15px;
              height: 12px;
              background: url(./img/ic-check.png);
              margin-right: 2px;
              transition: $transition;
            }
          }

          @media (min-width: $breakpoints-xxl) {
            right: 23px;
          }

          &:hover {
            background-color: #8b41eb;
            color: $c-white;

            &::before {
              background: url(./img/ic-check-hover.png);
            }
          }
        }
      }

    }
  }
}