<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!-- header -->
    <header id="header">
        <!-- top bar -->
        <section class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <!-- logo -->
                        <div class="logo">
                            <img src="./pic/logo.png" alt="">
                        </div>
                        <!-- end logo -->
                    </div>
                    <div class="col-9">
                        <!-- Language -->
                        <div class="language">
                            <div class="language-inner">
                                <a href="#"><img src="./css/icons/vn.png" alt=""></a>
                                <a href="#"><img src="./css/icons/el.png" alt=""></a>
                            </div>
                        </div>
                        <!-- end Language -->
                        <!-- menu top bar -->
                        <nav class="menu-tb">
                            <ul class="nav-tb">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Về chúng tôi</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Trang học viện</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Hệ thống trường thực tập giáo viên quốc tế</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end menu top bar -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end top bar -->
        <!-- menu end search -->
        <section class="menu-search">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- menu main -->
                        <nav class="menu-main">
                            <ul class="nav-mm">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Trang chủ</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Khóa học Montessori</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Hiệp hội Montessori</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Hợp tác quốc tế</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Thư viện Montessori</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <!-- end menu main -->
                        <!--search-->
                        <div class="search">
                            <div class="form-search">
                                <input type="text" placeholder="Từ khóa tìm kiếm">
                                <a href="#">
                                    <img src="./css/icons/search.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!--end search-->
                    </div>
                </div>
            </div>
        </section>
        <!-- end menu and search -->
    </header>
    <!-- end header -->

    <!-- main -->
    <main id="main">
        <div class="container">
            <div class="row">
                <!-- left -->
                <div class="col-12 left-main">
                    <!-- menu images -->
                    <nav class="menu-images">
                        <strong>Thư viện Montessori</strong>
                        <ul>
                            <li><a href="#">Cuộc đời và sự nghiệp Maria Montessori</a></li>
                            <li>
                                <a href="#">Montessori trong lớp học</a>
                                <ul class="con">
                                    <li><a href="#">Lớp học 0 - 3</a></li>
                                    <li><a href="#">Lớp học 3 - 6</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Montessori trong gia đình</a></li>
                            <li><a href="#">Điểm sách</a></li>
                            <li><a href="#">Điểm tin Montessori</a></li>
                        </ul>
                    </nav>
                    <!-- end menu images -->
                    <!-- button -->
                    <div class="btn-left">
                        <a href="#" class="btn-dkh">đăng ký học</a>
                    </div>
                    <!-- end button -->
                    <!-- contact left -->
                    <div class="contact-left">
                        <strong>Liên hệ ngay với chúng tôi</strong>
                        <p>
                            Trung tâm huấn luyện giáo viên Montessori Việt Nam (MTCV)
                            <br> Tầng 5 tòa nhà A, Lô TH1, khu đô thị mới Dịch Vọng, phố Thọ Tháp, Cầu Giấy, Hà Nội
                            <br> (trong khuôn viên trường mầm non quốc tế và Sakura và trường liên cấp Gate-way)
                            <br> Phòng tư vấn tuyển sinh
                            <br> (Ms Hồng/ Ms Huyền)
                            <br> Số điện thoại: <b>024.6686.4650 </b>
                            <br> Email: <span>info@mtcv.vn</span>
                        </p>
                    </div>
                    <!-- end contact left -->
                    <!-- link left -->
                    <div class="link-left">
                        <strong>Link quan trọng</strong>
                        <a href="#"><span>Meet the Staff</span></a>
                        <a href="#"><span>Schedule a Personal Tour</span></a>
                        <a href="#"><span>Primary Application</span></a>
                        <a href="#"><span>Reference Form</span></a>
                        <a href="#"><span>Primary Course Handbook</span></a>
                        <a href="#"><span>Primary Fact Sheet</span></a>
                        <a href="#"><span>Women United Scholarship Fact Sheet</span></a>
                        <a href="#"><span>Women United Scholarship Steps to Apply</span></a>
                        <a href="#"><span>Women United Scholarship Application</span></a>
                    </div>
                    <!-- end link left -->
                </div>
                <!-- end left -->
                <!-- right -->
                <div class="col-12 right-main">
                    <!-- new detail -->
                    <div class="new-detail">
                        <div href="#" title="" class="title-baiviet">
                            <h1>Kỷ niệm 5 năm thành lập trường</h1>
                        </div>
                        <div>
                            <!-- top -->
                            <div class="thongke">
                                <div class="thongke-ngay"><span>Ngày đăng: 08:32 - 20/06/2015</span></div>
                                <div class="thongke-luotxem"><span>Lượt xem: 1.688</span></div>
                                <div class="cochu">
                                    <span>Cỡ chữ</span>
                                    <a href="javascript:DecreaseTextSize()" title="" class="SmallSize"></a>
                                    <a class="LargeSize" href="javascript:IncreaseTextSize()" title=""></a>
                                </div>
                            </div>
                            <!-- end top -->
                            <!-- center -->
                            <div class="noidung TextSize">
                                <div class="nddes fRobotoB lh22 pb20">
                                    <div class="row detail-img">
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                    <img src="./pic/demo.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                        <img src="./pic/demo.jpg">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                            <img src="./pic/demo.jpg">
                                                        </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                <img src="./pic/demo.jpg">
                                                            </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                    <img src="./pic/demo.jpg">
                                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                        <img src="./pic/demo.jpg">
                                                                    </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                            <img src="./pic/demo.jpg">
                                                                        </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                                <img src="./pic/demo.jpg">
                                                                            </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                                    <img src="./pic/demo.jpg">
                                                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                                        <img src="./pic/demo.jpg">
                                                                                    </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                                            <img src="./pic/demo.jpg">
                                                                                        </a>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 item">
                                            <div class="khungAnh">
                                                <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/demo.jpg">
                                                                                                <img src="./pic/demo.jpg">
                                                                                            </a>
                                            </div>
                                        </div>
                                        <!--SplitPages-->
                                        <div class="col-12 splitPages">
                                            <div class="SplitPages">
                                                <a class="dau" href="#">Đầu</a>
                                                <a class="truoc" href="#">Trước</a>
                                                <a class="hientai" href="#">1</a>
                                                <a class="trangkhac" href="#">2</a>
                                                <a class="trangkhac" href="#">3</a>
                                                <a class="trangkhac" href="#">4</a>
                                                <a class="sau" href="#">Sau</a>
                                                <a class="cuoi" href="#">Cuối</a>
                                            </div>
                                        </div>
                                        <!--end SplitPages-->
                                    </div>
                                </div>
                            </div>
                            <!-- end center -->
                            <!-- buttom -->
                            <div id="CommonCuoiChiTietTin">
                                <div class="fl apd dnmb">
                                    <a class="prevDBT" href="javascript:history.go(-1)">Về trang trước</a>
                                    <div class="fr pl20 apd dnmb">
                                        <a href="javascript:void(0)" class="email addthis_button_email">Gửi emmail</a>
                                        <a href="javascript:window.print()" class="print">In trang</a>
                                    </div>
                                </div>
                                <div class="fr">
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                                        <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                                        <div class="shareItem"><a class="addthis_button_facebook"></a></div>
                                        <div class="shareItem"><a class="addthis_button_twitter"></a></div>
                                        <div class="shareItem"><a class="addthis_button_zingme"></a></div>
                                        <div class="shareItem"><a class="addthis_button_compact"></a></div>
                                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
                                    </div>
                                    <!-- AddThis Button END -->
                                </div>
                            </div>
                            <!-- end buttom -->
                        </div>
                    </div>
                    <!-- end new detail -->
                </div>
                <!-- end right -->
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="left-f">
                        <div class="title">Tại sao chọn MTCV </div>
                        <div class="text">MTCV là trung tâm đầu tiên mang Montessori đến Việt Nam, là đơn vị đã sát cánh bên trường mầm non
                            quốc tế Sakura Montessori đào tạo ra những lứa giáo viên Montessori tiên phong trên cả nước.
                            Học viên của MTCV luôn đánh giá cao sự chuyên nghiệp, giàu kinh nghiệm, hỗ trợ học viên tận tình
                            của đội ngũ giảng viên, điều phối viên. Các khóa học quốc tế của chúng tôi có những chuyên viên
                            Montessori làm phiên dịch luôn đảm bảo sự truyền tải tối đa kiến thức cho quý vị.</div>
                        <a href="#"><i>Đọc thêm về chúng tôi ...</i></a>
                    </div>
                    <div class="center-f">
                        <div class="title">MTCV trên mạng xã hội</div>
                        <div class="social">
                            <div class="inner-social">
                                <a href="#"><img src="./css/icons/fb.png" alt=""></a>
                                <a href="#"><img src="./css/icons/tt.png" alt=""></a>
                                <a href="#"><img src="./css/icons/yt.png" alt=""></a>
                                <a href="#"><img src="./css/icons/is.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="right-f">
                        <div class="title">Thông tin liên hệ</div>
                        <div class="inner">
                            <div class="d1">
                                <img src="./css/icons/f1.png" alt="">
                                <p>Trung tâm huấn luyện giáo viên Montessori Việt Nam (MTCV)</p>
                            </div>
                            <div class="d1">
                                <img src="./css/icons/f2.png" alt="">
                                <p>Tầng 5 tòa nhà A, Lô TH1, KDTM Dịch Vọng, Thọ Tháp, Cầu Giấy, Hà Nội</p>
                            </div>
                            <div class="d1">
                                <img src="./css/icons/f3.png" alt="">
                                <p>024.6686.4650</p>
                            </div>
                            <div class="d1"><img src="./css/icons/f5.png" alt="">
                                <p>info@mtcv.vn</p>
                            </div>
                            <a href="#"><img src="./css/icons/f6.png" alt=""><span>Bản đồ chỉ dẫn</span><img src="./css/icons/f7.png" alt=""></a>
                        </div>
                        <div class="copyright">
                            <span>© 2017 <a href="#">MTCV</a> All Right Reserved.</span>
                            <span><img src="./css/icons/online.png" alt=""> Online: 1.236</span>
                            <span>Tổng truy cập: 1.000.000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- hotline -->
    <div id="hotline">
        <div class="inner">
            <img src="./css/icons/sp.png" alt="">
            <span class="d1">Hotline hỗ trợ 24/7</span>
            <span class="d2">Hotline: <span>0981.335.838</span><span> / </span><span>024.6260.4666</span></span>
        </div>
        <div class="ve-top">
            <img src="./css/icons/ve-top.png" alt="">
        </div>
    </div>
    <!-- end hotline -->


</body>

</html>