<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="vendor/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!-- header -->
    <header id="header">
        <!-- top bar -->
        <section class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <!-- logo -->
                        <div class="logo">
                            <img src="./pic/logo.png" alt="">
                        </div>
                        <!-- end logo -->
                    </div>
                    <div class="col-9">
                        <!-- Language -->
                        <div class="language">
                            <div class="language-inner">
                                <a href="#"><img src="./css/icons/vn.png" alt=""></a>
                                <a href="#"><img src="./css/icons/el.png" alt=""></a>
                            </div>
                        </div>
                        <!-- end Language -->
                        <!-- menu top bar -->
                        <nav class="menu-tb">
                            <ul class="nav-tb">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Về chúng tôi</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Trang học viện</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Hệ thống trường thực tập giáo viên quốc tế</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end menu top bar -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end top bar -->
        <!-- menu end search -->
        <section class="menu-search">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- menu main -->
                        <nav class="menu-main">
                            <ul class="nav-mm">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Trang chủ</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Khóa học Montessori</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Hiệp hội Montessori</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Hợp tác quốc tế</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">Thư viện Montessori</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action 1</a>
                                        <a class="dropdown-item" href="#">Action 2</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <!-- end menu main -->
                        <!--search-->
                        <div class="search">
                            <div class="form-search">
                                <input type="text" placeholder="Từ khóa tìm kiếm">
                                <a href="#">
                                        <img src="./css/icons/search.png" alt="">
                                    </a>
                            </div>
                        </div>
                        <!--end search-->
                    </div>
                </div>
            </div>
        </section>
        <!-- end menu and search -->
    </header>
    <!-- end header -->

    <!-- main -->
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 push-lg-8 contact">
                    <div class="info_reply">
                        <p class="chu_y">Mời bạn điền vào mẫu thư liên lạc và gửi đi cho chúng tôi. Các chuyên viên tư vấn của chúng tôi sẽ
                            trả lời bạn trong thời gian sớm nhất.</p>
                        <input type="text" placeholder="Họ tên *">
                        <input type="text" placeholder="Email *">
                        <input type="text" placeholder="Địa chỉ *">
                        <input type="text" placeholder="Tiêu đề *">
                        <textarea cols="1" rows="1" placeholder="Nội dung *"></textarea>
                        <div class="block-nut">
                            <input type="text" placeholder="Mã bảo vệ *">
                            <img src="./css/icons/t5.png" alt="">
                            <a href="#" class="reset-mbv"><img src="./css/icons/t4.png" alt=""></a>
                            <a href="#" class="btn-gyc">Gửi yêu cầu</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 pull-lg-4 contact">
                    <p class="co-gt">Cảm ơn bạn đã ghé thăm Montessori training center of vietnam</p>
                    <h4>Trung tâm huấn luyện giáo viên Montessori Việt Nam (MTCV)</h4>
                    <p>Tầng 5 tòa nhà A, Lô TH1, KDTM Dịch Vọng, Thọ Tháp, Cầu Giấy, Hà Nội</p>
                    <p>024.6686.4650</p>
                    <p>info@mtcv.vn</p>
                    <div class="select-map">
                        <select>
                            <option>Lô TH1 KĐT mới Dịch Vọng, phố Thọ Tháp, Q. Cầu Giấy, Hà Nội.</option>
                        </select>
                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
                        <script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
                        <script type="text/javascript" src="vendor/google-map/infobox.js"></script>
                        <script type="text/javascript">
                            initialize(
                                '21.00757415248039',
                                '105.80296128988266',
                                '',
                                '',
                                'maps',
                            );
                        </script>
                        <div class="maps" id="maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6280557078753!2d105.8007711655069!3d21.007541586009868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca19f3604b1%3A0x6419ede804b3b823!2zMjQgVDIsIEhvw6BuZyDEkOG6oW8gVGjDunksIFRydW5nIEjDsmEgTmjDom4gQ2jDrW5oLCBUcnVuZyBIb8OgLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1502529337546"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="left-f">
                        <div class="title">Tại sao chọn MTCV </div>
                        <div class="text">MTCV là trung tâm đầu tiên mang Montessori đến Việt Nam, là đơn vị đã sát cánh bên trường mầm non
                            quốc tế Sakura Montessori đào tạo ra những lứa giáo viên Montessori tiên phong trên cả nước.
                            Học viên của MTCV luôn đánh giá cao sự chuyên nghiệp, giàu kinh nghiệm, hỗ trợ học viên tận tình
                            của đội ngũ giảng viên, điều phối viên. Các khóa học quốc tế của chúng tôi có những chuyên viên
                            Montessori làm phiên dịch luôn đảm bảo sự truyền tải tối đa kiến thức cho quý vị.</div>
                        <a href="#"><i>Đọc thêm về chúng tôi ...</i></a>
                    </div>
                    <div class="center-f">
                        <div class="title">MTCV trên mạng xã hội</div>
                        <div class="social">
                            <div class="inner-social">
                                <a href="#"><img src="./css/icons/fb.png" alt=""></a>
                                <a href="#"><img src="./css/icons/tt.png" alt=""></a>
                                <a href="#"><img src="./css/icons/yt.png" alt=""></a>
                                <a href="#"><img src="./css/icons/is.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="right-f">
                        <div class="title">Thông tin liên hệ</div>
                        <div class="inner">
                            <div class="d1">
                                <img src="./css/icons/f1.png" alt="">
                                <p>Trung tâm huấn luyện giáo viên Montessori Việt Nam (MTCV)</p>
                            </div>
                            <div class="d1">
                                <img src="./css/icons/f2.png" alt="">
                                <p>Tầng 5 tòa nhà A, Lô TH1, KDTM Dịch Vọng, Thọ Tháp, Cầu Giấy, Hà Nội</p>
                            </div>
                            <div class="d1">
                                <img src="./css/icons/f3.png" alt="">
                                <p>024.6686.4650</p>
                            </div>
                            <div class="d1"><img src="./css/icons/f5.png" alt="">
                                <p>info@mtcv.vn</p>
                            </div>
                            <a href="#"><img src="./css/icons/f6.png" alt=""><span>Bản đồ chỉ dẫn</span><img src="./css/icons/f7.png" alt=""></a>
                        </div>
                        <div class="copyright">
                            <span>© 2017 <a href="#">MTCV</a> All Right Reserved.</span>
                            <span><img src="./css/icons/online.png" alt=""> Online: 1.236</span>
                            <span>Tổng truy cập: 1.000.000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- hotline -->
    <div id="hotline">
        <div class="inner">
            <img src="./css/icons/sp.png" alt="">
            <span class="d1">Hotline hỗ trợ 24/7</span>
            <span class="d2">Hotline: <span>0981.335.838</span><span> / </span><span>024.6260.4666</span></span>
        </div>
        <div class="ve-top">
            <img src="./css/icons/ve-top.png" alt="">
        </div>
    </div>
    <!-- end hotline -->

</body>

</html>