<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- logo -->
                    <div class="logo">
                        <a href="#"><img src="./pic/logo.png" alt=""></a>
                    </div>
                    <div class="group">
                        <div class="d1">
                            <!-- hotline -->
                            <div class="hotline">
                                <img src="./css/icons/phone.png" alt="">
                                <span>Hotline 24/7:</span>
                                <b>(84 - 24) 3871 2928 / 3266 5226</b>
                            </div>
                            <!-- Language -->
                            <div class="language">
                                <div class="language-inner">
                                    <a href="#"><img src="./css/icons/vn.png" alt=""></a>
                                    <a href="#"><img src="./css/icons/en.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="d2">
                            <!--search-->
                            <div class="search">
                                <div class="form-search">
                                    <input type="text" placeholder="Nhập từ khóa tìm kiếm ...">
                                    <a href="#" class="fa fa-search" aria-hidden="true"></a>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

    <!-- breadcrumb -->
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <nav class="col-12 breadcrumb">
                    <a class="breadcrumb-item" href="#"><img src="./css/icons/home.png" alt=""></a>
                    <a class="breadcrumb-item active" href="#">Giới thiệu</a>
                </nav>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <!-- main -->
    <main class="main">
        <div class="container">
            <div class="row">
                <!-- left main -->
                <div class="col-12 left-main">
                    <!-- menu right -->
                    <div class="menu-right">
                        <ul>
                            <li class="active"><a href="#">Giới thiệu chung</a></li>
                            <li><a href="#">Sơ đồ tổ chức</a></li>
                            <li><a href="#">Thông tin liên hệ</a></li>
                            <li><a href="#">Hồ sơ năng lực</a></li>
                            <li><a href="#">Chiến lược</a></li>
                        </ul>
                    </div>
                    <!-- product right -->
                    <div class="product-right">
                        <div class="top-right">Sản phẩm nổi bật</div>
                        <div class="group-item">
                            <div class="clear item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                        <img src="./pic/demo.jpg">
                                    </a>
                                </div>
                                <a href="#">Ea in non culpa sint. Id labore nisi sit elit commodo nisi sunt id sunt exercitation enim veniam fugiat in.</a>
                            </div>
                            <div class="clear item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                            <img src="./pic/demo.jpg">
                                        </a>
                                </div>
                                <a href="#">Ea in non culpa sint. Id labore nisi sit elit commodo nisi sunt id sunt exercitation enim veniam fugiat in.</a>
                            </div>
                            <div class="clear item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                <img src="./pic/demo.jpg">
                                            </a>
                                </div>
                                <a href="#">Ea in non culpa sint. Id labore nisi sit elit commodo nisi sunt id sunt exercitation enim veniam fugiat in.</a>
                            </div>
                            <div class="clear item">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop" href="#">
                                                    <img src="./pic/demo.jpg">
                                                </a>
                                </div>
                                <a href="#">Ea in non culpa sint. Id labore nisi sit elit commodo nisi sunt id sunt exercitation enim veniam fugiat in.</a>
                            </div>
                        </div>
                    </div>
                    <!-- news right -->
                    <div class="news-right">
                        <div class="top-right">Tin tức nổi bật</div>
                        <div class="link">
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                            <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><span>Ex ea mollit quis sunt duis eiusmod adipisicing Lorem incididunt.</span></a>
                        </div>
                    </div>
                </div>
                <!-- right main -->
                <div class="col-12 right-main">
                    <!-- new detail -->
                    <div class="new-detail">
                        <div href="#" title="" class="title">
                            <h1>title</h1>
                        </div>
                        <div>
                            <!-- top -->
                            <div class="thongke">
                                <div class="thongke-ngay"><span>Ngày đăng: 08:32-20/06/2015</span></div>
                                <div class="thongke-luotxem"><span>Lượt xem: 1.688</span></div>
                                <div class="cochu">
                                    <span>Cỡ chữ</span>
                                    <a href="javascript:DecreaseTextSize()" title="" class="SmallSize"></a>
                                    <a class="LargeSize" href="javascript:IncreaseTextSize()" title=""></a>
                                </div>
                            </div>
                            <!-- end top -->
                            <!-- center -->
                            <div class="noidung TextSize">
                                <div class="nddes fRobotoB lh22 pb20">
                                    Nội dung ở đây
                                </div>
                            </div>
                            <!-- end center -->
                            <!-- buttom -->
                            <div id="CommonCuoiChiTietTin">
                                <div class="fl apd dnmb">
                                    <a class="prevDBT" href="javascript:history.go(-1)">Về trang trước</a>
                                    <div class="fr pl20 apd dnmb">
                                        <a href="javascript:void(0)" class="email addthis_button_email">Gửi emmail</a>
                                        <a href="javascript:window.print()" class="print">In trang</a>
                                    </div>
                                </div>
                                <div class="fr">
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                                        <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                                        <div class="shareItem"><a class="addthis_button_facebook"></a></div>
                                        <div class="shareItem"><a class="addthis_button_twitter"></a></div>
                                        <div class="shareItem"><a class="addthis_button_zingme"></a></div>
                                        <div class="shareItem"><a class="addthis_button_compact"></a></div>
                                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
                                    </div>
                                    <!-- AddThis Button END -->
                                </div>
                            </div>
                            <!-- end buttom -->
                        </div>
                    </div>
                    <!-- other v1 -->
                    <div class="other other-v1">
                        <div class="top">Các bài giới thiệu khác:</div>
                        <div class="link">
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i><span> Giới thiệu chung</span><span> (24 lượt xem)</span></a>
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i><span> Thông điệp lãnh đạo</span><span> (20 lượt xem)</span></a>
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i><span> Ban lãnh đạo</span><span> (18 lượt xem)</span></a>
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i><span> Hệ thống tổ chức</span><span> (15 lượt xem)</span></a>
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i><span> Lịch sử</span><span> (18 lượt xem)</span></a>
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i><span> Giải thưởng</span><span> (15 lượt xem)</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row inner">
                <div class="block-f">
                    <strong><a href="#">Về chúng tôi</a></strong>
                    <div class="link">
                        <a href="#">Giới thiệu chung</a>
                        <a href="#">Tầm nhìn sứ mệnh</a>
                        <a href="#">Cơ sở vật chất</a>
                        <a href="#">Giá trị cốt lõi</a>
                        <a href="#">Lịch sử phát triển</a>
                    </div>
                </div>
                <div class="block-f">
                    <strong><a href="#">Hợp tác với Vjmc</a></strong>
                    <div class="link">
                        <a href="#">Hệ thống Đại lý phân phối </a>
                        <a href="#">Trở thành Đại lý phân phối</a>
                        <a href="#">Cộng tác viên Bán hàng</a>
                        <a href="#">Đối tác Jessiecosmetics tìm Nhà sản xuất</a>
                    </div>
                </div>
                <div class="block-f">
                    <strong><a href="#">Tin tức</a></strong>
                    <div class="link">
                        <a href="#">Tin công ty</a>
                        <a href="#">Chia sẻ kiến thức</a>
                    </div>
                </div>
                <div class="block-f">
                    <strong><a href="#">Hỗ trợ khách hàng</a></strong>
                    <div class="link">
                        <a href="#">Liên hệ</a>
                        <a href="#">Câu hỏi thường gặp</a>
                        <a href="#">Giao hàng & hoàn trả hàng</a>
                        <a href="#">Hướng dẫn thanh toán</a>
                        <a href="#">Cách thức mua hàng</a>
                    </div>
                </div>
                <div class="block-f">
                    <strong><a href="#">Trung tâm trợ giúp khách hàng</a></strong>
                    <p>Hotline 24/7: <b>(84 - 24) 3871 2928 / 3266 5226</b></p>
                    <div class="suppot">
                        <p>Tư vấn bán hàng trực tuyến:</p>
                        <a href="tel:65455250452" title="65455250452"><img src="./css/icons/on.png" alt=""> <img src="./css/icons/on2.png" alt=""> <span>Hỗ trợ 1: 65455250452</span></a>
                        <a href="tel:0986 361 129" title="0986 361 129"><img src="./css/icons/on.png" alt=""> <img src="./css/icons/on2.png" alt=""> <span>Hỗ trợ 1: 0986 361 129</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 in-f">
                    <strong>VJMC VINA TECHNIQUES SERVICES CO.,LTD</strong>
                    <p>NO 3A, 96/71/27 Thuong Thanh street, Thuongthanh Watd, Long Bien Dist, Ha Noi</p>
                    <p>(84 - 24) 3871 2928 / 3266 5226 Fax: (84 - 24) 3871 2928<br>VPGD: Tel: 0913.183.933, 0911.385.058</p>
                    <p>Vjmvinainfo@vjmcvina.com<br>VPGD: sales9@vjmcvina.com</p>
                    <p>vjmvina.com</p>
                    <div class="social">
                        <a href="#"><img src="./css/icons/f5.png" alt=""></a>
                        <a href="#"><img src="./css/icons/f6.png" alt=""></a>
                        <a href="#"><img src="./css/icons/f7.png" alt=""></a>
                        <a href="#"><img src="./css/icons/f8.png" alt=""></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 facebook-f">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src =
                                "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="true" data-adapt-container-width="false"
                        data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <span>Copyright © 2017 vjmcvina.com. All rights reserved. <a target="_bank" href="http://tatthanh.com.vn/" title="Click để xây dựng website - SEO chuyên nghiệp!">Thiết kế website và SEO  Google Tất Thành</a></span>
                <span><img src="./css/icons/online.png" alt=""> Đang online: 20</span>
                <span><img src="./css/icons/tong-onlile.png" alt=""> Tổng truy cập: 125890</span>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery.min.js"></script>
<script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>