<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gonewhorizontravel.com</title>
    <style>
        a {
            display: block;
            margin: 10px auto;
            color: #03a9f4;
            font-size: 18px;
            text-transform: uppercase;
            width: 200px;
            text-align: center;
            transition: all 0.4s ease-out;
        }
        a:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <a href="./01.trangchu.html">trang chu</a>
    <a href="./02.gioithieu.html">gioi thieu</a>
    <a href="./03.gioithieu-chitiet.html">gioi thieu chi tiet</a>
    <a href="./04.sanpham-trangchinh.html">san pham trang chinh</a>
    <a href="./05.sanpham-danhmuc.html">san pham danh muc</a>
    <a href="./06.sanpham-danhsach.html">san pham danh sach</a>
    <a href="./07.sanpham-chitiet.html">san pham chi tiet</a>
    <a href="./09.tintuc-trangchu.html">tin tuc trang chu</a>
    <a href="./10.tintuc-danhsach.html">tin tuc danh sach</a>
    <a href="./11.tintuc-chitiet.html">tin tuc chi tiet</a>
    <a href="./12.lienhe.html">lien he</a>
    <a href="./14.timkiem.html">tim kiem</a>
</body>
</html>