/* Fonts */
$f-theme: 'Roboto',
sans-serif;

/* Colors - Default */
$c-white: #ffffff;
$c-light: #e5d4fa;
$c-light-01: #e5d4fa;
$c-indigo: #8633e3;
$c-primary: #b993e5;
$c-red: #ff1474;
$c-black: #000000;
$c-dark: #333333;
/* Body background */

/* Colors - Theme */

/* Coler border */

/* Cover */

/* Background */

/* box shadow */

/* Transitions */
$transition: all .3s ease-in-out;
$duration: .25s;
$speed: 200ms;
$ease: ease-in-out;

/* Round */
$round: 6px;

/* Breakpoints */
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 640px and up)
$breakpoints-sm: 640px;
// Medium devices (tablets, 768px and up)
$breakpoints-md: 768px;
// Large devices (desktops, 992px and up)
$breakpoints-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$breakpoints-xl: 1200px;
// Extra large devices (large desktops, 1800px and up)
$breakpoints-xxl: 1800px;