@import '_variables.scss';
@import '_mixins.scss';

body {
  @extend .body-text;
  font-family: $f-theme;
  line-height: 1.6;
  color: $c-white;
}

#app {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $c-white;
}

#main {
  margin-bottom: 30px;
}

#footer {
  margin-top: 110px;
}