@font-face {
  font-family: 'UTM Copperplate';
  src: url('./fonts/UTMCopperplate.eot');
  src: url('./fonts/UTMCopperplate.eot?#iefix') format('embedded-opentype'),
      url('./fonts/UTMCopperplate.woff2') format('woff2'),
      url('./fonts/UTMCopperplate.woff') format('woff'),
      url('./fonts/UTMCopperplate.ttf') format('truetype'),
      url('./fonts/UTMCopperplate.svg#UTMCopperplate') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UTM Copperplate';
  src: url('./fonts/UTMCopperplateBold.eot');
  src: url('./fonts/UTMCopperplateBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/UTMCopperplateBold.woff2') format('woff2'),
      url('./fonts/UTMCopperplateBold.woff') format('woff'),
      url('./fonts/UTMCopperplateBold.ttf') format('truetype'),
      url('./fonts/UTMCopperplateBold.svg#UTMCopperplateBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'UTM Androgyne';
  src: url('./fonts/UTMAndrogyne.eot');
  src: url('./fonts/UTMAndrogyne.eot?#iefix') format('embedded-opentype'),
      url('./fonts/UTMAndrogyne.woff2') format('woff2'),
      url('./fonts/UTMAndrogyne.woff') format('woff'),
      url('./fonts/UTMAndrogyne.ttf') format('truetype'),
      url('./fonts/UTMAndrogyne.svg#UTMAndrogyne') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


