@import '_variables.scss';
@import '_mixins.scss';

body {
  @extend .body-text;
  font-family: $f-theme;
  line-height: 1.6;
  background: #000920;
  color: $c-white;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  overflow-x: hidden;
}

.footer {
  height: 9.375vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: arial;
  font-size: 1.208vw;

  @media (min-width: $breakpoints-xl) {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5.209vw;
    font-size: 0.8vw;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 17.812vw;
      height: auto;
      margin-right: 5px;
      @media (min-width: $breakpoints-xl) {
        width: 9.896vw;
      }
    }
  }
}

.disabled {
  pointer-events: none !important;
}

.modal {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0);
  background-size: cover;
  background-image: url(../images/popup.png);
  overflow: hidden;
  border-radius: $round1;
  opacity: 0;
  transition: $transition;
  width: 76.72vw;
  height: 83.75vw;
  &.popup-v1 {
    background-image: url(../images/popup-1.png);
  }


  @media (min-width: $breakpoints-xl) {
    width: 35.971vw;
    height: 39.268vw;
  }

  .modal-exit {
    position: absolute;
    width: 7.814vw;
    height: 7.814vw;
    top: 8.8vw;
    right: 3.3vw;
    cursor: pointer;
    background-image: url(../images/exit.png);
    overflow: hidden;
    background-size: cover;

    @media (min-width: $breakpoints-xl) {
      width: 3.664vw;
      height: 3.664vw;
      top: 4.1vw;
      right: 1.6vw;
    }
  }

  .modal-inner {
    font-family: $f-staccato;
    padding: 15px;
    max-height: 100%;
    overflow-y: auto;
    font-size: 4vw;
    color: #193386;
    font-weight: bold;
    text-align: center;
    padding: 33vw 6vw 6vw 6vw;

    @media (min-width: $breakpoints-xl) {
      font-size: 2vw;
      padding: 15.5vw 3.663vw 3.663vw 3.663vw;
    }

    >a {
      text-decoration: none;
    }
  }

  &.modal-active {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
  }
}

.modal-over-body {
  display: none;
  position: fixed;
  z-index: 999998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

  &.modal-over-body-active {
    display: block;
  }
}