<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="src/vendor/flipclock/flipclock.css">
  <link rel="stylesheet" href="src/vendor/slick/slick.css">
  <link rel="stylesheet" href="src/vendor/slick/slick-theme.css">
  <link rel="stylesheet" href="src/main.min.css">
</head>

<body class="contact-page">


  <div id="app">

    <!-- header -->
    <header class="header" id="header">

      <!-- navbar -->
      <nav class="c-navbar">

        <div class="container">
          <a class="brand" href="./index.html"><img src="./images/brand.png" alt=""></a>
          <!-- brand -->

          <ul class="nav js-navbar">
            <li class="nav-item"><a class="nav-link active" href="./index.html">Trang chủ</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="./room.html">Phòng thi <i class="fas fa-chevron-down"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">THPT Quốc gia</a>
                <a class="dropdown-item" href="#">Thi vào 10</a>
                <a class="dropdown-item" href="#">Thi HSG</a>
                <a class="dropdown-item" href="#">Học kỳ 1</a>
                <a class="dropdown-item" href="#">Học kỳ 2</a>
                <a class="dropdown-item" href="#">Kiểm tra 1 tiết</a>
                <a class="dropdown-item" href="#">Kiểm tra 15 ‘</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link highlight" href="./about.html">Phòng học VIP<i
                  class="fas fa-star"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="./about.html">Giới thiệu</a></li>
            <li class="nav-item"><a class="nav-link" href="./news.html">Tin tức</a></li>
            <li class="nav-item"><a class="nav-link" href="./contact.html">Liên Hệ</a></li>
          </ul>
          <!-- nav -->

          <form class="form-search">
            <input class="form-control" type="search" placeholder="Tìm kiếm">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
          <!-- search -->

          <div class="nav-trigger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <!-- / nav trigger -->
        </div>

      </nav>
      <!-- navbar end -->

      <!-- fix -->
      <div class="c-fix">
        <ul class="nav">
          <li class="nav-item">
            <a href="" class="nav-link">
              <div class="inner">
                <span class="icon"><i class="far fa-star"></i></span>
                <span class="title">Mục Ưa Thích</span>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <span class="nav-link">
              <div class="inner">
                <span class="icon">
                  <i class="fas fa-bell"></i>
                  <span class="number">1</span>
                </span>
                <span class="title">Thông báo</span>
              </div>
            </span>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link highlight">
              <div class="inner">
                <span class="icon">
                  <img src="./src/img/ic-vip.png" alt="">
                </span>
                <span class="title">PHÒNG HỌC VIP</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link btn-popup">
              <div class="inner">
                <span class="icon">
                  <img src="./src/img/user.png" alt="">
                </span>
                <span class="title">Tài khoản</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- fix end -->

    </header>
    <!-- header end -->

    <!-- main -->
    <main class="main" id="main">

      <div class="container">

        <div class="c-contact">
          <div class="maps">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.636887588816!2d105.7986806164406!3d21.00718779388687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca1431935d1%3A0xd6f455aacf8f7bf7!2zMjVUMSwgVHJ1bmcgSG_DoCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1566872033607!5m2!1svi!2s"
              frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-contact">
                <h3 class="title">Liên hệ với chúng tôi</h3>
                <form class="form">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputContactName" placeholder="Họ và tên">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputContactEmail" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="tel" class="form-control" id="exampleInputContacPhone" placeholder="Số điện thoại">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" id="exampleInputContactContent" rows="5"
                      placeholder="Nhập nội dung..."></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn">GỬI ĐI</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="info">
                <h3 class="title">công ty cổ phần tập đoàn giáo dục egroup</h3>
                <ul class="list">
                <li><i class="fas fa-map-marker-alt"></i> Tầng 3 - Tòa 25T1 - Hoàng Đạo Thúy - Trung Hòa - Cầu Giấy - Hà Nội</li>
                <li><i class="fas fa-phone-alt"></i> 1900.636.444 / 1900.636.228</li>
                <li><i class="fas fa-envelope"></i> hocvalamtheoloibac@egroup.vn</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer class="footer" id="footer">

      <div class="container">
        <div class="footer-contact">
          <span style="font-weight: 500;">TẬP ĐOÀN GIÁO DỤC EGROUP</span>
          <br>
          <span style="font-weight: 500;">CÔNG TY CỔ PHẦN DỊCH VỤ CÔNG NGHỆ GIÁO DỤC VIỆT NAM (VNEDUTECH)</span>
          <br>
          Tầng 3, tòa nhà 25T1, đường Hoàng Đạo Thúy, phường Trung Hòa, quận Cầu Giấy, TP. Hà Nội
          <br>
          Hotline: 1900.636.444 (8h - 17h Thứ 2 - Thứ 6) &nbsp &nbsp &nbsp &nbsp 0967.345.456 (17h - 22h cuối tuần + lễ
          tết)
          <br>
          Email: contact@vnedutech.vn
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <span>Copyright © 2019 Egroup. Design by VNEDUTECH. All rights reserved.</span>
          <div class="group-icon">
            <a href="#"><img src="./src/img/ic-www.svg" alt=""></a>
            <a href="#"><img src="./src/img/ic-fb.svg" alt=""></a>
            <a href="#"><img src="./src/img/ic-youtube.svg" alt=""></a>
          </div>
        </div>
      </div>

    </footer>
    <!-- footer end -->

    <div class="overlay-body"><span><i class="far fa-times-circle"></i></span></div>
    <div class="c-popup-user js-popup-user">
      <div class="wrapper">
        <div class="img">
          <span>
            <img src="./src/img/bg-user.png" alt="">
          </span>
        </div>
        <div class="user">
          <div class="registration hide">
            <div class="user-header">
              <div class="headline">ĐĂNG KÝ</div>
              <div class="text">
                Vui lòng nhập thông tin tài khoản và mật khẩu để đăng nhập
                <br>
                và sử dụng dịch vụ thi trực tuyến của EduFox
              </div>
            </div>
            <form class="form">
              <div class="form-group">
                <input type="text" class="form-control acc" id="exampleInputAccountRegistration"
                  placeholder="Tài khoản">
                <small class="form-text" style="display: none;">Tài khoản đã có người sử dụng.</small>
              </div>
              <div class="form-group">
                <input type="phone" class="form-control phone" id="exampleInputPhoneRegistration"
                  placeholder="Số điện thoại">
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPassword1Registration"
                  placeholder="Mật khẩu">
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPassword2Registration"
                  placeholder="Nhập lại mật khẩu">
              </div>
              <button type="submit" class="btn">HOÀN TẤT</button>
            </form>
            <div class="login-other">
              <span>Đăng nhập bằng:</span>
              <div class="icon-group">
                <span class="icon icon-facebook"><i class="fab fa-facebook-f"></i></span>
                <span class="icon icon-goole"><i class="fab fa-google-plus-g"></i></span>
              </div>
            </div>
            <div class="user-footer">
              Nếu bạn đã có tài khoản? <button class="show-login">ĐĂNG NHẬP NGAY !</button>
            </div>
          </div> <!-- / registration -->
          <div class="login show">
            <div class="user-header">
              <div class="headline">ĐĂNG NHẬP</div>
              <div class="text">
                Vui lòng nhập thông tin tài khoản và mật khẩu để đăng nhập
                <br>
                và sử dụng dịch vụ thi trực tuyến của EduFox
              </div>
            </div>
            <form class="form">
              <div class="form-group">
                <input type="acc" class="form-control acc" id="exampleInputAccountLogin" placeholder="Tài khoản">
                <small class="form-text" style="display: none">Tài khoản không đúng.</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPasswordLogin" placeholder="Mật khẩu">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheckLogin">
                <label class="form-check-label" for="exampleCheckLogin">Nhớ mật khẩu?</label>
              </div>
              <button type="submit" class="btn">ĐĂNG NHẬP</button>
            </form>
            <div class="login-other">
              <span>Đăng nhập bằng:</span>
              <div class="icon-group">
                <span class="icon icon-facebook"><i class="fab fa-facebook-f"></i></span>
                <span class="icon icon-goole"><i class="fab fa-google-plus-g"></i></span>
              </div>
            </div>
            <div class="user-footer">
              Nếu bạn chưa có tài khoản? <button class="show-registration">ĐĂNG KÝ NGAY !</button>
            </div>
          </div> <!-- / registration -->
          <div class="version">
            <span>EduFox v1.0</span>
          </div>
        </div>
      </div>
    </div>


  </div>



  <!-- js -->
  <script defer src="src/vendor/fontawesome/js/all.min.js"></script>
  <script src="src/vendor/jquery-3.3.1.min.js"></script>
  <script src="src/vendor/flipclock/flipclock.min.js"></script>
  <script src="src/vendor/slick/slick.min.js"></script>
  <script src="src/main.js"></script>


</body>

</html>