<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="src/vendor/flipclock/flipclock.css">
  <link rel="stylesheet" href="src/vendor/slick/slick.css">
  <link rel="stylesheet" href="src/vendor/slick/slick-theme.css">
  <link rel="stylesheet" href="src/main.min.css">
</head>

<body class="detail-page">


  <div id="app">

    <!-- header -->
    <header class="header" id="header">

      <!-- navbar -->
      <nav class="c-navbar">

        <div class="container">
          <a class="brand" href="./index.html"><img src="./images/brand.png" alt=""></a>
          <!-- brand -->

          <ul class="nav js-navbar">
            <li class="nav-item"><a class="nav-link active" href="./index.html">Trang chủ</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="./room.html">Phòng thi <i class="fas fa-chevron-down"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">THPT Quốc gia</a>
                <a class="dropdown-item" href="#">Thi vào 10</a>
                <a class="dropdown-item" href="#">Thi HSG</a>
                <a class="dropdown-item" href="#">Học kỳ 1</a>
                <a class="dropdown-item" href="#">Học kỳ 2</a>
                <a class="dropdown-item" href="#">Kiểm tra 1 tiết</a>
                <a class="dropdown-item" href="#">Kiểm tra 15 ‘</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link highlight" href="./about.html">Phòng học VIP<i
                  class="fas fa-star"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="./about.html">Giới thiệu</a></li>
            <li class="nav-item"><a class="nav-link" href="./news.html">Tin tức</a></li>
            <li class="nav-item"><a class="nav-link" href="./contact.html">Liên Hệ</a></li>
          </ul>
          <!-- nav -->

          <form class="form-search">
            <input class="form-control" type="search" placeholder="Tìm kiếm">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
          <!-- search -->

          <div class="nav-trigger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <!-- / nav trigger -->
        </div>

      </nav>
      <!-- navbar end -->

      <!-- fix -->
      <div class="c-fix">
        <ul class="nav">
          <li class="nav-item">
            <a href="" class="nav-link">
              <div class="inner">
                <span class="icon"><i class="far fa-star"></i></span>
                <span class="title">Mục Ưa Thích</span>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <span class="nav-link">
              <div class="inner">
                <span class="icon">
                  <i class="fas fa-bell"></i>
                  <span class="number">1</span>
                </span>
                <span class="title">Thông báo</span>
              </div>
            </span>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link highlight">
              <div class="inner">
                <span class="icon">
                  <img src="./src/img/ic-vip.png" alt="">
                </span>
                <span class="title">PHÒNG HỌC VIP</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link btn-popup">
              <div class="inner">
                <span class="icon">
                  <img src="./src/img/user.png" alt="">
                </span>
                <span class="title">Tài khoản</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- fix end -->

    </header>
    <!-- header end -->

    <!-- main -->
    <main class="main" id="main">

      <div class="container">
        <div class="c-detail">
          <div class="row">

            <div class="col-12 col-lg-9">

              <nav class="c-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
                  <li class="breadcrumb-item">Hưởng ứng cuộc thi tuổi trẻ học tập và làm theo tấm giương đạo đức Hồ Chí
                    Minh</li>
                </ol>
              </nav>

              <div class="detail-main">

                <h1 class="title">HƯỞNG ỨNG CUỘC THI “TUỔI TRẺ HỌC TẬP VÀ LÀM THEO TƯ TƯỞNG, ĐẠO ĐỨC, PHONG CÁCH HỒ CHÍ
                  MINH”</h1>

                <div class="content">
                  <p><strong>Cuộc thi được chính thức phát động ngày 06/06/2019.</strong></p>
                  <p>Cuộc thi năm nay tập trung vào các chủ đề: Những lời dạy của Chủ tịch Hồ Chí Minh đối với thế hệ
                    trẻ; những bài học về tư tưởng, đạo đức, phong cách Hồ Chí Minh; Nội dung cơ bản hướng tới thực hiện
                    50 năm “Di chúc” Hồ Chí Minh; Tư tưởng Hồ Chí Minh với biển, đảo Việt Nam… nhất là trong 33 năm đổi
                    mới (1986 – 2019) và những chủ trương lớn trong Văn kiện Đại hội Đảng toàn quốc lần thứ XII.</p>
                  <br>
                  <p style="text-align: center;"><img src="./images/news.png" width="100%" alt=""><i>( Ảnh 1: Cuộc thi
                      được chính thức phát động ngày 06/06/2019)</i></p>
                  <p>Năm 2019 là lần thứ 5 Bộ Giáo dục và Đào tạo phối hợp cùng các Bộ, Ban, Ngành tổ chức cuộc thi.
                    Theo thể lệ cuộc thi năm nay, có 3 đối tượng dự thi gồm: Bảng A: học sinh phổ thông (bao gồm học
                    sinh các trường trung học cơ sở, trung học phổ thông và học viên các trung tâm giáo dục thường
                    xuyên); Bảng B: dành cho công dân Việt Nam đang theo học tại các đại học, học viện, trường đại học,
                    cao đẳng sư phạm và học sinh trung cấp sư phạm ở trong và ngoài nước; Bảng C: Cán bộ quản lý giáo
                    dục, giảng viên, giáo viên trẻ, đoàn viên, thanh niên, lưu học sinh Việt Nam, những người quan tâm
                    và dự thi (dưới 35 tuổi).</p>
                  <p>Tính đến ngày 27/6/2019, số lượng thí sinh tham gia đã lên đến 20.469 thí sinh. Trong đó những đơn
                    vị có số lượng thi sinh tham gia nhiều như Phú Thọ với 6.476 thí sinh, Hà Nội 3.324 thí sinh, Quảng
                    Trị 1.193 thí sinh… Qua đó chứng tỏ cuộc thi ngày càng thu hút được sự quan tâm sâu sắc của đông đảo
                    các tầng lớp nhân dân trong và ngoài nước. Cuộc thi đã trở thành một hoạt động giáo dục chính trị,
                    tư tưởng, lý tưởng cách mạng thường niên trong các nhà trường, góp phần ngăn chặn, đẩy lùi sự suy
                    thoái về tư tưởng chính trị, đạo đức, lối sống trong học sinh, sinh viên nói riêng và thế hệ trẻ nói
                    chung.</p>
                  <br>
                  <p>Chung kết và trao giải cuộc thi dự kiến sẽ được tổ chức vào tháng 11/2019 tại Thủ đô Hà Nội.</p>
                  <p>Thí sinh tham dự cuộc thi làm bài trực tiếp trên website http://hocvalamtheobac.vn/. Đây là sự đóng
                    góp quan trọng tạo ra một bước tiến mới trong công cuộc đưa công nghệ 4.0 vào nền giáo dục nước nhà.
                  </p>
                  <p>Xem tin bài trên báo VTV <a href="#">Tại đây</a></p>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>

              </div>

              <div class="tag">
                <i>tag: </i>
                <ul>
                  <li><a href="#">vnedutech</a></li>
                  <li><a href="#">vnedutech</a></li>
                  <li><a href="#">vnedutech</a></li>
                  <li><a href="#">vnedutech</a></li>
                  <li><a href="#">vnedutech</a></li>
                  <li><a href="#">vnedutech</a></li>
                  <li><a class="active" href="#">vnedutech</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="detail-right">

                <div class="new-Posts">
                  <h3 class="title">BÀI VIẾT MỚI</h3>
                  <ul class="list">
                    <li class="item"><a class="link" href="#">Hưởng ứng cuộc thi “Tuổi trẻ học tập và làm theo tư tưởng,
                        đạo đức, phong cách Hồ Chí Minh”</a></li>
                    <li class="item"><a class="link" href="#">Phát động cuộc thi Tuổi trẻ học tập và làm theo tư tưởng,
                        đạo đức, phong cách Hồ Chí Minh năm 2019</a></li>
                    <li class="item"><a class="link" href="#">Tổng kết Vòng Chung kết Hội thi “Ánh sáng soi đường” năm
                        2019</a></li>
                    <li class="item"><a class="link" href="#">CHUNG KẾT CUỘC THI “GIAO THÔNG HỌC ĐƯỜNG” TOÀN QUỐC LẦN
                        THỨ IV</a></li>
                    <li class="item"><a class="link" href="#">Tưng bừng khai mạc Hội thi ‘Ánh sáng soi đường’ lần thứ
                        III, năm 2019</a></li>
                  </ul>
                </div>

                <nav class="nav">
                  <h3 class="title">DANH MỤC</h3>
                  <ul>
                    <li><a href="">Sự kiện</a></li>
                    <li><a href="">Thông tin báo chí</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                  </ul>
                </nav>

              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer class="footer" id="footer">

      <div class="container">
        <div class="footer-contact">
          <span style="font-weight: 500;">TẬP ĐOÀN GIÁO DỤC EGROUP</span>
          <br>
          <span style="font-weight: 500;">CÔNG TY CỔ PHẦN DỊCH VỤ CÔNG NGHỆ GIÁO DỤC VIỆT NAM (VNEDUTECH)</span>
          <br>
          Tầng 3, tòa nhà 25T1, đường Hoàng Đạo Thúy, phường Trung Hòa, quận Cầu Giấy, TP. Hà Nội
          <br>
          Hotline: 1900.636.444 (8h - 17h Thứ 2 - Thứ 6) &nbsp &nbsp &nbsp &nbsp 0967.345.456 (17h - 22h cuối tuần + lễ
          tết)
          <br>
          Email: contact@vnedutech.vn
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <span>Copyright © 2019 Egroup. Design by VNEDUTECH. All rights reserved.</span>
          <div class="group-icon">
            <a href="#"><img src="./src/img/ic-www.svg" alt=""></a>
            <a href="#"><img src="./src/img/ic-fb.svg" alt=""></a>
            <a href="#"><img src="./src/img/ic-youtube.svg" alt=""></a>
          </div>
        </div>
      </div>

    </footer>
    <!-- footer end -->

    <div class="overlay-body"><span><i class="far fa-times-circle"></i></span></div>
    <div class="c-popup-user js-popup-user">
      <div class="wrapper">
        <div class="img">
          <span>
            <img src="./src/img/bg-user.png" alt="">
          </span>
        </div>
        <div class="user">
          <div class="registration hide">
            <div class="user-header">
              <div class="headline">ĐĂNG KÝ</div>
              <div class="text">
                Vui lòng nhập thông tin tài khoản và mật khẩu để đăng nhập
                <br>
                và sử dụng dịch vụ thi trực tuyến của EduFox
              </div>
            </div>
            <form class="form">
              <div class="form-group">
                <input type="text" class="form-control acc" id="exampleInputAccountRegistration"
                  placeholder="Tài khoản">
                <small class="form-text" style="display: none;">Tài khoản đã có người sử dụng.</small>
              </div>
              <div class="form-group">
                <input type="phone" class="form-control phone" id="exampleInputPhoneRegistration"
                  placeholder="Số điện thoại">
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPassword1Registration"
                  placeholder="Mật khẩu">
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPassword2Registration"
                  placeholder="Nhập lại mật khẩu">
              </div>
              <button type="submit" class="btn">HOÀN TẤT</button>
            </form>
            <div class="login-other">
              <span>Đăng nhập bằng:</span>
              <div class="icon-group">
                <span class="icon icon-facebook"><i class="fab fa-facebook-f"></i></span>
                <span class="icon icon-goole"><i class="fab fa-google-plus-g"></i></span>
              </div>
            </div>
            <div class="user-footer">
              Nếu bạn đã có tài khoản? <button class="show-login">ĐĂNG NHẬP NGAY !</button>
            </div>
          </div> <!-- / registration -->
          <div class="login show">
            <div class="user-header">
              <div class="headline">ĐĂNG NHẬP</div>
              <div class="text">
                Vui lòng nhập thông tin tài khoản và mật khẩu để đăng nhập
                <br>
                và sử dụng dịch vụ thi trực tuyến của EduFox
              </div>
            </div>
            <form class="form">
              <div class="form-group">
                <input type="acc" class="form-control acc" id="exampleInputAccountLogin" placeholder="Tài khoản">
                <small class="form-text" style="display: none">Tài khoản không đúng.</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPasswordLogin" placeholder="Mật khẩu">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheckLogin">
                <label class="form-check-label" for="exampleCheckLogin">Nhớ mật khẩu?</label>
              </div>
              <button type="submit" class="btn">ĐĂNG NHẬP</button>
            </form>
            <div class="login-other">
              <span>Đăng nhập bằng:</span>
              <div class="icon-group">
                <span class="icon icon-facebook"><i class="fab fa-facebook-f"></i></span>
                <span class="icon icon-goole"><i class="fab fa-google-plus-g"></i></span>
              </div>
            </div>
            <div class="user-footer">
              Nếu bạn chưa có tài khoản? <button class="show-registration">ĐĂNG KÝ NGAY !</button>
            </div>
          </div> <!-- / registration -->
          <div class="version">
            <span>EduFox v1.0</span>
          </div>
        </div>
      </div>
    </div>


  </div>



  <!-- js -->
  <script defer src="src/vendor/fontawesome/js/all.min.js"></script>
  <script src="src/vendor/jquery-3.3.1.min.js"></script>
  <script src="src/vendor/flipclock/flipclock.min.js"></script>
  <script src="src/vendor/slick/slick.min.js"></script>
  <script src="src/main.js"></script>


</body>

</html>