<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="src/vendor/flipclock/flipclock.css">
  <link rel="stylesheet" href="src/vendor/slick/slick.css">
  <link rel="stylesheet" href="src/vendor/slick/slick-theme.css">
  <link rel="stylesheet" href="src/main.min.css">
</head>

<body class="user-page">


  <div id="app">

    <!-- header -->
    <header class="header" id="header">

      <!-- navbar -->
      <nav class="c-navbar">

        <div class="container">
          <a class="brand" href="./index.html"><img src="./images/brand.png" alt=""></a>
          <!-- brand -->

          <ul class="nav js-navbar">
            <li class="nav-item"><a class="nav-link active" href="./index.html">Trang chủ</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="./room.html">Phòng thi <i class="fas fa-chevron-down"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">THPT Quốc gia</a>
                <a class="dropdown-item" href="#">Thi vào 10</a>
                <a class="dropdown-item" href="#">Thi HSG</a>
                <a class="dropdown-item" href="#">Học kỳ 1</a>
                <a class="dropdown-item" href="#">Học kỳ 2</a>
                <a class="dropdown-item" href="#">Kiểm tra 1 tiết</a>
                <a class="dropdown-item" href="#">Kiểm tra 15 ‘</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link highlight" href="./about.html">Phòng học VIP<i
                  class="fas fa-star"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="./about.html">Giới thiệu</a></li>
            <li class="nav-item"><a class="nav-link" href="./news.html">Tin tức</a></li>
            <li class="nav-item"><a class="nav-link" href="./contact.html">Liên Hệ</a></li>
          </ul>
          <!-- nav -->

          <form class="form-search">
            <input class="form-control" type="search" placeholder="Tìm kiếm">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
          <!-- search -->

          <div class="nav-trigger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <!-- / nav trigger -->
        </div>

      </nav>
      <!-- navbar end -->

      <!-- fix -->
      <div class="c-fix">
        <ul class="nav">
          <li class="nav-item">
            <a href="" class="nav-link">
              <div class="inner">
                <span class="icon"><i class="far fa-star"></i></span>
                <span class="title">Mục Ưa Thích</span>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <span class="nav-link">
              <div class="inner">
                <span class="icon">
                  <i class="fas fa-bell"></i>
                  <span class="number">1</span>
                </span>
                <span class="title">Thông báo</span>
              </div>
            </span>
            <div class="dropdown-menu">
              <div class="dropdown-inner">
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
                <a class="dropdown-item" href="#">Cơ chế trọng tài sẽ mang đến giải pháp tổng thể và lâu
                  dài cho các tranh chấp chủ quyền ở Biển </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link highlight">
              <div class="inner">
                <span class="icon">
                  <img src="./src/img/ic-vip.png" alt="">
                </span>
                <span class="title">PHÒNG HỌC VIP</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link btn-popup">
              <div class="inner">
                <span class="icon">
                  <img src="./src/img/user.png" alt="">
                </span>
                <span class="title">Tài khoản</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- fix end -->

    </header>
    <!-- header end -->

    <!-- main -->
    <main class="main" id="main">

      <div class="container">
        <section class="c-user">
					<div class="headline">
						<h2 class="title">Thông tin cá nhân</h2>
					</div>
					<div class="tab js-tab-user">
						<div class="tab-list">
							<h3 class="item active" data-tab="#info-user">Sửa thông tin</h3>
							<h3 class="item" data-tab="#password">Đổi mật khẩu</h3>
						</div>
						<div class="tab-body">
							<div class="item info-user show" id="info-user">
								<div class="row">
									<div class="col-12 col-lg-4">
										<div class="avatar js-avatar">
											<div class="img">
												<div class="img-wrapper">
													<img class="profile-pic" src="images/user.png">
												</div>
											</div>
											<input class="file-upload" type="file" accept="image/*">
											<div class="text">Click đổi avatar</div>
										</div>
									</div>
									<div class="col-12 col-lg-8">
										<div class="info">
											<div class="item">
												<span>Họ và tên:</span>
												<span><b>Nguyễn Văn Sơn</b></span>
											</div>
											<div class="item">
												<span>Lớp:</span>
												<span><b>7</b></span>
											</div>
											<div class="item">
												<span>Địa chỉ:</span>
												<span><b>Tây Hồ, Hà Nộ</b></span>
											</div>
											<div class="item form-group">
												<span>SĐT:</span>
												<input type="phone" class="form-control" id="exampleInputPhone" placeholder="chưa cập nhập">
											</div>
											<div class="item form-group">
												<span>Email:</span>
												<input type="email" class="form-control" id="exampleInputEmail" placeholder="chưa cập nhập">
											</div>
											<div class="item form-group">
												<span>Địa chỉ:</span>
												<input type="address" class="form-control" id="exampleInputAddress" placeholder="chưa cập nhập" value="398 Hồ Tùng Mậu">
											</div>
											<div class="item">
												<div class="btn-group">
													<a href="" class="btn btn-save"><img src="./src/img/ic-check.svg" alt=""> Lưu</a>
													<a href="" class="btn btn-back"><img src="./src/img/ic-arrow-back.svg" alt=""> Quay lại</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item password" id="password">
								<form>
									<div class="inner">
										<div class="form-group">
											<input type="password" class="form-control" id="exampleInputPasswordOld" placeholder="Nhập mật khẩu cũ">
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="exampleInputPasswordNew" placeholder="Nhập mật khẩu mới">
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="exampleInputPasswordNewConfirm" placeholder="Nhập lại mật khẩu mới">
											<small>Mật khẩu mới phải từ 6 ký tự trở lên bao gồm cả chữ và số</small>
										</div>
										<div class="btn-group">
											<button type="submit" class="btn btn-yes"><img src="./src/img/ic-check.svg" alt=""> Xác
												nhận</button>
											<button type="submit" class="btn btn-no"><img src="./src/img/ic-exit.svg" alt=""> Hủy</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
      </div>



    </main>
    <!-- main end -->

    <!-- footer -->
    <footer class="footer" id="footer">

      <div class="container">
        <div class="footer-contact">
          <span style="font-weight: 500;">TẬP ĐOÀN GIÁO DỤC EGROUP</span>
          <br>
          <span style="font-weight: 500;">CÔNG TY CỔ PHẦN DỊCH VỤ CÔNG NGHỆ GIÁO DỤC VIỆT NAM (VNEDUTECH)</span>
          <br>
          Tầng 3, tòa nhà 25T1, đường Hoàng Đạo Thúy, phường Trung Hòa, quận Cầu Giấy, TP. Hà Nội
          <br>
          Hotline: 1900.636.444 (8h - 17h Thứ 2 - Thứ 6) &nbsp &nbsp &nbsp &nbsp 0967.345.456 (17h - 22h cuối tuần + lễ
          tết)
          <br>
          Email: contact@vnedutech.vn
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <span>Copyright © 2019 Egroup. Design by VNEDUTECH. All rights reserved.</span>
          <div class="group-icon">
            <a href="#"><img src="./src/img/ic-www.svg" alt=""></a>
            <a href="#"><img src="./src/img/ic-fb.svg" alt=""></a>
            <a href="#"><img src="./src/img/ic-youtube.svg" alt=""></a>
          </div>
        </div>
      </div>

    </footer>
    <!-- footer end -->

    <div class="overlay-body"><span><i class="far fa-times-circle"></i></span></div>
    <div class="c-popup-user js-popup-user">
      <div class="wrapper">
        <div class="img">
          <span>
            <img src="./src/img/bg-user.png" alt="">
          </span>
        </div>
        <div class="user">
          <div class="registration hide">
            <div class="user-header">
              <div class="headline">ĐĂNG KÝ</div>
              <div class="text">
                Vui lòng nhập thông tin tài khoản và mật khẩu để đăng nhập
                <br>
                và sử dụng dịch vụ thi trực tuyến của EduFox
              </div>
            </div>
            <form class="form">
              <div class="form-group">
                <input type="text" class="form-control acc" id="exampleInputAccountRegistration"
                  placeholder="Tài khoản">
                <small class="form-text" style="display: none;">Tài khoản đã có người sử dụng.</small>
              </div>
              <div class="form-group">
                <input type="phone" class="form-control phone" id="exampleInputPhoneRegistration"
                  placeholder="Số điện thoại">
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPassword1Registration"
                  placeholder="Mật khẩu">
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPassword2Registration"
                  placeholder="Nhập lại mật khẩu">
              </div>
              <button type="submit" class="btn">HOÀN TẤT</button>
            </form>
            <div class="login-other">
              <span>Đăng nhập bằng:</span>
              <div class="icon-group">
                <span class="icon icon-facebook"><i class="fab fa-facebook-f"></i></span>
                <span class="icon icon-goole"><i class="fab fa-google-plus-g"></i></span>
              </div>
            </div>
            <div class="user-footer">
              Nếu bạn đã có tài khoản? <button class="show-login">ĐĂNG NHẬP NGAY !</button>
            </div>
          </div> <!-- / registration -->
          <div class="login show">
            <div class="user-header">
              <div class="headline">ĐĂNG NHẬP</div>
              <div class="text">
                Vui lòng nhập thông tin tài khoản và mật khẩu để đăng nhập
                <br>
                và sử dụng dịch vụ thi trực tuyến của EduFox
              </div>
            </div>
            <form class="form">
              <div class="form-group">
                <input type="acc" class="form-control acc" id="exampleInputAccountLogin" placeholder="Tài khoản">
                <small class="form-text" style="display: none">Tài khoản không đúng.</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control pass" id="exampleInputPasswordLogin" placeholder="Mật khẩu">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheckLogin">
                <label class="form-check-label" for="exampleCheckLogin">Nhớ mật khẩu?</label>
              </div>
              <button type="submit" class="btn">ĐĂNG NHẬP</button>
            </form>
            <div class="login-other">
              <span>Đăng nhập bằng:</span>
              <div class="icon-group">
                <span class="icon icon-facebook"><i class="fab fa-facebook-f"></i></span>
                <span class="icon icon-goole"><i class="fab fa-google-plus-g"></i></span>
              </div>
            </div>
            <div class="user-footer">
              Nếu bạn chưa có tài khoản? <button class="show-registration">ĐĂNG KÝ NGAY !</button>
            </div>
          </div> <!-- / registration -->
          <div class="version">
            <span>EduFox v1.0</span>
          </div>
        </div>
      </div>
    </div>


  </div>



  <!-- js -->
  <script defer src="src/vendor/fontawesome/js/all.min.js"></script>
  <script src="src/vendor/jquery-3.3.1.min.js"></script>
  <script src="src/vendor/flipclock/flipclock.min.js"></script>
  <script src="src/vendor/slick/slick.min.js"></script>
  <script src="src/main.js"></script>


</body>

</html>