<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!-- header -->
    <header id="header">
        <div class="container">
            <section class="top-bar">
                <a href="#" class="fa email">Email: Contact@gmail.com</a>
                <a href="#" class="fa hotline">Hotline: 096 228 2888</a>
                <span class="social">
                    <a href="#" class="fa facebook"></a>
                    <a href="#" class="fa twitter"></a>
                    <a href="#" class="fa google-plus"></a>
                </span>
            </section><!-- topbar end -->
            <nav class="nav-main">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button><!-- button responsive -->
                <a class="navbar-brand" href="#">
                    <img src="pic/logo.png" alt="">
                </a><!-- logo -->
                <div class="collapse nav-group" id="collapsibleNavId">
                    <div class="left">
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dịch vụ</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 2</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Lập kế hoạch nguồn nhân lực</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Tư vấn kế hoạch kinh doanh</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Lập kế hoạch chiến lược</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Tư vấn xung đột</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 3</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đội ngũ</a>
                            </li>
                        </ul><!-- nav -->
                    </div><!-- left -->
                    <div class="right">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cảm nhận khách hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Liên hệ</a>
                            </li>
                        </ul><!-- nav -->
                    </div><!-- right -->
                </div><!-- menu -->
                <div class="search">
                    <div class="form-search">
                        <input type="text" placeholder="Từ khóa tìm kiếm">
                        <a href="#" class="fa fa-search"></a>
                    </div>
                </div><!--search-->
            </nav><!-- menu main end -->
        </div><!-- container end -->
    </header>
    <!-- header end -->

    <!-- main -->
    <main id="main">

        <section class="slider-home">
            <div class="item">
                <div class="framed-image">
                    <a class="cut" href="#">
                        <img src="pic/intro.png">
                    </a>
                </div>
                <div class="info">
                    <p class="title">TƯ VẤN KINH DOANH CHUYÊN NGHIỆP</p>
                    <a href="#" class="btn-01">Đặt dịch vụ</a>
                </div>
            </div>
            <div class="item">
                <div class="framed-image">
                    <a class="cut" href="#">
                        <img src="pic/intro.png">
                    </a>
                </div>
                <div class="info">
                    <p class="title">TƯ VẤN KINH DOANH CHUYÊN NGHIỆP</p>
                    <a href="#" class="btn-01">Đặt dịch vụ</a>
                </div>
            </div>
        </section>

        <section class="service">
            <div class="container">
                <div class="text-center heading-home">
                    <h1 class="heading"><a href="#">Dịch vụ</a></h1>
                </div>
                <div class="row text-center group-item">
                    <article class="col-6 col-md-4 item-service">
                        <div class="warpper-item">
                            <div class="show">
                                <div class="icon"><img src="pic/icons/s1.png" alt=""></div>
                                <h2 class="title">lập kế hoạch nguồn nhân lực</h2>
                            </div>
                            <div class="hide">
                                <div class="warpper-hide">
                                    <summary>Cung cấp chuyên môn chưa từng có trong suốt chu kỳ cuộc sống của các dịch vụ hỗ trợ giao dịch - từ việc kiểm tra
                                        mua lại mục tiêu ban đầu và kiểm tra tính thương mại thông qua hỗ trợ tích hợp sau khi mua</summary>
                                    <a href="#" class="btn-02">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-6 col-md-4 item-service">
                        <div class="warpper-item">
                            <div class="show">
                                <div class="icon"><img src="pic/icons/s2.png" alt=""></div>
                                <h2 class="title">Tư vấn Kế hoạch kinh doanh</h2>
                            </div>
                            <div class="hide">
                                <div class="warpper-hide">
                                    <summary>Cung cấp chuyên môn chưa từng có trong suốt chu kỳ cuộc sống của các dịch vụ hỗ trợ giao dịch - từ việc kiểm tra
                                        mua lại mục tiêu ban đầu và kiểm tra tính thương mại thông qua hỗ trợ tích hợp sau khi mua</summary>
                                    <a href="#" class="btn-02">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-6 col-md-4 item-service">
                        <div class="warpper-item">
                            <div class="show">
                                <div class="icon"><img src="pic/icons/s3.png" alt=""></div>
                                <h2 class="title">Lập kế hoạch chiến lược</h2>
                            </div>
                            <div class="hide">
                                <div class="warpper-hide">
                                    <summary>Cung cấp chuyên môn chưa từng có trong suốt chu kỳ cuộc sống của các dịch vụ hỗ trợ giao dịch - từ việc kiểm tra
                                        mua lại mục tiêu ban đầu và kiểm tra tính thương mại thông qua hỗ trợ tích hợp sau khi mua</summary>
                                    <a href="#" class="btn-02">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-6 col-md-4 item-service">
                        <div class="warpper-item">
                            <div class="show">
                                <div class="icon"><img src="pic/icons/s4.png" alt=""></div>
                                <h2 class="title">Quản trị xung đột</h2>
                            </div>
                            <div class="hide">
                                <div class="warpper-hide">
                                    <summary>Cung cấp chuyên môn chưa từng có trong suốt chu kỳ cuộc sống của các dịch vụ hỗ trợ giao dịch - từ việc kiểm tra
                                        mua lại mục tiêu ban đầu và kiểm tra tính thương mại thông qua hỗ trợ tích hợp sau khi mua</summary>
                                    <a href="#" class="btn-02">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-6 col-md-4 item-service">
                        <div class="warpper-item">
                            <div class="show">
                                <div class="icon"><img src="pic/icons/s5.png" alt=""></div>
                                <h2 class="title">Quản trị</h2>
                            </div>
                            <div class="hide">
                                <div class="warpper-hide">
                                    <summary>Cung cấp chuyên môn chưa từng có trong suốt chu kỳ cuộc sống của các dịch vụ hỗ trợ giao dịch - từ việc kiểm tra
                                        mua lại mục tiêu ban đầu và kiểm tra tính thương mại thông qua hỗ trợ tích hợp sau khi mua</summary>
                                    <a href="#" class="btn-02">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-6 col-md-4 item-service">
                        <div class="warpper-item">
                            <div class="show">
                                <div class="icon"><img src="pic/icons/s6.png" alt=""></div>
                                <h2 class="title">Sát nhập và mua lại</h2>
                            </div>
                            <div class="hide">
                                <div class="warpper-hide">
                                    <summary>Cung cấp chuyên môn chưa từng có trong suốt chu kỳ cuộc sống của các dịch vụ hỗ trợ giao dịch - từ việc kiểm
                                        tra mua lại mục tiêu ban đầu và kiểm tra tính thương mại thông qua hỗ trợ tích hợp sau khi mua</summary>
                                    <a href="#" class="btn-02">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section><!-- service -->

        <section class="about">
            <div class="container">
                <div class="text-center heading-home">
                    <h1 class="heading">Giới thiệu</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text">
                        <div class="warpper">
                             Một công ty tư vấn quản lý được công nhận quốc tế cung cấp các giải pháp bản địa hoá với sự cộng tác của khách hàng. Mục
                            đích của chúng tôi là nâng cao năng lực và hiệu năng của doanh nghiệp thông qua các giải pháp dựa trên kết quả, kết hợp hiệu
                            quả các quy trình, con người và các hệ thống, được thiết kế để đáp ứng các yêu cầu cá nhân của khách hàng.
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text">
                        <div class="warpper">
                             Nhận ra sự cần thiết phải thay đổi nhanh chóng, phát triển và phát triển tốt hơn từ bên trong, và tạo ra mối quan hệ giữa
                            khách hàng và nhà cung cấp mạnh mẽ hơn. Chúng tôi tìm cách xây dựng và duy trì vị trí lãnh đạo trong thị trường khu vực thông
                            qua phản hồi nhanh, đổi mới liên tục và sự hài lòng của khách hàng. Điều này đạt được thông qua việc giới thiệu sự nhiệt
                            tình, cảm hứng, động lực, lòng trung thành và xây dựng văn hoá doanh nghiệp và các giá trị để phù hợp với chiến lược của
                            chúng tôi
                        </div>
                    </div>
                    <div class="text-center col-12">
                        <a href="#" class="btn-03">Xem thêm</a>
                    </div>
                </div>
            </div>
        </section><!-- about -->

        <section class="partner">
            <div class="container">
                <div class="text-center heading-home">
                    <h1 class="heading">ĐỐI TÁC TIÊU BIỂU</h1>
                    <p>Nhận ra sự cần thiết phải thay đổi nhanh chóng, phát triển và phát triển tốt hơn từ bên trong, và tạo ra mối quan hệ giữa
                    khách hàng và nhà cung cấp mạnh mẽ hơn. Chúng tôi tìm cách xây dựng và duy trì vị trí lãnh đạo trong thị trường khu vực</p>
                </div>
                <div class="slider-partner">
                    <div class="framed-image">
                        <a class="no-cut" href="#">
                            <img src="pic/d1.png">
                        </a>
                    </div>
                    <div class="framed-image">
                        <a class="no-cut" href="#">
                            <img src="pic/d2.png">
                        </a>
                    </div>
                    <div class="framed-image">
                        <a class="no-cut" href="#">
                            <img src="pic/d3.png">
                        </a>
                    </div>
                    <div class="framed-image">
                        <a class="no-cut" href="#">
                            <img src="pic/d4.png">
                        </a>
                    </div>
                    <div class="framed-image">
                        <a class="no-cut" href="#">
                            <img src="pic/d5.png">
                        </a>
                    </div>
                    <div class="framed-image">
                        <a class="no-cut" href="#">
                            <img src="pic/d6.png">
                        </a>
                    </div>
                    <div class="framed-image">
                        <a class="no-cut" href="#">
                            <img src="pic/d5.png">
                        </a>
                    </div>
                </div>
            </div>
        </section><!-- partner -->

<section class="contact-service" style="background-image: url(../valexconsulting.com/pic/bg1.png)">
            <div class="text-center container">
                <h1 class="title">Chúng tôi có thể giúp bạn!</h1>
                <p>Điền vào mẫu đơn và chuyên gia của chúng tôi sẽ liên lạc với bạn để lấy ý kiến.</p>
                <div class="row form-contact">
                    <p class="col-12 col-md-4"><input type="text" placeholder="Họ và tên"></p>
                    <p class="col-12 col-md-4"><input type="text" placeholder="Số điện thoại"></p>
                    <p class="col-12 col-md-4"><input type="text" placeholder="Email"></p>
                    <p class="col-4"><a href="#" class="btn-04">Đặt dịch vụ</a></p>
                </div>
            </div>
        </section><!-- contact service -->

        <section class="feet">
            <div class="container">
                <div class="text-center heading-home">
                    <h1 class="heading">Cảm nhận khách hàng</h1>
                </div>
                <div class="slider-feel">
                    <article class="item-feel">
                        <div class="framed-image">
                            <span class="cut">
                                <img src="pic/kh.png">
                            </span>
                        </div>
                        <div class="info">
                            <div class="text">Tôi chỉ không biết làm thế nào để mô tả dịch vụ của bạn ... Họ là phi thường! tôi là khá hài lòng với họ! Chỉ cần theo kịp
                            đi theo cách này!</div>
                            <div class="name">Hoàng bảo Châu</div>
                            <div class="position">Trưởng phòng truyền thông</div>
                        </div>
                    </article>
                    <article class="item-feel">
                        <div class="framed-image">
                            <span class="cut">
                                <img src="pic/kh.png">
                            </span>
                        </div>
                        <div class="info">
                            <div class="text">Tôi chỉ không biết làm thế nào để mô tả dịch vụ của bạn ... Họ là phi thường! tôi là khá hài lòng với họ! Chỉ cần theo kịp
                            đi theo cách này!</div>
                            <div class="name">Hoàng bảo Châu</div>
                            <div class="position">Trưởng phòng truyền thông</div>
                        </div>
                    </article>
                </div>
            </div>
        </section><!-- feel -->

        <section class="contact-home">
            <div class="container text-center">
                <h1 class="heading">liên hệ</h1>
                <div class="row form-contact">
                    <p class="col-12 col-md-4"><input type="text" placeholder="Họ và tên"></p>
                    <p class="col-12 col-md-4"><input type="text" placeholder="Số điện thoại"></p>
                    <p class="col-12 col-md-4"><input type="text" placeholder="Email"></p>
                    <p class="col-12"><textarea rows="7" placeholder="Nội dung"></textarea></p>
                    <p class="col-12"><a href="#" class="btn-05">Gửi đi</a></p>
                </div>
            </div>
        </section><!-- contact home -->

        <section id="map"></section>
        <!-- map -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="logo">
                        <a href="#">
                            <img src="pic/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-9">
                    <div class="info">
                        <p>
                            <strong>Công ty tư vấn dịch vụ</strong>
                        </p>
                        <p>Địa Chỉ : Hoàng Đạo Thúy, Cầu Giấy, Hà Nội</p>
                        <p>Điện Thoại : (028).39.888.888 - Fax: (028) 39.888.188</p>
                        <p>E-mail : contact@gmail.com</p>
                        <span class="social">
                            <a href="#" class="fa facebook"></a>
                            <a href="#" class="fa twitter"></a>
                            <a href="#" class="fa google-plus"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
<script type="text/javascript" src="vendor/google-map/infobox.js"></script>
<script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
<script type="text/javascript" src="vendor/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<!-- maps -->
<script>
    initialize(
        '21.00757415248039',
        '105.80296128988266',
        '',
        'map',
        'css/icons/map.png'
    );
</script>

</html>