<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!-- header -->
    <header id="header">
        <div class="container">
            <section class="top-bar">
                <a href="#" class="fa email">Email: Contact@gmail.com</a>
                <a href="#" class="fa hotline">Hotline: 096 228 2888</a>
                <span class="social">
                    <a href="#" class="fa facebook"></a>
                    <a href="#" class="fa twitter"></a>
                    <a href="#" class="fa google-plus"></a>
                </span>
            </section>
            <!-- topbar end -->
            <nav class="nav-main">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
                <!-- button responsive -->
                <a class="navbar-brand" href="#">
                    <img src="./pic/logo.png" alt="">
                </a>
                <!-- logo -->
                <div class="collapse nav-group" id="collapsibleNavId">
                    <div class="left">
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dịch vụ</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 2</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Lập kế hoạch nguồn nhân lực</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Tư vấn kế hoạch kinh doanh</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Lập kế hoạch chiến lược</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Tư vấn xung đột</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 3</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Danh mục dịch vụ tư vấn 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đội ngũ</a>
                            </li>
                        </ul>
                        <!-- nav -->
                    </div>
                    <!-- left -->
                    <div class="right">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cảm nhận khách hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Liên hệ</a>
                            </li>
                        </ul>
                        <!-- nav -->
                    </div>
                    <!-- right -->
                </div>
                <!-- menu -->
                <div class="search">
                    <div class="form-search">
                        <input type="text" placeholder="Từ khóa tìm kiếm">
                        <a href="#" class="fa fa-search"></a>
                    </div>
                </div>
                <!--search-->
            </nav>
            <!-- menu main end -->
        </div>
        <!-- container end -->
    </header>
    <!-- header end -->

    <!-- main -->
    <main id="main">

        <section class="intro link-page">
            <div class="framed-image">
                <a class="cut" href="#">
                    <img src="./pic/intro.png">
                </a>
            </div>
            <div class="container text-center">
                <h1 class="name-page">GIỚI THIỆU</h1>
                <nav class="breadcrumb">
                    <a class="fa breadcrumb-item" href="#">Trang chủ</a>
                    <a class="fa breadcrumb-item" href="#">Giới thiệu</a>
                </nav>
            </div>
        </section>
        <!-- breadcrumb -->

        <section class="page page-detail-v1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3 left">
                        <article class="item-01">
                            <div class="framed-image">
                                <a class="cut" href="#">
                                    <img src="./pic/dn1.png">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="name">
                                    <a href="#">NGUYỄN NGỌC THU</a>
                                </h2>
                                <div class="position">Trưởng phòng kinh doanh</div>
                                <div class="social v2">
                                    <a href="#" class="fa facebook"></a>
                                    <a href="#" class="fa google-plus"></a>
                                    <a href="#" class="fa twitter"></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 col-md-8 col-lg-9 right">
                        <div class="new-detail">
                            <div class="noidung TextSize">
                                <div class="nddes fRobotoB lh22 pb20">
                                    <p>Tạp chí Forbes vừa công bố danh sách các nữ tỷ phú USD trên thế giới năm 2017 với tổng
                                        cộng 56 gương mặt (so với 42 người năm 2016). Trong đó, lần đầu tiên Việt Nam và
                                        Nhật Bản có một nữ tỷ phú.</p>
                                    <br>
                                    <p>Cách đây không lâu, tạp chí Forbes đã vinh danh CEO Vietjet Nguyễn Thị Phương Thảo là
                                        nữ tỷ phú duy nhất của khu vực Đông Nam Á với khối tài sản trị giá 1,2 tỷ USD. Đến
                                        hôm 20/3, trong danh sách The World's Billionaires cập nhật định kỳ hàng năm về các
                                        tỷ phú đô la trên toàn thế giới, bà Thảo đã chính thức góp mặt, đứng ở vị trí 1.678.</p>
                                    <br>
                                    <p>CEO Vietjet là tỷ phú thứ 2 của Việt Nam góp mặt trong danh sách tỷ phú của Forbes sau
                                        chủ tịch Vingroup Phạm Nhật Vượng. Ông Vượng hiện ở vị trí thứ 867 với khối tài sản
                                        trị giá 2,4 tỷ USD.</p>
                                    <br>
                                    <p>Trước đó, bà Nguyễn Thị Phương Thảo - CEO VietJet - được tạp chí Forbes vinh danh là
                                        nữ tỷ phú tự thân đầu tiên của Việt Nam với tài sản 1,2 tỷ USD.</p>
                                    <br>
                                    <p>Bà Thảo là đồng sáng lập kiêm Chủ tịch Sovico Holdings, đồng thời là CEO hãng hàng không
                                        VietJet Air. Bà được Forbes công nhận là nữ tỷ phú tự thân đầu tiên của Việt Nam
                                        và năm ngoái cũng lọt top phụ nữ quyền lực nhất thế giới của tạp chí này.</p>
                                    <br>
                                    <p>Cụ thể, bà Thảo đang nắm giữ 98 triệu cổ phiếu VJC với giá trị 12,318 nghìn tỷ đồng,
                                        Sunny Hướng Dương nắm giữ 69,7 triệu cổ phiếu VJC, tương đương 8,76 nghìn tỷ đồng.
                                        Đó là chưa kể việc gián tiếp nắm giữ cổ phiếu JVC thông qua Sovico và HDBank mà bà
                                        Thảo là thành viên HĐQT.</p>
                                    <br>
                                    <p>Nguyễn Thị Phương Thảo sinh năm 1970 tại Hà Nội, là một nữ doanh nhân, tỷ phú hiện trên
                                        cương vị là tổng giám đốc của VietJet Air, Phó chủ tịch thường trực Hội đồng quản
                                        trị Ngân hàng HDBank. Được biết, sau khi học chuyên ngành Kinh tế và tài chính tại
                                        Nga vào những năm 1980, bà Thảo đã khởi nghiệp kinh doanh hàng hóa tại Đông Âu và
                                        châu Á. Bà quay lại Việt Nam từ 1 thập kỷ trước và bắt đầu đầu tư vào ngân hàng,
                                        trước khi tham gia vào các dự án bất động sản lớn tại TP Hồ Chí Minh và những khu
                                        nghỉ dưỡng ở miền trung.</p>
                                    <br>
                                </div>
                            </div>
                            <div class="share">
                                <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                                    <div class="shareItem">
                                        <a class="addthis_button_facebook"></a>
                                    </div>
                                    <div class="shareItem">
                                        <a class="addthis_button_twitter"></a>
                                    </div>
                                    <div class="shareItem">
                                        <a class="addthis_button_zingme"></a>
                                    </div>
                                    <div class="shareItem">
                                        <a class="addthis_button_compact"></a>
                                    </div>
                                    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                                    <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                                </div>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
                                <script>
                                    (function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, "script", "facebook-jssdk"));
                                    (function () {
                                        var po = document.createElement("script");
                                        po.type = "text/javascript";
                                        po.async = true;
                                        po.src = "https://apis.google.com/js/platform.js";
                                        var s = document.getElementsByTagName("script")[0];
                                        s.parentNode.insertBefore(po, s);
                                    })();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page -->

        <section id="map"></section>
        <!-- map -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="logo">
                        <a href="#">
                            <img src="./pic/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-9">
                    <div class="info">
                        <p>
                            <strong>Công ty tư vấn dịch vụ</strong>
                        </p>
                        <p>Địa Chỉ : Hoàng Đạo Thúy, Cầu Giấy, Hà Nội</p>
                        <p>Điện Thoại : (028).39.888.888 - Fax: (028) 39.888.188</p>
                        <p>E-mail : contact@gmail.com</p>
                        <span class="social">
                            <a href="#" class="fa facebook"></a>
                            <a href="#" class="fa twitter"></a>
                            <a href="#" class="fa google-plus"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
<script type="text/javascript" src="vendor/google-map/infobox.js"></script>
<script type="text/javascript" src="vendor/google-map/GoogleMapInit.js"></script>
<script type="text/javascript" src="vendor/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<!-- maps -->
<script>
    initialize(
        '21.00757415248039',
        '105.80296128988266',
        '',
        'map',
        './css/icons/map.png'
    );
</script>

</html>