<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- css -->
	<link rel="stylesheet" href="src/js/vendor/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="src/css/main.css">

</head>

<body>

	<noscript>
		<![if !(lte IE 9)]>
		<div class="noscript-message">
			<div class="noscript-message__content">
				<p>Trinh duyệt của bạn không hỗ trợ hoặc đã tắt JavaScript, bạn vui lòng cập nhận trình đuyệt web hoặc mở
					JavaScript trong
					phần cài đặt.</p>
			</div>
		</div>
		<![endif]>
	</noscript>

	<div id="app">

		<!-- header -->
		<header class="header">

			<!-- navbar -->
			<nav class="navbar js-navbar">
				<div class="container">
					<div class="branb">
						<a href="http://"><img src="images/logo.svg" alt=""></a>
					</div>
					<div class="nav-trigger">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</div>
					<div class="wrapper">

						<ul class="nav">
							<li class="nav-item">
								<a href="" class="nav-link">Trang chủ</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Giới thiệu</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Giới thiệu cuộc thi</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Hướng dẫn đăng ký</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Hướng dẫn thi</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Hưỡng dẫn</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Thông báo</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Tra cứu</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Số tay rèn luyện</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Liên hệ</a>
							</li>
						</ul>

						<div class="search js-search">
							<div class="icon"><img src="./src/images/ic-search.svg" alt=""></div>
							<form class="form-search">
								<input class="form-control" type="search">
								<button class="btn" type="submit"><img src="./src/images/ic-search.svg" alt=""></button>
							</form>
						</div>

					</div>
				</div>
			</nav>
			<!-- navbar end -->

		</header>
		<!-- header end -->

		<!-- main -->
		<main class="main">


			<div class="container">

				<nav class="c-breadcrumb">
					<div class="container">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
							<li class="breadcrumb-item active">Thông báo từ BTC</li>
						</ol>
					</div>
				</nav>

				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8">

							<!-- news detail -->
							<section class="news-detail c-detail">
								<div class="wrapper">
									<h1 class="title">Thông báo số 7 - Điều chỉnh thể lệ vòng CKTQ</h1>
									<div class="date"><b>Theng</b> | Oct 20, 2019</div>
									<div class="content">
										<p>Thực hiện Kế hoạch số 650-KH/TWĐTN-TNTH ngày 22/9/2017 của Ban Bí thư Trung ương Đoàn về việc tổ
											chức Cuộc thi tìm hiểu lịch sử, văn hóa dân tộc “Tự hào Việt Nam” lần thứ II, năm 2017 trong học
											sinh các trường Trung học phổ thông, học sinh đang học chương trình giáo dục thường xuyên cấp THPT
											trên cả nước, để tổ chức thành công cuộc thi, Ban Bí thư Trung ương Đoàn đề nghị Ban Thường vụ các
											tỉnh, thành đoàn tập trung triển khai thực hiện một số nội dung</p>
										<p><img src="./images/btc1.png" alt=""></p>
										<p>
											<b>1. Về công tác tuyên truyền</b>
											<br>
											- Đề nghị các tỉnh, thành đoàn tập trung triển khai công tác tuyên
											truyền về Cuộc thi đến học sinh các trường Trung học phổ thông, Trung tâm giáo dục thường xuyên
											thông qua bảng tin, website của tỉnh, thành đoàn, website, fanpage, forum các trường, sinh hoạt
											dưới cờ, sinh hoạt các lớp; giới thiệu thể lệ, website và fanpage của Cuộc thi, đưa banner dẫn
											đường link tới website chính thức của Cuộc thi trên website của tỉnh, thành đoàn, quận, huyện
											đoàn, chuyên mục Đoàn Thanh niên hoặc trang chủ của các trường Trung học phổ thông, Trung tâm giáo
											dục thường xuyên (website Cuộc thi: http://www.tuhaovietnam.com.vn; fanpage chính thức của Cuộc
											thi tại địa chỉ http://www.facebook.com/cuocthituhaovietnam). Banner Cuộc thi do Ban tổ chức cuộc
											thi thiết kế và gửi qua email tới các tỉnh, thành đoàn.
											<br>
											- Các tỉnh, thành đoàn chủ động tổ chức
											tuyên truyền trực quan tại trụ sở cơ quan tỉnh, thành đoàn, quận, huyện đoàn và các trường Trung
											học phổ thông, Trung tâm giáo dục thường xuyên trên địa bàn. - Đề nghị các tỉnh, thành đoàn trong
											quá trình triển khai Cuộc thi, các ấn phẩm tuyên truyền đảm bảo đúng với bộ nhận diện của Cuộc
											thi, trong đó đảm bảo có logo của đơn vị đồng hành: Tập đoàn Egroup. - Các tỉnh, thành đoàn báo
											cáo kết quả công tác tuyên truyền về Ban tổ chức cuộc thi, qua thư điện tử, hoàn thành trước ngày
											02/11/2017.
											<br>
											<br>
											<b>2. Về công tác vận động học sinh tham gia Cuộc thi</b>
											<br>
											- Các tỉnh, thành đoàn chủ động làm
											việc với Sở Giáo dục và Đào tạo địa phương có cơ chế chỉ đạo Ban giám hiệu các trường THPT,
											TTGDTX, tạo điều kiện thuận lợi để Đoàn trường THPT, TTGDTX triển khai, vận động học sinh tham
											gia. - Chỉ đạo các quận, huyện đoàn làm việc với Ban Giám hiệu các trường THPT, TTGDTX quan tâm,
											tạo điều kiện mở phòng máy vi tính, bố trí đường truyền internet cho học sinh tham gia thi trực
											tuyến và có hình thức ghi nhận thành tích của các học sinh đạt kết quả cao. - Các tỉnh, thành đoàn
											thống kê số học sinh theo từng trường THPT, TTGDTX để có thể theo dõi, đánh giá tỉ lệ học sinh các
											trường tham gia Cuộc thi phục vụ cho công tác trao giải. Số liệu thống kê gửi về Ban tổ chức cuộc
											thi trước ngày 02/11/2017.
											<br>
											<br>
											<b> 4. Về tổ chức các hoạt động hưởng ứng Lễ khai mạc Cuộc thi </b>
											<br>
											- Ban Tổ
											chức tổ chức chạy thử phần mềm từ 8h00 đến 17h00 ngày 05/10/2017 (thứ 5), đề nghị Ban Thường vụ
											các tỉnh, thành đoàn lựa chọn mỗi đơn vị ít nhất 01 trường THPT để học sinh tham gia thi thử và
											gửi thông tin phản hồi về Ban Tổ chức trước 21h00 ngày 05/10/2017. - Lễ khai mạc Cuộc thi sẽ diễn
											ra vào lúc 09h00 ngày 08/10/2017 (chủ nhật) tại Hà Nội. Đề nghị các tỉnh, thành đoàn: thành phố Hà
											Nội, thành phố Hồ Chí Minh, Hải Phòng, Đà Nẵng, Cần Thơ, Quảng Ninh, Nghệ An, Bình Định, Bình
											Dương, Đồng Tháp, Kiên Giang lựa chọn mỗi tỉnh ít nhất 04 trường THPT, TTGDTX; các tỉnh, thành
											đoàn khác chọn ít nhất 01 trường THPT, TTGDTX, chuẩn bị điều kiện cơ sở vật chất cần thiết (phòng
											máy, đường truyền,...) để học sinh tham gia dự thi, hưởng ứng Lễ khai mạc. Để công tác chuẩn bị
											các điều kiện cần thiết cho hoạt động tham gia thi hưởng ứng Lễ khai mạc, đề nghị các đơn vị thông
											tin danh sách các trường THPT, TTGDTX hưởng ứng Cuộc thi trong ngày khai mạc về Ban tổ chức Cuộc
											thi trước ngày 06/10/2017. Địa chỉ tiếp nhận thông tin, báo cáo của các tỉnh, thành đoàn: Ban
											Thanh niên Trường học Trung ương Đoàn, cơ quan thường trực Cuộc thi, 64 Bà Triệu, Hà Nội; ĐT:
											024.62631852; email: cuocthituhaovietnam@gmail.com. Ban Bí thư Trung ương Đoàn đề nghị Ban Thường
											vụ các tỉnh, thành đoàn triển khai thực hiện.</p>
									</div>
								</div>
							</section>
							<!-- news detail end -->

						</div>
						<div class="col-12 col-lg-4">

							<div class="group-carousel">
								<div class="carousel-wrapper">
									<section class="logo-group-v1">
										<h3 class="headline v1">Đơn vị tổ chức</h3>
										<div class="carousel">
											<ul class="list js-carousel-01">
												<li class="item">
													<a href="#"><img src="./images/logo2.png" alt=""></a>
												</li>
												<li class="item">
													<a href="#"><img src="./images/logo3.png" alt=""></a>
												</li>
											</ul>
										</div>
									</section>
								</div>
								<div class="carousel-wrapper">
									<section class="logo-group-v1">
										<h3 class="headline v1">Đơn vị đồng hành</h3>
										<div class="carousel">
											<ul class="list js-carousel-02">
												<li class="item">
													<a href="#"><img src="./images/logo4.png" alt=""></a>
												</li>
												<li class="item">
													<a href="#"><img src="./images/logo3.png" alt=""></a>
												</li>
											</ul>

										</div>
									</section>
								</div>
							</div>

							<!-- rank -->
							<div class="section c-rank">
								<div class="headline v1">
									<span><img src="./src/images/cup.png" alt=""></span>
									<h2>số lượng THÍ SINH</h2>
								</div>
								<div class="group-item">
									<div class="item">
										<div class="number">434.106</div>
										<div class="title">thí sinh đăng ký</div>
									</div>
									<div class="item">
										<div class="number">434.106</div>
										<div class="title">thí sinh đã thi</div>
									</div>
								</div>
								<ul class="list">
									<li class="item">
										<div class="rank">1</div>
										<div class="img"><img src="./images/user.png" alt=""></div>
										<div class="info">
											<div class="name">Nguyễn Gia thế</div>
											<div class="number">350 điểm - 01:30:750s</div>
											<div class="address">Lớp 11 - THPT Sáng Sơn - Vĩnh Phúc</div>
										</div>
									</li>
									<li class="item">
										<div class="rank">2</div>
										<div class="img"><img src="./images/user.png" alt=""></div>
										<div class="info">
											<div class="name">Nguyễn Gia thế</div>
											<div class="number">350 điểm - 01:30:750s</div>
											<div class="address">Lớp 11 - THPT Sáng Sơn - Vĩnh Phúc</div>
										</div>
									</li>
									<li class="item">
										<div class="rank">3</div>
										<div class="img"><img src="./images/user.png" alt=""></div>
										<div class="info">
											<div class="name">Nguyễn Gia thế</div>
											<div class="number">350 điểm - 01:30:750s</div>
											<div class="address">Lớp 11 - THPT Sáng Sơn - Vĩnh Phúc</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- rank end -->

							<!-- top -->
							<div class="section c-top">
								<div class="wrapper">
									<div class="headline v1">
										<span><img src="./src/images/cup.png" alt=""></span>
										<h2>số lượng THÍ SINH ĐÃ THI</h2>
									</div>
									<div class="tab">
										<div class="title">
											<h3 class="active" data-tab="#tab1">tỉnh/tp</h3>
											<h3 data-tab="#tab2">trường</h3>
										</div>
										<div class="tab-main">
											<ul class="list active" id="tab1">
												<li class="list-item">
													<div class="number">01</div>
													<div class="info">
														<div class="number-user">6.002 <span>thí sinh</span></div>
														<div class="address">THPT Thanh Chương 3</div>
													</div>
												</li>
												<li class="list-item">
													<div class="number">02</div>
													<div class="info">
														<div class="number-user">92297 <span>thí sinh</span></div>
														<div class="address">Hà Nội</div>
													</div>
												</li>
												<li class="list-item">
													<div class="number">03</div>
													<div class="info">
														<div class="number-user">92297 <span>thí sinh</span></div>
														<div class="address">Thái Nguyên</div>
													</div>
												</li>
											</ul>

											<ul class="list" id="tab2">
												<li class="list-item">
													<div class="number">01</div>
													<div class="info">
														<div class="number-user">6.002 <span>thí sinh</span></div>
														<div class="address">THPT Thanh Chương 3</div>
													</div>
												</li>
												<li class="list-item">
													<div class="number">02</div>
													<div class="info">
														<div class="number-user">92297 <span>thí sinh</span></div>
														<div class="address">Hà Nội</div>
													</div>
												</li>
												<li class="list-item">
													<div class="number">03</div>
													<div class="info">
														<div class="number-user">92297 <span>thí sinh</span></div>
														<div class="address">Thái Nguyên</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="btn-wrapper"><a href="" class="btn">Xem thêm</a></div>
								</div>
							</div>
							<!-- top end -->

							<!-- video hot -->
							<div class="section c-video-hot">
								<div class="wrapper">
									<h2 class="headline v1">Video nổi bật</h2>
									<div class="carousel">
										<ul class="list js-carousel-05">
											<li class="item">
												<div class="video video-wrapper">
													<iframe src="https://www.youtube.com/embed/6DTqZHvLVxg" frameborder="0"
														allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
														allowfullscreen></iframe>
												</div>
												<div class="info">
													<h3 class="title"><a href="#">VTV 1 đưa tin về lễ phát động cuộc thi</a></h3>
													<div class="date">20/11/2017</div>
												</div>
											</li>
											<li class="item">
												<div class="video video-wrapper">
													<iframe src="https://www.youtube.com/embed/6DTqZHvLVxg" frameborder="0"
														allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
														allowfullscreen></iframe>
												</div>
												<div class="info">
													<h3 class="title"><a href="#">VTV 1 đưa tin về lễ phát động cuộc thi</a></h3>
													<div class="date">20/11/2017</div>
												</div>
											</li>
										</ul>
									</div>

									<div class="btn-wrapper"><a href="" class="btn">Xem thêm</a></div>
								</div>
							</div>
							<!-- video hot end -->

						</div>
					</div>
				</div>

			</div>

		</main>
		<!-- main end -->

		<!-- footer -->
		<footer class="footer">
			<div class="container">
				<div class="footer-info">
					<div class="footer-contact">
						<h4 class="text1">Thường trực ban tổ chức:</h4>
						<h3 class="text2">ban thanh thiếu niên trường học tw đoàn tncs hồ chí minh</h3>
						<ul>
							<li><i class="icon ic-address"></i>64 Bà Triệu, Quận Hoàn Kiếm, Thành Phố Hà Nội.</li>
							<li><i class="icon ic-phone1"></i>1900 636 444 (8h - 21 hàng ngày)</li>
							<li><i class="icon ic-phone2"></i>024 6263 1852</li>
							<li><i class="icon ic-email"></i>tuhaovietnam@egroup.vn</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<p>Copyright © 2019 tuhaovietnam.com.vn. Design by VNEDUTECH. All rights reserved.</p>
					<div class="group-icon">
						<a class="ic-www" href="#"><img src="./src/images/ic-www.svg" alt=""></a>
						<a class="ic-facebook" href="#"><img src="./src/images/ic-facebook1.svg" alt=""></a>
						<a class="ic-youtube" href="#"><img src="./src/images/ic-youtube1.svg" alt=""></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->


	</div>

	<!-- js -->
	<script src="src/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="src/js/vendor/slick.min.js"></script>
	<script src="src/js/vendor/fancybox/jquery.fancybox.min.js"></script>
	<script src="src/js/main.js"></script>

</body>

</html>