<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		.container {
			display: flex;
			height: 100vh;
			justify-content: center;
			align-items: center;
		}

		a {
			display: block;
			text-align: center;
			margin-top: 15px;
			text-decoration: none;
			transition: all .4s ease-in-out;
			font-weight: 700;
		}

		a:hover {
			color: blueviolet;
		}

		a:nth-child(1) {
			margin-top: 0;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="wrapper">
			<a href="./home.html">Home page</a>
			<a href="./gioi-thieu-cuoc-thi.html">Giới thiệu cuộc thi</a>
			<a href="./thong-bao-tu-btc.html">Thông báo từ BTC</a>
			<a href="./video-search.html">Tìm kiếm Video</a>
			<a href="./video.html">Video</a>
			<a href="./video-detail.html">Video Chi tiết</a>
			<a href="./news.html">Tin tức</a>
			<a href="./detail.html">Trang chi tiết</a>
			<a href="./danh-sach-thi-sinh.html">Danh sách thí sinh</a>
			<a href="./ket-qua.html">Kết quả</a>
			<a href="./the-le.html">Thể lệ</a>
			<a href="./contact.html">Liên hệ</a>
			<a href="./quan-ly-tai-khoan.html">Quan lý tài khoản</a>
			<a href="./nop-bai.html">Nộp bài</a>
		</div>
	</div>
</body>

</html>