<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- css -->
	<link rel="stylesheet" href="src/js/vendor/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="src/css/main.css">

</head>

<body class="home">

	<noscript>
		<![if !(lte IE 9)]>
		<div class="noscript-message">
			<div class="noscript-message__content">
				<p>Trinh duyệt của bạn không hỗ trợ hoặc đã tắt JavaScript, bạn vui lòng cập nhận trình đuyệt web hoặc mở
					JavaScript trong
					phần cài đặt.</p>
			</div>
		</div>
		<![endif]>
	</noscript>

	<div id="app">

		<!-- header -->
		<header class="header">

			<!-- navbar -->
			<nav class="navbar js-navbar">
				<div class="container">
					<div class="branb">
						<a href="http://"><img src="images/logo.svg" alt=""></a>
					</div>
					<div class="nav-trigger">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</div>
					<div class="wrapper">

						<ul class="nav">
							<li class="nav-item">
								<a href="" class="nav-link">Trang chủ</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Giới thiệu</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Giới thiệu cuộc thi</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Hướng dẫn đăng ký</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Hướng dẫn thi</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Hưỡng dẫn</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Thông báo</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Tra cứu</a>
								<ul>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
									<li class="nav-item">
										<a href="" class="nav-link">Demo</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Số tay rèn luyện</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Liên hệ</a>
							</li>
						</ul>

						<div class="search js-search">
							<div class="icon"><img src="./src/images/ic-search.svg" alt=""></div>
							<form class="form-search">
								<input class="form-control" type="search">
								<button class="btn" type="submit"><img src="./src/images/ic-search.svg" alt=""></button>
							</form>
						</div>
						
					</div>
				</div>
			</nav>
			<!-- navbar end -->

		</header>
		<!-- header end -->

		<!-- main -->
		<main class="main">

			<nav class="c-breadcrumb">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Liên hệ</li>
					</ol>
				</div>
			</nav>

			<!-- Contest -->
			<!-- thêm class contest-popup -> pupup thông báo thành công hiện nên -->
			<section class="c-contest contest-popup">
				<div class="container">
					<div class="wrapper">
						<h2 class="headline">Nộp bài dự thi</h2>
						<form class="form">
							<div class="form-left">
								<div class="form-group">
									<label>Đối tượng dự thi</label>
									<select class="form-control">
										<option>Cá nhân</option>
									</select>
								</div>
								<div class="form-group">
									<label>Thể loại</label>
									<select class="form-control">
										<option>Video</option>
									</select>
								</div>
								<div class="form-group">
									<label>Mã bài thi</label>
									<input type="text" class="form-control disabled" value="MS751">
								</div>
							</div>
							<div class="form-right">
								<div class="form-group">
									<label>Tên cá nhân, đơn vị dự thi</label>
									<input type="text" class="form-control" placeholder="Tên cá nhân, đơn vị dự thi">
								</div>
								<div class="form-group">
									<label>Tên bài dự thi</label>
									<input type="text" class="form-control" placeholder="Tên bài dự thi (không quá 100 ký tự)">
								</div>
								<div class="form-group">
									<label>Link dự thi</label>
									<input type="text" class="form-control" placeholder="Link upload bài dự thi">
									<small id="emailHelp" class="form-text">Lưu ý: Link dự thi phải là link Google Driver hoặc Youtube (để
										chế độ công khai)</small>
								</div>
								<div class="form-group">
									<label>Tên bài dự thi</label>
									<textarea class="form-control" rows="5" placeholder="Nội dung không quá 500 ký tự"></textarea>
								</div>
								<div class="form-group">
									<img src="./images/not-robot.png" width="100%" alt="">
								</div>
								<div class="form-group">
									<button class="btn" type="submit">Gửi bài</button>
								</div>
							</div>

						</form>
					</div>
				</div>
				<div class="body-overlay"></div>
				<div class="popup">
					<div class="wrapper">
							<div class="text">Bài dự thi của bạn với mã số <span class="code">MS751</span> đã được gửi thành công!</div>
							<a class="btn" href="./home.html">đồng ý</a>
					</div>
				</div>
			</section>
			<!-- Contest end -->

		</main>
		<!-- main end -->

		<!-- footer -->
		<footer class="footer">
			<div class="container">
				<div class="footer-info">
					<div class="footer-contact">
						<h4 class="text1">Thường trực ban tổ chức:</h4>
						<h3 class="text2">ban thanh thiếu niên trường học tw đoàn tncs hồ chí minh</h3>
						<ul>
							<li><i class="icon ic-address"></i>64 Bà Triệu, Quận Hoàn Kiếm, Thành Phố Hà Nội.</li>
							<li><i class="icon ic-phone1"></i>1900 636 444 (8h - 21 hàng ngày)</li>
							<li><i class="icon ic-phone2"></i>024 6263 1852</li>
							<li><i class="icon ic-email"></i>tuhaovietnam@egroup.vn</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<p>Copyright © 2019 tuhaovietnam.com.vn. Design by VNEDUTECH. All rights reserved.</p>
					<div class="group-icon">
						<a class="ic-www" href="#"><img src="./src/images/ic-www.svg" alt=""></a>
						<a class="ic-facebook" href="#"><img src="./src/images/ic-facebook1.svg" alt=""></a>
						<a class="ic-youtube" href="#"><img src="./src/images/ic-youtube1.svg" alt=""></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->


	</div>

	<!-- js -->
	<script src="src/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="src/js/vendor/slick.min.js"></script>
	<script src="src/js/vendor/fancybox/jquery.fancybox.min.js"></script>
	<script src="src/js/main.js"></script>

</body>

</html>