<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/datePicker/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <div class="page-404">
        <div class="content">
            <div class="img"><img src="./css/icons/404.png" alt=""></div>
            <div class="text">
                <p><strong>Trang bạn tìm hiện không có hoặc vì một lý do nào đó không tồn tại trên website...!</strong></p>
                <p>Trở về trang chủ hoặc liên hệ với chúng tôi nếu bạn cần thêm thông tin.</p>
            </div>
            <div class="group-btn">
                <a href="#" class="btn-09">Trở về trang chủ</a>
                <a href="tel: 024.6295.2832" class="btn-09">Hotline: 024.6295.2832</a>
            </div>
        </div>
    </div>

</body>

<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="vendor/datePicker/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="vendor/datePicker/date-vi-VN.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</html>