@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'UTM TrajanProBold';
  src: url('./fonts/UTMTrajanProBold.eot');
  src: url('./fonts/UTMTrajanProBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/UTMTrajanProBold.woff2') format('woff2'),
    url('./fonts/UTMTrajanProBold.woff') format('woff'),
    url('./fonts/UTMTrajanProBold.ttf') format('truetype'),
    url('./fonts/UTMTrajanProBold.svg#UTMTrajanProBold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UTM Talling';
  src: url('./fonts/UTMTalling.eot');
  src: url('./fonts/UTMTalling.eot?#iefix') format('embedded-opentype'),
    url('./fonts/UTMTalling.woff2') format('woff2'),
    url('./fonts/UTMTalling.woff') format('woff'),
    url('./fonts/UTMTalling.ttf') format('truetype'),
    url('./fonts/UTMTalling.svg#UTMTalling') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}