@import '_variables.scss';
@import '_mixins.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #3973dd;
  color: $c-white;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

.icon {
  display: inline-block;
}

#app {
  position: relative;
  overflow-x: hidden;
}

.disabled {
  pointer-events: none !important;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0);
  border-radius: $round1;
  opacity: 0;
  font-family: $font-3;
  transition: $transition;

  .modal-exit {
    position: absolute;
    width: 9.6875vw;
    height: 8.4375vw;
    top: -0.78125vw;
    right: -0.78125vw;
    cursor: pointer;
    background-image: url(../images/exit.png);
    background-size: cover;
    @media (min-width: $breakpoints-xl) {
      width: 62px;
      height: 54px;
      top: -5px;
      right: -5px;
    }
    
  }

  .modal-inner {
    background-image: url(../images/bg-popup.png);
    background-size: cover;
    width: 86.875vw;
    height: 47.03125vw;

    @media (min-width: $breakpoints-xl) {
      width: 556px;
      height: 301px;
    }
  }

  .title {
    font-size: 2.8125vw;
    text-align: center;
    line-height: 6.25vw;
    font-weight: 700;
    @media (min-width: $breakpoints-xl) {
      font-size: 18px;
      line-height: 40px;
    }
  }

  .content {
    padding: 2.8125vh 8.59375vw 0 8.59375vw;
    font-size: 2.8125vw;
    @media (min-width: $breakpoints-xl) {
      font-size: 18px;
      padding: 15px 55px 0 55px;
    }
    .table {
      border: 1px solid #c8b18e;
      width: 100%;
      text-align: center;
      td {
        text-align: center;
        border-right: 1px solid #c8b18e;
        padding: 0.625vw 1.5625vw;
        @media (min-width: $breakpoints-xl) {
          padding: 5px 10px;
        }
        &:last-of-type {
          border-right: 0;
        }
      }
      tbody td {
        border-top: 1px solid #c8b18e;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin-bottom: 1.5625vw;
        @media (min-width: $breakpoints-xl) {
          margin-bottom: 15px;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 1.875vw;
          height: 1.875vw;
          transform: rotate(45deg);
          background: #fff0c4;
          margin-right: 2.34375vw;
          @media (min-width: $breakpoints-xl) {
            width: 12px;
            height: 12px;
            margin-right: 10px;
          }
        }
      }
    }
    .thu-lai {
      margin-top: -2.34375vw;
      @media (min-width: $breakpoints-xl) {
        margin-top: 0;
      }
      .img {
        width: 18.4375vw;
        height: 18.4375vw;
        margin-left: 50%;
        transform: translateX(-50%);
        @media (min-width: $breakpoints-xl) {
          width: 118px;
          height: 118px;
        }
      }
      .text {
        text-align: center;
        margin: 2.34375vw 0;
        @media (min-width: $breakpoints-xl) {
          margin: 15px 0;
        }
      }
    }
    .giftcode {
      text-align: center;
      .code {
        font-size: 6.5625vw;
        color: #f0d69c;
        background: #160e34;
        border-radius: 9999px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-style: italic;
        display: inline-block;
        padding: 1.015625vw 8.4375vw;
        margin: 2.34375vw 0;
        @media (min-width: $breakpoints-xl) {
          font-size: 42px;
          margin: 15px 0;
          padding: 6.5px 54px;
        }
      }
    }
  }

  .exit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.4375vw;
    height: 5.46875vw;
    margin-top: 1.5625vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background: #f0d69c;
    transition: $transition;
    border-radius: 9999px;
    font-style: italic;
    cursor: pointer;
    @media (min-width: $breakpoints-xl) {
      width: 150px;
      height: 35px;
      margin-top: 15px;
    }
    &:hover {
      background: #03a94f;
    }
  }

  &.modal-active {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
  }
}

.modal-over-body {
  display: none;
  position: fixed;
  z-index: 999998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #281d54;
  opacity: .8;

  &.modal-over-body-active {
    display: block;
  }
}