@import '_variables.scss';
@import '_mixins.scss';

.btn-01,
.btn-02 {
    line-height: 40px;
    width: 108px;
    border-radius: $radius;
    background: $color-10;
    display: inline-block;
    text-align: center;
    color: $color-03;
    font-size: $font-f2;
    text-transform: uppercase;
    margin-right: 10px;
    &:hover {
        color: $color-01;
        background: $color-09;
        text-decoration: none;
    }
}

.btn-02 {
    background: $color-14;
    color: $color-01;
    &:hover {
        background: $color-09;
    }
}

.btn-03 {
    text-align: center;
    a {
        font-size: $font-s1 + 1px;
        border: 1px solid $color-05;
        border-radius: $radius + 2px;
        padding: 4.5px 10px;
        display: inline-block;
        color: $color-02;
        &:hover {
            text-decoration: none;
            background: $color-05;
            color: $color-01;
        }
    }
}

.btn-04 {
    color: #ff99cc;
    margin-bottom: 0;
    &:hover {
        text-decoration: none;
        color: $color-01;
    }
}

.btn-maps {
    width: 120px;
    height: 25px;
    background: url(.././css/icons/google-map.png) no-repeat left;
    display: inline-block;
    padding-left: 28px;
    font-size: 11px;
    line-height: 28px;
    color: $color-03;
    margin-top: 15px;
    &:hover {
        text-decoration: none;
    }
}

.btn-05 {
    display: inline-block;
    min-width: 100px;
    background: #ccc;
    color: $color-01;
    line-height: 35px;
    border-radius: $radius + 1px;
    &.active {
        background: $color-09;
        &:hover {
            transform: scale(1.05);
        }
    }
    &:hover {
        text-decoration: none;
        color: $color-01;
    }
    &:before {
        width: 20px;
        height: 18px;
        content: "";
        display: inline-block;
        background: url(.././css/icons/cart.png) no-repeat;
        margin-right: 3px;
        transform: translateY(4px);
    }
}

.btn-06 {
    border: 1px solid $color-01;
    line-height: 36px;
    height: 36px;
    min-width: 130px;
    text-decoration: none;
    color: $color-01;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098D1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus {
        color: $color-01;
        border: none;
        text-decoration: none;
        &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }
}

.btn-07,
.btn-08 {
    color: $color-01;
    min-width: 150px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background: $color-15;
    display: inline-block;
    text-align: center;
    font-size: $font-s2;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-01;
        background: $color-06;
    }
}

.btn-08 {
    background: #28972d;
    padding: 0 20px;
    &:hover,
    &:focus {
        background: $color-15;
    }
}