@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import '_variables.scss';
@import '_mixins.scss';

@font-face {
    font-family: 'UTM AvoBold';
    src: url('../css/fonts/UTM AvoBold.eot');
    src: url('../css/fonts/UTM AvoBold.woff') format('woff'),
    url('../css/fonts/UTM AvoBold.woff2') format('woff2'),
    url('../css/fonts/UTM AvoBold.ttf') format('truetype'),
    url('../css/fonts/UTM AvoBold.svg#iciel') format('svg'),
    url('../css/fonts/UTM AvoBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTM Avo';
    src: url('../css/fonts/UTM Avo.eot');
    src: url('../css/fonts/UTM Avo.woff') format('woff'),
    url('../css/fonts/UTM Avo.woff2') format('woff2'),
    url('../css/fonts/UTM Avo.ttf') format('truetype'),
    url('../css/fonts/UTM Avo.svg#iciel') format('svg'),
    url('../css/fonts/UTM Avo.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTM Bebas';
    src: url('../css/fonts/UTM Bebas.eot');
    src: url('../css/fonts/UTM Bebas.woff') format('woff'),
    url('../css/fonts/UTM Bebas.woff2') format('woff2'),
    url('../css/fonts/UTM Bebas.ttf') format('truetype'),
    url('../css/fonts/UTM Bebas.svg#iciel') format('svg'),
    url('../css/fonts/UTM Bebas.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTM Androgyne';
    src: url('../css/fonts/UTM Androgyne.eot');
    src: url('../css/fonts/UTM Androgyne.woff') format('woff'),
    url('../css/fonts/UTM Androgyne.woff2') format('woff2'),
    url('../css/fonts/UTM Androgyne.ttf') format('truetype'),
    url('../css/fonts/UTM Androgyne.svg#iciel') format('svg'),
    url('../css/fonts/UTM Androgyne.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: $color-01;
    line-height: $line-01;
    color: $color-02;
    font-size: $font-s1;
}

p {
    margin: 0;
    padding: 0;
}

ol,
ul,
dl,
pre,
blockquote {
    margin: 0;
    padding: 0;
}


button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

embed,
object,
video,
iframe {
    width: 100%;
    height: auto;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

a {
    transition: $time-a1;
}

summary {
    display: block;
}

select {
    background: $color-01 url(.././css/icons/select.png) no-repeat right 10px center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    &::-ms-expand {
        display: none;
    }
}

.framed-image {
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        display: block;
        padding-bottom: 60%;
    }
    .cut,
    .no-cut {
        overflow: hidden;
        text-align: center;
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .cut img {
        max-width: 150%;
        max-height: 150%;
        &.wide {
            height: 100%;
            max-width: unset;
        }
        &.tall {
            width: 100%;
            max-height: none;
        }
    }
    .no-cut img {
        max-width: 150%;
        max-height: 150%;
    }
}
