$font-f1: 'Roboto', sans-serif;
$font-f2: 'UTM Bebas';
$font-f3: 'UTM AvoBold';
$font-f4: 'UTM Androgyne';
$font-f5: 'UTM Avo';

$font-s1: 14px;
$font-s2: 16px;
$font-s3: 18px;
$font-s4: 22px;
$font-s5: 30px;

$line-01: 22px;
$line-02: 28px;
$line-03: 40px;

$color-01: #fff;
$color-02: #333;
$color-03: #666;
$color-04: #999;
$color-05: #f00669;
$color-06: #ed0101;
$color-07: #086905;
$color-08: #f9f9f9;
$color-09: #ff009c;
$color-10: #e0e0e0;
$color-11: #e4e4e4;
$color-12: #f5f7f2;
$color-13: #efefef;
$color-14: #fe5ea2;
$color-15: #ff009b;
$color-19: #e2e2e2;

$time-a1: all 0.3s ease-in;
$time-a2: all 0.5s ease-in;

$radius: 3px;