@import '../_variables.scss';
@import '../_mixins.scss';
@import '../_typography.scss';

.search-results {
  .results {
    @extend .small-text-01;
    font-weight: 700;
    color: $c-blue;
    >span {
      color: $c-red2;
    }
  }
  .detail {
    @extend .section;
    table {
      thead {
        @extend .small-text-01;
        background: $c-blue;
        color: $c-white;
      }
      th,
      td {
        padding: 8px 10px;
      }
      tbody {
        tr {
          border-bottom: 1px solid $bc-light;
          &:nth-child(2n+1) {
            background: $c-white;
          }
          td {
            &:nth-child(4) {
              min-width: 90px;
            }
            &:nth-child(5) {
              width: 245px;
            }
          }
        }
      }
    }
  }
}