@import '../_variables.scss';
@import '../_mixins.scss';

.c-observe {
  position: absolute;
  top: -30px;
  transform: translateY(-100%);
  right: 15px;

  .observe-item {
    margin-top: 10px;
    text-align: right;
    color: $c-white;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;

    .text {
      text-shadow: 1px 5px 2px $bs-black;
    }

    &:nth-child(1) {
      margin-top: 10px;
    }

    .data {
      width: 195px;
      display: inline-block;
      text-align: center;
      margin-left: 15px;
      border-radius: $round;
      box-shadow: 2px 5px 2px 0 $bs-black;
    }

    &:nth-child(1) {
      .text {
        color: $c-blue;
      }

      .data {
        background: $c-red;
      }
    }

    &:nth-child(2) {
      .data {
        background: $c-blue;
      }
    }
  }
}

