@import '../_variables.scss';
@import '../_mixins.scss';

.c-ring {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-top: 60px;

  .text {
    @extend .big-text-02;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 20%;
    padding-right: 30px;
    font-family: $f-theme;
    color: $c-white;
    text-transform: uppercase;
  }

  .ring-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-items: center;
      list-style: none;
      width: 6.66666%;
      margin-bottom: 10px;

      >span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        border: 1px solid $c-yellow3;
        color: $c-white;
        background: $c-yellow2;
        text-decoration: none;
        box-shadow: 0 2px 0 0px $bs-black;
      }

      &.active>a {
        background: $c-yellow1;
      }
    }
  }
}
