@import '../_variables.scss';
@import '../_mixins.scss';

.c-statute {
  position: relative;
  text-align: center;

  .headline {
    margin: 0;
    color: $c-white;
    font-weight: 700;
    font-family: $f-theme;
  }

  .content {
    display: flex;
    align-items: center;
    position: relative;
    width: 700px;
    min-height: 220px;
    margin-top: 30px;
    padding: 50px;
    background: $c-secondary;
    text-align: left;
    box-shadow: 2px 2px 1px 0px $bs-black;

    &.gim::after {
      left: 15px;
    }

    .inner {
      @extend .medium-text;
      color: $c-indigo;
      font-weight: 700;
      font-family: $f-theme;

      p {
        margin: 0;
      }
    }
  }

  .btn {
    display: inline-block;
    margin-top: 25px;
    min-width: 200px;
    text-align: center;
    padding: 15px 25px;
  }
}