.c-menu-fix {
  position: absolute;
  z-index: 999;
  top: 17.5vw;
  right: 4.6875vw;
  border: 1px solid $c-white;
  padding: 2px;
  background-color: #101d2f;
  border-radius: 2vw;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: $transition;

  @media (min-width: $breakpoints-xl) {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    background-image: url(../images/pc/menu-fix.png);
    width: 15.417vw;
    height: 2.917vw;
    background-size: cover;
    top: 0;
    right: 18.75vw;
    display: flex;
  }

  .link-item {
    height: 17.813vw;
    width: 17.813vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: $c-white;
    font-weight: bold;
    border-top: 1px solid #394263;
    border-bottom: 1px solid #050507;

    @media (min-width: $breakpoints-xl) {
      width: auto;
      height: auto;
      font-size: 0.834vw;
      line-height: 1;
      border-top: 0;
      border-bottom: 0;
    }

    >span {
      width: 100%;
      text-align: center;

      @media (min-width: $breakpoints-xl) {
        width: auto;
      }
    }

    &::before {
      display: block;
      content: '';
      height: 5.47vw;
      width: 5.47vw;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: .6vw;
    }

    &.link-fb {
      @media (min-width: $breakpoints-xl) {
        display: flex;
        align-items: center;
        position: relative;
        top: -8%;
        left: 15%;
      }

      &::before {
        background-image: url(../images/icon-fb-page.png);

        @media (min-width: $breakpoints-xl) {
          width: 1.3023vw;
          height: 1.3023vw;
          margin-bottom: 0;
        }
      }

      >span {
        @media (min-width: $breakpoints-xl) {
          width: 3vw;
        }
      }
    }

    &.link-group {
      @media (min-width: $breakpoints-xl) {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fffbbc;
        position: relative;
        top: -5%;
        left: 22%;
      }

      &::before {
        background-image: url(../images/icon-group.png);

        @media (min-width: $breakpoints-xl) {
          background-image: url(../images/pc/icon-group.png);
          width: 1.875vw;
          margin-bottom: 0;
        }
      }

      >span {
        @media (min-width: $breakpoints-xl) {
          width: 1.875vw;
          margin-left: 5px;
        }
      }
    }

    &:nth-child(1) {
      border-top: 0;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.menu-fix_active {
  .c-menu-fix {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: auto;
  }
}