<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- css -->
	<link rel="stylesheet" href="src/js/vendor/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="src/css/main.css">

</head>

<body class="home">

	<noscript>
		<![if !(lte IE 9)]>
		<div class="noscript-message">
			<div class="noscript-message__content">
				<p>Trinh duyệt của bạn không hỗ trợ hoặc đã tắt JavaScript, bạn vui lòng cập nhận trình đuyệt web hoặc mở
					JavaScript trong
					phần cài đặt.</p>
			</div>
		</div>
		<![endif]>
	</noscript>

	<div id="app">

		<!-- header -->
		<header class="header">

			<!-- navbar -->
			<nav class="navbar js-navbar">
				<div class="container">

					<div class="branb">
						<a href="http://"><img src="images/logo.png" alt=""></a>
					</div>

					<div class="nav-trigger">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</div>

					<div class="wrapper">

						<ul class="nav">
							<li class="nav-item">
								<a href="" class="nav-link">Trang chủ</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Giới thiệu</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Hưỡng dẫn</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Thông báo</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Tra cứu</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Số tay rèn luyện</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">Liên hệ</a>
							</li>
						</ul>

						<div class="search js-search">
							<div class="icon"><img src="./src/images/ic-search.svg" alt=""></div>
							<form class="form-search">
								<input class="form-control" type="search">
								<button class="btn" type="submit"><img src="./src/images/ic-search.svg" alt=""></button>
							</form>
						</div>

						<div class="btn-group">
							<a class="btn" href="#">Đăng ký</a>
							<a class="btn" href="#">Đăng nhập</a>
						</div>
					</div>


				</div>
			</nav>
			<!-- navbar end -->

		</header>
		<!-- header end -->

		<!-- main -->
		<main class="main">

			<!-- ratings table -->
			<section class="ratings-table">
				<div class="img-cover ratings-table-hero">
					<span class="img-cover__wrapper">
						<img src="images/topchienthang1.png" alt="">
					</span>
				</div>
				<div class="table-group">
					<div class="container">
						<div class="inner">
							<div class="item v1">
								<h2 class="headline">BẢNG XẾP HẠNG ĐỘI VIÊN</h2>
								<ul class="list">
									<li class="list-item">
										<div class="wrapper">
											<div class="user">
												<div class="img-cover avatar">
													<a href="#" class="img-cover__wrapper">
														<img src="images/user.png" alt="">
													</a>
												</div>
												<div class="name-address">
													<h3 class="name">Nguyễn Ngọc Thanh Đoan</h3>
													<p class="address">Tiểu học Mương Mán - Hàm Thuận Nam - Bình Thuận</p>
												</div>
											</div>
											<div class="info">
												<div class="number">Điểm: <span>45</span></div>
												<div class="date">05:09.359</div>
											</div>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="user">
												<div class="img-cover avatar">
													<a href="#" class="img-cover__wrapper">
														<img src="images/user.png" alt="">
													</a>
												</div>
												<div class="name-address">
													<h3 class="name">Nguyễn Ngọc Thanh Đoan</h3>
													<p class="address">Tiểu học Mương Mán - Hàm Thuận Nam - Bình Thuận</p>
												</div>
											</div>
											<div class="info">
												<div class="number">Điểm: <span>45</span></div>
												<div class="date">05:09.359</div>
											</div>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="user">
												<div class="img-cover avatar">
													<a href="#" class="img-cover__wrapper">
														<img src="images/user.png" alt="">
													</a>
												</div>
												<div class="name-address">
													<h3 class="name">Nguyễn Ngọc Thanh Đoan</h3>
													<p class="address">Tiểu học Mương Mán - Hàm Thuận Nam - Bình Thuận</p>
												</div>
											</div>
											<div class="info">
												<div class="number">Điểm: <span>45</span></div>
												<div class="date">05:09.359</div>
											</div>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="user">
												<div class="img-cover avatar">
													<a href="#" class="img-cover__wrapper">
														<img src="images/user.png" alt="">
													</a>
												</div>
												<div class="name-address">
													<h3 class="name">Nguyễn Ngọc Thanh Đoan</h3>
													<p class="address">Tiểu học Mương Mán - Hàm Thuận Nam - Bình Thuận</p>
												</div>
											</div>
											<div class="info">
												<div class="number">Điểm: <span>45</span></div>
												<div class="date">05:09.359</div>
											</div>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="user">
												<div class="img-cover avatar">
													<a href="#" class="img-cover__wrapper">
														<img src="images/user.png" alt="">
													</a>
												</div>
												<div class="name-address">
													<h3 class="name">Nguyễn Ngọc Thanh Đoan</h3>
													<p class="address">Tiểu học Mương Mán - Hàm Thuận Nam - Bình Thuận</p>
												</div>
											</div>
											<div class="info">
												<div class="number">Điểm: <span>45</span></div>
												<div class="date">05:09.359</div>
											</div>
										</div>
									</li>
								</ul>
								<a class="btn btn-success" href="">Xem thêm</a>
							</div>
							<div class="item v2">
								<h2 class="headline">BẢNG XẾP HẠNG TRƯỜNG</h2>
								<ul class="list">
									<li class="list-item">
										<div class="wrapper">
											<div class="number">1059 Đội viên</div>
											<p class="address">THCS Lê Hồng Phong - TP.Quy Nhơn - Bình Định</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">1059 Đội viên</div>
											<p class="address">THCS Lê Hồng Phong - TP.Quy Nhơn - Bình Định</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">1059 Đội viên</div>
											<p class="address">THCS Lê Hồng Phong - TP.Quy Nhơn - Bình Định</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">1059 Đội viên</div>
											<p class="address">THCS Lê Hồng Phong - TP.Quy Nhơn - Bình Định</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">1059 Đội viên</div>
											<p class="address">THCS Lê Hồng Phong - TP.Quy Nhơn - Bình Định</p>
										</div>
									</li>
								</ul>
								<a class="btn btn-success" href="">Xem thêm</a>
							</div>
							<div class="item v3">
								<h2 class="headline">BẢNG XẾP HẠNG TỈNH/ TP</h2>
								<ul class="list">
									<li class="list-item">
										<div class="wrapper">
											<div class="number">73.74 % Đội viên tham gia</div>
											<p class="address">Lai Châu</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">73.68 % Đội viên tham gia</div>
											<p class="address">Kon Tum</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">46.41 % Đội viên tham gia</div>
											<p class="address">Điện Biên</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">39.02 % Đội viên tham gia</div>
											<p class="address">Bình Định</p>
										</div>
									</li>
									<li class="list-item">
										<div class="wrapper">
											<div class="number">36.15 % Đội viên tham gia</div>
											<p class="address">Hà Nam</p>
										</div>
									</li>
								</ul>
								<a class="btn btn-success" href="">Xem thêm</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ratings table end -->

		</main>
		<!-- main end -->

		<!-- footer -->
		<footer class="footer">
			<div class="container">
				<div class="footer-info">
					<div class="footer-contact">
						<p><img src="images/logo.png" width="115" alt=""></p>
						<h4 class="title">Hỗ trợ nội dung rèn luyện hội đồng đội trung ương</h4>
						<ul>
							<li><i class="icon ic-address"></i>62 Bà Triệu, Quận Hoàn kiếm, Hà Nội</li>
							<li><i class="icon ic-email"></i>renluyendoivien@gmail.com</li>
							<li><i class="icon ic-phone"></i>1900 636 444 (Trong giờ Hành chính từ Thứ 2 - Thứ 6) <br> 1900 636 228
								(Ngoài giờ Hành chính, T7 + CN và các ngày Lễ, Tết)</li>
						</ul>
					</div>
					<div class="footer-facebook">
						<iframe
							src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=230&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
							width="340" height="230" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
							allowTransparency="true" allow="encrypted-media"></iframe>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<p>Copyright © 2019 Egroup. Design by VNEDUTECH. All rights reserved.</p>
					<div class="group-icon">
						<a href="#"><img src="./src/images/ic-www.svg" alt=""></a>
						<a href="#"><img src="./src/images/ic-fb.svg" alt=""></a>
						<a href="#"><img src="./src/images/ic-youtube.svg" alt=""></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->

	</div>

	<!-- js -->
	<script src="src/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="src/js/vendor/slick.min.js"></script>
	<script src="src/js/vendor/fancybox/jquery.fancybox.min.js"></script>
	<script src="src/js/main.js"></script>

</body>

</html>