<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/popper.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!-- header -->
    <header class="header">
        <!-- top bar -->
        <div class="container topbar">
            <div class="row">
                <div class="col-12">
                    <div class="logo">
                        <a href="#">
                            <img src="./pic/logo.png" alt="">
                        </a>
                    </div>
                    <div class="contact-h">
                        <span class="phone"><img src="./css/icons/h1.png" alt=""> 024.3225.2096</span>
                        <span class="email"><img src="./css/icons/h2.png" alt=""> truyenhinhsonghong@gmail.com</span>
                    </div>
                    <div class="search">
                        <div class="form-search">
                            <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
                            <a href="#"><img src="./css/icons/h3.png" alt=""></a>
                        </div>
                    </div>
                    <div class="social">
                        <a href="#"><img src="./css/icons/fb.png" alt=""></a>
                        <a href="#"><img src="./css/icons/tt.png" alt=""></a>
                        <a href="#"><img src="./css/icons/gg.png" alt=""></a>
                        <a href="#"><img src="./css/icons/yt.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end top bar -->
        <!-- menu main -->
        <nav class="menu-main">
            <div class="inner">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Giới thiệu</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dịch vụ kỹ thuật truyền hình</a></li>
                            <li><a href="#">Dịch vụ truyền dẫn</a></li>
                            <li><a href="#">Quảng cáo</a></li>
                            <li><a href="#">Số hóa truyền hình</a></li>
                            <li><a href="#">Tổ chức sự kiện</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hôm nay xem gì</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên Hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end menu main -->
    </header>
    <!-- end header -->

    <!-- breadcrumb -->
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <nav class="col-12 breadcrumb">
                    <a class="breadcrumb-item" href="#">Trang chủ</a>
                    <a class="breadcrumb-item active" href="#">Giới thiệu</a>
                </nav>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <!-- main -->
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-12 top-sv">
                    <h2 class="text-center">Dịch vụ của RTB</h2>
                    <p>Thực hiện Quy hoạch và Đề án số hóa truyền dẫn, phát sóng truyền hình mặt đất đến năm 2020 của Thủ tướng
                        Chính phủ, Đài PT&TH tỉnh chủ động xây dựng Dự án đầu tư trang thiết bị kỹ thuật giai đoạn 2015 –
                        2020, nội dung cụ thể của dự án được chia làm 2 giai đoạn. Giai đoạn I, đầu tư nâng cấp trang thiết
                        bị phục vụ sản xuất và truyền dẫn; hệ thống sản xuất phát sóng phát thanh và các thiết bị phụ trợ</p>
                </div>
                <div class="col-12 group-itemsv">
                    <div class="row inner">
                        <div class="col-12 col-md-6 col-lg-4 item-sv">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                            <img src="./pic/demo.jpg">
                                        </a>
                            </div>
                            <div class="content">
                                <h3><a href="#">Dịch vụ kỹ thuật truyền hình</a></h3>
                                <div class="summary">Trong lĩnh vực nhà ở dân dụng, từ những ngôi nhà phố tưởng chừng đơn giản cho tới các biệt
                                    thự với qui mô lớn, nếu thiếu sự sáng tạo</div>
                            </div>
                            <ul class="nav-sv">
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 item-sv">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                                <img src="./pic/demo.jpg">
                                            </a>
                            </div>
                            <div class="content">
                                <h3><a href="#">Dịch vụ kỹ thuật truyền hình</a></h3>
                                <div class="summary">Trong lĩnh vực nhà ở dân dụng, từ những ngôi nhà phố tưởng chừng đơn giản cho tới các biệt
                                    thự với qui mô lớn, nếu thiếu sự sáng tạo</div>
                            </div>
                            <ul class="nav-sv">
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 item-sv">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                                    <img src="./pic/demo.jpg">
                                                </a>
                            </div>
                            <div class="content">
                                <h3><a href="#">Dịch vụ kỹ thuật truyền hình</a></h3>
                                <div class="summary">Trong lĩnh vực nhà ở dân dụng, từ những ngôi nhà phố tưởng chừng đơn giản cho tới các biệt
                                    thự với qui mô lớn, nếu thiếu sự sáng tạo</div>
                            </div>
                            <ul class="nav-sv">
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 item-sv">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                                        <img src="./pic/demo.jpg">
                                                    </a>
                            </div>
                            <div class="content">
                                <h3><a href="#">Dịch vụ kỹ thuật truyền hình</a></h3>
                                <div class="summary">Trong lĩnh vực nhà ở dân dụng, từ những ngôi nhà phố tưởng chừng đơn giản cho tới các biệt
                                    thự với qui mô lớn, nếu thiếu sự sáng tạo</div>
                            </div>
                            <ul class="nav-sv">
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 item-sv">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/demo.jpg">
                                                        </a>
                            </div>
                            <div class="content">
                                <h3><a href="#">Dịch vụ kỹ thuật truyền hình</a></h3>
                                <div class="summary">Trong lĩnh vực nhà ở dân dụng, từ những ngôi nhà phố tưởng chừng đơn giản cho tới các biệt
                                    thự với qui mô lớn, nếu thiếu sự sáng tạo</div>
                            </div>
                            <ul class="nav-sv">
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 item-sv">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                                                <img src="./pic/demo.jpg">
                                                            </a>
                            </div>
                            <div class="content">
                                <h3><a href="#">Dịch vụ kỹ thuật truyền hình</a></h3>
                                <div class="summary">Trong lĩnh vực nhà ở dân dụng, từ những ngôi nhà phố tưởng chừng đơn giản cho tới các biệt
                                    thự với qui mô lớn, nếu thiếu sự sáng tạo</div>
                            </div>
                            <ul class="nav-sv">
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                                <li><a href="#">Dịch vụ kĩ thuật truyền hình 1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav-footer">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="./css/icons/home.png" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hôm nay xem gì</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 text-center social-f">
                    <div class="logo-f">
                        <a href="#"><img src="./pic/logo.png" alt=""></a>
                    </div>
                    <strong>Công ty cổ phần truyền dẫn, phát sóng
                        <br> truyền hình đồng bằng sông Hồng</strong>
                    <div class="social">
                        <a href="#"><img src="./css/icons/fb.png" alt=""></a>
                        <a href="#"><img src="./css/icons/tt.png" alt=""></a>
                        <a href="#"><img src="./css/icons/gg.png" alt=""></a>
                        <a href="#"><img src="./css/icons/yt.png" alt=""></a>
                    </div>
                </div>
                <div class="col-12 col-lg-8 text-center contact-f">
                    <div class="row">
                        <div class="col-6 col-md-3 item">
                            <img src="./css/icons/h4.png" alt="">
                            <p>30 Trung liệt, P.Trung liệt
                                <br> Q.Đống Đa, Hà nội</p>
                        </div>
                        <div class="col-6 col-md-3 item">
                            <img src="./css/icons/h5.png" alt="">
                            <p>+(04) 3225 2096</p>
                        </div>
                        <div class="col-6 col-md-3 item">
                            <img src="./css/icons/h6.png" alt="">
                            <p>truyenhinhsonghong@gmail.com</p>
                        </div>
                        <div class="col-6 col-md-3 item">
                            <img src="./css/icons/h7.png" alt="">
                            <p>Liên hệ Quảng cáo:
                                <br>+(04) 3225 2096</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span>Copyright © 2017 rtb.com.vn All rights reserved. Thiết kế website và SEO  Google <a href="http://tatthanh.com.vn/">Tất Thành</a></span>
                        <span class="online"><img src="./css/icons/online.png" alt=""> Đang online: 20</span>
                        <span class="t-online"><img src="./css/icons/tong-onlile.png" alt=""> Tổng truy cập: 125890</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <div class="ve-top">
        <img src="./css/icons/ve-top.png" alt="">
    </div>

</body>

</html>