<!DOCTYPE html>
<html lang="vi_VN">

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="Anh">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="" type="image/png">
	<!-- css -->
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/fonts/font-awesome/./css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/slick.css">
	<link rel="stylesheet" href="./css/perfect-scrollbar.css">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./css/responsive.css">
</head>

<body>

	<!-- header -->
	<header class="header header-mini">
		<!-- top menu logo -->
		<section class="menu-logo">
			<div class="container no-gutter">
				<div class="row">
					<!--logo-->
					<div class="col-lg-2 logo">
						<div class="khungAnh">
							<a class="khungAnhCrop0" href="#">
								<img src="./pic/logo.png" />
							</a>
						</div>
					</div>
					<!--menu top-->
					<div class="col-lg-10 no-gutter menu-top">
						<nav class="navbar navbar-toggleable-md navbar-light">
							<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						</button>
							<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
								<ul class="navbar-nav" id="menu-top">
									<li class="nav-item">
										<a class="nav-link" href="#"></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">giới thiệu</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">công trình</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
										    aria-expanded="false">dịch vụ</a>
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="#">Tư vấn thiêt kế công trình</a>
											<a class="dropdown-item" href="#">Tư vấn thiết kế nội thất</a>
											<a class="dropdown-item" href="#">Thi công xây dựng</a>
											<a class="dropdown-item" href="#">trang trí nội thất.</a>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">tin tức</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">liên hệ</a>
									</li>
								</ul>
								<div class="form-inline search">
									<input type="text" placeholder="Từ khóa tìm kiếm">
									<a href="#" id="button-search"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- slide top -->
		<section class="slide-top">
			<div class="khungAnh">
				<a class="khungAnhCrop" href="#">
					<img src="./pic/slide-to.png" />
				</a>
			</div>
		</section>
		<!--breadcrumb-->
		<section class="breadcrumb-s">
			<nav class="container breadcrumb">
				<a class="breadcrumb-item" href="#">Trang chủ</a>
				<span class="breadcrumb-item active">Dịch vụ</span>
			</nav>
		</section>
	</header>

	<!--main-->
	<main class="main">
		<!--tu van thiet ke-->
		<section class="tuvan-tkct">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>Tư vấn thiết kế công trình</h2>
						<p class="content">
							Trong quá trình thi công công trình xây dựng giai đoạn đầu là giai đoạn quan trọng và tốn khá nhiều thời gian của gia chủ
							từ việc lắng nghe các chuyên gia tư vấn về công trình đến phác thảo bản vẻ, bản phối cho dự án, chưa kể đến những trường
							<br><br>
							hợp tư vấn phong thủy cho gia chủ, hay như bản thiết kế phải thiết kế đi thiết kế lại cho hợp với yêu cầu gia chủ.
							Công ty chúng tôi đã có nhiều kinh nghiệm trong lĩnh vực tư vấn và thiết kế xây dựng nhà ở, thi công công trình xây
							<br><br>
							dựng. Chúng tôi đã thực hiện rất nhiều các dự án lớn nhỏ về xây dựng như nhà phố, biệt thự, chung cư, nội ngoại thất,
							quán cafe. Chúng tôi cung cấp tới khách hàng dịch vụ tư vấn và thiết kế các công trình xây dựng một cách nhanh chóng
							<br><br>
							nhất, với những bản vẻ, bản phố công trình thi công luôn luôn hợp phong thủy và nhu cầu khách hàng Ngay từ bây giờ
							bạn có thể liên hệ trực tiếp tới công ty chúng tôi để được tư vấn và thiết kế cho công trình của bạn một cách nhanh
							chóng và hiện đại nhất. Thiết kế công trình gồm: thiết kế kiến trúc& nội thất: Là sự kết hợp của các yếu tố: Bố cục
							hình khối, tổ chức ngăn chia không gian, ứng dụng khoa học phong thủy, phối hợp cùng ánh sáng, màu sắc, vật liệu để
							tạo nên không gian hoạt động của con người tiện dụng, thoải mái và có tính thẩm mỹ. Nhu cầu được hoạt động trong không
							gian đẹp với vi khí hậu tốt từ thiết kế phong thủy hợp lý cho các hoạt động từ làm việc đến nghỉ ngơi, sinh hoạt trong
							cuộc sống hiện đại ngày càng được quan tâm. Việc sở hữu công trình, nhà ở hay căn hộ có thiết kế đẹp và khéo léo không
							chỉ mang đến không gian hoạt động tiện nghi, thoải mái tốt cho sức khỏe mà còn độc đáo mang đến niềm tự hào và phồn
							vinh cho chủ sở hữu. Với môi trường kinh doanh thương mại, thiết kế tốt sẽ góp phần tối ưu diện tích sử dụng nhờ bài
							trí hợp lý sẽ tiết kiệm đầu tư ban đầu, giảm chi phí trong quá trình hoạt động đồng thời với không gian đẹp và ấm cúng
							tạo ra sự thu hút đối khách hàng, gia tăng hiệu quả kinh doanh.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- quy trinh -->
		<section class="quytrinh">
			<div class="container">
				<div class="row">
					<h3 class="col-12 title">Quy trình thực hiện</h3>
					<div class="col-12 text-center no-gutter">
						<ul>
							<li>
								<div class="inner">
									<div class="khungAnh">
										<a class="khungAnhCrop0" href="#">
											<img src="./pic/qt1.png" />
										</a>
									</div>
									<p>Đặt hàng</p>
								</div>
							</li>
							<li>
								<div class="inner">
									<div class="khungAnh">
										<a class="khungAnhCrop0" href="#">
											<img src="./pic/qt2.png" />
										</a>
									</div>
									<p>thiết kế</p>
								</div>
							</li>
							<li>
								<div class="inner">
									<div class="khungAnh">
										<a class="khungAnhCrop0" href="#">
											<img src="./pic/qt3.png" />
										</a>
									</div>
									<p>Thi công</p>
								</div>

							</li>
							<li>
								<div class="inner">
									<div class="khungAnh">
										<a class="khungAnhCrop0" href="#">
											<img src="./pic/qt4.png" />
										</a>
									</div>
									<p>Nghiệm thu</p>
								</div>

							</li>
							<li>
								<div class="inner">
									<div class="khungAnh">
										<a class="khungAnhCrop0" href="#">
											<img src="./pic/qt5.png" />
										</a>
									</div>
									<p>Dịch vụ bảo hành</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--quy trinh tu van-->
		<section class="quytrinh-tvtk">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3 class="col-12 title">Quy trình của tư vấn thiết kế </h3>
						<ul class="col-12">
							<li class="row">
								<strong class="col-1">01</strong>
								<div class="col-11 content">
									<p>Bước 1: Tiếp nhận thông tin từ khách hàng và Kiến trúc sư tư vấn sơ bộ</p>
									<p>Kiến trúc sư tiếp xúc lần đầu và tiếp nhận yêu cầu thiết kế từ khách hàng. ở bước này, kiến trúc sư sẽ nắm bắt được
										sở thích, mong muốn của khách hàng và các yêu cầu khác của công trình. Dựa trên những yêu cầu do khách hàng đưa
										ra và hiện trạng lô đất dự kiến xây dựng, kiến trúc sư sẽ đưa ra những lời khuyên cũng như định hướng cho khách
										hàng để đảm bảo công năng, thẩm mỹ và phong thủy phù hợp.</p>
								</div>
							</li>
							<li class="row">
								<strong class="col-1">02</strong>
								<div class="col-11 content">
									<p>Bước 1: Tiếp nhận thông tin từ khách hàng và Kiến trúc sư tư vấn sơ bộ</p>
									<p>Kiến trúc sư tiếp xúc lần đầu và tiếp nhận yêu cầu thiết kế từ khách hàng. ở bước này, kiến trúc sư sẽ nắm bắt được
										sở thích, mong muốn của khách hàng và các yêu cầu khác của công trình. Dựa trên những yêu cầu do khách hàng đưa
										ra và hiện trạng lô đất dự kiến xây dựng, kiến trúc sư sẽ đưa ra những lời khuyên cũng như định hướng cho khách
										hàng để đảm bảo công năng, thẩm mỹ và phong thủy phù hợp.</p>
								</div>
							</li>
							<li class="row">
								<strong class="col-1">03</strong>
								<div class="col-11 content">
									<p>Bước 1: Tiếp nhận thông tin từ khách hàng và Kiến trúc sư tư vấn sơ bộ</p>
									<p>Kiến trúc sư tiếp xúc lần đầu và tiếp nhận yêu cầu thiết kế từ khách hàng. ở bước này, kiến trúc sư sẽ nắm bắt được
										sở thích, mong muốn của khách hàng và các yêu cầu khác của công trình. Dựa trên những yêu cầu do khách hàng đưa
										ra và hiện trạng lô đất dự kiến xây dựng, kiến trúc sư sẽ đưa ra những lời khuyên cũng như định hướng cho khách
										hàng để đảm bảo công năng, thẩm mỹ và phong thủy phù hợp.</p>
								</div>
							</li>
							<li class="row">
								<strong class="col-1">04</strong>
								<div class="col-11 content">
									<p>Bước 1: Tiếp nhận thông tin từ khách hàng và Kiến trúc sư tư vấn sơ bộ</p>
									<p>Kiến trúc sư tiếp xúc lần đầu và tiếp nhận yêu cầu thiết kế từ khách hàng. ở bước này, kiến trúc sư sẽ nắm bắt được
										sở thích, mong muốn của khách hàng và các yêu cầu khác của công trình. Dựa trên những yêu cầu do khách hàng đưa
										ra và hiện trạng lô đất dự kiến xây dựng, kiến trúc sư sẽ đưa ra những lời khuyên cũng như định hướng cho khách
										hàng để đảm bảo công năng, thẩm mỹ và phong thủy phù hợp.</p>
								</div>
							</li>
							<li class="row">
								<strong class="col-1">05</strong>
								<div class="col-11 content">
									<p>Bước 1: Tiếp nhận thông tin từ khách hàng và Kiến trúc sư tư vấn sơ bộ</p>
									<p>Kiến trúc sư tiếp xúc lần đầu và tiếp nhận yêu cầu thiết kế từ khách hàng. ở bước này, kiến trúc sư sẽ nắm bắt được
										sở thích, mong muốn của khách hàng và các yêu cầu khác của công trình. Dựa trên những yêu cầu do khách hàng đưa
										ra và hiện trạng lô đất dự kiến xây dựng, kiến trúc sư sẽ đưa ra những lời khuyên cũng như định hướng cho khách
										hàng để đảm bảo công năng, thẩm mỹ và phong thủy phù hợp.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div class="footer">
		<!-- doi tac -->
		<section class="container text-center doitac">
			<div class="row">
				<div class="col-12">
					<p>Đối tác - KHÁCH HÀNG</p>
					<div class="slide-doitac">
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b3.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b2.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b1.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b2.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b3.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- tu van -->
		<section class="tuvan">
			<div class="container">
				<div class="row">
					<div class="col-10 form-tuvan">
						<p>Tư vấn phong thủy</p>
						<ul class="inner">
							<li><input type="text" placeholder="Họ tên"></li>
							<li><input type="text" placeholder="Năm sinh"></li>
							<li>
								<select>
									<option>Hướng nhà</option>
									<option>Đông</option>
									<option>Tây</option>
									<option>Nam</option>
									<option>Bắc</option>
								</select>
							</li>
							<li>
								<span>Đính kèm bản vẽ</span>
								<input type="file" id="exampleInputFile">
							</li>
							<li>
								<span>Chưa có file</span>
								<a href="#">Gửi tư vấn</a>
							</li>
						</ul>
					</div>
					<div class="col-2 social">
						<p>paloma trên</p>
						<div class="icon">
							<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
							<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
							<a href="#" class="fa fa-pinterest-p" aria-hidden="true"></a>
							<a href="#" class="fa fa-youtube" aria-hidden="true"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--footer main-->
		<section class="footer-main">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 block">
						<strong>về paloma</strong>
						<ul>
							<li><a href="">Giới thiệu chung</a></li>
							<li><a href="">tầm nhìn - Sứ mệnh</a></li>
							<li><a href="">Giá trị cốt lõi</a></li>
							<li><a href="">Cơ sở vật chất</a></li>
						</ul>
					</div>
					<div class="col-lg-3 block">
						<strong>Phong cách thiết kế</strong>
						<ul>
							<li><a href="">Phong cách hiện đại</a></li>
							<li><a href="">Phong cách cổ điển</a></li>
							<li><a href="">Phong cách tân cổ điển</a></li>
							<li><a href="">Phong cách Á Đông</a></li>
							<li><a href="">Phong cách tân cổ điển</a></li>
							<li><a href="">Phong cách Á Đông</a></li>
						</ul>
					</div>
					<div class="col-lg-3 block">
						<strong>Tin tức</strong>
						<ul>
							<li><a href="">Tin công ty</a></li>
							<li><a href="">Phong cách thiết kế</a></li>
							<li><a href="">Tư vấn thiết kế</a></li>
							<li><a href="">Phong thủy – Màu sắc & Ngũ hành</a></li>
							<li><a href="">Tuyển dụng</a></li>
						</ul>
					</div>
					<div class="col-lg-3 block">
						<strong>palama.com.vn</strong>
						<p>Địa chỉ: Tòa 24T2, Hoàng Đạo Thúy, Hà Nội</p>
						<p>Tel: 04.625.10.556 - 04.625.12.958</p>
						<p>Email: noithatpaloma@gmail.com</p>
						<p>Website: www.tatthanh.com.vn</p>
						<a class="maps" id="maps-google" href="#">Bản đồ chỉ dẫn</a>
					</div>
				</div>
			</div>

		</section>
		<!--copyright-->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 no-gutter text-center text-md-left">
						<p>Copyright © 2017 Paloma. All right reserved</p>
					</div>
					<div class="col-lg-6 no-gutter text-center text-md-right">
						<span class="online">Đang online: 120</span>
						<span class="t-truycap">Tổng truy cập: 1.567.555</span>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="overlay-map"></div>
	<div class="maps-hide" id="maps-hide">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6280557078744!2d105.80077116540313!3d21.007541586009896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca19f3604b1%3A0x6419ede804b3b823!2zMjQgVDIsIEhvw6BuZyDEkOG6oW8gVGjDunksIFRydW5nIEjDsmEgTmjDom4gQ2jDrW5oLCBUcnVuZyBIb8OgLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1495722175606"
		    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="remove">ĐÓNG LẠI</div>


	<!-- js -->
	<script src="js/jquery.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
	<script src="js/infobox.js"></script>
	<script src="js/GoogleMapInit.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/perfect-scrollbar.jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>

</html>