<!DOCTYPE html>
<html lang="vi_VN">

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="Anh">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="" type="image/png">
	<!-- css -->
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/fonts/font-awesome/./css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/slick.css">
	<link rel="stylesheet" href="./css/perfect-scrollbar.css">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./css/responsive.css">
</head>

<body>

	<!-- header -->
	<header class="header header-mini">
		<!-- top menu logo -->
		<section class="menu-logo">
			<div class="container no-gutter">
				<div class="row">
					<!--logo-->
					<div class="col-lg-2 logo">
						<div class="khungAnh">
							<a class="khungAnhCrop0" href="#">
								<img src="./pic/logo.png" />
							</a>
						</div>
					</div>
					<!--menu top-->
					<div class="col-lg-10 no-gutter menu-top">
						<nav class="navbar navbar-toggleable-md navbar-light">
							<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						</button>
							<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
								<ul class="navbar-nav" id="menu-top">
									<li class="nav-item">
										<a class="nav-link" href="#"></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">giới thiệu</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">công trình</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
										    aria-expanded="false">dịch vụ</a>
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="#">Tư vấn thiêt kế công trình</a>
											<a class="dropdown-item" href="#">Tư vấn thiết kế nội thất</a>
											<a class="dropdown-item" href="#">Thi công xây dựng</a>
											<a class="dropdown-item" href="#">trang trí nội thất.</a>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">tin tức</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">liên hệ</a>
									</li>
								</ul>
								<div class="form-inline search">
									<input type="text" placeholder="Từ khóa tìm kiếm">
									<a href="#" id="button-search"><i class="fa fa-search" aria-hidden="true"></i></a>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- slide top -->
		<section class="slide-top">
			<div class="khungAnh">
				<a class="khungAnhCrop" href="#">
					<img src="./pic/slide-to.png" />
				</a>
			</div>
		</section>
		<!--breadcrumb-->
		<section class="breadcrumb-s">
			<nav class="container breadcrumb">
				<a class="breadcrumb-item" href="#">Trang chủ</a>
				<span class="breadcrumb-item active">Dịch vụ</span>
			</nav>
		</section>
	</header>

	<!--main-->
	<main class="main ">
		<div class="container ttds-10">
			<div class="row">
				<!--block left-->
				<section class="col-lg-3 block-left">
					<!--menu-->
					<ul class="menu-b_l">
						<li class="nav-item active">
							<a class="nav-link" href="#">Kiến trúc đẹp</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Không gian sống</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Tin tức sự kiện</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#">Phong Thủy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#">Truyền thống</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#">Nội thất đẹp</a>
						</li>
					</ul>
					<!--slide left-->
					<div class="slide-left">
						<h4>Phong cách thiết kế</h4>
						<div class="inner">
							<div class="item">
								<div class="img">
									<div class="khungAnh">
										<a class="khungAnhCrop" href="#" tabindex="0">
											<img src="./pic/1.png" class="tall">
										</a>
									</div>
								</div>
								<a class="tomtat" href="#" tabindex="0">Phong cách hiện đại trong thiết kế nội thất sẽ mang đến cho bạn.</a>
							</div>
							<div class="item">
								<div class="img">
									<div class="khungAnh">
										<a class="khungAnhCrop" href="#" tabindex="0">
											<img src="./pic/2.png" class="tall">
										</a>
									</div>
								</div>
								<a class="tomtat" href="#" tabindex="0">Phong cách hiện đại trong thiết kế nội thất sẽ mang đến cho bạn.</a>
							</div>
						</div>
					</div>
					<div class="block_l-ttnb">
						<div class="tin-to">
							<h4>Tin tức nổi bật</h4>
							<div class="content">
								<a href="">Những mẫu phòng tắm phù hợp với mọi diện tích và phong cách sống</a>
								<div class="time-view">
									<span class="time">Ngày đăng: 11/7/2016</span>
									<span class="view">Lượt xem: 2.658</span>
								</div>
								<p>Với yêu cầu của gia chủ khi muốn cải tạo lại không gian nhà theo phong cách hiện đại hơn.Với yêu cầu của gia chủ
									khi muốn cải tạo lại không gian nhà theo phong cách hiện đại hơn.Với yêu cầu của gia chủ khi muốn cải tạo lại không
									gian nhà theo phong cách hiện đại hơn. Với yêu cầu của gia chủ khi muốn cải tạo lại không gian nhà theo phong cách
									hiện đại hơn.Với yêu cầu của gia.</p>
							</div>
						</div>
						<ul class="tin-nho">
							<li class="row">
								<div class="col-4 img">
									<div class="khungAnh">
										<a class="khungAnhCrop" href="#" tabindex="0">
											<img src="./pic/2.png" class="tall">
										</a>
									</div>
								</div>
								<a href="#" class="col-8 content">Ba phong cách thiết kế nội thất chung cư “hot” nhất hiện nay</a>
							</li>
							<li class="row">
								<div class="col-4 img">
									<div class="khungAnh">
										<a class="khungAnhCrop" href="#" tabindex="0">
											<img src="./pic/2.png" class="tall">
										</a>
									</div>
								</div>
								<a href="#" class="col-8 content">Ba phong cách thiết kế nội thất chung cư “hot” nhất hiện nay</a>
							</li>
							<li class="row">
								<div class="col-4 img">
									<div class="khungAnh">
										<a class="khungAnhCrop" href="#" tabindex="0">
											<img src="./pic/2.png" class="tall">
										</a>
									</div>
								</div>
								<a href="#" class="col-8 content">Ba phong cách thiết kế nội thất chung cư “hot” nhất hiện nay</a>
							</li>
						</ul>
					</div>
				</section>
				<!--block right-->
				<section class="col-lg-9 block-right">
					<!--bai viet-->
					<div class="new-detail">
						<div href="#" title="" class="title-baiviet">
							<h1>Những ý tưởng thiết kế nội thất cho nhà ở luôn mát mẻ vào mùa hè</h1>
						</div>

						<div>
							<div class="thongke">
								<div class="thongke-ngay">
									<span>Ngày đăng: 08:32 - 20/06/2015</span>
								</div>
								<div class="thongke-luotxem">
									<span>Lượt xem: 123123</span>
								</div>
								<div class="cochu">
									<span>Cỡ chữ</span>
									<a href="javascript:DecreaseTextSize()" title="" class="SmallSize"></a>
									<a class="LargeSize" href="javascript:IncreaseTextSize()" title=""></a>
								</div>
							</div>
							<div class="noidung TextSize">
								<div class="nddes fRobotoB lh22 pb20">
									Nội dung ở đây
								</div>
							</div>
							<div id="CommonCuoiChiTietTin">
								<div class="fl apd dnmb">
									<a class="prevDBT" href="javascript:history.go(-1)">Về trang trước</a>
									<div class="fr pl20 apd dnmb">
										<a href="javascript:void(0)" class="email addthis_button_email">Gửi emmail</a>
										<a href="javascript:window.print()" class="print">In trang</a>
									</div>
								</div>
								<div class="fr">
									<!-- AddThis Button BEGIN -->
									<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
										<div id="fb-root"></div>
										<div class="fb-like" data-href="<%= linkFB %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
										<div class="g-plus" data-action="share" data-annotation="bubble"></div>
										<div class="shareItem">
											<a class="addthis_button_facebook"></a>
										</div>
										<div class="shareItem">
											<a class="addthis_button_twitter"></a>
										</div>
										<div class="shareItem">
											<a class="addthis_button_zingme"></a>
										</div>
										<div class="shareItem">
											<a class="addthis_button_compact"></a>
										</div>
									</div>
								</div>
								<div class="cb"></div>
							</div>
							<div class="cb"></div>
						</div>
					</div>
					<!--cac bai viet khac-->
					<div class="cb-vk">
						<strong>Các bài viết khác</strong>
						<div class="slide-cb_vk">
							<ul class="block">
								<li class="row item">
									<div class="col-3 img">
										<div class="khungAnh">
											<a class="khungAnhCrop" href="#">
												<img src="./pic/2.png" />
											</a>
										</div>
									</div>
									<div class="col-9 content">
										<a href="">Bộ GTVT phổ biến Luật sử dụng năng lượng TK&HQ</a>
										<div class="time-view">
											<span class="time">Ngày đăng: 11/7/2016</span>
											<span class="view">Lượt xem: 2.658</span>
										</div>
									</div>
								</li>
								<li class="row item">
									<div class="col-3 img">
										<div class="khungAnh">
											<a class="khungAnhCrop" href="#">
												<img src="./pic/2.png" />
											</a>
										</div>
									</div>
									<div class="col-9 content">
										<a href="">Bộ GTVT phổ biến Luật sử dụng năng lượng TK&HQ</a>
										<div class="time-view">
											<span class="time">Ngày đăng: 11/7/2016</span>
											<span class="view">Lượt xem: 2.658</span>
										</div>
									</div>
								</li>
							</ul>
							<ul class="block">
								<li class="row item">
									<div class="col-3 img">
										<div class="khungAnh">
											<a class="khungAnhCrop" href="#">
												<img src="./pic/2.png" />
											</a>
										</div>
									</div>
									<div class="col-9 content">
										<a href="">Bộ GTVT phổ biến Luật sử dụng năng lượng TK&HQ</a>
										<div class="time-view">
											<span class="time">Ngày đăng: 11/7/2016</span>
											<span class="view">Lượt xem: 2.658</span>
										</div>
									</div>
								</li>
								<li class="row item">
									<div class="col-3 img">
										<div class="khungAnh">
											<a class="khungAnhCrop" href="#">
												<img src="./pic/2.png" />
											</a>
										</div>
									</div>
									<div class="col-9 content">
										<a href="">Bộ GTVT phổ biến Luật sử dụng năng lượng TK&HQ</a>
										<div class="time-view">
											<span class="time">Ngày đăng: 11/7/2016</span>
											<span class="view">Lượt xem: 2.658</span>
										</div>
									</div>
								</li>
							</ul>
							<ul class="block">
								<li class="row item">
									<div class="col-3 img">
										<div class="khungAnh">
											<a class="khungAnhCrop" href="#">
												<img src="./pic/2.png" />
											</a>
										</div>
									</div>
									<div class="col-9 content">
										<a href="">Bộ GTVT phổ biến Luật sử dụng năng lượng TK&HQ</a>
										<div class="time-view">
											<span class="time">Ngày đăng: 11/7/2016</span>
											<span class="view">Lượt xem: 2.658</span>
										</div>
									</div>
								</li>
								<li class="row item">
									<div class="col-3 img">
										<div class="khungAnh">
											<a class="khungAnhCrop" href="#">
												<img src="./pic/2.png" />
											</a>
										</div>
									</div>
									<div class="col-9 content">
										<a href="">Bộ GTVT phổ biến Luật sử dụng năng lượng TK&HQ</a>
										<div class="time-view">
											<span class="time">Ngày đăng: 11/7/2016</span>
											<span class="view">Lượt xem: 2.658</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>

	<footer class="footer">
		<!-- doi tac -->
		<section class="container text-center doitac">
			<div class="row">
				<div class="col-12">
					<p>Đối tác - KHÁCH HÀNG</p>
					<div class="slide-doitac">
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b3.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/2.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b1.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/2.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b3.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="khungAnh">
								<a class="khungAnhCrop0" href="#">
									<img src="./pic/b4.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- tu van -->
		<section class="tuvan">
			<div class="container">
				<div class="row">
					<div class="col-10 form-tuvan">
						<p>Tư vấn phong thủy</p>
						<ul class="inner">
							<li><input type="text" placeholder="Họ tên"></li>
							<li><input type="text" placeholder="Năm sinh"></li>
							<li>
								<select>
									<option>Hướng nhà</option>
									<option>Đông</option>
									<option>Tây</option>
									<option>Nam</option>
									<option>Bắc</option>
								</select>
							</li>
							<li>
								<span>Đính kèm bản vẽ</span>
								<input type="file" id="exampleInputFile">
							</li>
							<li>
								<span>Chưa có file</span>
								<a href="#">Gửi tư vấn</a>
							</li>
						</ul>
					</div>
					<div class="col-2 social">
						<p>paloma trên</p>
						<div class="icon">
							<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
							<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
							<a href="#" class="fa fa-pinterest-p" aria-hidden="true"></a>
							<a href="#" class="fa fa-youtube" aria-hidden="true"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--footer main-->
		<section class="footer-main">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 block">
						<strong>về paloma</strong>
						<ul>
							<li><a href="">Giới thiệu chung</a></li>
							<li><a href="">tầm nhìn - Sứ mệnh</a></li>
							<li><a href="">Giá trị cốt lõi</a></li>
							<li><a href="">Cơ sở vật chất</a></li>
						</ul>
					</div>
					<div class="col-lg-3 block">
						<strong>Phong cách thiết kế</strong>
						<ul>
							<li><a href="">Phong cách hiện đại</a></li>
							<li><a href="">Phong cách cổ điển</a></li>
							<li><a href="">Phong cách tân cổ điển</a></li>
							<li><a href="">Phong cách Á Đông</a></li>
							<li><a href="">Phong cách tân cổ điển</a></li>
							<li><a href="">Phong cách Á Đông</a></li>
						</ul>
					</div>
					<div class="col-lg-3 block">
						<strong>Tin tức</strong>
						<ul>
							<li><a href="">Tin công ty</a></li>
							<li><a href="">Phong cách thiết kế</a></li>
							<li><a href="">Tư vấn thiết kế</a></li>
							<li><a href="">Phong thủy – Màu sắc & Ngũ hành</a></li>
							<li><a href="">Tuyển dụng</a></li>
						</ul>
					</div>
					<div class="col-lg-3 block">
						<strong>palama.com.vn</strong>
						<p>Địa chỉ: Tòa 24T2, Hoàng Đạo Thúy, Hà Nội</p>
						<p>Tel: 04.625.10.556 - 04.625.12.958</p>
						<p>Email: noithatpaloma@gmail.com</p>
						<p>Website: www.tatthanh.com.vn</p>
						<a class="maps" id="maps-google" href="#">Bản đồ chỉ dẫn</a>
					</div>
				</div>
			</div>

		</section>
		<!--copyright-->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 no-gutter text-center text-md-left">
						<p>Copyright © 2017 Paloma. All right reserved</p>
					</div>
					<div class="col-lg-6 no-gutter text-center text-md-right">
						<span class="online">Đang online: 120</span>
						<span class="t-truycap">Tổng truy cập: 1.567.555</span>
					</div>
				</div>
			</div>
		</section>
	</footer>

	<div class="overlay-map"></div>
	<div class="maps-hide" id="maps-hide">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6280557078744!2d105.80077116540313!3d21.007541586009896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca19f3604b1%3A0x6419ede804b3b823!2zMjQgVDIsIEhvw6BuZyDEkOG6oW8gVGjDunksIFRydW5nIEjDsmEgTmjDom4gQ2jDrW5oLCBUcnVuZyBIb8OgLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1495722175606"
		    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="remove">ĐÓNG LẠI</div>


	<!-- js -->
	<script src="js/jquery.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyBd0CRmUEi0rqasieRwBmdjh1a8J9IkYLU"></script>
	<script src="js/infobox.js"></script>
	<script src="js/GoogleMapInit.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/perfect-scrollbar.jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, "script", "facebook-jssdk"));
	</script>
	<script type="text/javascript">
		(function () {
			var po = document.createElement("script");
			po.type = "text/javascript";
			po.async = true;
			po.src = "https://apis.google.com/js/platform.js";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(po, s);
		})();
	</script>

	<script>
		var size = parseInt(jQuery(".TextSize").css("font-size"));
		var lineheight = parseInt(jQuery(".TextSize").css("line-height"));
		if (!size)
			size = 14;
		if (!lineheight)
			lineheight = 22;

		function IncreaseTextSize() {
			size++;
			lineheight += 2;

			jQuery(".TextSize")
				.css('cssText',
					'font-size:' +
					size +
					'px !important; line-height:' +
					lineheight +
					'px !important');
			jQuery(".TextSize")
				.find("*")
				.css('cssText',
					'font-size:' +
					size +
					'px !important; line-height:' +
					lineheight +
					'px !important');
		}

		function DecreaseTextSize() {
			size--;
			lineheight -= 2;

			jQuery(".TextSize")
				.css('cssText',
					'font-size:' +
					size +
					'px !important; line-height:' +
					lineheight +
					'px !important');
			jQuery(".TextSize")
				.find("*")
				.css('cssText',
					'font-size:' +
					size +
					'px !important; line-height:' +
					lineheight +
					'px !important');
		}

		function ResetTextSize() {
			size = 14;
			lineheight = 22;

			jQuery(".TextSize")
				.css('cssText',
					'font-size:' +
					size +
					'px !important; line-height:' +
					lineheight +
					'px !important');
			jQuery(".TextSize")
				.find("*")
				.css('cssText',
					'font-size:' +
					size +
					'px !important; line-height:' +
					lineheight +
					'px !important');
		}
	</script>

</body>

</html>