<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!-- header -->
    <header id="header">
        <!-- top bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-md-7 col-lg-8">
                        <!-- contact -->
                        <div class="contact">
                            <a class="address" href="#" title="Số 4, Ngọc Lâm, Long Biên, Hà Nội">Số 4, Ngọc Lâm, Long Biên, Hà Nội</a>
                            <a class="phone" href="tel: 024 66 731 114" title="024 66 731 114">tư vấn:
                                <b>024 66 731 114</b>
                            </a>
                            <a class="email" href="#" title="1888hanoi@gmail.com">Email: 1888hanoi@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-3 col-md-5 col-lg-4 text-right">
                        <!-- social -->
                        <span class="social">
                            <a class="fa-facebook" href="https://www.facebook.com/"></a>
                            <a class="fa-google-plus" href="https://plus.google.com/"></a>
                            <a class="fa-linkedin" href="https://www.linkedin.com/"></a>
                            <a class="fa-youtube" href="https://www.youtube.com/"></a>
                            <a class="fa-twitter" href="https://twitter.com/"></a>
                        </span>
                        <!-- Language -->
                        <span class="language">
                            <a href="#">
                                <img src="/./css/icons/vn.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/./css/icons/en.jpg" alt="">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- top bar end -->
        <!-- menu main -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- logo -->
                <a class="navbar-brand" href="#">
                    <img src="./pic/logo.png" alt="">
                </a>
                <!-- menu -->
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SẢN PHẨM</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Demo</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Demo</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DỰ ÁN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
                <!--search-->
                <div class="search">
                    <div class="form-search">
                        <input type="text" placeholder="Từ khóa tìm kiếm">
                        <a href="#" class="fa-search"></a>
                    </div>
                </div>
                <!-- button responsive -->
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
            </div>
        </nav>
        <!-- menu main end -->
    </header>
    <!-- header end -->

    <!-- main -->
    <main id="main">

        <!-- breadcrumb -->
        <section class="link-page">
            <div class="container">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="#">Trang chủ</a>
                    <a class="breadcrumb-item" href="#">Tin tức</a>
                </nav>
            </div>
        </section>
        <!-- end breadcrumb -->

        <!-- page -->
        <section class="page">
            <div class="container">
                <div class="row">
                    <!-- right page -->
                    <div class="col-12 col-lg-9 right-page-v2">
                        <h2 class="heading-page">TIN TỨC</h2>
                        <div class="group-item">
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n1.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Làm cửa kính cường lực ở đâu để vừa rẻ vừa đẹp</a></h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành hoàn
                                    hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                    <div class="btn-03"><a href="#">Chi tiết</a></div>
                                </div>
                            </article>
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n2.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Mẹo đơn giản giúp bạn vệ sinh cửa kính hiệu quả</a>
                                    </h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành
                                        hoàn hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                    <div class="btn-03">
                                        <a href="#">Chi tiết</a>
                                    </div>
                                </div>
                            </article>
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n3.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Xu hướng lựa chọn kính cường lực cho nội thất nhà ở</a>
                                    </h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành
                                        hoàn hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                        <div class="btn-03">
                                            <a href="#">Chi tiết</a>
                                        </div>
                                </div>
                            </article>
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n4.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Mẹo đơn giản giúp bạn vệ sinh cửa kính hiệu quả</a>
                                    </h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành
                                        hoàn hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                        <div class="btn-03">
                                            <a href="#">Chi tiết</a>
                                        </div>
                                </div>
                            </article>
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n5.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Xu hướng lựa chọn kính cường lực cho nội thất nhà ở</a>
                                    </h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành
                                        hoàn hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                        <div class="btn-03">
                                            <a href="#">Chi tiết</a>
                                        </div>
                                </div>
                            </article>
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n3.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Xu hướng lựa chọn kính cường lực cho nội thất nhà ở</a>
                                    </h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành
                                        hoàn hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                        <div class="btn-03">
                                            <a href="#">Chi tiết</a>
                                        </div>
                                </div>
                            </article>
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n4.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Mẹo đơn giản giúp bạn vệ sinh cửa kính hiệu quả</a>
                                    </h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành
                                        hoàn hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                        <div class="btn-03">
                                            <a href="#">Chi tiết</a>
                                        </div>
                                </div>
                            </article>
                            <article class="item-09">
                                <div class="framed-image">
                                    <a class="cut" href="#">
                                        <img src="./pic/n5.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>
                                        <a href="#">Xu hướng lựa chọn kính cường lực cho nội thất nhà ở</a>
                                    </h3>
                                    <div class="time-view tv3">
                                        <span class="time">11/7/2016</span>
                                        <span class="view">Lượt xem: 2.658</span>
                                    </div>
                                    <summary>Ngày nay, các loại cửa kính đang trở thành sự lựa chọn hàng đầu của các công trình xây dựng. Và người bạn đồng hành
                                        hoàn hảo không thể thiết cùng kính chính là các hệ nhôm....</summary>
                                        <div class="btn-03">
                                            <a href="#">Chi tiết</a>
                                        </div>
                                </div>
                            </article>
                        </div>
                        <!-- split pages -->
                        <div class="split-pages">
                            <div class="SplitPages">
                                <a class="dau" href="#">Đầu</a>
                                <a class="truoc" href="#">Trước</a>
                                <a class="hientai" href="#">1</a>
                                <a class="trangkhac" href="#">2</a>
                                <a class="trangkhac" href="#">3</a>
                                <a class="trangkhac" href="#">4</a>
                                <a class="sau" href="#">Sau</a>
                                <a class="cuoi" href="#">Cuối</a>
                            </div>
                        </div>
                    </div>
                    <!-- right page end -->
                    <!-- left page -->
                    <div class="col-12 col-lg-3 left-page-v2">
                        <!-- news right -->
                        <div class="news-right">
                            <div class="title-right">TIN TỨC NỔI BẬT</div>
                            <div class="group-item">
                                <div class="item-08">
                                    <div class="framed-image">
                                        <a class="cut" href="#">
                                            <img src="./pic/pr1.png">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                            <a href="#">Địa chỉ làm nhôm kính giá rẻ nhất Hà Nội</a>
                                        </div>
                                        <div class="time-view tv2">
                                            <span class="time">11/7/2016</span>
                                            <span class="view">2.658 lượt xem</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-08">
                                    <div class="framed-image">
                                        <a class="cut" href="#">
                                            <img src="./pic/pr1.png">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                            <a href="#">Địa chỉ làm nhôm kính giá rẻ nhất Hà Nội</a>
                                        </div>
                                        <div class="time-view tv2">
                                            <span class="time">11/7/2016</span>
                                            <span class="view">2.658 lượt xem</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-08">
                                    <div class="framed-image">
                                        <a class="cut" href="#">
                                            <img src="./pic/pr2.png">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                            <a href="#">Địa chỉ làm nhôm kính giá rẻ nhất Hà Nội</a>
                                        </div>
                                        <div class="time-view tv2">
                                            <span class="time">11/7/2016</span>
                                            <span class="view">2.658 lượt xem</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-08">
                                    <div class="framed-image">
                                        <a class="cut" href="#">
                                            <img src="./pic/pr3.png">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                            <a href="#">Địa chỉ làm nhôm kính giá rẻ nhất Hà Nội</a>
                                        </div>
                                        <div class="time-view tv2">
                                            <span class="time">11/7/2016</span>
                                            <span class="view">2.658 lượt xem</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-08">
                                    <div class="framed-image">
                                        <a class="cut" href="#">
                                            <img src="./pic/pr4.png">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                            <a href="#">Địa chỉ làm nhôm kính giá rẻ nhất Hà Nội</a>
                                        </div>
                                        <div class="time-view tv2">
                                            <span class="time">11/7/2016</span>
                                            <span class="view">2.658 lượt xem</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- left page end-->
                </div>
            </div>
        </section>
        <!-- page end -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 contact">
                    <div class="title">CÔNG TY CỔ PHẦN THƯƠNG MẠI, SẢN XUẤT VÀ XÂY DỰNG THÀNH NHI</div>
                    <div class="info">
                        <p>Trụ sở chính: Số 06, ngách 51, đường nam Đuống- phường Thượng </p>
                        <p>Thanh, quận Long Biên, Hà Nội</p>
                        <p>Email: kinhthanhnhi@gmail.com</p>
                        <p>Mobile: 0977980144 / 0963556991</p>
                        <p>Website: www.thanhhnijsc.com</p>
                    </div>
                    <span class="social">
                        <a class="fa-facebook" href="https://www.facebook.com/"></a>
                        <a class="fa-google-plus" href="https://plus.google.com/"></a>
                        <a class="fa-linkedin" href="https://www.linkedin.com/"></a>
                        <a class="fa-youtube" href="https://www.youtube.com/"></a>
                        <a class="fa-twitter" href="https://twitter.com/"></a>
                    </span>
                </div>
                <div class="col-12 nav-footer">
                    <div class="title">DANH MỤC SẢN PHẨM</div>
                    <ul>
                        <li>
                            <a href="#">Nhôm kính, kính cường lực</a>
                        </li>
                        <li>
                            <a href="#">Sơn bả</a>
                        </li>
                        <li>
                            <a href="#">Tư vấn thiết kế thi công công trình</a>
                        </li>
                        <li>
                            <a href="#">Cơ khí</a>
                        </li>
                        <li>
                            <a href="#">Sàn gỗ, thạch cao, giấy dán tường, tranh kính</a>
                        </li>
                        <li>
                            <a href="#">Phụ kiện kinh, phụ kiện nội thất</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 page-facebook">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src =
                                'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=226666764204714';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="215" data-small-header="false"
                        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/facebook">Facebook</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <span class="info">Bản quyền © 2018 thuộc về www.Thanhnhi.com.vn.</span>
                <a target="_bank" href="http://tatthanh.com.vn/" title="Click để xây dựng website - SEO chuyên nghiệp!" class="tatthanh">Thiết kế website và SEO - Tất Thành</a>
                <span class="statistics">
                    <span class="online">Đang online: 20</span>
                    <span class="total">Tổng truy cập: 125890</span>
                </span>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- back top -->
    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

    <!-- support -->
    <div class="support">
        <div class="wrapper-support">
            <div class="title">HỖ TRỢ TRỰC TUYẾN</div>
            <div class="img">
                <div class="framed-image">
                    <a class="cut" href="#">
                        <img src="./pic/ht.png">
                    </a>
                </div>
            </div>
            <div class="info">
                <a href="#" class="phone">024.66.731.114</a>
                <a href="#" class="email">1888hanoi@gmail.com</a>
                <a href="#" class="sky">thanhnhijsc1888hanoi</a>
            </div>
        </div>
    </div>

</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>