<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>

    <!-- header -->
    <header id="header">
        <!-- top bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-md-7 col-lg-8">
                        <!-- contact -->
                        <div class="contact">
                            <a class="address" href="#" title="Số 4, Ngọc Lâm, Long Biên, Hà Nội">Số 4, Ngọc Lâm, Long Biên, Hà Nội</a>
                            <a class="phone" href="tel: 024 66 731 114" title="024 66 731 114">tư vấn:
                                <b>024 66 731 114</b>
                            </a>
                            <a class="email" href="#" title="1888hanoi@gmail.com">Email: 1888hanoi@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-3 col-md-5 col-lg-4 text-right">
                        <!-- social -->
                        <span class="social">
                            <a class="fa-facebook" href="https://www.facebook.com/"></a>
                            <a class="fa-google-plus" href="https://plus.google.com/"></a>
                            <a class="fa-linkedin" href="https://www.linkedin.com/"></a>
                            <a class="fa-youtube" href="https://www.youtube.com/"></a>
                            <a class="fa-twitter" href="https://twitter.com/"></a>
                        </span>
                        <!-- Language -->
                        <span class="language">
                            <a href="#">
                                <img src="/./css/icons/vn.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/./css/icons/en.jpg" alt="">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- top bar end -->
        <!-- menu main -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- logo -->
                <a class="navbar-brand" href="#">
                    <img src="./pic/logo.png" alt="">
                </a>
                <!-- menu -->
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SẢN PHẨM</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Demo</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Demo</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DỰ ÁN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
                <!--search-->
                <div class="search">
                    <div class="form-search">
                        <input type="text" placeholder="Từ khóa tìm kiếm">
                        <a href="#" class="fa-search"></a>
                    </div>
                </div>
                <!-- button responsive -->
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
            </div>
        </nav>
        <!-- menu main end -->
    </header>
    <!-- header end -->

    <!-- main -->
    <main id="main">

        <!-- breadcrumb -->
        <section class="link-page">
            <div class="container">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="#">Trang chủ</a>
                    <a class="breadcrumb-item" href="#">Dự án</a>
                </nav>
            </div>
        </section>
        <!-- end breadcrumb -->

        <!-- page -->
        <section class="page page-project">
            <div class="container">
                <!-- new detail -->
                <div class="new-detail">
                    <!-- title -->
                    <div class="title">
                        <h1>Dự án đầu tư xây dựng công trình Nhà máy tuyển đồng Tả Phời</h1>
                    </div>
                    <!-- top -->
                    <div class="thongke">
                        <div class="thongke-ngay">
                            <span>Ngày đăng: 08:32 - 20/10/2017</span>
                        </div>
                        <div class="thongke-luotxem">
                            <span>Lượt xem: 1.999</span>
                        </div>
                        <div class="cochu">
                            <a class="ResetSize" href="javascript:ResetTextSize()">Cỡ chữ</a>
                            <a class="SmallSize" href="javascript:DecreaseTextSize()"></a>
                            <a class="LargeSize" href="javascript:IncreaseTextSize()"></a>
                        </div>
                    </div>
                    <!-- info detail -->
                    <div class="info-detail">
                        <div class="row warpper">
                            <div class="col-12 left">
                                <div class="slider-01">
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da8.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da1.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da2.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da3.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da4.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da5.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da6.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da7.png">
                                        </span>
                                    </div>
                                </div>
                                <div class="slider-02">
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da8.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da1.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da2.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da3.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da4.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da5.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da6.png">
                                        </span>
                                    </div>
                                    <div class="framed-image">
                                        <span class="cut">
                                            <img src="./pic/da7.png">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 right">
                                <div class="inner">
                                    <p>
                                        <b>Tên dự án:</b> Công trình PACIFIC PALACE – Xuân Mai, Hà Nội</p>
                                    <p>
                                        <b>Địa điểm:</b> Xuân Mai, Hà Nội</p>
                                    <p>
                                        <b>Chủ đầu tư:</b> Công ty xây dựng Thăng Long</p>
                                    <p>
                                        <b>Thời gian bắt đầu:</b> 12/2017</p>
                                    <p>
                                        <b>Thời gian kết thúc:</b> Chưa hoàn thành</p>
                                    <p>
                                        <b>Mô tả:</b> Thức hiện cùng lúc nhiều công trình trên địa bàn cả nước đội ngũ cán bộ
                                        công nhân lành nghề luôn cố gắng rút ngắn tiến độ thi công, đàm bảo kịp tiến độ và
                                        yêu cầu của khách hàng. 
                                        <br>
                                        Hạng mục kính vách ngăn cho gian hàng của Đai Hoc Quốc Gia
                                        Hà Nội là một điển hình tiêu biểu, sau đây là một số hình ảnh khảo sát, thi công,
                                        hoàn thiện công trình: Hạng mục kính vách ngăn cho gian hàng của Đai Hoc Quốc Gia
                                        Hà Nội là một điển hình tiêu biểu, sau đây là một số hình ảnh khảo sát, thi công,
                                        hoàn thiện công trình:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- center -->
                    <div class="noidung TextSize">
                        <div class="nddes fRobotoB lh22 pb20">
                            Nội dung ở đây
                        </div>
                    </div>
                    <!-- buttom -->
                    <div id="CommonCuoiChiTietTin">
                        <div class="fl apd dnmb">
                            <a class="prevDBT" href="javascript:history.go(-1)">Về trang trước</a>
                            <div class="fr pl20 apd dnmb">
                                <a href="javascript:void(0)" class="email addthis_button_email">Gửi emmail</a>
                                <a href="javascript:window.print()" class="print">In trang</a>
                            </div>
                        </div>
                        <div class="fr">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                                <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                                <div class="shareItem">
                                    <a class="addthis_button_facebook"></a>
                                </div>
                                <div class="shareItem">
                                    <a class="addthis_button_twitter"></a>
                                </div>
                                <div class="shareItem">
                                    <a class="addthis_button_zingme"></a>
                                </div>
                                <div class="shareItem">
                                    <a class="addthis_button_compact"></a>
                                </div>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
                            </div>
                            <script>
                                (function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, "script", "facebook-jssdk"));
                                (function () {
                                    var po = document.createElement("script");
                                    po.type = "text/javascript";
                                    po.async = true;
                                    po.src = "https://apis.google.com/js/platform.js";
                                    var s = document.getElementsByTagName("script")[0];
                                    s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                        </div>
                    </div>
                </div>
                <!-- end new detail -->
                <!-- other -->
                <div class="other">
                    <div class="title">Dự án liên quan</div>
                    <div class="row group-item slider-other-v2">
                        <article class="col-12 item-10">
                            <div class="framed-image">
                                <a class="cut" href="#">
                                    <img src="./pic/da9.png" class="wide">
                                </a>
                            </div>
                            <h3><a href="#">Hạng mục kính cường lực Đại Học Quốc Gia Hà Nội</a></h3>
                        </article>
                        <article class="col-12 item-10">
                            <div class="framed-image">
                                <a class="cut" href="#">
                                    <img src="./pic/da10.png" class="wide">
                                </a>
                            </div>
                            <h3><a href="#">Thi công tại CT tầng 9 HD BANK (32 Trần Hưng Đạo)</a></h3>
                        </article>
                        <article class="col-12 item-10">
                            <div class="framed-image">
                                <a class="cut" href="#">
                                    <img src="./pic/da11.png" class="wide">
                                </a>
                            </div>
                            <h3><a href="#">Công trình PACIFIC PALACE - Xuân Mai, Hà Nội</a></h3>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- page end -->

    </main>
    <!-- main end -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 contact">
                    <div class="title">CÔNG TY CỔ PHẦN THƯƠNG MẠI, SẢN XUẤT VÀ XÂY DỰNG THÀNH NHI</div>
                    <div class="info">
                        <p>Trụ sở chính: Số 06, ngách 51, đường nam Đuống- phường Thượng </p>
                        <p>Thanh, quận Long Biên, Hà Nội</p>
                        <p>Email: kinhthanhnhi@gmail.com</p>
                        <p>Mobile: 0977980144 / 0963556991</p>
                        <p>Website: www.thanhhnijsc.com</p>
                    </div>
                    <span class="social">
                        <a class="fa-facebook" href="https://www.facebook.com/"></a>
                        <a class="fa-google-plus" href="https://plus.google.com/"></a>
                        <a class="fa-linkedin" href="https://www.linkedin.com/"></a>
                        <a class="fa-youtube" href="https://www.youtube.com/"></a>
                        <a class="fa-twitter" href="https://twitter.com/"></a>
                    </span>
                </div>
                <div class="col-12 nav-footer">
                    <div class="title">DANH MỤC SẢN PHẨM</div>
                    <ul>
                        <li>
                            <a href="#">Nhôm kính, kính cường lực</a>
                        </li>
                        <li>
                            <a href="#">Sơn bả</a>
                        </li>
                        <li>
                            <a href="#">Tư vấn thiết kế thi công công trình</a>
                        </li>
                        <li>
                            <a href="#">Cơ khí</a>
                        </li>
                        <li>
                            <a href="#">Sàn gỗ, thạch cao, giấy dán tường, tranh kính</a>
                        </li>
                        <li>
                            <a href="#">Phụ kiện kinh, phụ kiện nội thất</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 page-facebook">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src =
                                'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=226666764204714';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="215" data-small-header="false"
                        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/facebook">Facebook</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <span class="info">Bản quyền © 2018 thuộc về www.Thanhnhi.com.vn.</span>
                <a target="_bank" href="http://tatthanh.com.vn/" title="Click để xây dựng website - SEO chuyên nghiệp!" class="tatthanh">Thiết kế website và SEO - Tất Thành</a>
                <span class="statistics">
                    <span class="online">Đang online: 20</span>
                    <span class="total">Tổng truy cập: 125890</span>
                </span>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- back top -->
    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

    <!-- support -->
    <div class="support">
        <div class="wrapper-support">
            <div class="title">HỖ TRỢ TRỰC TUYẾN</div>
            <div class="img">
                <div class="framed-image">
                    <a class="cut" href="#">
                        <img src="./pic/ht.png">
                    </a>
                </div>
            </div>
            <div class="info">
                <a href="#" class="phone">024.66.731.114</a>
                <a href="#" class="email">1888hanoi@gmail.com</a>
                <a href="#" class="sky">thanhnhijsc1888hanoi</a>
            </div>
        </div>
    </div>

</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/popper.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>