<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!-- header -->
    <div class="header" id="header">
        <div class="clear container">
            <!-- logo -->
            <div class="logo">
                <a href=""><img src="./pic/logo.png" alt=""></a>
            </div>
            <!-- menu main -->
            <nav class="menu-main">
                <div class="inner">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">MẶT BẰNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CHÍNH SÁCH BÁN HÀNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- menu main -->
            <!-- phone -->
            <div class="phone">
                <a href="tel:090 498 1981" title="090 498 1981"><img src="./css/icons/phone.png" alt=""> 090 498 1981</a>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- section image -->
    <div class="section-img">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="#">
                <img src="./pic/slider.png">
            </a>
        </div>
    </div>
    <!-- end section image -->

    <!-- section species 1 -->
    <section class="offset30 species-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 slider">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.jpg">
                        </a>
                    </div>
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                            <img src="./pic/demo.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 content">
                    <h1 class="title-species1">VINHOMES SMART CITY</h1>
                    <strong>ĐẲNG CẤP NGƯỜI THÀNH ĐẠT</strong>
                    <div class="text">noi dung o day</div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section species 1 -->

    <!-- section species 2 -->
    <section class="offset30 species-2">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-species2">
                    <h2>VỊ THẾ UY PHONG – TỌA ĐỘ VÀNG CỦA HÀ NỘI</h2>
                    <div class="text">Quis sint sint pariatur labore incididunt ut est sit do veniam. Exercitation occaecat amet officia veniam
                        ex tempor reprehenderit dolore ex. Laborum ullamco nisi proident nulla voluptate irure ut quis culpa
                        incididunt laboris adipisicing quis id. Est labore officia ut est laborum ea commodo commodo non
                        elit.
                    </div>
                    <img src="css/bg/1.png" alt="">
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center item">
                    <div class="img"><img src="./pic/1.png"></div>
                    <h3>Laboris reprehenderit exercitation sit exercitation quis aliqua nostrud minim non laboris nulla laborum.</h3>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center item">
                    <div class="img"><img src="./pic/2.png"></div>
                    <h3>Laboris reprehenderit exercitation sit exercitation quis aliqua nostrud minim non laboris nulla laborum.</h3>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center item">
                    <div class="img"><img src="./pic/3.png"></div>
                    <h3>Laboris reprehenderit exercitation sit exercitation quis aliqua nostrud minim non laboris nulla laborum.</h3>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center item">
                    <div class="img"><img src="./pic/4.png"></div>
                    <h3>Laboris reprehenderit exercitation sit exercitation quis aliqua nostrud minim non laboris nulla laborum.</h3>
                </div>
                <div class="col-12 text-center btn-s">
                    <a href="#footer" id="btn-s"><i class="fa fa-caret-left" aria-hidden="true"></i><i class="fa fa-caret-left" aria-hidden="true"></i> <span>SỰ KIỆN MỞ BÁN CUỐI CÙNG SẮP DIỄN RA - QUÝ VỊ CÓ MUỐN THAM DỰ?</span> <i class="fa fa-caret-right" aria-hidden="true"></i><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
            </div>
    </section>
    <!-- end section species 2 -->

    <!-- section species 3 -->
    <section class="offset30 species-3" style="background: url(../css/bg/6.png)">
        <div class="clear container">
            <div class="content">
                <h2>THÔNG TIN TỔNG QUAN VỀ DỰ ÁN VINHOMES SMART CITY</h2>
                <div class="text">
                    noi dung o day
                </div>
            </div>
        </div>
    </section>
    <!-- end section species 3 -->

    <!-- form adv -->
    <section class="offset45 form-adv" id="form-adv">
        <div class="container text-center">
            <div class="inner">
                <div class="text">
                    <h2>CƠ HỘI CUỐI CÙNG SỞ HỮU CĂN HỘ CAO CẤP VINHOMES SMART CITY</h2>
                    <strong>VỚI NHIỀU ƯU ĐÃI ĐẶC BIỆT</strong>
                    <a href="tel:090 498 1981" title="090 498 1981">NHẬN ƯU ĐÃI ĐẶC BIỆT NGAY!  HOTLINE: 090 498 1981</a>
                </div>
                <div class="clear form">
                    <input type="text" placeholder="Họ và tên *">
                    <input type="text" placeholder="Số điện thoại *">
                    <input type="text" placeholder="Email">
                    <a href="#">Gửi</a>
                </div>
            </div>
        </div>
    </section>
    <!-- form adv -->

    <!-- section species 4 -->
    <section class="offset45 text-center species-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-species2">
                    <h2>VỊ THẾ UY PHONG – TỌA ĐỘ VÀNG CỦA HÀ NỘI</h2>
                    <img src="css/bg/1.png" alt="">
                </div>
                <div class="col-12 col-md-4 item">
                    <div class="img">
                        <a href="#"><img src="./pic/18.png" alt=""></a>
                    </div>
                    <h3><a href="#">Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</a></h3>
                    <div class="summary">Ullamco deserunt reprehenderit amet aliqua enim velit mollit ad ut mollit sit duis. Aute excepteur eiusmod
                        commodo proident culpa laboris ad. Qui mollit deserunt aute adipisicing mollit. Ad adipisicing sunt
                        eiusmod tempor deserunt veniam. Sit minim consectetur culpa ut elit. Et sit anim minim ea sit. Lorem
                        reprehenderit dolor velit anim id sit dolor enim.</div>
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i> Xem chi tiết</a>
                </div>
                <div class="col-12 col-md-4 item">
                    <div class="img">
                        <a href="#"><img src="./pic/18.png" alt=""></a>
                    </div>
                    <h3><a href="#">Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</a></h3>
                    <div class="summary">Ullamco deserunt reprehenderit amet aliqua enim velit mollit ad ut mollit sit duis. Aute excepteur eiusmod
                        commodo proident culpa laboris ad. Qui mollit deserunt aute adipisicing mollit. Ad adipisicing sunt
                        eiusmod tempor deserunt veniam. Sit minim consectetur culpa ut elit. Et sit anim minim ea sit. Lorem
                        reprehenderit dolor velit anim id sit dolor enim.</div>
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i> Xem chi tiết</a>
                </div>
                <div class="col-12 col-md-4 item">
                    <div class="img">
                        <a href="#"><img src="./pic/18.png" alt=""></a>
                    </div>
                    <h3><a href="#">Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</a></h3>
                    <div class="summary">Ullamco deserunt reprehenderit amet aliqua enim velit mollit ad ut mollit sit duis. Aute excepteur eiusmod
                        commodo proident culpa laboris ad. Qui mollit deserunt aute adipisicing mollit. Ad adipisicing sunt
                        eiusmod tempor deserunt veniam. Sit minim consectetur culpa ut elit. Et sit anim minim ea sit. Lorem
                        reprehenderit dolor velit anim id sit dolor enim.</div>
                    <a href="#"><i class="fa fa-share" aria-hidden="true"></i> Xem chi tiết</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section species 4 -->

    <!-- section species 5 -->
    <section class="offset30 species-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-species2">
                    <h2>VINHOMES SMART CITY ĐẲNG CẤP THƯỢNG LƯU ĐẦU TƯ VƯỢT TRỘI</h2>
                    <img src="css/bg/1.png" alt="">
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="img">
                        <a href="#"><img src="./pic/5.png"></a>
                    </div>
                    <div class="content">
                        <h3>Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</h3>
                        <div class="text">Anim nisi non veniam velit elit occaecat cillum ullamco nisi. Ea consequat commodo ad nisi eiusmod
                            excepteur esse ipsum velit nulla veniam ullamco. Eu laboris Lorem cillum reprehenderit non duis
                            quis incididunt ex. Laboris culpa cupidatat aliquip reprehenderit commodo cillum culpa. Adipisicing
                            ea ex aliqua irure ut ullamco ipsum pariatur.</div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="img">
                        <a href="#"><img src="./pic/6.png"></a>
                    </div>
                    <div class="content">
                        <h3>Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</h3>
                        <div class="text">Anim nisi non veniam velit elit occaecat cillum ullamco nisi. Ea consequat commodo ad nisi eiusmod
                            excepteur esse ipsum velit nulla veniam ullamco. Eu laboris Lorem cillum reprehenderit non duis
                            quis incididunt ex. Laboris culpa cupidatat aliquip reprehenderit commodo cillum culpa. Adipisicing
                            ea ex aliqua irure ut ullamco ipsum pariatur.</div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="img">
                        <a href="#"><img src="./pic/7.png"></a>
                    </div>
                    <div class="content">
                        <h3>Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</h3>
                        <div class="text">Anim nisi non veniam velit elit occaecat cillum ullamco nisi. Ea consequat commodo ad nisi eiusmod
                            excepteur esse ipsum velit nulla veniam ullamco. Eu laboris Lorem cillum reprehenderit non duis
                            quis incididunt ex. Laboris culpa cupidatat aliquip reprehenderit commodo cillum culpa. Adipisicing
                            ea ex aliqua irure ut ullamco ipsum pariatur.</div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="img">
                        <a href="#"><img src="./pic/8.png"></a>
                    </div>
                    <div class="content">
                        <h3>Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</h3>
                        <div class="text">Anim nisi non veniam velit elit occaecat cillum ullamco nisi. Ea consequat commodo ad nisi eiusmod
                            excepteur esse ipsum velit nulla veniam ullamco. Eu laboris Lorem cillum reprehenderit non duis
                            quis incididunt ex. Laboris culpa cupidatat aliquip reprehenderit commodo cillum culpa. Adipisicing
                            ea ex aliqua irure ut ullamco ipsum pariatur.</div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="img">
                        <a href="#"><img src="./pic/9.png"></a>
                    </div>
                    <div class="content">
                        <h3>Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</h3>
                        <div class="text">Anim nisi non veniam velit elit occaecat cillum ullamco nisi. Ea consequat commodo ad nisi eiusmod
                            excepteur esse ipsum velit nulla veniam ullamco. Eu laboris Lorem cillum reprehenderit non duis
                            quis incididunt ex. Laboris culpa cupidatat aliquip reprehenderit commodo cillum culpa. Adipisicing
                            ea ex aliqua irure ut ullamco ipsum pariatur.</div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="img">
                        <a href="#"><img src="./pic/10.png"></a>
                    </div>
                    <div class="content">
                        <h3>Proident nostrud exercitation aliquip aliqua reprehenderit Lorem.</h3>
                        <div class="text">Anim nisi non veniam velit elit occaecat cillum ullamco nisi. Ea consequat commodo ad nisi eiusmod
                            excepteur esse ipsum velit nulla veniam ullamco. Eu laboris Lorem cillum reprehenderit non duis
                            quis incididunt ex. Laboris culpa cupidatat aliquip reprehenderit commodo cillum culpa. Adipisicing
                            ea ex aliqua irure ut ullamco ipsum pariatur.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section species 5 -->

    <!-- section species 6 -->
    <section class="species-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-species2">
                    <h2>VINHOMES SMART CITY ĐẲNG CẤP THƯỢNG LƯU ĐẦU TƯ VƯỢT TRỘI</h2>
                    <img src="css/bg/1.png" alt="">
                </div>
                <div class="col-12 content">
                    <img src="./pic/11.png" alt="">
                    <div class="text">Tại Vinhomes Smart City, các hệ thống tiện ích đồng bộ 5 sao đẳng cấp của giới thượng lưu chắc chắn sẽ
                        đem đến cho những cư dân tương lai của khu đô thị cao cấp này một không gian sống hài hòa giữa cây
                        xanh và mặt nước cùng những giá trị sống lý tưởng bậc nhất. Con em cư dân cũng được hưởng hệ thống
                        giáo dục chất lượng cao Vinschool.</div>
                    <div class="clear link">
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Nulla deserunt adipisicing cillum sunt ut ad minim ea elit.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Ut do consectetur reprehenderit exercitation quis do qui culpa enim officia culpa proident.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Excepteur dolor anim fugiat elit reprehenderit nostrud.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consectetur velit esse labore sit aliquip nostrud.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Lorem consectetur pariatur veniam dolore incididunt minim aliquip ea incididunt ea nulla cillum.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Eu minim qui enim qui ullamco veniam id ad eu pariatur.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consequat adipisicing proident sunt pariatur duis ex irure nostrud laborum ea aute laborum magna occaecat.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Labore quis elit voluptate esse cupidatat quis velit.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Magna nostrud magna aliquip eu minim deserunt laboris velit Lorem.</a>
                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Est nostrud tempor laboris sunt cillum dolore commodo dolor consequat cupidatat aliqua dolor ullamco sint.</a>
                    </div>
                </div>
                <div class="col-12 maps">
                    <img src="./pic/maps.png" alt="">
                </div>
                <div class="col-12 col-lg-8 procedure">
                    <h2>QUY TRÌNH GIAO DỊCH DỰ ÁN VINHOMES SMART CITY</h2>
                    <div class="d"><span>1</span>Quý khách quan tâm dự án vui lòng đăng ký lịch tư vấn chuyên sâu, đặt lịch tham quan dự
                        án miễn phí.</div>
                    <div class="d"><span>2</span>Chuyên viên tư vấn dự án, tư vấn ngân hàng để giúp quý khách lựa chọn được sản phầm BĐS
                        phù hợp nhất với nhu cầu, mong muốn và tài chính của quý khách hàng</div>
                    <div class="d"><span>3</span>Đặt cọc - Lấy thông tin, hướng dẫn tận tình giúp quý khách hàng làm thủ tục ký thỏa thuận
                        đặt cọc mua Vinhomes Smart City với CĐT tại sàn giao dịch của chủ đầu tư Vingroup.</div>
                    <div class="d"><span>4</span>Ký hợp đồng mua bán Vinhomes Smart City với sàn giao dịch BĐS Vinhomes của CĐT Vingroup.
                        Chuyên viên của chúng tôi sẽ giúp quý khách hàng tránh những rủi ro về thủ tục pháp lý.</div>
                    <div class="d"><span>5</span>Quý khách thanh toán theo tiến độ xây dựng dự án đã ký theo hợp đồng mua bán với CĐT Vingroup.
                        Chúng tôi sẽ cập nhật hình ảnh thi công thực tế dựa án cho quý khách hàng 2 tuần 1 lần.</div>
                    <div class="d"><span>6</span>Quý khách nhận bàn giao nhà khi dự án hoàn thành theo tiến độ, chúng tôi sẽ hỗ trợ khách
                        hàng hoàn thành các thủ tục hồ sơ cấp sổ đỏ cho Vinhomes Smart City và các thủ tục bàn giao cho thuê.</div>
                </div>
                <div class="col-12 col-lg-4 register">
                    <div class="inner">
                        <h2>Đăng ký nhận thông tin bảng giá, diện tích căn hộ Vinhomes Smart City</h2>
                        <p>Hãy gửi liên hệ cho chúng tôi để nhận được những thông tin mới nhất, chính xác nhất về giá cả, diện
                            tích căn hộ... của dự án Vinhomes Smart City</p>
                        <div class="clear form">
                            <input type="text" placeholder="Họ và tên">
                            <input type="text" placeholder="Số điện thoại">
                            <input type="text" placeholder="Email">
                            <a href="#">Gửi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section species 6 -->

    <!-- footer -->
    <footer class="footer">
        <div class="clear container">
            <div class="page-f">
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="190" data-small-header="true"
                    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                </div>
            </div>
            <div class="logo-f"><a href="#"><img src="./pic/logo2.png" alt=""></a></div>
            <div class="contact">
                <strong>Địa chỉ dự án</strong>
                <p>233 -235 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>
                <p>Điện thoại: 0904.981.981</p>
            </div>
        </div>
        <div class="copyright">
            <div class="clear container">
                <span>© Copyright 2017 Vinhomes Smart City. All rights reserved</span>
                <ul class="menu-f">
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">MẶT BẰNG</a></li>
                    <li><a href="#">CHÍNH SÁCH BÁN HÀNG</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

    <div class="fixed-right">
        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i><span>Liên hệ đặt mua</span></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>facebook</span></a>
        <a href="tel:090 498 1981" title="090 498 1981"><i class="fa fa-phone" aria-hidden="true"></i><span>0904 981 981</span></a>
    </div>


</body>

</html>