<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!-- header -->
    <div class="header" id="header">
        <div class="clear container">
            <!-- logo -->
            <div class="logo">
                <a href=""><img src="./pic/logo.png" alt=""></a>
            </div>
            <!-- menu main -->
            <nav class="menu-main">
                <div class="inner">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">MẶT BẰNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CHÍNH SÁCH BÁN HÀNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- menu main -->
            <!-- phone -->
            <div class="phone">
                <a href="tel:090 498 1981" title="090 498 1981"><img src="./css/icons/phone.png" alt=""> 090 498 1981</a>
            </div>
            <ul class="dropdown-menu">
                <li class="active"><a href="#">TÒA M1</a></li>
                <li><a href="#">TÒA M3</a></li>
                <li><a href="#">TÒA M3</a></li>
            </ul>
        </div>
    </div>
    <!-- end header -->

    <!-- section image -->
    <div class="section-img">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="#">
                <img src="./pic/slider.png">
            </a>
        </div>
    </div>
    <!-- end section image -->

    <!-- breadcrumb -->
    <section id="breadcrumb">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <nav class="col-12 breadcrumb">
                        <a class="breadcrumb-item" href="#">Trang chủ</a>
                        <a class="breadcrumb-item active" href="#">Giới thiệu</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <!-- section species 7 -->
    <section class="offset30 species-7">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-species2">
                    <h2>VỊ THẾ UY PHONG – TỌA ĐỘ VÀNG CỦA HÀ NỘI</h2>
                    <div class="text">Trong 3 tòa nhà đẳng cấp thuộc tổ hợp chung cư <a href="#">Vinhomes Smart City</a>, tòa M1 được mệnh
                        danh là trái tim của cả dự án. Từ các căn hộ M1 Vinhomes Liễu Giai, các cư dân tương lai có thể tận
                        hưởng tầm nhìn rộng về thành phố sôi động; cũng như được thư giãn tinh thần trong những không gian
                        xanh mát và chuỗi tiện ích đẳng cấp.
                    </div>
                    <img src="css/bg/1.png" alt="">
                </div>
                <div class="col-12 col-lg-6 slider">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                                <img src="./pic/demo.jpg">
                            </a>
                    </div>
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="#">
                                    <img src="./pic/demo.jpg">
                                </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 content">
                    <h3>VINHOMES SMART CITY</h3>
                    <div class="text">noi dung o day</div>
                    <div class="btn-s btn-s2">
                        <a href="#footer" id="btn-s"><i class="fa fa-caret-left" aria-hidden="true"></i><i class="fa fa-caret-left" aria-hidden="true"></i> <span>NHẬN CƠ HỘI CUỐI SỞ HỮU CĂN HỘ CAO CẤP</span> <i class="fa fa-caret-right" aria-hidden="true"></i><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section species 7 -->

    <!-- section species 7 -->
    <section class="species-7 species-8">
        <div class="container">
            <div class="row">
                <div class="col-12 inner">
                    <div class="clear offset30 item">
                        <div class="col-12 text-center title-species2">
                            <h2>VỊ THẾ UY PHONG – TỌA ĐỘ VÀNG CỦA HÀ NỘI</h2>
                            <div class="text">Trong 3 tòa nhà đẳng cấp thuộc tổ hợp chung cư <a href="#">Vinhomes Smart City</a>, tòa M1 được
                                mệnh danh là trái tim của cả dự án. Từ các căn hộ M1 Vinhomes Liễu Giai, các cư dân tương
                                lai có thể tận hưởng tầm nhìn rộng về thành phố sôi động; cũng như được thư giãn tinh thần
                                trong những không gian xanh mát và chuỗi tiện ích đẳng cấp.
                            </div>
                            <img src="css/bg/1.png" alt="">
                        </div>
                        <div class="slider">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                        <img src="./pic/demo.jpg">
                                    </a>
                            </div>
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                        <img src="./pic/demo.jpg">
                                    </a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="top">
                                <h2>THIẾT KẾ TÒA M1</h2>
                            </div>
                            <div class="text">
                                noi dung o day
                            </div>
                        </div>
                    </div>
                    <div class="clear offset30 item">
                        <div class="col-12 text-center title-species2">
                            <h2>VỊ THẾ UY PHONG – TỌA ĐỘ VÀNG CỦA HÀ NỘI</h2>
                            <div class="text">Trong 3 tòa nhà đẳng cấp thuộc tổ hợp chung cư <a href="#">Vinhomes Smart City</a>, tòa M1 được
                                mệnh danh là trái tim của cả dự án. Từ các căn hộ M1 Vinhomes Liễu Giai, các cư dân tương
                                lai có thể tận hưởng tầm nhìn rộng về thành phố sôi động; cũng như được thư giãn tinh thần
                                trong những không gian xanh mát và chuỗi tiện ích đẳng cấp.
                            </div>
                            <img src="css/bg/1.png" alt="">
                        </div>
                        <div class="slider">
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                            <img src="./pic/demo.jpg">
                                        </a>
                            </div>
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="#">
                                            <img src="./pic/demo.jpg">
                                        </a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="top">
                                <h2>THIẾT KẾ TÒA M1</h2>
                            </div>
                            <div class="text">
                                noi dung o day
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section species 7 -->

    <!-- form adv -->
    <section class="offset45 form-adv" id="form-adv">
        <div class="container text-center">
            <div class="inner">
                <div class="text">
                    <h2>CƠ HỘI CUỐI CÙNG SỞ HỮU CĂN HỘ CAO CẤP VINHOMES SMART CITY</h2>
                    <strong>VỚI NHIỀU ƯU ĐÃI ĐẶC BIỆT</strong>
                    <a href="tel:090 498 1981" title="090 498 1981">NHẬN ƯU ĐÃI ĐẶC BIỆT NGAY!  HOTLINE: 090 498 1981</a>
                </div>
                <div class="clear form">
                    <input type="text" placeholder="Họ và tên *">
                    <input type="text" placeholder="Số điện thoại *">
                    <input type="text" placeholder="Email">
                    <a href="#">Gửi</a>
                </div>
            </div>
        </div>
    </section>
    <!-- form adv -->

    <!-- section detail -->
    <section class="section-detail">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-species2">
                    <h2>MẶT BẰNG VINHOMES SMART CITY</h2>
                    <img src="css/bg/1.png" alt="">
                </div>
                <div class="col-12 accordion-1">
                    <div class="inner" id="accordion-1" role="tablist" aria-multiselectable="true">
                        <div class="a-tab">
                            <a class="active" data-toggle="collapse" data-parent="#accordion-1" href="#section-1" aria-expanded="true" aria-controls="section-1">TẦNG 01 - 10</a>
                            <a data-toggle="collapse" data-parent="#accordion-1" href="#section-2" aria-expanded="true" aria-controls="section-2">TẦNG 11 - 20</a>
                            <a data-toggle="collapse" data-parent="#accordion-1" href="#section-3" aria-expanded="true" aria-controls="section-3">TẦNG 21 - 30</a>
                        </div>
                        <div class="a-content">
                            <div class="card">
                                <div id="section-1" class="collapse in show" role="tabpanel" aria-labelledby="section-1">
                                    <div class="top">
                                        <div class="name">Mặt bằng điển hình tòa M1</div>
                                        <div class="clear group-tab">
                                            <a class="active" href="#">ch01</a>
                                            <a href="#">ch02</a>
                                            <a href="#">ch03</a>
                                            <a href="#">ch04</a>
                                            <a href="#">ch05</a>
                                            <a href="#">ch06</a>
                                            <a href="#">ch07</a>
                                            <a href="#">ch08</a>
                                            <a href="#">ch09</a>
                                            <a href="#">ch10</a>
                                            <a href="#">ch11</a>
                                            <a href="#">ch12</a>
                                            <a href="#">ch13</a>
                                            <a href="#">ch14</a>
                                            <a href="#">ch15</a>
                                            <a href="#">ch16</a>
                                            <a href="#">ch17</a>
                                            <a href="#">ch18</a>
                                            <a href="#">ch19</a>
                                            <a href="#">ch20</a>
                                            <a href="#">ch21</a>
                                            <a href="#">ch22</a>
                                            <a href="#">ch23</a>
                                            <a href="#">ch24</a>
                                            <a href="#">ch25</a>
                                            <a href="#">ch26</a>
                                            <a href="#">ch27</a>
                                            <a href="#">ch28</a>
                                            <a href="#">ch29</a>
                                            <a href="#">ch30</a>
                                        </div>
                                    </div>
                                    <div class="content">noi dung o dau</div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="section-2" class="collapse in" role="tabpanel" aria-labelledby="section-2">
                                    <div class="top">
                                        <div class="name">Mặt bằng điển hình tòa M1</div>
                                        <div class="clear group-tab">
                                            <a class="active" href="#">ch01</a>
                                            <a href="#">ch02</a>
                                            <a href="#">ch03</a>
                                            <a href="#">ch04</a>
                                            <a href="#">ch05</a>
                                            <a href="#">ch06</a>
                                            <a href="#">ch07</a>
                                            <a href="#">ch08</a>
                                            <a href="#">ch09</a>
                                            <a href="#">ch10</a>
                                            <a href="#">ch11</a>
                                            <a href="#">ch12</a>
                                            <a href="#">ch13</a>
                                            <a href="#">ch14</a>
                                            <a href="#">ch15</a>
                                            <a href="#">ch16</a>
                                            <a href="#">ch17</a>
                                            <a href="#">ch18</a>
                                            <a href="#">ch19</a>
                                            <a href="#">ch20</a>
                                            <a href="#">ch21</a>
                                            <a href="#">ch22</a>
                                            <a href="#">ch23</a>
                                            <a href="#">ch24</a>
                                            <a href="#">ch25</a>
                                            <a href="#">ch26</a>
                                            <a href="#">ch27</a>
                                            <a href="#">ch28</a>
                                            <a href="#">ch29</a>
                                            <a href="#">ch30</a>
                                        </div>
                                    </div>
                                    <div class="content">noi dung o dau</div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="section-3" class="collapse in" role="tabpanel" aria-labelledby="section-3">
                                    <div class="top">
                                        <div class="name">Mặt bằng điển hình tòa M1</div>
                                        <div class="clear group-tab">
                                            <a class="active" href="#">ch01</a>
                                            <a href="#">ch02</a>
                                            <a href="#">ch03</a>
                                            <a href="#">ch04</a>
                                            <a href="#">ch05</a>
                                            <a href="#">ch06</a>
                                            <a href="#">ch07</a>
                                            <a href="#">ch08</a>
                                            <a href="#">ch09</a>
                                            <a href="#">ch10</a>
                                            <a href="#">ch11</a>
                                            <a href="#">ch12</a>
                                            <a href="#">ch13</a>
                                            <a href="#">ch14</a>
                                            <a href="#">ch15</a>
                                            <a href="#">ch16</a>
                                            <a href="#">ch17</a>
                                            <a href="#">ch18</a>
                                            <a href="#">ch19</a>
                                            <a href="#">ch20</a>
                                            <a href="#">ch21</a>
                                            <a href="#">ch22</a>
                                            <a href="#">ch23</a>
                                            <a href="#">ch24</a>
                                            <a href="#">ch25</a>
                                            <a href="#">ch26</a>
                                            <a href="#">ch27</a>
                                            <a href="#">ch28</a>
                                            <a href="#">ch29</a>
                                            <a href="#">ch30</a>
                                        </div>
                                    </div>
                                    <div class="content">noi dung o dau</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end section detail -->

    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="clear container">
            <div class="page-f">
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="190" data-small-header="true"
                    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                </div>
            </div>
            <div class="logo-f"><a href="#"><img src="./pic/logo2.png" alt=""></a></div>
            <div class="contact">
                <strong>Địa chỉ dự án</strong>
                <p>233 -235 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>
                <p>Điện thoại: 0904.981.981</p>
            </div>
        </div>
        <div class="copyright">
            <div class="clear container">
                <span>© Copyright 2017 Vinhomes Smart City. All rights reserved</span>
                <ul class="menu-f">
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">MẶT BẰNG</a></li>
                    <li><a href="#">CHÍNH SÁCH BÁN HÀNG</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- end footer -->


    <div class="fixed-right">
        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i><span>Liên hệ đặt mua</span></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>facebook</span></a>
        <a href="tel:090 498 1981" title="090 498 1981"><i class="fa fa-phone" aria-hidden="true"></i><span>0904 981 981</span></a>
    </div>




</body>

</html>