<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- js -->
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>

    <!-- header -->
    <div class="header" id="header">
        <div class="clear container">
            <!-- logo -->
            <div class="logo">
                <a href=""><img src="./pic/logo.png" alt=""></a>
            </div>
            <!-- menu main -->
            <nav class="menu-main">
                <div class="inner">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">MẶT BẰNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CHÍNH SÁCH BÁN HÀNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- menu main -->
            <!-- phone -->
            <div class="phone">
                <a href="tel:090 498 1981" title="090 498 1981"><img src="./css/icons/phone.png" alt=""> 090 498 1981</a>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- section image -->
    <div class="section-img">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="#">
                <img src="./pic/slider.png">
            </a>
        </div>
    </div>
    <!-- end section image -->

    <!-- breadcrumb -->
    <section id="breadcrumb">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <nav class="col-12 breadcrumb">
                        <a class="breadcrumb-item" href="#">Trang chủ</a>
                        <a class="breadcrumb-item active" href="#">Giới thiệu</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <!-- news -->
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center title-species2">
                    <h2>TIN TỨC</h2>
                    <img src="css/bg/1.png" alt="">
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                        <img src="./pic/demo.jpg">
                                    </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                            <img src="./pic/demo.jpg">
                                        </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                <img src="./pic/demo.jpg">
                                            </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                    <img src="./pic/demo.jpg">
                                                </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                        <img src="./pic/demo.jpg">
                                                    </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/demo.jpg">
                                                        </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                                <img src="./pic/demo.jpg">
                                                            </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                                    <img src="./pic/demo.jpg">
                                                                </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                                        <img src="./pic/demo.jpg">
                                                                    </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                                            <img src="./pic/demo.jpg">
                                                                        </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                                                <img src="./pic/demo.jpg">
                                                                            </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-news">
                    <div class="img">
                        <div class="khungAnh">
                            <a class="khungAnhCrop" href="#">
                                                                                    <img src="./pic/demo.jpg">
                                                                                </a>
                        </div>
                        <div class="time">
                            <span>29/09</span>
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a href="#">Esse ad ea ut fugiat non qui consequat aliquip minim labore voluptate proident.</a></h3>
                        <div class="summary">Deserunt velit nisi ut elit deserunt. Aliquip eiusmod ipsum aliquip eu elit mollit amet. Fugiat dolore
                            excepteur tempor commodo esse consectetur cillum ullamco sunt duis labore adipisicing consectetur
                            ea.
                        </div>
                    </div>
                </div>
                <!--SplitPages-->
                <div class="col-12 text-center splitPages">
                    <div class="SplitPages">
                        <a class="truoc" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                        <a class="hientai" href="#">1</a>
                        <a class="trangkhac" href="#">2</a>
                        <a class="trangkhac" href="#">3</a>
                        <a class="trangkhac" href="#">4</a>
                        <a class="sau" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!--end SplitPages-->
            </div>
        </div>
    </section>
    <!-- end news -->

    <!-- footer -->
    <footer class="footer">
        <div class="clear container">
            <div class="page-f">
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=226666764204714";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="190" data-small-header="true"
                    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                </div>
            </div>
            <div class="logo-f"><a href="#"><img src="./pic/logo2.png" alt=""></a></div>
            <div class="contact">
                <strong>Địa chỉ dự án</strong>
                <p>233 -235 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>
                <p>Điện thoại: 0904.981.981</p>
            </div>
        </div>
        <div class="copyright">
            <div class="clear container">
                <span>© Copyright 2017 Vinhomes Smart City. All rights reserved</span>
                <ul class="menu-f">
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">MẶT BẰNG</a></li>
                    <li><a href="#">CHÍNH SÁCH BÁN HÀNG</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <div class="ve-top">
        <img src="/./css/icons/ve-top.png" alt="">
    </div>

    <div class="fixed-right">
        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i><span>Liên hệ đặt mua</span></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>facebook</span></a>
        <a href="tel:090 498 1981" title="090 498 1981"><i class="fa fa-phone" aria-hidden="true"></i><span>0904 981 981</span></a>
    </div>




</body>

</html>