<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-CSS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        a {
            display: block;
            margin: 10px auto;
            color: #03a9f4;
            font-size: 18px;
            text-transform: uppercase;
            width: 200px;
            text-align: center;
            transition: all 0.4s ease-out;
        }
        a:hover {
            transform: scale(1.1);
        }
    </style>
</head>

<body>
    
    <a href="./01.trangchu.html">Trang chủ</a>
    <a href="./02.sanpham.html">Sản Phẩm</a>
    <a href="./03.chinhsachbanhang.html">Chính sách bán hàng</a>
    <a href="./04.tintuc.html">Tin tức</a>
    <a href="./05.tintuc-chitiet.html">Tin tức chi tiết</a>
    <a href="./06.lienhe.html">liên hệ</a>
    
</body>

</html>