<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>HTML-SASS-JS</title>
    <meta name="description" content="">
    <meta name="author" content="Anh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="css/csstt.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/fix.css">

</head>

<body>

    <!-- header -->
    <header id="header">
        <!-- top bar -->
        <div class="top-bar">
            <div class="container">
                <!-- nav -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tài liệu</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- main -->
        <div class="main">
            <div class="container">
                <!-- logo -->
                <div class="logo">
                    <a href="#">
                        <img src="./pic/logo.png" alt="">
                    </a>
                </div>
                <!-- menu main -->
                <nav class="menu-main">
                    <div class="inner">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#">sản phẩm</a>
                                <ul class="dropdown-nav">
                                    <div class="inner">
                                        <div class="block-link">
                                            <a href="#" class="name">Screens and Fine Screens</a>
                                            <div class="link">
                                                <a href="#">ROTAMAT® Screens</a>
                                                <a href="#">Perforated Plate and Bar Screens</a>
                                                <a href="#">STEP SCREEN®s</a>
                                                <a href="#">Complete Plants</a>
                                                <a href="#">Ultra Fine Screens</a>
                                                <a href="#">Sewage Sludge Screens</a>
                                                <a href="#">Screen Basket</a>
                                            </div>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Micro Screening / Filtration</a>
                                            <div class="link">
                                                <a href="#">Sandfilter</a>
                                                <a href="#">Microscreens</a>
                                                <a href="#">Active Carbon Filter</a>
                                            </div>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Grit Separation and Treatment</a>
                                            <div class="link">
                                                <a href="#">Longitudinal Grit Traps</a>
                                                <a href="#">Circular Grit Traps</a>
                                                <a href="#">Complete Plants</a>
                                                <a href="#">Grit Classifiers</a>
                                                <a href="#">Grit Washing Plants</a>
                                                <a href="#">System Components</a>
                                                <a href="#">Grit Feeding Arrangement</a>
                                                <a href="#">Grit Treatment Systems</a>
                                            </div>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Screenings Treatment</a>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Conveyors</a>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Sludge Treatment</a>
                                            <div class="link">
                                                <a href="#">Sludge Screening</a>
                                                <a href="#">Sludge Thickening</a>
                                                <a href="#">Sludge Dewatering</a>
                                                <a href="#">Sludge Drying</a>
                                                <a href="#">Thermal Utilisation</a>
                                                <a href="#">Storm & Sewer Equipment</a>
                                            </div>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Combined Sewage Screens</a>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Pumping Station Screens</a>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Stainless Steel Equipment</a>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Stainless Steel Equipment</a>
                                            <div class="link">
                                                <a href="#">Manhole Equipment</a>
                                                <a href="#">Technical Doors</a>
                                                <a href="#">Clarification Tank Equipment</a>
                                                <a href="#">Drinking Water Storage</a>
                                            </div>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Flotation</a>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Energy from Wastewater</a>
                                        </div>
                                        <div class="block-link">
                                            <a href="#" class="name">Membrane Filtration (MBR)</a>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giải pháp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dịch vụ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giới thiệu Huber</a>
                                <ul class="dropdown-nav">
                                    <div class="inner">
                                        <div class="group-item">
                                            <div class="item active">
                                                <a href="#" class="name">Giới thiệu chung</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Giới thiệu chung</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Sơ đồ tổ chức</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Sơ đồ tổ chức</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Mục tiêu & Tầm nhìn</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Mục tiêu & Tầm nhìn</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Đối tác</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Đối tác</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Triết lý kinh doanh</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Giới thiệu chung</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Triết lý kinh doanh</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Giới thiệu chung</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Chính sách vận chuyển</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Chính sách vận chuyển</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Chính sách đổi trả hàng</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Chính sách đổi trả hàng</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Hình thức thanh toán</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Hình thức thanh toán</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <a href="#" class="name">Chính sách bảo hành</a>
                                                <div class="content">
                                                    <div class="khungAnh">
                                                        <a class="khungAnhCrop" href="#">
                                                            <img src="./pic/menu.png">
                                                        </a>
                                                    </div>
                                                    <div class="text">
                                                        <div class="title">Chính sách bảo hành</div>
                                                        <div class="summary">
                                                            WesternTech Việt Nam được thành lập bởi những chuyên gia có trình độ chuyên môn cao, tâm huyết với ngành môi trường. Đội
                                                            ngũ chuyên gia, kỹ sư tại WesternTech Việt Nam được đào tạo chuyên
                                                            nghiệp, có nhiều kinh nghiệm về kỹ thuật, quản lý và điều phối
                                                            dự án trong lĩnh vực công nghệ môi trường cùng với sự năng động,
                                                            sáng tạo và nhiệt huyết của tuổi trẻ đã giúp cho WesternTech
                                                            Việt Nam đảm nhận các dự án trên nhiều lĩnh vực đảm bảo chất
                                                            lượng và hiệu quả.
                                                        </div>
                                                        <a href="#" class="btn-01">xem thêm
                                                            <img src="./css/icons/m2.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- menu main -->
            </div>
        </div>
    </header>
    <!-- end header -->

    <!-- section slider -->
    <section id="section-slider">
        <div class="img">
            <div class="khungAnh">
                <a class="khungAnhCrop" href="#">
                    <img src="./pic/slider2.png">
                </a>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="inner">
                            <h2 class="name-page">Sản phẩm</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section img -->

    <!-- breadcrumb -->
    <section id="breadcrumb">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <nav class="col-12 col-lg-9 push-lg-3 breadcrumb">
                        <a class="breadcrumb-item" href="#">Trang chủ</a>
                        <a class="breadcrumb-item" href="#">Sản phẩm</a>
                        <a class="breadcrumb-item" href="#">Screens and Fine Screens</a>
                        <a class="breadcrumb-item active" href="#">ROTAMAT® Screens</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <!-- main -->
    <main id="main">
        <div class="container">
            <div class="row">
                <!-- right main -->
                <div class="col-12 col-lg-9 push-lg-3 right-main">
                    <!-- detail product -->
                    <div class="detail-product">
                        <h1>ROTAMAT® Screens</h1>
                        <div class="text">
                            Screening – Washing – Transport – Dewatering in one unit
                            <br><br>
                            Based on the ROTAMAT® principle "screening – washing – transport
                            – dewatering in one unit" a complete ROTAMAT® family was developed and successfully launched
                            onto the worldwide wastewater treatment market.
                            <br><br>
                            All ROTAMAT® screens work according to the unique
                            and patented system that has been sold for more than a thousand installations worldwide. Depending
                            on the screen size and bar spacing throughputs of up to approx. 3000 l/s (10,800 m³/h) per unit
                            can be achieved. The screens can be installed into either a channel or tank. They are space-saving
                            as they combine several functions - screenings separation, washing, transport and dewatering
                            - in one system.
                            <br><br>
                            The machines are completely made of stainless steel. Their unique principle
                            ensures maximum separation efficiencies and maximum throughput.
                        </div>
                    </div>
                    <!-- content other -->
                    <div class="content-other">
                        <div class="inner" id="co-ot" role="tablist" aria-multiselectable="true">
                            <div class="a-tab">
                                <a class="active" data-toggle="collapse" data-parent="#co-ot" href="#section1" aria-expanded="true" aria-controls="section1">Sản phẩm</a>
                                <a data-toggle="collapse" data-parent="#co-ot" href="#section2" aria-expanded="true" aria-controls="section2">Downloads</a>
                                <a data-toggle="collapse" data-parent="#co-ot" href="#section3" aria-expanded="true" aria-controls="section3">Benefits</a>
                                <a data-toggle="collapse" data-parent="#co-ot" href="#section4" aria-expanded="true" aria-controls="section4">Ảnh sản phẩm</a>
                            </div>
                            <div class="a-content">
                                <div class="card">
                                    <div id="section1" class="collapse in show" role="tabpanel" aria-labelledby="section1">
                                        <div class="card-block">
                                            <div class="link-x1">
                                                <a href="#">HUBER Fine Screen ROTAMAT® Ro1</a>
                                                <a href="#">HUBER Rotary Drum Fine Screen / Perforated Plate Screen - ROTAMAT® Ro2 / RPPS / STAR</a>
                                                <a href="#">HUBER Micro Strainer ROTAMAT® Ro9</a>
                                                <a href="#">HUBER Complete Plant ROTAMAT® Ro5</a>
                                                <a href="#">HUBER Complete Plant Hydro Duct ROTAMAT® Ro5 HD</a>
                                                <a href="#">HUBER Coanda Complete Plant ROTAMAT® Ro5 C</a>
                                                <a href="#">HUBER Membrane Screen ROTAMAT® RoMem</a>
                                                <a href="#">HUBER Pumping Stations Screen ROTAMAT® RoK4</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="section2" class="collapse in" role="tabpanel" aria-labelledby="section2">
                                        <div class="card-block">
                                            <div class="link-x2">
                                                <div class="link-item"><img src="./css/icons/file.png" alt=""><a href="http://www.huber.de/fileadmin/01_products/01_screens/01_rotamat_screens/01_ro1/pro_ro1_en.pdf">Brochure: HUBER Fine Screen ROTAMAT® Ro1</a><span>[pdf, 736 KB]</span></div>
                                                <div class="link-item"><img src="./css/icons/file.png" alt=""><a href="http://www.huber.de/fileadmin/01_products/01_screens/01_rotamat_screens/01_ro1/pro_ro1_en.pdf">Brochure: HUBER Fine Screen ROTAMAT® Ro1</a><span>[pdf, 736 KB]</span></div>
                                                <div class="link-item"><img src="./css/icons/file.png" alt=""><a href="http://www.huber.de/fileadmin/01_products/01_screens/01_rotamat_screens/01_ro1/pro_ro1_en.pdf">Brochure: HUBER Fine Screen ROTAMAT® Ro1</a><span>[pdf, 736 KB]</span></div>
                                                <div class="link-item"><img src="./css/icons/file.png" alt=""><a href="http://www.huber.de/fileadmin/01_products/01_screens/01_rotamat_screens/01_ro1/pro_ro1_en.pdf">Brochure: HUBER Fine Screen ROTAMAT® Ro1</a><span>[pdf, 736 KB]</span></div>
                                                <div class="link-item"><img src="./css/icons/file.png" alt=""><a href="http://www.huber.de/fileadmin/01_products/01_screens/01_rotamat_screens/01_ro1/pro_ro1_en.pdf">Brochure: HUBER Fine Screen ROTAMAT® Ro1</a><span>[pdf, 736 KB]</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="section3" class="collapse in" role="tabpanel" aria-labelledby="section3">
                                        <div class="card-block">
                                            noi dung o day
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="section4" class="collapse in" role="tabpanel" aria-labelledby="section4">
                                        <div class="card-block">
                                            <div class="container block-img">
                                                <div class="row">
                                                    <div class="col-6 col-md-3 item-03">
                                                        <div class="khungAnh">
                                                            <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/new1.png">
                                                                <img src="./pic/new1.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 item-03">
                                                        <div class="khungAnh">
                                                            <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/new2.png">
                                                                <img src="./pic/new2.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 item-03">
                                                        <div class="khungAnh">
                                                            <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/new3.png">
                                                                <img src="./pic/new3.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 item-03">
                                                        <div class="khungAnh">
                                                            <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/new4.png">
                                                                <img src="./pic/new4.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 item-03">
                                                        <div class="khungAnh">
                                                            <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/new5.png">
                                                                <img src="./pic/new5.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 item-03">
                                                        <div class="khungAnh">
                                                            <a class="khungAnhCrop" data-fancybox="gallery" href="./pic/slider2.png">
                                                                <img src="./pic/slider2.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- left main -->
                <div class="col-12 col-lg-3 pull-lg-9 left-main">
                    <!--search -->
                    <div class="search">
                        <div class="form-search">
                            <input type="text" placeholder="Từ khóa tìm kiếm">
                            <a href="#">
                                <img src="./css/icons/search.png" alt="">
                            </a>
                        </div>
                        <select name="" id="">
                            <option value="">Sản phẩm</option>
                        </select>
                        <select name="" id="">
                            <option value="">Giải pháp</option>
                        </select>
                    </div>
                    <!-- menu left -->
                    <div class="menu-left">
                        <div class="inner-ml">
                            <a href="#" class="name">
                                <img src="./css/icons/m6.png" alt="">Screens and Fine Screens</a>
                            <div class="link">
                                <a href="#">ROTAMAT® Screens</a>
                                <a href="#">Perforated Plate and Bar Screens</a>
                                <a href="#">STEP SCREEN®s</a>
                                <a href="#">Complete Plants</a>
                                <a href="#">Ultra Fine Screens</a>
                                <a href="#">Sewage Sludge Screens</a>
                                <a href="#">Screen Basket</a>
                            </div>
                        </div>
                    </div>
                    <!-- contact left -->
                    <div class="contact-left">
                        <div class="title-left">
                            <strong>Liên hệ</strong>
                            <p>CÔNG TY CỔ PHẦN WESTERNTECH VIỆT NAM</p>
                        </div>
                        <div class="content">
                            <p>Số 1, ngõ 2, Vương Thừa Vũ, P. Khương Trung, Q.Thanh Xuân, Hà Nội</p>
                            <a href="#" class="mail" title="mail: tiem@westerntechvn.com">tiem@westerntechvn.com</a>
                            <a href="tel: +84 9 6760 8585 " class="phone" title="+84 9 6760 8585">+84 9 6760 8585 </a>
                            <a href="tel: 04.667.568.15" class="phone" title="04.667.568.15">04.667.568.15</a>
                        </div>
                    </div>
                    <!-- register -->
                    <div class="register">
                        <div class="title-left">
                            <strong>Đăng ký nhận bản tin</strong>
                        </div>
                        <div class="content">
                            <input type="text" placeholder="Họ tên">
                            <input type="text" placeholder="Công ty">
                            <input type="text" placeholder="Email">
                            <a href="#" class="btn-02">Gửi</a>
                        </div>
                    </div>
                    <!-- share -->
                    <div class="share">
                        <div class="title-left">
                            <strong>Chia sẻ</strong>
                        </div>
                        <div class="content">
                            <a href="#">
                                <img src="./pic/icons/1.png" alt="">
                            </a>
                            <a href="#">
                                <img src="./pic/icons/2.png" alt="">
                            </a>
                            <a href="#">
                                <img src="./pic/icons/3.png" alt="">
                            </a>
                            <a href="#">
                                <img src="./pic/icons/4.png" alt="">
                            </a>
                            <a href="#">
                                <img src="./pic/icons/5.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end main -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 push-lg-3">
                    <div class="copyright">
                        <span>
                            <img src="./pic/icons/6.png" alt=""> © 2017 HUBER SE</span>
                        <a href="#">Sitemap</a>
                    </div>
                    <div class="btn-page">
                        <a class="back-page" href="#">
                            <img src="./css/icons/m4.png" alt="">Về trang trước</a>
                        <a class="back-top" href="#">
                            <img src="./css/icons/m3.png" alt=""> Top</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->




</body>

<!-- js -->
<script type="text/javascript" src="vendor/jquery.min.js"></script>
<script type="text/javascript" src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/tether.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>