@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@font-face {
  font-family: 'UVN Van';
  src: url('../fonts/UVNVanBold.woff') format('woff'),
    url('../fonts/UVNVanBold.ttf') format('truetype'),
    url('../fonts/UVNVanBold.svg#UVNVanBold') format('svg');
  font-weight: bold;
  font-style: normal;
}