/* Fonts */

$f-roboto: 'Roboto',sans-serif;
$f-theme: 'UVN Van';
/* Colors - Default */

$c-black: #000000;
$c-white: #ffffff;
$c-white1: #f2f4f6;
/* Colors - Theme */

$c-indigo: #001b69;
$c-indigo1: #001b6a;
$c-indigo2: #005692;
$c-yellow: #ffd777;
$c-yellow1: #ffc36d;
$c-yellow2: #ff9833;
$c-yellow3: #98fe37;
$c-secondary: #96d4f0;
$c-secondary1: #339ac9;
$c-secondary2: #15bace;
$c-red: #bc7315;
$c-red1: #e12d2e;
$c-blue: #28aff5;
$c-blue1: #41beff;


/* Box shadow */
$bs-black: rgba(0, 0, 0, 0.2);

/* Overlay */
$ol-black: rgba(0, 0, 0, 0.3);

$transition: all .3s ease-in-out;
$duration: .25s;
$speed: 200ms;
$ease: ease-in-out;
/* Round */

$round: 4px;
$round1: 10px;
/* Breakpoints */

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
$breakpoints-sm: 576px;
// Medium devices (tablets, 768px and up)
$breakpoints-md: 768px;
// Large devices (desktops, 992px and up)
$breakpoints-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$breakpoints-xl: 1200px;