@import '../variables';

.c-function {
  @extend .section;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  .slide {
    margin-bottom: 0;
    .item {
      a {
        outline: none;
      }
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .slick-dots {
      position: initial;
      margin-top: 20px;
      @media (min-width: $breakpoints-lg) {
        margin-top: 30px;
      }
    }
  }
}